﻿@model TerminalModel

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Terminal Info:</h3>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Name">Code:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Code" placeholder="enter Name">
            <div class="form-control-feedback"><span asp-validation-for="Code"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Name">Name:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Name" placeholder="enter Name">
            <div class="form-control-feedback"><span asp-validation-for="Name"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="TerminalType">Type:</label>
        <div class="col-lg-6">
            <select asp-for="TerminalType" class="form-control m-input dropdown-select2">
                <option value="">Select terminal type</option>
                <option value="0">Physical</option>
                <option value="1">Virtual</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="TerminalType"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Address">Address:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Address" placeholder="enter Address">
            <div class="form-control-feedback"><span asp-validation-for="Address"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="StateId">State:</label>
        <div class="col-lg-6">
            <select asp-for="StateId" class="form-control m-input dropdown-select2" asp-items="ViewBag.StateId as IEnumerable<SelectListItem>">
                <option value="">Select a state</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="StateId"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ContactPerson">Contact Person Name:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ContactPerson" placeholder="enter contact person Name">
            <div class="form-control-feedback"><span asp-validation-for="ContactPerson"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ContactPersonNo">Contact Person Phone:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ContactPersonNo" placeholder="+23480 000 0000">
            <div class="form-control-feedback"><span asp-validation-for="ContactPersonNo"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Latitude">Latitude:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Latitude" placeholder="enter latitude">
            <div class="form-control-feedback"><span asp-validation-for="Latitude"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Longitude">Longitude:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Longitude" placeholder="enter longitude">
            <div class="form-control-feedback"><span asp-validation-for="Longitude"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="IsOnlineDiscount">Is Discount:</label>
        <div class="col-lg-6">
            <select class="form-control dropdown-select2" asp-for="IsOnlineDiscount">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="IsOnlineDiscount"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="OnlineDiscount">Discount:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="OnlineDiscount" placeholder="Online Discount">
            <div class="form-control-feedback"><span asp-validation-for="OnlineDiscount"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="IsCommision">IsCommision:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="IsCommision" placeholder="enter IsCommision">
            <div class="form-control-feedback"><span asp-validation-for="IsCommision"></span></div>
        </div>
    </div>

</div>
</div>