﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Delta Line</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link href="~/css/login-1.css" rel="stylesheet" />
    <link href="~/css/vendors.bundle.css" rel="stylesheet" />
    <link href="~/css/loginpg.css" rel="stylesheet" />
    @*<link href="~/css/style.bundle.css" rel="stylesheet" />*@
    <link href="~/css/deltaline.css" rel="stylesheet" />
    <link href="~/css/prismjs.bundle.css" rel="stylesheet" />
    <link href="~/css/plugins.bundle.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/dline.ico" />

    <style>
        .m-login__desc{color:red;}
    </style>

</head>

<body class="header-fixed header-mobile-fixed subheader-enabled">
    <div class="d-flex flex-column flex-root">
        <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
                <div class="login-aside d-flex flex-column flex-row-auto" style="        background-color: #f7f7f7;">
                    <!--begin::Aside Top-->
                    <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
                        <!--begin::Aside header-->
                        <a href="#" class="text-center mb-10">
                            <img src="../images/deltaline-web-logo.png" class="" alt="">
                        </a>
                        <!--end::Aside header-->
                        <!--begin::Aside title-->
                        @*<h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" style=" color: #080000;">
                           Powered by 
                            <br>GIG Mobility Systems
                        </h3>*@
                        <!--end::Aside title-->
                    </div>
                    <!--end::Aside Top-->
                    <!--begin::Aside Bottom-->
                    <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center" style="background-image: url(../images/artboard4.png)"></div>
                    <!--end::Aside Bottom-->
                </div>
            
       
                @RenderBody()
          
        </div>
    </div>



    
    <script src="~/lib/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/lib/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/js/login.js" type="text/javascript"></script>*@

</body>
</html>
<script>
    function forgetPassword() {
        var email = $("#m_login_username_txt").val();
        //if (email == "") {
        //    swal("Input Email", "To receive OTP", "warning");
        //    return false;
        //}
        //$.ajax({
        //    method: "POST",
        //    url: document.location.origin + "/account/ResetPassword/?email=" + email,
        //    data: { email: email },
        //    success: function (data) {
        //        //$(loading).hide();
        //        //alert(data);
        //        $("#email").val(email);               
        //    }
        //});
        $("#emails").val(email);   
        $('#sendOtp').modal();
         $('#sendOtp').modal('show'); 
    }

    function confirm() {
        var email = $("#emails").val();
        if (email == "") {
            swal("Input Email", "To receive OTP", "warning");
            return false;
        }
        $.ajax({
            method: "POST",
            url: document.location.origin + "/account/ResetPassword/?email=" + email,
            data: { email: email },
            success: function (data) {
                //$(loading).hide();
                //alert(data);
                $("#emails").val(email);               
            }
        });
        $("#email").val(email); 
         $('#sendOtp').modal('hide'); 
        $('#forgot').modal();
         $('#forgot').modal('show'); 
    }

    function change() {
        var email = $("#email").val();
        var otp = $("#OTP").val();
        var NPassword = $("#NPassword").val();
        var CNPassword = $("#CNPassword").val();
        if (NPassword != CNPassword) {
            swal("Password Mismatch", "", "warning");
            return false;
        }
        $.ajax({
            method: "POST",
            url: document.location.origin + "/account/ResetNewPassword/?email=" + email + "&otp=" + otp + "&NPassword=" + NPassword,
            data: {
                email: email,
                otp: otp,
                NPassword: NPassword
            },
            success: function (data) {
                if (data == false) {
                    swal("Invalid OTP", "", "warning");
                    return false;
                }
                swal("Password reset complete", "You can now login", "success");
                setTimeout(function () {
                location.reload()
            }, 1000);
                $("#email").val(email);
            }
        })
    }
</script>