﻿@{
    string fName = User.FindFirst("given_name")?.Value;
    string lName = User.FindFirst("family_name")?.Value;
    string email = User.FindFirst("email")?.Value;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Delta Line Mobility System</title>
    <meta charset="utf-8" />
    <meta name="description" content="Delta Line">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link href="~/lib/select2/select2.css" rel="stylesheet" />
    <link href="~/css/vendors.bundle.css" rel="stylesheet" />
    <link href="~/css/newbundle.css" rel="stylesheet" />
    <link href="~/css/style.bundle.css?v123" rel="stylesheet" />

    <link href="~/lib/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/dline.ico" />
    @RenderSection("styles", false)
</head>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- BEGIN: Header -->
        <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">

                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand  m-brand--skin-dark ">
                        <div class="m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                <a href="~/" class="m-brand__logo-wrapper" style="color:#fff">
                                    <h1>DTMS</h1>
                                </a>
                            </div>
                            <div class="m-stack__item m-stack__item--middle m-brand__tools">

                                <!-- BEGIN: Left Aside Minimize Toggle -->
                                <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                                <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Responsive Header Menu Toggler -->
                                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Topbar Toggler -->
                                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                    <i class="flaticon-more"></i>
                                </a>

                                <!-- BEGIN: Topbar Toggler -->
                            </div>
                        </div>
                    </div>

                    <!-- END: Brand -->
                    <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">

                        <!-- BEGIN: Horizontal Menu -->
                        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                        <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark">
                            <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
                                    <a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">
                                        <i class="m-menu__link-icon flaticon-line-graph"></i><span class="m-menu__link-text">Reports</span><i class="m-menu__hor-arrow la la-angle-down"></i><i class="m-menu__ver-arrow la la-angle-right"></i>
                                    </a>
                                    <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:1000px">
                                        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                        <div class="m-menu__subnav">
                                            <ul class="m-menu__content">
                                                <li class="m-menu__item">
                                                    <h3 class="m-menu__heading m-menu__toggle"><span class="m-menu__link-text">Finance Reports</span><i class="m-menu__ver-arrow la la-angle-right"></i></h3>
                                                    <ul class="m-menu__inner">
                                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="javascript:;" class="m-menu__link "><i class="m-menu__link-icon flaticon-map"></i><span class="m-menu__link-text">Sales Reports</span></a></li>
                                                        <li class="m-menu__item" m-menu-link-redirect="1" aria-haspopup="true"><a href="javascript:;" class="m-menu__link "><i class="m-menu__link-icon flaticon-user"></i><span class="m-menu__link-text">Booking Reports</span></a></li>
                                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="javascript:;" class="m-menu__link "><i class="m-menu__link-icon flaticon-clipboard"></i><span class="m-menu__link-text">Customer Reports</span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- END: Horizontal Menu -->
                        <!-- BEGIN: Topbar -->
                        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">
                            <div class="m-stack__item m-topbar__nav-wrapper">
                                <ul class="m-topbar__nav m-nav m-nav--inline">


                                    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                        m-dropdown-toggle="click">
                                        <a href="#" class="m-nav__link m-dropdown__toggle">
                                            <span class="m-topbar__userpic">
                                                <img src="~/images/users/usericon.png" class="m--img-rounded m--marginless" alt="" />
                                            </span>
                                            <span class="m-topbar__username m--hide">@(fName + " " + lName)</span>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center" style="background-color:#000">
                                                    <div class="m-card-user m-card-user--skin-dark">
                                                        <div class="m-card-user__pic">
                                                            <img src="~/images/users/usericon.png" class="m--img-rounded m--marginless" alt="" />

                                                            <!--
                                                            <span class="m-type m-type--lg m--bg-danger"><span class="m--font-light">S<span><span>
                                                            -->
                                                        </div>
                                                        <div class="m-card-user__details">
                                                            <span class="m-card-user__name m--font-weight-500"> @(fName + " " + lName)</span>
                                                            <a href="javascript:void(0);" class="m-card-user__email m--font-weight-300 m-link">@email</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav m-nav--skin-light">
                                                            <li class="m-nav__section m--hide">
                                                                <span class="m-nav__section-text">Section</span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="~/account/profile" class="m-nav__link">
                                                                    <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                                    <span class="m-nav__link-title">
                                                                        <span class="m-nav__link-wrap">
                                                                            <span class="m-nav__link-text">My Profile</span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>


                                                            <li class="m-nav__separator m-nav__separator--fit">
                                                            </li>

                                                            <li class="m-nav__item">
                                                                <a href="javascript:logout('lf');" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
                                                            </li>
                                                        </ul>
                                                        <form asp-controller="account" id="lf" asp-action="logout" style="display:none;">
                                                            @Html.AntiForgeryToken()
                                                            <script>function logout(formId) { document.getElementById(formId).submit(); }</script>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- END: Topbar -->
                    </div>
                </div>
            </div>
        </header>

        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

                <!-- BEGIN: Aside Menu -->
                <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">
                    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                        <li class="m-menu__item  m-menu__item--active" aria-haspopup="true">
                            <a href="~/" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-line-graph"></i><span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">Dashboard</span>
                                        @*<span class="m-menu__link-badge"><span class="m-badge m-badge--danger">2</span></span>*@
                                    </span>
                                </span>
                            </a>
                        </li>

                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-settings"></i><span class="m-menu__link-text">Settings</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu ">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Base</span></span></li>
                                    @if (User.HasClaim("Permission", "managestates"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true"><a href="~/admin/state/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">States</span></a></li>
                                    }

                                    @if (User.HasClaim("Permission", "manageemployee") || User.HasClaim("Permission", "managecustomer"))
                                    {
                                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Users</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="m-menu__submenu ">
                                                <span class="m-menu__arrow"></span>
                                                <ul class="m-menu__subnav">
                                                    @if (User.HasClaim("Permission", "manageemployee"))
                                                    {
                                                        <li class="m-menu__item " aria-haspopup="true">
                                                            <a href="~/admin/employee/index" class="m-menu__link ">
                                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Employees</span>
                                                            </a>
                                                        </li>


                                                    }
                                                    @*@if (User.HasClaim("Permission", "managecustomer"))
                                                        {
                                                            <li class="m-menu__item " aria-haspopup="true"><a href="~/admin/vehicle/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Customers</span></a></li>}*@
                                                </ul>
                                            </div>
                                        </li>
                                    }
                                    @*
                                        <li class="m-menu__item " aria-haspopup="true"><a href="components/base/navs.html" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Sub-routes</span></a></li>
                                        <li class="m-menu__item " aria-haspopup="true"><a href="components/base/lists.html" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Vehicle Make</span></a></li>
                                        <li class="m-menu__item " aria-haspopup="true"><a href="components/base/treeview.html" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Vehicle Model</span></a></li>*@

                                    @if (User.HasClaim("Permission", "managevehicle"))
                                    {
                                        <li class="m-menu__item" aria-haspopup="true"><a href="~/admin/vehicle/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Vehicles</span></a></li>
                                    }
                                    @if (User.HasClaim("Permission", "managediscount"))
                                    {
                                        <li class="m-menu__item" aria-haspopup="true"><a href="~/admin/discount/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Discount</span></a></li>
                                    }
                                    @if (User.HasClaim("Permission", "managefarecalendar"))
                                    {
                                        <li class="m-menu__item" aria-haspopup="true"><a href="~/admin/farecalendar/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Fare Calendar</span></a></li>

                                    }

                                    @if (User.HasClaim("Permission", "managevehiclemodel"))
                                    {
                                        <li class="m-menu__item" aria-haspopup="true"><a href="~/admin/vehiclemodel/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Vehicle Models</span></a></li>
                                    }
                                    @if (User.HasClaim("Permission", "managevehiclemake"))
                                    {
                                        <li class="m-menu__item" aria-haspopup="true"><a href="~/admin/vehiclemake/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Vehicle Makes</span></a></li>
                                    }
                                    @if (User.HasClaim("Permission", "managedriver"))
                                    {
                                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Driver</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="m-menu__submenu ">
                                                <span class="m-menu__arrow"></span>
                                                <ul class="m-menu__subnav">
                                                    <li class="m-menu__item " aria-haspopup="true">
                                                        <a href="~/admin/driver/index" class="m-menu__link ">
                                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Drivers</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-menu__item " aria-haspopup="true">
                                                        <a href="~/admin/report/generaltransaction" class="m-menu__link ">
                                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">General Transaction</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    }

                                    @if (User.HasClaim("Permission", "manageroute"))
                                    {
                                        <li class="m-menu__item" aria-haspopup="true">
                                            <a href="~/admin/route/index" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                                <span class="m-menu__link-text">Routes</span>
                                            </a>
                                        </li>
                                    }

                                    @if (User.HasClaim("Permission", "manageroute"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/subroute/index" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                                <span class="m-menu__link-text">Sub-Routes</span>
                                            </a>
                                        </li>
                                    }

                                    @if (User.HasClaim("Permission", "manageroute"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/franchise/index" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                                <span class="m-menu__link-text">Partners</span>
                                            </a>
                                        </li>
                                    }

                                    @if (User.HasClaim("Permission", "manageregion"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true"><a href="~/admin/region/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Regions</span></a></li>
                                    }
                                    @if (User.HasClaim("Permission", "managefare"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true"><a href="~/admin/fare/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Fares</span></a></li>
                                    }
                                    @if (User.HasClaim("Permission", "manageterminal"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true"><a href="~/admin/terminal/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Terminals</span></a></li>
                                    }
                                    @if (User.HasClaim("Permission", "managetrip"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true"><a href="~/admin/trip/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Trips</span></a></li>
                                    }




                                </ul>
                            </div>
                        </li>
                        @if (User.HasClaim("Permission", "managebookings"))
                        {
                            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                    <i class="m-menu__link-icon flaticon-book"></i><span class="m-menu__link-text">Booking</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="m-menu__submenu ">
                                    <span class="m-menu__arrow"></span>
                                    <ul class="m-menu__subnav">

                                        @*<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Base</span></span></li>*@
                                        <li class="m-menu__item" aria-haspopup="true"><a href="~/booking/advancedbooking/index" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Advanced Booking</span></a></li>
                                        @if (User.HasClaim("Permission", "managebusmanifest"))
                                        {
                                            <li class="m-menu__item" aria-haspopup="true"><a href="~/booking/advancedbooking/reOpenBus" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Open Manifest</span></a></li>
                                        }
                                        <li class="m-menu__item" aria-haspopup="true"><a href="@Url.Action("ManagerRoute", "TerminalBooking", new { area = "Booking" })" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Assign Bus To Bookings</span></a></li>
                                        <li class="m-menu__item" aria-haspopup="true"><a href="@Url.Action("CreateBus", "TerminalBooking", new { area = "Booking" })" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Create A Bus</span></a></li>
                                        <li class="m-menu__item" aria-haspopup="true"><a href="@Url.Action("CreateHire", "AdvancedBooking", new { area = "Booking" })" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Create Hire Bus</span></a></li>

                                        <li class="m-menu__item" aria-haspopup="true"><a href="@Url.Action("Swapvehicle", "TerminalBooking", new { area = "Booking" })" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Swap Vehicle</span></a></li>
                                        @*<li class="m-menu__item" aria-haspopup="true"><a href="@Url.Action("Terminals", "TerminalBooking", new { area = "Booking" })" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Terminal Booking</span></a></li>*@
                                        <li class="m-menu__item" aria-haspopup="true"><a href="@Url.Content("~/TerminalBooking/TerminalRoutes/"+ 0)" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Terminal Booking</span></a></li>

                                        <li class="m-menu__item" aria-haspopup="true"><a href="@Url.Action("GetDataByTerminalLocation", "VehicleAllocation", new { area = "Admin" })" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">My Buses</span></a></li>
                                        <li class="m-menu__item" aria-haspopup="true"><a href="~/admin/report/blow" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Blow Vehicle</span></a></li>
                                        @*<li class="m-menu__item" aria-haspopup="true"><a href="@Url.Action("GetHireForUser", "AdvancedBooking", new { area = "Booking" })" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">My Hire Buses</span></a></li>*@


                                        @if (User.HasClaim("Permission", "managevehicleallocation"))
                                        {
                                            <li class="m-menu__item" aria-haspopup="true"><a href="@Url.Action("Index", "VehicleAllocation", new { area = "Admin" })" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Vechicle Allocation</span></a></li>
                                        }

                                    </ul>
                                </div>
                            </li>

                        }
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-analytics"></i><span class="m-menu__link-text">Reports</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu ">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Base</span></span></li>
                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="~/admin/report/bookings" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Bookings</span>
                                        </a>
                                    </li>

                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="~/admin/report/channelsales" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Channels Sales Report</span>
                                        </a>
                                    </li>

                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="~/admin/report/advancedbooking" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Advanced Booking Report</span>
                                        </a>
                                    </li>

                                    @if (User.HasClaim("Permission", "manageblownvehicles"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/report/getblowdata" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Get Blown Vehicles</span>
                                            </a>
                                        </li>
                                    }

                                    <li class="m-menu__item " aria-haspopup="true" style="display:none;">
                                        <a href="~/admin/report/index" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Booking Report</span>
                                        </a>
                                    </li>

                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="~/admin/report/BookingTrips" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Trip Report</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="~/admin/report/GetTransloaded" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Transload Report</span>
                                        </a>
                                    </li>
                                    @if (User.HasClaim("Permission", "managepaxreports"))
                                    {
                                        <li class="m-menu__item" aria-haspopup="true"><a href="~/admin/report/gettravelledcustomerdetail" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Get Traveled Customers Details</span></a></li>
                                    }
                                    @if (User.HasClaim("Permission", "managebookingdetail"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/report/BookingDetail" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Booking Details Report</span>
                                            </a>
                                        </li>
                                    }


                                    @if (User.HasClaim("Permission", "managereports"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/report/BookingSales" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Sales Report</span>
                                            </a>
                                        </li>
                                    }
                                    @if (User.HasClaim("Permission", "managepaxreports"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/report/PassengerReport" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Passenger Report</span>
                                            </a>
                                        </li>
                                    }
                                    @if (User.HasClaim("Permission", "managereports"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/report/salesperbus" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Sales by Bus Report</span>
                                            </a>
                                        </li>
                                    }


                                    @if (User.HasClaim("Permission", "managesales"))
                                    {
                                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Financials</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="m-menu__submenu ">
                                                <span class="m-menu__arrow"></span>
                                                <ul class="m-menu__subnav">
                                                    @*<li class="m-menu__item " aria-haspopup="true">
                                                            <a href="~/admin/report/GetManifestExpenses" class="m-menu__link ">
                                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Expense Report</span>
                                                            </a>
                                                        </li>*@
                                                    <li class="m-menu__item " aria-haspopup="true">
                                                        <a href="~/admin/report/GetExpense" class="m-menu__link ">
                                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Expense Report</span>
                                                        </a>
                                                    </li>
                                                    @if (User.HasClaim("Permission", "managesales"))
                                                    {
                                                        <li class="m-menu__item " aria-haspopup="true">
                                                            <a href="~/admin/report/TotalSalesReport" class="m-menu__link ">
                                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Sales Report</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-menu__item " aria-haspopup="true">
                                                            <a href="~/admin/report/TotalRevenueReport" class="m-menu__link ">
                                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Revenue Report</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                    }

                                    @if (User.HasClaim("Permission", "managedriversalary"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/report/driversalary" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Driver Trip Report</span>
                                            </a>
                                        </li>
                                    }
                                    @if (User.HasClaim("Permission", "managehirerequest"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/report/hirerequests" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Hire Report</span>
                                            </a>
                                        </li>
                                    }

                                    @if (User.HasClaim("Permission", "managejourneychart"))
                                    {
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/report/journeycharts" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Journey Charts</span>
                                            </a>
                                        </li>
                                    }

                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="~/admin/report/FleetHistory" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Fleet History</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        @if (User.HasClaim("Permission", "manageterminaljourney"))
                        {
                            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                    <i class="m-menu__link-icon flaticon-car"></i><span class="m-menu__link-text">Journeys</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="m-menu__submenu ">
                                    <span class="m-menu__arrow"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Base</span></span></li>
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="~/admin/Journey/Incoming" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Inbound Trips</span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="/admin/Journey/Outgoing" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Outbound Trips</span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="/admin/Journey/BlowJourneys" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Blow Trips</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        <li class="m-menu__item  m-menu__item--submenu hidden" style="display:none" aria-haspopup="true" m-menu-submenu-toggle="hover">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-car"></i><span class="m-menu__link-text">Compliants Logs</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu ">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Base</span></span></li>
                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="~/admin/Feedback/Index" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text"> View Logs </span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu hidden" style="display:none" aria-haspopup="true" m-menu-submenu-toggle="hover">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-cart"></i><span class="m-menu__link-text">Rescue Team</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu ">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Base</span></span></li>
                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="/admin/report/mtureports" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text"> Add New Report</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="m-menu__submenu ">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span class="m-menu__link"><span class="m-menu__link-text">Base</span></span></li>
                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="/admin/report/transload" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text"> Transload</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                    </ul>
                </div>

                <!-- END: Aside Menu -->
            </div>

            <!-- END: Left Aside -->

            <div class="m-grid__item m-grid__item--fluid m-wrapper">

                <!-- BEGIN: Content -->
                <div class="m-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="m-grid__item m-footer">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                        <span class="m-footer__copyright">
                            @DateTime.Now.Year &copy; Delta Line <a asp-area="" asp-controller="Home" asp-action="Privacy" class="m-link">Delta Line</a>
                        </span>
                    </div>
                    <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                        <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                            <li class="m-nav__item">
                                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="m-nav__link">
                                    <span class="m-nav__link-text">About</span>
                                </a>
                            </li>

                            <li class="m-nav__item m-nav__item">
                                <a class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
                                    <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <script src="~/lib/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/lib/scripts.bundle.js" type="text/javascript"></script>

    <script src="~/lib/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
    <script src="~/js/qz/js/dependencies/rsvp-3.1.0.min.js"></script>
    <script src="~/js/qz/js/dependencies/sha-256.min.js"></script>
    <script src="~/js/qz/js/qz-tray.js"></script>
    <script src="~/js/html2canvas.js"></script>
    <script src="~/js/LibScripts.js"></script>
    <script src="~/js/exporting.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>