﻿@model LoginModel
@{ Layout = "_authenticationlayout";
                ViewBag.Title = "Login"; }

    <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
        <div class="d-flex flex-column-fluid flex-center">
            <div class="login-form login-signin">
                <div class="has-danger">
                    <div class="m-login__desc form-control-feedback" asp-validation-summary="ModelOnly"></div>
                </div>
                <form class="form fv-plugins-bootstrap fv-plugins-framework" asp-route="Login">
                    <div class="pb-13 pt-lg-0 pt-5">
                        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Welcome to Deltaline TMS</h3>
                    </div>

                    @Html.AntiForgeryToken()
                <div class="form-group fv-plugins-icon-container">
                    <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
                    <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" id="m_login_username_txt" asp-for="Username" placeholder="Username or Email" autocomplete="off" autofocus>
                    <div class="form-control-feedback"><span asp-validation-for="Username"></span></div>
                </div>
                <div class="form-group fv-plugins-icon-container">
                    <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>

                    <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="password" asp-for="Password" placeholder="Password">
                    <div class="form-control-feedback"><span asp-validation-for="Password"></span></div>
                </div>
                    <div class="row m-login__form-sub">
                        <div class="col m--align-left">
                            <label class="m-checkbox m-checkbox--focus" asp-for="RememberLogin">
                                <input asp-for="RememberLogin"> Remember me
                                <span></span>
                            </label>
                        </div>
                        <div class="col m--align-right">
                            <a href="#forgot" @*data-toggle="modal"*@ id="m_login_forget_password" class="m-link" onclick="forgetPassword('email');">Forgot Password ?</a>
                        </div>
                    </div>
                    <div class="m-login__form-action">
                        <button name="button" value="login" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Sign In</button>
                    </div>
                </form>
            </div>
</div>
    <div class="d-flex flex-column-fluid flex-center">
                <div class="login-form login-signin">
                    

                </div>
            </div>

        </div>

        <div class="modal fade col-xs-12" id="forgot" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body" style="width:100%;">
                        <h4 class="modal-title">Reset Password</h4>
                        <div class="modal-body">
                            <form action="" id="routeModal" method="post">
                                <div class="modal-body">

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="form-label">Email: </label>
                                            <input type="text" class="form-control" id="email" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="form-label">OTP: </label>
                                            <input type="text" placeholder="Enter OTP sent to the Email registered" class="form-control" id="OTP" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="form-label">Enter New Password: </label>
                                            <input placeholder="Enter New Password" type="password" class="form-control" id="NPassword" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="form-label">Confirm New Password: </label>
                                            <input placeholder="Confirm New Password" type="password" class="form-control" id="CNPassword" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="width:100%;">
                                    <button data-dismiss="modal" id="resetFor" class="btn btn-warning" type="button">Return To Login</button>
                                    <button id="submitUpdateForm" class="btn btn-success" onclick="change();" type="button">Change Password</button>
                                </div>
                                <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                                    <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                        <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                                    </span>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade col-xs-12" id="sendOtp" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body" style="width:100%;">
                        <h4 class="modal-title"> Forgot Password</h4>
                        <div class="modal-body">
                            <form action="" id="routeModal" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="form-label"> Email Address: </label>
                                            <input type="text" placeholder="Enter Email Address" class="form-control" id="emails" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="width:100%;">
                                    <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                                    <button id="submitUpdateForm" class="btn btn-success" onclick="confirm();" type="button"> Confirm</button>
                                </div>
                                <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                                    <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                        <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                                    </span>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
