﻿@model UserProfileModel
@{
    ViewBag.Title = "Profile update";
}
<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="m-portlet m-portlet--full-height">
            <div class="m-portlet__body">
                <div class="m-card-profile">
                    <div class="m-card-profile__title m--hide">
                        Your Profile
                    </div>
                    <div class="m-card-profile__pic">
                        <div class="m-card-profile__pic-wrapper">
                            <img src="~/images/users/user4.jpg" alt="" />
                        </div>
                    </div>
                    <div class="m-card-profile__details">
                        <span class="m-card-profile__name">@(Model.FirstName + " " + Model.LastName)</span>
                        <a href="javascript:void(0);" class="m-card-profile__email m-link">@Model.Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8">
        <div class="m-portlet m-portlet--full-height m-portlet--tabs">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                <i class="flaticon-share m--hide"></i>
                                Update Profile
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="~/account/changepassword">
                                Change Password
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="m_user_profile_tab_1">
                    <form class="m-form m-form--fit m-form--label-align-right" method="post" action="updateprofile">
                        <div class="m-portlet__body">

                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
                                <div class="form-group m-form__group m--margin-top-10">
                                    <div class="m-alert m-alert--icon alert alert-danger" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text" asp-validation-summary="All">
                                        </div>
                                        <div class="m-alert__close">
                                            <button class="close" aria-label="Close" type="button" data-close="alert"></button>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="form-group m-form__group row">
                                <div class="col-10 ml-auto">
                                    <h3 class="m-form__section">Profile information</h3>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="FirstName" class="col-3 col-form-label">First Name</label>
                                <div class="col-7 has-danger">
                                    <input class="form-control m-input" asp-for="FirstName" placeholder="enter Firstname">
                                    <div class="form-control-feedback"><span asp-validation-for="NextOfKin"></span></div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="MiddleName" class="col-3 col-form-label">Middle Name</label>
                                <div class="col-7 has-danger">
                                    <input class="form-control m-input" asp-for="MiddleName" placeholder="enter Middlename">
                                    <div class="form-control-feedback"><span asp-validation-for="MiddleName"></span></div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="LastName" class="col-3 col-form-label">Last Name</label>
                                <div class="col-7 has-danger">
                                    <input class="form-control m-input" asp-for="LastName" placeholder="enter Lastname">
                                    <div class="form-control-feedback"><span asp-validation-for="LastName"></span></div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="Email" class="col-3 col-form-label">E-mail Address</label>
                                <div class="col-7 has-danger">
                                    <input class="form-control m-input" asp-for="Email" placeholder="enter E-mail">
                                    <div class="form-control-feedback"><span asp-validation-for="Email"></span></div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="PhoneNumber" class="col-3 col-form-label">Phone number</label>
                                <div class="col-7 has-danger">
                                    <input class="form-control m-input" asp-for="PhoneNumber" placeholder="enter Phone number">
                                    <div class="form-control-feedback"><span asp-validation-for="PhoneNumber"></span></div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="Address" class="col-3 col-form-label">Address</label>
                                <div class="col-7 has-danger">
                                    <textarea asp-for="Address" class="form-control m-input" placeholder="enter address"></textarea>
                                    <div class="form-control-feedback"><span asp-validation-for="Address"></span></div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="NextOfKin" class="col-3 col-form-label">Next-of-Kin</label>
                                <div class="col-7 has-danger">
                                    <input class="form-control m-input" asp-for="NextOfKin" placeholder="enter Next-of-kin name">
                                    <div class="form-control-feedback"><span asp-validation-for="NextOfKin"></span></div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="NextOfKin" class="col-3 col-form-label">Next-of-Kin Phone number</label>
                                <div class="col-7 has-danger">
                                    <input class="form-control m-input" asp-for="NextOfKinPhone" placeholder="enter Next-of-kin Phone number">
                                    <div class="form-control-feedback"><span asp-validation-for="NextOfKinPhone"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <div class="row">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-7">
                                        <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">Save changes</button>&nbsp;&nbsp;
                                        <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}