﻿@model FranchiseModel

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

        <div class="m-form__section m-form__section--first">
            <div class="m-form__heading">
                <h3 class="m-form__heading-title">Franchise Info:</h3>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label" for="FirstName">Code:</label>
                <div class="col-lg-6">
                    <input class="form-control m-input" asp-for="ReferralCode" placeholder="enter Franchise Code">
                    <div class="form-control-feedback"><span asp-validation-for="ReferralCode"></span></div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label" for="FirstName">FirstName:</label>
                <div class="col-lg-6">
                    <input class="form-control m-input" asp-for="FirstName" placeholder="enter FirstName">
                    <div class="form-control-feedback"><span asp-validation-for="FirstName"></span></div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label" for="MiddleName">Middle Name:</label>
                <div class="col-lg-6">
                    <input class="form-control m-input" asp-for="MiddleName" placeholder="enter MiddleName">
                    <div class="form-control-feedback"><span asp-validation-for="MiddleName"></span></div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label" for="LastName">Last Name:</label>
                <div class="col-lg-6">
                    <input class="form-control m-input" asp-for="LastName" placeholder="enter LastName">
                    <div class="form-control-feedback"><span asp-validation-for="LastName"></span></div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label" for="Address">Address:</label>
                <div class="col-lg-6">
                    <input class="form-control m-input" asp-for="Address" placeholder="enter Address">
                    <div class="form-control-feedback"><span asp-validation-for="Address"></span></div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label" for="Gender">Gender :</label>
                <div class="col-lg-6">
                    <select asp-for="Gender" class="form-control m-input" asp-items=" Html.GetEnumSelectList<Gender>()">
                        <option value="">Select Gender</option>
                    </select>
                    <div class="form-control-feedback"><span asp-validation-for="Gender"></span></div>
                </div>
            </div>


            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label" for="Email">Email-Address:</label>
                <div class="col-lg-6">
                    <input class="form-control m-input" asp-for="Email" placeholder="user@deltaline.com">
                    <div class="form-control-feedback"><span asp-validation-for="Email"></span></div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label" for="PhoneNumber">Phone Number:</label>
                <div class="col-lg-6">
                    <input class="form-control m-input" asp-for="PhoneNumber" placeholder="+23480 0000 0000">
                    <div class="form-control-feedback"><span asp-validation-for="PhoneNumber"></span></div>
                </div>
            </div>

        </div>
        </div>