﻿@model DiscountModel
<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>

    }
<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Discount Info:</h3>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="routeid">booking type:</label>
        <div class="col-lg-6">
            @Html.DropDownListFor(m => m.BookingType, Html.GetEnumSelectList(Model.BookingType.GetType()), new { @class = "m-input-icon m-input-icon--right form-control" })<div class="form-control-feedback"></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AdultDiscount">Adult Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="AdultDiscount" placeholder="Enter discount for Adult">
            <div class="form-control-feedback"><span asp-validation-for="AdultDiscount"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="MinorDiscount">Minor Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="MinorDiscount" placeholder="Enter discount for Minor">
            <div class="form-control-feedback"><span asp-validation-for="MinorDiscount"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="MemberDiscount">Member Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="MemberDiscount" placeholder="Enter discount for member">
            <div class="form-control-feedback"><span asp-validation-for="MemberDiscount"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ReturnDiscount">Return Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ReturnDiscount" placeholder="Enter discount for return trip">
            <div class="form-control-feedback"><span asp-validation-for="ReturnDiscount"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AppDiscountIos">Ios Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="AppDiscountIos" placeholder="Enter discount for IOS">
            <div class="form-control-feedback"><span asp-validation-for="AppDiscountIos"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AppDiscountAndroid">Android Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="AppDiscountAndroid" placeholder="Enter discount for Android">
            <div class="form-control-feedback"><span asp-validation-for="AppDiscountAndroid"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AppDiscountWeb">Web Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="AppDiscountWeb" placeholder="Enter discount for Web">
            <div class="form-control-feedback"><span asp-validation-for="AppDiscountWeb"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AppReturnDiscountIos">Ios Return Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="AppReturnDiscountIos" placeholder="Enter discount for IOS Return Trip">
            <div class="form-control-feedback"><span asp-validation-for="AppReturnDiscountIos"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AppReturnDiscountAndroid">Android Return Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="AppReturnDiscountAndroid" placeholder="Enter discount for Android Return Trip">
            <div class="form-control-feedback"><span asp-validation-for="AppReturnDiscountAndroid"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AppReturnDiscountWeb">Web Return Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="AppReturnDiscountWeb" placeholder="Enter discount for Web Return Trip">
            <div class="form-control-feedback"><span asp-validation-for="AppReturnDiscountWeb"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="PromoDiscount">Promo Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="PromoDiscount" placeholder="Enter discount for Promo">
            <div class="form-control-feedback"><span asp-validation-for="PromoDiscount"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="CustomerDiscount">New Customer Discount  (%):</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="CustomerDiscount" placeholder="Enter discount for Minor">
            <div class="form-control-feedback"><span asp-validation-for="CustomerDiscount"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Active">Active?</label>
        <div class="col-lg-6">
            <input class=" m-input" asp-for="Active" placeholder="Enter discount for Promo">
            <div class="form-control-feedback"><span asp-validation-for="Active"></span></div>
        </div>
    </div>
</div>
</div>
