﻿@model DiscountModel

@{
    ViewData["Title"] = "Create Discount";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-lg-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Create Discount
                        </h3>

                    </div>
                </div>
            </div>
            <form class="m-form m-form--label-align-right" method="post">

@Html.AntiForgeryToken()
<partial name="_form" />
<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-secondary" type="reset">Cancel</button>
            </div>
        </div>
    </div>
</div>
</form>
</div>
</div>
</div>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


}
