﻿@model WarehouseBinDTO

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">Create Inventory WarehouseBin:</h3>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseBinIDCode">Code:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseBinIDCode" placeholder="enter WarehouseBin Code">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseBinIDCode"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseBinName">Name:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseBinName" placeholder="enter WarehouseBin Name">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseBinName"></span></div>
            </div>
        </div>


        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseBinZone">Zone:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseBinZone" placeholder="Enter WarehouseBin Zone">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseBinZone"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseBinType">Type:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseBinType" placeholder="enter WarehouseBin Type">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseBinType"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseBinLocation">Location:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseBinLocation" placeholder="Enter WarehouseBin Location">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseBinLocation"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseBinNumber">WarehouseBin Number:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseBinNumber" placeholder="Enter WarehouseBin Number">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseBinNumber"></span></div>
            </div>
        </div>


    </div>
</div>
