﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text ">
        Get All Inventory WarehouseBin, You Can Create If It Does Not Exist <a href="~/admin/InventoryWarehouseBin/create" target="_blank" class="ml-3">Create New</a>
    </div>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    INVENTORY WAREHOUSEBIN
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="~/admin/InventoryWarehouseBin/create" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la la-plus"></i>
                            <span>CREATE NEW</span>
                        </span>
                    </a>
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>

    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th>WarehouseBinID Code</th>
                    <th>WarehouseBin Name</th>
                    <th>WarehouseBin Number</th>
                    <th>WarehouseBin Zone</th>
                    <th>WarehouseBinT ype</th>
                    <th>WarehouseBin Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>

<script id="details-modal-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">WarehouseBin Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
                <div class="m-form__section m-form__section--first">

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Code:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:warehouseBinIDCode}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Name:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:warehouseBinName}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">WarehouseBin Number:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:warehouseBinNumber}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">WarehouseBin Number:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:warehouseBinZone}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">WarehouseBin Type:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:warehouseBinType}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">WarehouseBin Location:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:warehouseBinLocation}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>


@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://mobility.deltaline.com/unauthorised.html");
        });

        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/admin/InventoryWarehouseBin/GetAllWarehouseBins',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "warehouseBinIDCode"
                        },
                        {
                            bSortable: false,
                            data: "warehouseBinName"
                        },
                        {
                            bSortable: false,
                            data: "warehouseBinNumber"
                        },
                        {
                            bSortable: false,
                            data: "warehouseBinZone"
                        },
                        {
                            bSortable: false,
                            data: "warehouseBinType"
                        },
                        {
                            bSortable: false,
                            data: "warehouseBinLocation"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                        \n <a class="dropdown-item" href="/admin/InventoryWarehouseBin/update/`+ n.id + `"><i class="la la-edit"></i> Modify</a>
                                                        \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                        \n </div>
                                                    \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/admin/InventoryWarehouseBin/delete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });
    </script>

}



