﻿@model ItemTypeDTO

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Inventory Items Type:</h3>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ItemTypeName">Name:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ItemTypeName" placeholder="enter item name">
            <div class="form-control-feedback"><span asp-validation-for="ItemTypeName"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Description">Description</label>
        <div class="col-lg-6">
            @Html.TextAreaFor(m => m.ItemTypeDescription, new { @class = "form-control", name = "ItemTypeDescription", placeholder = "Enter Description", rows = "4" })
            <div class="form-control-feedback"><span asp-validation-for="ItemTypeDescription"></span></div>
        </div>
    </div>

    @*<div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="ItemName">ItemName:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="ItemName" placeholder="enter ItemName">
                <div class="form-control-feedback"><span asp-validation-for="ItemName"></span></div>
            </div>
        </div>*@
</div>
</div>



