﻿@model BookingDetailModel
<div>
    @using (Html.BeginForm("CreateBooking", "TerminalBooking", FormMethod.Post, new { id = "ticketSales-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="m-portlet">
            <div class="m-portlet__head" style="height: auto; background-color:#484848; color: #fff;">
                <h3 class="title pull-left" style="height: auto;padding: 5px; font-weight: 400;">TRIP DETAILS</h3>
                @Html.HiddenFor(m => m.VehicleTripRegistrationId)
                @Html.HiddenFor(m => m.RouteId)
                @Html.HiddenFor(m => m.Email)
                @Html.HiddenFor(m => m.Update)
                @Html.HiddenFor(m => m.BookingReference)
                @Html.HiddenFor(m => m.Routes)
            </div>
            <div class="m-portlet__body" style="padding: 10px;background-color:#f2f3f8;">
                <div id="subrouteCheck" class="row hidden">
                    <div class="col-md-12 ">
                        <a class="label btn-danger btn-xs addps" style="color:#fff; padding:2px; cursor:pointer;" onclick="getMainFare()">Parent Route</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                @*<input type="checkbox" name="test" id="cbxSubRoute" style="vertical-align: middle;position: relative;bottom: 2px" />
                        &nbsp;*@
                                Drop off point *
                            </label>
                            <select id="SubrouteId" name="SubrouteId" onchange="getFare()" class="form-control">
                                @foreach (var subroute in Model.Subroutes)
                                {
                                    <option value="@subroute.Id">@subroute.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Amount * (&#x20A6;)
                            </label>
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control readonly", @readonly = true } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @*<div class="form-group">
                    <label class="form-label">Payment Mode *</label>
                    @Html.DropDownListFor(m => m.PaymentMethod, Html.GetEnumSelectList(Model.PaymentMethod.GetType()), new { @class = "form-control" })
                </div>*@

                        @* , @oninput = "getDetailsByPhone()"*@
                        <div class="form-group">
                            <label class="form-label">Phone No*</label>
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control phonenumpax", @oninput = "getDetailsByPhone()", @list = "browsers"  } })
                            @*<input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" oninput="getDetailsByPhone()" />*@

                            <datalist id="browsers">
                                @foreach (var phone in Model.PhoneList)
                                {
                                    <option value="@phone" />
                                }
                            </datalist>
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                    </div>
                    <div class="col-md-6" style="display:none;">
                        <div class="form-group">
                            <label class="label label-danger btn-xs">
                                Discount?<a data-toggle="modal" href="#discountModal" onclick="LIB_CallView('terminalbooking', 'DiscountModal', ' ', 'discountModalFromController');return false;"> OTP</a>
                            </label>
                            @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">First Name *</label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control firstname" } })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Last Name *</label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control lastname" } })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Payment Mode*</label>
                            @*@Html.DropDownListFor(m => m.PaymentMethod, Html.GetEnumSelectList(Model.PaymentMethod.GetType()), new { @class = "form-control", @onchange = "getPartCash()" })*@

                            <select id="PaymentMethod" name="PaymentMethod" onchange="getPartCash()" class="form-control">
                                <option value="0">Cash</option>
                                <option value="1">Pos</option>
                                <option value="13">Cash and Pos</option>
                            </select>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Gender*</label>
                            @Html.DropDownListFor(m => m.Gender, Html.GetEnumSelectList(Model.Gender.GetType()), new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Guest Email *</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>*@
                </div>
                <div class="row validator" id="CashPos">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Enter the Part Cash *</label>
                            @Html.EditorFor(model => model.PartCash, new { htmlAttributes = new { @class = "form-control ", @type = "number", @min = "0" } })<br />
                            <span id="partcashcheck" class="validator label btn-danger">please enter PartCash</span>
                        </div>
                    </div>
                </div>
                <div class="row validator" id="PosReferen">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Enter POS Reference *</label>
                            @Html.EditorFor(model => model.PosRef, new { htmlAttributes = new { @class = "form-control " } })<br />
                            <span id="posrefcheck" class="validator label btn-danger">please enter POS Ref</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Seat*</label>
                            <select id="SeatNumber" name="SeatNumber" class="form-control">
                                @foreach (var seat in Model.RemainingSeat)
                                {
                                    <option value="@seat">@seat</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Pax Type</label>
                            @Html.DropDownListFor(m => m.PassengerType, Html.GetEnumSelectList(Model.PassengerType.GetType()), new { @class = "form-control", @onchange = "getPassengerFare()" })
                        </div>
                    </div>
                </div>
                @*<div class="row">

                 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Ghana Route</label>
                            @Html.CheckBoxFor(m => m.IsGhanaRoute,
                          new {
                              @class= "form-control m-input",
                              @id= "IsGhanaRoute",
                              @onclick= "IsGhanaRoute()",
                              @data_role="flipswitch",
                          })
                        </div>
                    </div>



                </div>*@

                <div id="IsGhanaDiv" class="m-portlet">
                    <div class="m-portlet__head" style="text-align:center; height:auto;background-color:#f4516c;  color:#fff;">
                        <h4 style="padding:5px;font-weight:400;">Additional Information</h4>
                    </div>
                    <div class="m-portlet__body" style="padding:10px; background-color:#f2f3f8;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Passport Type</label>
                                    @*<select asp-for="PassportType" id="PassportType" name="PassportType" class="form-control">
                                        <option value="" selected> Select ....</option>
                                        <option value="International Passport">International Passport</option>
                                        <option value="National ID">National ID</option>
                                        <option value="Drivers License">Drivers License</option>
                                        <option value="Voters Card">Voters Card</option>
                                        <option value="Non ID">Non ID</option>
                                        <option value="Yellow Card">Yellow Card</option>
                                        <option value="Others">Others</option>
                                    </select>*@
                                    <input class="form-control m-input" name="PassportTypeb" id="PassportTypeb" placeholder="">


                                    <select asp-for="PassportType" class="form-control m-input" asp-items="ViewBag.PassportType as IEnumerable<SelectListItem>">
                                        <option value="">Select PassportType</option>
                                    </select>
                                    <div class="form-control-feedback"><span asp-validation-for="PassportType"></span></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Passport No</label>
                                    @Html.EditorFor(model => model.PassportId, new { htmlAttributes = new { @class = "form-control PassportId" } })
                                    @Html.ValidationMessageFor(model => model.PassportId)
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Issued Date</label>
                                    @*<input class="form-control m-input" date-format="D, dd MM yyyy" name="IssuedDate" asp-for="IssuedDate" id="IssuedDate" placeholder="dd/mm/yyyy">
                    <div class="form-control-feedback"><span asp-validation-for="IssuedDate"></span></div>*@
                                    @Html.EditorFor(model => model.IssuedDate, new { htmlAttributes = new { @class = "form-control IssuedDate" } })
                                    @Html.ValidationMessageFor(model => model.IssuedDate)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Expired Date</label>
                                    @Html.EditorFor(model => model.ExpiredDate, new { htmlAttributes = new { @class = "form-control ExpiredDate" } })
                                    @Html.ValidationMessageFor(model => model.ExpiredDate)

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Place Of Issue</label>
                                    <select id="PlaceOfIssue" name="PlaceOfIssue" asp-for="PlaceOfIssue" class="form-control">
                                        <option value="" selected>Select ...</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Afghanistan">Afghanistan</option>
                                        <option value="Åland Islands">Åland Islands</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antarctica">Antarctica</option>
                                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Bouvet Island">Bouvet Island</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                        <option value="Brunei Darussalam">Brunei Darussalam</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote D'ivoire">Cote D'ivoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Territories">French Southern Territories</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guernsey">Guernsey</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guinea-bissau">Guinea-bissau</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                        <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="India">India</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jersey">Jersey</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                        <option value="Korea, Republic of">Korea, Republic of</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macao">Macao</option>
                                        <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                        <option value="Moldova, Republic of">Moldova, Republic of</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montenegro">Montenegro</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Namibia">Namibia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherlands">Netherlands</option>
                                        <option value="Netherlands Antilles">Netherlands Antilles</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau">Palau</option>
                                        <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Philippines">Philippines</option>
                                        <option value="Pitcairn">Pitcairn</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russian Federation">Russian Federation</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="Saint Helena">Saint Helena</option>
                                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                        <option value="Saint Lucia">Saint Lucia</option>
                                        <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                        <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Serbia">Serbia</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                        <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Timor-leste">Timor-leste</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Emirates">United Arab Emirates</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States">United States</option>
                                        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                        <option value="Uruguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Viet Nam">Viet Nam</option>
                                        <option value="Virgin Islands, British">Virgin Islands, British</option>
                                        <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                        <option value="Wallis and Futuna">Wallis and Futuna</option>
                                        <option value="Western Sahara">Western Sahara</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Nationality</label>
                                    <select id="Nationality" name="Nationality" asp-for="Nationality" class="form-control">
                                        <option value="" selected>Select ...</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Afghanistan">Afghanistan</option>
                                        <option value="Åland Islands">Åland Islands</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antarctica">Antarctica</option>
                                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Bouvet Island">Bouvet Island</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                        <option value="Brunei Darussalam">Brunei Darussalam</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote D'ivoire">Cote D'ivoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Territories">French Southern Territories</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guernsey">Guernsey</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guinea-bissau">Guinea-bissau</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                        <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="India">India</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jersey">Jersey</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                        <option value="Korea, Republic of">Korea, Republic of</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macao">Macao</option>
                                        <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                        <option value="Moldova, Republic of">Moldova, Republic of</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montenegro">Montenegro</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Namibia">Namibia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherlands">Netherlands</option>
                                        <option value="Netherlands Antilles">Netherlands Antilles</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau">Palau</option>
                                        <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Philippines">Philippines</option>
                                        <option value="Pitcairn">Pitcairn</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russian Federation">Russian Federation</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="Saint Helena">Saint Helena</option>
                                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                        <option value="Saint Lucia">Saint Lucia</option>
                                        <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                        <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Serbia">Serbia</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                        <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Timor-leste">Timor-leste</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Emirates">United Arab Emirates</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States">United States</option>
                                        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                        <option value="Uruguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Viet Nam">Viet Nam</option>
                                        <option value="Virgin Islands, British">Virgin Islands, British</option>
                                        <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                        <option value="Wallis and Futuna">Wallis and Futuna</option>
                                        <option value="Western Sahara">Western Sahara</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="m-portlet__head" style="height: auto;">
                    <h3 class="title pull-left" style="height: auto;padding: 10px;font-weight: 400;">Next Of Kin Info</h3>
                </div>
                <div class="m-portlet__body" style="padding: 0px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">NOK Name*</label>
                                @Html.EditorFor(model => model.NextOfKinName, new { htmlAttributes = new { @class = "form-control nokname" } })
                                @Html.ValidationMessageFor(model => model.NextOfKinName)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">NOK Phone*</label>
                                @Html.EditorFor(model => model.NextOfKinPhone, new { htmlAttributes = new { @class = "form-control nokphone" } })
                                @Html.ValidationMessageFor(model => model.NextOfKinPhone)
                                @if (!Model.ManifestPrinted)
                                {
                                    <input type="hidden" name="manifestprinted" id="manifestprinted" value="0" />
                                }
                                else
                                {
                                    <input type="hidden" name="manifestprinted" id="manifestprinted" value="1" />
                                }

                            </div>
                        </div>
                    </div>
                    <div class="row" id="SaveTicket">
                        @*@if (!Model.ManifestPrinted)
                {*@
                        @if (Model.Update)
                        {
                            <div class="col-md-4" id="dvbtnUpdateToManifest">
                                <input type="hidden" name="updateTicket" id="updateTicket" value="1" />
                                <button class="btn btn-large btn-success" type="submit" id="btnUpdateToManifest">Update Ticket</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12" id="dvbtnSaveToManifest">
                                <input type="hidden" name="updateTicket" id="updateTicket" value="" />
                                <button class="btn btn-large btn-success" id="btnSaveToManifest" type="submit">Save to Manifest</button>
                            </div>
                        }
                        @*}*@

                    </div>
                    @*@if (Model.ManifestPrinted)
            {*@
                    <div class="row validator" id="addenablediv" style="display:none; margin-top:20px">


                        <div class="col-md-4" id="dvbtnaddguest">
                            <div class="controls">
                                <span class="btn btn-info btn-xs">Enter OTP below to open manifest.</span><br /><br />
                                <a class="btn btn-info" href="@Url.Action("manifestotp", "TerminalBooking", new { VehicleTripRegistrationId = Model.VehicleTripRegistrationId, RouteId = Model.RouteId })">
                                    Request OTP
                                </a><br /><br />
                                <input type="text" id="otpadd" style="border-color:black" /><br /><br /> <a class="btn btn-success btn-xs" id="validateadd">Validate</a><br />
                                <span id="invalidotpcheck" class="validator label label-danger">please enter OTP</span>
                                <span id="otpinvalid" class="validator label label-danger">invalid OTP</span>
                            </div>
                        </div>


                    </div>

                    @*}*@
                </div>
            </div>
                </div>

        <div class="m-portlet">



        </div>

        <div class="m-portlet" style="display:none">
            <div class="m-portlet__head">
                <h2 class="title pull-left">Total Sales Details</h2>
            </div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-md-6">
                        @*<div class="form-group">

                                <label>Seat:@foreach (var seat in Model.RemainingSeat)
                                            {<b> @seat ,</b>}</label>
                            </div>*@
                        <div class="form-group">
                            @*<h4 >Seats Map</h4>*@
                            <label class="form-label">
                                Remaining Tickets *<b>(@Model.RemainingSeat.Count)</b>
                            </label><br />
                            <div class="row">
                                <div class="row">
                                    <div class="col-lg-3 kt-margin-10">
                                        <b>Printed</b><br />
                                        <div class="indicator printed"></div>
                                    </div>
                                    <div class="col-lg-3 kt-margin-10">
                                        <b>Online</b><br />
                                        <div class="indicator onlinetaken"></div>
                                    </div>

                                </div>
                                <div class="row">
                                    @*<div class="col-lg-3 kt-margin-10">
                                            <b>Onhold</b>
                                            <div class="indicator onhold"></div>
                                        </div>*@
                                    <div class="col-lg-3 kt-margin-10">
                                        <b>Adv.</b><br />
                                        <div class="indicator advancedtaken"></div>
                                    </div>
                                    <div class="col-lg-3 kt-margin-10">
                                        <b>Available</b>
                                        <div class="indicator"></div>
                                    </div>
                                </div>
                                <div name="selectedSeats" id="selectedSeats">
                                    @(await Html.PartialAsync("SeatsTemplatePartial", Model.seatBooking))
                                </div>
                            </div>
                            @*<div class="modal fade col-xs-12 booking-modal" id="showSeatSelection@(ViewBag.TripType)" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                            </div>
                                            <div class="modal-body">

                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success" type="button" id="modal-done" disabled>DONE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none">
            @*@Html.DropDownList("SeatNumberCopy", null, "--Seat No--", htmlAttributes: new { @class = "form-control" })*@
        </div>

    }
    @using (Html.BeginForm("AddRefcode", "TerminalBooking", FormMethod.Post, new { id = "ticketSales-form" }))
    {
        @Html.HiddenFor(m => m.VehicleTripRegistrationId)
        @Html.HiddenFor(m => m.RouteId)
        <div class="m-portlet">
            <div class="m-portlet__head" style="text-align:center; height:auto;background-color:#f4516c;  color:#fff;">
                <h3 style="padding:5px;font-weight: 400;">Add Pax with Refcode</h3>
            </div>
            <div class="m-portlet__body" style="padding:10px; background-color:#f2f3f8;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Refcode *</label>
                            <input type="text" id="Refcode" name="Refcode" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Seat Number *</label>
                            <select id="RefcodeSeatNumber" name="RefcodeSeatNumber" class="form-control">
                                @foreach (var seat in Model.RemainingSeat)
                                {
                                    <option value="@seat">@seat</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div id="refcodesubrouteCheck" class="row hidden" style="display:none;">
                    <div class="col-md-12 ">
                        <a class="label btn-danger btn-xs" style="color:#fff; padding:2px;cursor:pointer; " onclick="getMainFare()">Back to Main Route</a>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                @*<input type="checkbox" name="test" id="cbxSubRoute" style="vertical-align: middle;position: relative;bottom: 2px" />
                                    &nbsp;*@
                                Stops *
                            </label>
                            <select id="RefcodeSubrouteId" name="RefcodeSubrouteId" onchange="getRefcodeFare()" class="form-control">
                                @foreach (var subroute in Model.Subroutes)
                                {
                                    <option value="@subroute.Id">@subroute.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Fare* ( &#x20A6; )
                            </label>
                            <input type="number" min="0" id="RefcodeAmount" name="RefcodeAmount" value="@Model.Amount" class="form-control" readonly />

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12" id="AddTicket">
                        @*@if (!Model.ManifestPrinted)
                            {*@
                        <button class="btn btn-large btn-warning" type="submit" id="btnAddRefcode">Add Refcode</button>

                    </div>

                </div>

            </div>
        </div>
    }
</div>
<div class="m-portlet">

</div>
<div class="modal fade col-xs-12" id="removeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Enter the OTP sent to your TM</h4>
            </div>
            <div class="modal-body">
                @**@

                <div class="row" id="removeModalFromController">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade col-xs-12" id="discountModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @*<h4 class="modal-title">Kindly enter the OTP that was sent to your OM</h4>*@
            </div>
            <div class="modal-body">
                <div class="row" id="discountModalFromController">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
 
</script>
