﻿@using Transport.WEB.Models.Enum
@using Transport.WEB.Utils
@model Transport.WEB.Models.TicketSaleModel
<style>
    #dvTicketImage {
        margin: 0;
        background: white;
    }

    .smbtn {
        padding: 5px !important;
        padding-right: 0px !important;
    }
    td{border:0px;}
    .kt-datatable>.kt-datatable__table>.kt-datatable__body .kt-datatable__row, .kt-datatable>.kt-datatable__table>.kt-datatable__foot .kt-datatable__row, .kt-datatable>.kt-datatable__table>.kt-datatable__head .kt-datatable__row {
    border-bottom: 1px solid #f0f3ff !important;
}
    .table th, .table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px dashed #b9b9b9 !important;
}
</style>
<div id="dvTicketImage" style="display:none">
    testing....
</div>
<div id="dvTicketImageOut" style="display:none">
</div>
<div id="dvManifestImage" style="display:none">
</div>
<div class="m-portlet">
    <div class="m-portlet__head" style="height: auto; background-color: #484848;color: #fff;">
        <h3 class="title pull-left" style="height: auto;padding: 5px; font-weight: 400;">PASSENGER MANIFEST</h3>
    </div>
    <div class=" m-portlet__body kt-padding-0">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-head-noborder kt-datatable__table" id="dataTables_AssignedVehicles">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row">
                                <th>Action Tab</th>
                                <th>
                                    Pax Details
                                </th>
                                <th>
                                     Fare/Refcode
                                </th>
                                <th>
                                    Seat/Payment
                                </th>

                                @*<th>
                                        Amount
                                    </th>*@
                                @*<th>
                                        Phone
                                    </th>*@
                                @*<th>
                                        Next Of Kin
                                    </th>*@
                                @*<th>
                                        Destn.
                                    </th>*@

                                @*<th>
                                        N.O.K. Phone
                                    </th>*@
                                @*<th>
                                        Gender
                                    </th>*@
                                @*<th>
                                        Type
                                    </th>*@
                                @*<th>
                                        Payment Mode
                                    </th>*@

                                @*<th>
                                        Discount
                                    </th>*@


                            </tr>
                        </thead>
                        <tbody class="kt-datatable__body">

                            @foreach (var passenger in Model.Manifest.Passengers)

                            {
                            <tr class="kt-datatable__row">

                                <td class="kt-datatable__row">
                                    @if (Model.Manifest.ClashingSeats.Count() > 0)
                                    {
                                        <a href='@Url.Action("RemoveTicket", "TerminalBooking", new {@passenger.Id, @passenger.VehicleTripRegistrationId, @passenger.RouteId})' onclick="return confirm('Want to remove Ticket?');" title="Remove Ticket" class="text-muted btn btn-danger btn-xs smbtn"><i>Remove Ticket</i></a><br /><br />
                                        if (passenger.BookingType == BookingType.Terminal)
                                        {

                                            <a href='@Url.Action("UpdateTicketSeat", "TerminalBooking", new {@passenger.Id, @passenger.VehicleTripRegistrationId, @passenger.RouteId})' title="Edit Ticket" id="updateticket" class="text-muted btn btn-primary btn-xs smbtn"><i>Change Seat</i></a>

                                        }
                                        <br /><br />
                                    }
                                    else

                            if (!Model.Manifest.IsPrinted)
                                    {

                                        if (User.HasClaim("Permission", "managemoveticket"))
                                        {
                                            <a href='@Url.Action("RemoveTicket", "TerminalBooking", new {@passenger.Id, @passenger.VehicleTripRegistrationId, @passenger.RouteId})' onclick="return confirm('Are you sure you want to MOVE THIS TICKET?');" title="Move Ticket" class="text-muted btn btn-danger btn-xs smbtn" style="color:white !important"><i class="la la-remove"></i></a>
                                        }

                                        if (passenger.BookingType == BookingType.Terminal)
                                        {

                                            <a href='@Url.Action("UpdateTicket", "TerminalBooking", new {@passenger.Id, @passenger.VehicleTripRegistrationId, @passenger.RouteId})' title="Update Ticket" id="updateticket" class="text-muted btn btn-primary btn-xs smbtn" style="color:white !important"><i class="la la-exchange"></i></a>

                                        }
                                        if (passenger.RouteName.Contains("Accra") && passenger.BookingType == BookingType.Online)
                                        {
                                            <a href='@Url.Action("UpdateTicket", "TerminalBooking", new {@passenger.Id, @passenger.VehicleTripRegistrationId, @passenger.RouteId})' title="Update Ticket" id="updateticket" class="text-muted btn btn-primary btn-xs smbtn" style="color:white !important"><i class="la la-edit"></i></a>
                                        }
                                        <br /><br />
                                        <a href='@Url.Action("RescheduleTicket", "TerminalBooking", new {@passenger.Id, @passenger.VehicleTripRegistrationId, @passenger.RouteId})' onclick="return confirm('Are you sure you want to RESCHEDULE THIS TICKET?');" title="Reschedule Ticket" style="color:white !important; display:none;" class="text-muted btn btn-info btn-xs smbtn"><i class="la la-reply-all"></i></a>
                                        @*<a href='@Url.Action("UpgradeDowngradeTicket", "TerminalBooking", new {@passenger.Id, @passenger.VehicleTripRegistrationId, @passenger.RouteId})' onclick="return confirm('Are you sure you want to UPGRADE/DOWNGRADE THIS TICKET?');" style="color:white !important" title="Upgrade/Downgrade Ticket" class="text-muted btn btn-info btn-xs smbtn"><i>U/D</i></a><br /><br />*@

                                    }

                                    <a onclick="ReprintTicket(@passenger.Id)" href="#" title="Print Ticket" style="color:white !important" class="btn  btn-primary btn-xs smbtn">
                                        <i class="la la-print"></i>

                                    </a>





                                </td>

                                <td class="kt-datatable__row">
                                    @passenger.FullName<br />
                                    @passenger.PhoneNumber<br />

                                    @if (passenger.IsRescheduled && passenger.RescheduleStatus == RescheduleStatus.PayAtTerminal)
                                    {<br />
                                        <span style="font-weight:bold; color:red;">Rescheduled</span>
                                        <br />
                                    }
                                    Route:<br /><span style="font-weight:bold; color:#5867dd;"> @passenger.SubRouteName.Substring(passenger.SubRouteName.IndexOf('>') + 1) </span>
                                </td>
                                <td class="kt-datatable__row">

                                    &#8358; <span style="font-size:20px;">  @passenger.Amount.GetValueOrDefault().ToString("N")</span>
                                    <br />
                                    @if (passenger.PaymentMethod == PaymentMethod.CashAndPos)
                                    {

                                <span>Part Cash: ( @passenger.PartCash) </span><br />
                                                    <span>Part POS: (@(@passenger.Amount.GetValueOrDefault() - @passenger.PartCash - @passenger.Discount)) </span><br />}

                                    @if (passenger.Discount.GetValueOrDefault() > 0)
                                    {
                                <span>Dsc(@passenger.Discount)</span>
                                                    <br /><br />}
                                    @if (@passenger.IsPrinted)
                                    {
                                <span class="label brnmain" style="padding:5px; font-weight:bold; color:#000; font-size:16px;" id="@passenger.BookingReferenceCode">@passenger.BookingReferenceCode</span><br /> @*<a title="Copy BRN" class="text-muted copybrn btn btn-primary btn-xs smbtn" cols="@passenger.BookingReferenceCode" data-clipboard-target="#@passenger.BookingReferenceCode" style="color:white !important"><i class="la la-copy"></i></a>*@ }
                                                else
                                                {
                                <span class="label" style="padding:5px;font-weight:bold; color:#000; font-size:16px;" id="@passenger.BookingReferenceCode"> @passenger.BookingReferenceCode</span><br /> @*<a title="Copy BRN" class="text-muted copybrn btn btn-primary btn-xs smbtn" cols="@passenger.BookingReferenceCode" data-clipboard-target="#@passenger.BookingReferenceCode" style="color:white !important"><i class="la la-copy"></i></a>*@
                                                    <br />}

                                    @if (passenger.PickupStatus != PickupStatus.NotForPickUp)
                                    {<br /><br />
                                                            <span class="label label-info">PickUp Request</span><br /><br />
                                                                                <span class="label label-info">PickupPointName: @passenger.PickupPointName</span><br />}
                                    @if (passenger.IsCrossSell)
                                    {<br /><br />
                                                            <span class="label label-info">Sold at another terminal</span><br /><br />
                                                                                <span class="label label-info">By: @passenger.CreatedBy (@passenger.CreatedByTerminal)</span>}
                                    @if (passenger.IsUpgradeDowngrade)
                                    {<br /><br />
                                                            <span class="label label-info"> @passenger.UpgradeType ( @passenger.UpgradeDowngradeDiff )</span>}

                                </td>
                                <td class="kt-datatable__row">
                                    <span style="font-size:larger; font-weight:bold;">  @passenger.SeatNumber</span><br />
                                    @*@passenger.BookingType.ToString().SeperateWords()*@
                                    (@passenger.PassengerType.ToString().SeperateWords() - @passenger.PaymentMethod.ToString().SeperateWords())
                                    @if (passenger.PaymentMethod == PaymentMethod.Pos)
                                    {

                                        <span>POS Reference:  @passenger.POSReference </span><br />
                                    }
                                    @if (passenger.IsRerouted && passenger.RerouteStatus == RerouteStatus.PayAtTerminal)
                                    {<br /><br />
                                        
                                 <span class="label brnmain btn-warning" style="padding:5px; font-weight:bold; color:#fff;">Rerouted</span><br />
                                        <span class="label label-danger">Fare Diff: @passenger.RerouteFeeDiff +  N500 reroute fee</span>
                                    }
                                </td>

                                


                                @*<td>



        </td>*@
                                @*<td>


        </td>*@
                                @*<td>@passenger.NextOfKinName</td>*@
                                @*<td>@passenger.SubRouteName.Substring(passenger.SubRouteName.IndexOf('>') + 1)</td>*@

                                @*<td>@passenger.NextOfKinPhoneNumber</td>*@
                                @*<td>@passenger.Gender</td>*@
                                @*<td>
                @passenger.BookingType.ToString().SeperateWords()
            (@passenger.PassengerType.ToString().SeperateWords())
            (@passenger.PaymentMethod.ToString().SeperateWords())
        </td>*@
                                @*<td>@passenger.PaymentMethod.ToString().SeperateWords()</td>*@

                                @*<td>@passenger.Discount</td>*@

                                @*<td>

        @*<a href='@Url.Action("Ticket", "TerminalBooking", new {@passenger.SeatManagementId,@passenger.VehicleTripRegistrationId,@passenger.RouteId})' class="btn btn-info btn-primary" style="margin-bottom: 5px">
            <i class="fa fa-print"></i>Print Ticket
        </a>*@
                                @*<a onclick="ReprintTicket(@passenger.SeatManagementId)" href="#" class="btn btn-info btn-primary" style="margin-bottom: 5px">
                <i class="fa fa-print" ></i>Print
            </a>
        </td>*@
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>


<div class="">
    @*@if (ViewBag.onlineBookingManifests.Count > 0)
        {*@

    @*<div class="row">
            <div class="col-xs-12">
                <div class="pull-left ">
                    <button type="submit" class="btn btn-success" id="btnEditPassenger" disabled>Edit Passenger</button>
                    <button type="button" class="btn btn-danger" id="btnRemovePassenger" disabled>Remove Passenger</button>
                </div>
            </div>
        </div>*@
    @*}*@
</div>
@using (Html.BeginForm("RemoveIdentifiedTicket", "TerminalBooking", FormMethod.Post, new { area = "Booking", id = "uform" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade col-xs-12" id="removeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Kindly enter the OTP that was sent to your OM</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="removeModalFromController">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- edit modal end -->
}
@using (Html.BeginForm("UpdateIdentifiedTicket", "TerminalBooking", FormMethod.Post, new { area = "Booking", id = "uform" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade col-xs-12" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Kindly enter the OTP that was sent to your OM</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="updateModalFromController">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- edit modal end -->
}
