@model VehicleTripRegistration
@{

    var items = ((IEnumerable<SelectListItem>)ViewBag.Vehicles).ToList();
    var driveritems = ((IEnumerable<SelectListItem>)ViewBag.Drivers).ToList();
    var alldrivers = ((IEnumerable<SelectListItem>)ViewBag.AllDrivers).ToList();

}

<div class="modal-header" style="display:none;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>

<form action="" method="post">
    <style>
        .disabled {
            pointer-events: none;
            background-color: #eeeeee;
        }

        .modal {
            z-index: 9990 !important;
        }

        .avatar{
            vertical-align: middle;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    </style>

    <div class="modal-body">
        @Html.HiddenFor(model => model.VehicleTripRegistrationId)
        @Html.HiddenFor(model => model.RouteId)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @*<ul class="nav-justified">
            <li class="text-center"><span class="avatar avatar-96 img-circle  bg-primary">F</span><p>avatar-96</p></li>
        </ul>*@
        <div class="m--align-center form-group">
            <img src="~/images/logo/logo.png" alt="Avatar" class="m--align-center avatar" id="avartarId">
        </div>

        <div class="form-group">
            <label class="form-label">Available Vehicle(s)</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.PhysicalBusRegistrationNumber, items, "--Select--", new { @class = "form-control m-input dropdown-select2", required = "required", @onchange="updatedriver()" })
                @Html.ValidationMessageFor(model => model.PhysicalBusRegistrationNumber)
            </div>
        </div>


        <div class="form-group validator" id="captaindiv">
            <label class="form-label">Available Driver(s)</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.DriverCode, driveritems, "--Select--", new { @class = "form-control m-input dropdown-select2", required = "required" })
                @Html.ValidationMessageFor(model => model.CaptainCode)
            </div>
        </div>



    </div>

    <div class="modal-footer" style="width:100%;">
        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
        <button id="submitForm" class="btn btn-success" type="submit">Assign Vehicle</button>
    </div>
</form>
@*dedd Assign page*@
@*<script src="~/lib/select2/select2.min.js" type="text/javascript"></script>*@


<script src="~/lib/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/js/custom/gigms.booking.js"></script>

<script>
    $('#PhysicalBusRegistrationNumber').on("change", function () {
                //var routeId = $(this).val();
                //if (routeId) {
                var registrationNo = $("#PhysicalBusRegistrationNumber").find(":selected").val();

                $.getJSON("/terminalbooking/getdriver/?registrationNo=" + registrationNo,
                        function (data) {
                //var options = "<option> Select Trip </option>";

                //for (var idx = 0; idx < data.trips.length; ++idx) {
                //    var trip = data.trips[idx];
                ////    options +=
                ////        "<option value='" + trip.id + "'>" + trip.routeName + "</option>";
                ////}

                ////TripsDropdown.html(options);
                //var options = $("<option />");
                ////options.attr('value', time.id).text(time.departureTime);
                //options.attr('value', data.id).text(time.departureTime + '/' + time.routeId);
                //$('#DriverCode').append(options);

                //$(this).val(data.driverCode);
                //$(this).text(data.driverName);

                //$('#DriverCode select').val(data.driverCode);
                $('#DriverCode option[value=' + data.Code + ']').attr('selected', 'selected');
            //$('#DriverCode').text(data.driverName);
            $('#DriverCode').val(data.Code).change();
            if (data.picture != null)
                $("#avartarId").attr("src", data.picture);
        });
</script>


