﻿@using Transport.WEB.Utils
@model List<AvailabileTripDetail>
@{
    ViewData["Title"] = "Assign Buses to Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .select2-container {
        width: 100% !important;
        padding: 0;
    }
</style>


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Assign Bus
                </h3>
            </div>
        </div>



        @*<div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="~/admin/driver/create" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>New record</span>
                            </span>
                        </a>
                    </li>
                    <li class="m-portlet__nav-item"></li>
                </ul>
            </div>*@
    </div>

    <!-- Begin User Accounts List -->
    <div class="m-portlet__body">

        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Seats Available</th>
                    <th>Departure Date</th>
                    <th>Departure Time </th>
                    <th>Amount</th>
                    <th>Route</th>
                    @*<th>Facilities</th>
                        <th>Vehicle</th>
                        <th>Driver</th>*@
                    <th>Bus Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var count = 0; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>
                            @item.AvailableNumberOfSeats

                        </td>
                        <td>@item.DepartureDate.ToString("dd MMMM, yyyy")</td>
                        <td>@item.DepartureTime</td>
                        <td>@item.FarePrice</td>
                        <td>@item.RouteName   (@item.VehicleName)</td>
                        @*<td>@item.VehicleFacilities</td>
                            <td>@item.PhysicalBus</td>
                            <td>@item.DriverCode</td>*@
                        <td>@item.VehicleName</td>
                        <td class="trip-selection">

                            <a data-toggle="modal" href="#assignModal" class="btn btn-success btn-xs" onclick="LIB_Callvehicletrip('terminalbooking', 'Assign', '@item.VehicleTripRegistrationId', 'assignModalFromController');return false;showmd();"> Assign Bus</a>

                            @Html.Hidden(nameof(item.VehicleTripRegistrationId), item.VehicleTripRegistrationId)
                            @Html.Hidden(nameof(item.AvailableNumberOfSeats), item.AvailableNumberOfSeats)
                            @Html.Hidden(nameof(item.AvailableSeats), item.AvailableSeats.ToDelimitedString())
                            @Html.Hidden(nameof(item.BookedSeats), item.BookedSeats.ToDelimitedString())
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>

    <!-- End User Employees List -->
</div>
@using (Html.BeginForm("AssignPost", "TerminalBooking", FormMethod.Post, new { area = "Booking", id = "uform" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade col-xs-12" id="assignModal" role="dialog" aria-hidden="true" style="overflow:hidden;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    @*<h4 class="modal-title">Dispatch info</h4>*@
                    <div class="row" id="assignModalFromController">

                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- edit modal end -->
}


@section Scripts {
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/js/booking.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script>
        $('#assignModal').on('hidden.bs.modal', function () {
            alert("modal was shown");
        });

        function updatedriver() {
                var registrationNo = $("#PhysicalBusRegistrationNumber").find(":selected").val();

                $.getJSON("/terminalbooking/getdriver/?registrationNo=" + registrationNo,
                        function (data) {
                            $('#DriverCode option[value=' + data.code + ']').attr('selected', 'selected');
                            $('#DriverCode').val(data.code).change();
                            if (data.picture != null)
                                $("#avartarId").attr("src", data.picture);
                        });
        }

   
    </script>
}

