﻿@model TicketSaleModel

@{
    //ViewData["Title"] = "Booking";
    ViewData["Title"] = Model.Manifest.Route.Substring(Model.Manifest.Route.IndexOf('>') + 1);
    Layout = "~/Views/Shared/_Layout.cshtml";
    var routeId = (int)ViewBag.RouteId;
    var ticketToPrintId = (long?)ViewBag.TicketToPrintId;
}


@section styles{

    <style>
        body {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
        }

        #target {
            width: 400px;
            height: 100px;
            border: 1px solid #ccc;
        }

        .readonly {
            font-size: 20px;
            border: none;
            color: #000 !important;
        }

        .readonlyprice {
            font-size: 20px;
            border: none;
            color: #000 !important;
        }

        .table {
            background-color: #f2f3f8;
        }

        .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
            width: 360px !important;
        }

        h4 {
            font-weight: normal;
        }

        .indicator {
            text-align: center;
            border: 1px solid #ccc;
            height: 50px;
            width: 50px;
        }

        .printed {
            background-color: #4CAF50 !important;
            color: white !important;
        }

        .advancedtaken {
            background-color: #8b6914 !important;
            color: white !important;
        }

        .onlinetaken {
            background-color: #ffc125 !important;
            color: white !important;
        }

        .onhold {
            background-color: deepskyblue !important;
            color: white !important;
        }

        .validator {
            display: none;
        }

        .marginAbove {
            margin-top: 20px
        }

        th {
            text-align: center !important;
        }

        h4 {
            font-size: 15px !important;
        }
    </style>

}

@*<div>
        <a href="javascipt:history.back();" class="pull-right btn">
            <span>
                <i class="la la-backward"></i>
                <span>Back</span>
            </span>
        </a>
        <a data-toggle="modal" href="#changeBusModal" class="pull-right btn btn-warning" onclick="GIGMS_Callvehicletrip('terminals/booking', 'changeBus', 'a5274314-fd21-4cf5-a808-15de0e5d6a5b', 'changeBusModalFromController');return false;">
            <span>
                <i class="la la-bus"></i>
                <span>Change Bus Type</span>
            </span>
        </a>
        <a data-toggle="modal" href="#dispatchModal" class="pull-right btn btn-success" onclick="GIGMS_Callvehicletrip('terminals/booking', 'Dispatch', 'a5274314-fd21-4cf5-a808-15de0e5d6a5b', 'dispatchModalFromController');return false;">
            <span>
                <i class="la la-money"></i>
                <span>Enter Dispatch</span>
            </span>
        </a>

        <a onclick="PrintManifestWithoutAmount('a5274314-fd21-4cf5-a808-15de0e5d6a5b')" href="#" title="Print Manifest Without Amount" id="printManifest" class="pull-right btn btn-info">
            <span><i class="la la-print"></i> <span>Print Driver &amp; Account Manifest</span></span>
        </a>
    </div>*@

<div class="col-lg-12">
    <div class="m-portlet">
        <div class="m-portlet__head">

            <div class="col-lg-12 pull-right">


                <a href='@Url.Action("RouteBuses", "TerminalBooking", new { routeId })' class="pull-right btn btn-primary btn-xs kt-margin-10 hidden hide" style="display:none">
                    <i class="flaticon-open-box"></i> Back
                </a>

                <a data-toggle="modal" href="#changeBusModal" class="pull-right btn btn-warning btn-xs kt-margin-10" onclick="LIB_Callvehicletrip('terminalbooking', 'changeBus', '@Model.Manifest.VehicleTripRegistrationId', 'changeBusModalFromController');return false;"><i class="la la-exchange"></i>Change Bus Type</a>
                <a data-toggle="modal" href="#changeRoute-Modal" id="list" class="pull-right btn btn-primary btn-xs kt-margin-10" style="display:none;"><i class="la la-exchange"></i>Change Route</a>

                <a data-toggle="modal" href="#dispatchModal" class="pull-right btn btn-success btn-xs kt-margin-10" onclick="LIB_Callvehicletrip('terminalbooking', 'Dispatch', '@Model.Manifest.VehicleTripRegistrationId', 'dispatchModalFromController',@Model.Manifest.Passengers.Count());return false;"><i class="la la-money"></i>Dispatch Bus</a>
                @*<a data-toggle="modal" href="#dispatchModal" class="pull-right btn btn-success btn-xs kt-margin-10"><i class="flaticon-book"></i> Enter Dispatch</a>*@

                <a onclick="PrintManifestWithoutAmount('@Model.Manifest.VehicleTripRegistrationId')" href="#" title="Print Manifest Without Amount" id="printManifest" class="pull-right btn btn-info btn-xs kt-margin-10">
                    <i class="la la-print"></i> Print Manifests
                </a>
            </div>


        </div>
        <div class="hidden">
            <input type="hidden" name="RouteVehicleId" id="RouteVehicleId" value="" />
            <input type="hidden" name="OnlineVehicleId" id="Vehicles" value="" />
            <input type="hidden" name="localCombinedId" id="localCombinedId" />
            <input type="hidden" name="ticketToPrintId" id="ticketToPrintId" value="@ticketToPrintId" />
            <input type="hidden" name="VehicleTripId" id="VehicleTripId" value="@Model.Manifest.VehicleTripRegistrationId" />
            <input type="hidden" name="Route" id="Route" value="@Model.Manifest.Route" />
            <input type="hidden" name="NonIdAmount" id="NonIdAmount" value="0" />
        </div>

        <div class="m-portlet__body" style="padding: 0px;">
            <div class="row">

                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <h4>
                                    <b>Route:</b> @Model.Manifest.Route
                                </h4>
                            </div>
                            <div class="col-lg-3">
                                <h4>
                                    <b>Model:</b>
                                    @Model.Manifest.VehicleModel
                                </h4>

                            </div>
                            <div class="col-lg-3">
                                <h4>
                                    <b>Vehicle:</b> @Model.Manifest.BusRegistrationNumber
                                </h4>
                            </div>

                            <div class="col-lg-3">

                                <h4>
                                    <b>Driver:</b>  @Model.Manifest.DriverName
                                </h4>
                                <br />

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <h4>
                                    <b>Date Of Travel:</b> @Model.Manifest.DepartureDate.ToString("D")
                                </h4>
                            </div>
                            <div class="col-lg-3">
                                <h4>
                                    <b>Time:</b> @Model.Manifest.DepartureTime
                                </h4>
                            </div>
                            <div class="col-lg-3">
                                <h4>
                                    <b>Main Fare:</b> ₦ @Model.Manifest.Amount
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12" style="font-size:18px; font-weight:bold; margin-bottom:20px;">

                    &nbsp; &nbsp;Seats Available: @foreach (var seat in Model.Booking.RemainingSeat)
                    {
                <span style="padding:10px;" class="btn btn-info font-weight-bold"> @seat</span>}

                </div>
            </div>
            <div class="row kt-margin-10">
                <div class="col-lg-4">
                    <div id="dvCreateTicketResults">
                        @{Html.RenderPartialAsync("_CreateTicketsPartial", Model.Booking);}
                    </div>
                </div>
                <div class="col-lg-8">
                    <div id="dvSoldTicketResults">
                        @{Html.RenderPartialAsync("_SoldTicketsPartial", Model);}
                    </div>

                    @{ var sum = @Model.Manifest.Passengers.Sum(s => s.Amount);
                        decimal sumonline = 0;
                        decimal sumadvancedCash = 0;
                        decimal sumadvancedPos = 0;
                        decimal sumbookonhold = 0;
                        decimal sumposterminal = 0;
                        decimal sumcashterminal = 0;
                        decimal sumagent = 0;
                        //decimal sumreschedule = 0;
                        //decimal sumreroutefee = 0;
                        decimal expense = 0;
                        decimal totalremittance = 0;
                        foreach (var passenger in Model.Manifest.Passengers)
                        {
                            if (passenger.BookingType == BookingType.Online)
                            {
                                sumonline += passenger.Amount.GetValueOrDefault();
                            }
                            else if (passenger.BookingType == BookingType.Advanced && passenger.PaymentMethod == PaymentMethod.Cash)
                            { sumadvancedCash += passenger.Amount.GetValueOrDefault(); }
                            else if (passenger.BookingType == BookingType.Advanced && passenger.PaymentMethod == PaymentMethod.Pos)
                            { sumadvancedPos += passenger.Amount.GetValueOrDefault(); }
                            else if (passenger.BookingType == BookingType.Advanced && passenger.PaymentMethod == PaymentMethod.CashAndPos)
                            {
                                sumadvancedPos += passenger.Amount.GetValueOrDefault() - passenger.PartCash.GetValueOrDefault();
                                sumadvancedCash += passenger.PartCash.GetValueOrDefault();
                            }
                            else if (passenger.BookingType == BookingType.BookOnHold)
                            { sumbookonhold += passenger.Amount.GetValueOrDefault(); }
                            else if (passenger.BookingType == BookingType.Terminal && passenger.PaymentMethod == PaymentMethod.Pos)
                            { sumposterminal += passenger.Amount.GetValueOrDefault(); }
                            else if (passenger.BookingType == BookingType.Terminal && passenger.PaymentMethod == PaymentMethod.Cash)
                            { sumcashterminal += passenger.Amount.GetValueOrDefault(); /*- passenger.Discount.GetValueOrDefault();*/ }
                            else if (passenger.BookingType == BookingType.Terminal && passenger.PaymentMethod == PaymentMethod.CashAndPos)
                            {
                                sumcashterminal += passenger.PartCash.GetValueOrDefault();
                                sumposterminal += passenger.Amount.GetValueOrDefault() - passenger.PartCash.GetValueOrDefault();
                            }
                            else if (passenger.BookingType == BookingType.Agent)
                            {
                                sumagent += passenger.Amount.GetValueOrDefault();
                            }
                        }
                        @*@if (Model.Manifest.DispatchSource == Model.Manifest.BusRegistrationNumber)
                            {totalremittance = sumcashterminal - (Model.Manifest.Dispatch.GetValueOrDefault() + Model.Manifest.RescheduleFee.GetValueOrDefault() + Model.Manifest.Commision.GetValueOrDefault());}
                            else{totalremittance = sumcashterminal;}*@

                        expense = @Model.Manifest.Dispatch.GetValueOrDefault() + @Model.Manifest.Commision.GetValueOrDefault() + @Model.Manifest.Patrol.GetValueOrDefault() + @Model.Manifest.Transload.GetValueOrDefault() + @Model.Manifest.VAT.GetValueOrDefault();
                        totalremittance = sum.GetValueOrDefault() - expense;
                        <div class="panel panel-success mt-30">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label style="font-size:large">Total Cash Sold </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control readonlyprice" type="text" id="txtTotalAmountSold" value="&#x20A6; @sumcashterminal.ToString("N")" style="font-size:large;font-weight:bold;text-align:center" readonly>
                                    </div>


                                    <div class="col-md-4">
                                        <span> Total Sales: @sum </span>
                                        <br />
                                        <span> Total Online: @sumonline </span>
                                        <br />
                                      
                                        <span> Total Advanced Cash: @sumadvancedCash </span>
                                        <br />
                                        <span> Total Advanced POS: @sumadvancedPos </span>
                                        <br />
                                        <span> Total POS at Terminal: @sumposterminal </span>
                                        <br />
                                        <span> Total Cash at Terminal: @sumcashterminal </span>
                                        <br />
                                        @*<span> All Reschedule Fee: @sumreschedule </span>
                                            <br />
                                            <span> All Re-Route Fee: @sumreroutefee </span>
                                            <br />*@
                                        <span> Dispatch Fee: @Model.Manifest.Dispatch.GetValueOrDefault()</span>
                                        <br />
                                        <span> To Remittance:</span>
                                        <span style="font-weight:bold"> @totalremittance </span>
                                        <br />
                                        <br />
                                        @*<a onclick="PrintManifest(@Model.Manifest.VehicleTripRegistrationId)" href="#" title="Print Manifest" class="pull-right btn btn-info">
                                                <i class="fa fa-print"></i> Print Manifest
                                            </a>*@
                                    </div>


                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("UpdateDispatch", "TerminalBooking", FormMethod.Post, new { area = "Booking", id = "uform" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade col-xs-12" id="dispatchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    @*<h4 class="modal-title">Dispatch info</h4>*@
                    <div class="row" id="dispatchModalFromController">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- edit modal end -->
}

@using (Html.BeginForm("UpdateBusType", "TerminalBooking", FormMethod.Post, new { area = "Booking", id = "uform" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade col-xs-12" id="changeBusModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="width:100%;">
                    <h4 class="modal-title">Kindly Select a New Bus Type.</h4>
                    <div class="row" id="changeBusModalFromController">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- edit modal end -->
    <!-- Change Route Modal-->

    <div class="modal fade col-xs-12" id="changeRoute-Modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="width:100%;">
                    <h4 class="modal-title">Kindly Select a New Route.</h4>
                    <div class="modal-body">
                        <form action="" id="routeModal" method="post">
                            <div class="modal-body">

                                <div class="form-group">
                                    <label class="form-label">Select New Route</label>

                                    <div class="form-group">
                                        <select id="routeId1" name="routeId1" class="form-control dcode m-input dropdown-select2" aria-invalid="false">
                                            <option>Select Route</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="tripId" name="tripId" class="form-control dcode m-input dropdown-select2 " aria-invalid="false">
                                            <option>Select Trip</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">New Fare in ₦ </label>
                                        <input type="text" class="form-control" id="newFare" readonly disabled />
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer" style="width:100%;">
                                <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                                <button id="submitUpdateForm" class="btn btn-success" onclick="return UpdateVeh()" type="button">Submit</button>
                            </div>
                            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                                </span>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- edit modal end -->
}
@section Scripts {

    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/js/booking.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.Core.js"></script>
    <script src="~/js/jquery.copy-to-clipboard.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
    <script type="text/javascript">
    $('.copybrn').on("click", function () {
       toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "2000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
};
    toastr.success("Booking reference copied");
    });
        var getCanvas; // global variable
        $(document).on("click",
            "#btnSaveToManifest",
            function () {
                var phonelngt = $(".phonenumpax").val().length;
                var nokphonelngt = $(".nokphone").val().length;
                var paxphone = $('.phonenumpax').val();
                var FirstName = $('.firstname').val();
                var NextOfKinName = $('.nokname').val();
                var NextOfKinPhone = $('.nokphone').val();
                if (paxphone == "") {
                    swal("Enter passenger phone");
                    return false;
                    $('.phonenumpax').focus();
                }
                else if (phonelngt < 10) {
                    swal("Phone number must be a minimum of 11 digits");
                    return false;
                }
                else if (nokphonelngt < 10) {
                    swal("Next of Kin Phone number must be a minimum of 11 digits");
                    return false;
                }
                else if ($(".phonenumpax").val() == $(".nokphone").val()) {
                    swal("Next of Kin phone number cannot be not be the same as your phone number");
                    return false;
                }
                else if (FirstName == "") {
                    swal("Enter First Name");
                }
                      else if (NextOfKinName == "") {
                    swal("Enter next of Kin Name");
                    return false;
                }
                else if (NextOfKinPhone == "") {
                    swal("Enter next of Kin Phone");
                }


                var paymentMethod = document.getElementById("PaymentMethod").value;
                var partCash = document.getElementById("PartCash").value;
                var posRefer = document.getElementById("PosRef").value;
               // alert(paymentMethod);
                if (paymentMethod === "13" && partCash === "") {
                    $('#CashPos').removeClass('validator');
                    $('#partcashcheck').removeClass('validator');


                    return false;
                } else {
                    $('#partcashcheck').addClass('validator');
                }

                if (paymentMethod === "1" && posRefer === "") {
                    $('#PosReferen').removeClass('validator');
                    $('#posrefcheck').removeClass('validator');


                    return false;
                } else {
                    $('#posrefcheck').addClass('validator');
                }
                $(this).attr("disabled", "disabled");
                $('#ticketSales-form').submit();

            });
        //$(document).on("click", "#updateticket", function () {
        //    alert("in here...");

        //    //$('#SubrouteId').attr('readonly', true);
        //    //$('#SubrouteId').attr('readonly', true);
        //    //$('#SubrouteId').attr('readonly', true);

        //});
          function updatedriver() {
        alert("me");
    }


        $(document).ready(function() {
            $("#PaymentMethod").val(0);
            qz.websocket.connect().then(function() {
                //alert("Connected!");
            });
            var mainBookerId = $('#ticketToPrintId').val();
            // alert(mainBookerId);
            if (mainBookerId != "") {
                // alert(mainBookerId);
                ReprintTicket(mainBookerId);
                $('#ticketToPrintId').val("");
            }

            var updateTicket = $('#updateTicket').val();
            var manifestprinted = $('#manifestprinted').val();
            // alert(mainBookerId);
            if (updateTicket != "") {
                $('#SubrouteId').prop('disabled', true);
                $('#PassengerType').prop('disabled', true);
                //$('#LastName').attr('readonly', true);
            }
          //  alert(manifestprinted);
            if (manifestprinted == "0") {
                $('#btnAddRefcode').show();
                $('#dvbtnSaveToManifest').show();
                $('#dvbtnUpdateToManifest').show();
                $('#addenablediv').addClass('validator');
                //$('#LastName').attr('readonly', true);
            }
            else
            {
                $('#btnAddRefcode').hide();
                $('#dvbtnSaveToManifest').hide();
                $('#dvbtnUpdateToManifest').hide();
                $('#addenablediv').removeClass('validator');

            }
            // the selector will match all input controls of type :checkbox
            // and attach a click event handler


        });


        $(document).on("click",
          "#validateadd",
          function () {
              var otp = $('#otpadd').val();
              if (otp !== "") {
                  $('#invalidotpcheck').addClass('validator');
                   $.get('@Url.Action("VerifyOtp", "TerminalBooking")?otp=' + otp,

                      function (result) {
                          if (result) {
                              $('#btnAddRefcode').show();
                              $('#dvbtnSaveToManifest').show();
                              $('#otpinvalid').addClass('validator');
                              $('#addenablediv').addClass('validator');


                          } else {
                              $('#btnAddRefcode').hide();
                              $('#dvbtnSaveToManifest').hide();
                              $('#otpinvalid').removeClass('validator');
                              $('#addenablediv').removeClass('validator');

                          }

                      });
              } else {
                  $('#invalidotpcheck').removeClass('validator');

              }
          });



        function printToXPS(dataId) {
            $("#dvTicketImage").css("transform: scale(2, 2)");
            $("#dvTicketImage").dialog();
            $("#dvTicketImageOut").dialog();
            //1.
            html2canvas($("#dvTicketImage"),
            {
                onrendered: function(canvas) {
                    //alert("Inside Canvas");
                    $("#dvTicketImageOut").append(canvas);
                    getCanvas = canvas;

                    // alert("Inside html canvas " + dataId);
                    //2.
                    var imageData = getCanvas.toDataURL("image/jpeg", 1.0);

                    var newImageData = imageData.replace(/^data:image\/jpeg/, "data:application/octet-stream");

                    var base64Image = newImageData.split(',')[1];
                    //alert(base64Image);
                    qz.printers.find("BIXOLON").then(function(printer) {
                        //qz.printers.find("XPS").then(function (printer) {
                        //alert("Printer: " + printer);
                        var config = qz.configs.create(printer); // Create a default config for the found printer

                        var data = [
                            {
                                type: 'image',
                                format: 'base64',
                                data: base64Image
                            }
                        ];
                        // alert("just b4 qz printing" + dataId);
                        return qz.print(config, data);

                    }).catch(function(e) {
                        closePrintTicketDialog();
                        console.error(e);
                    });

                    //3.

                }
            });

            //4. close dialog

            //uncomment

            $("#dvTicketImage").html("");
            $("#dvTicketImageOut").html("");

            $("#dvTicketImage").dialog("close");
            $("#dvTicketImageOut").dialog("close");

            //Uncomment


            //Codes to be removed after debugging...
            //qz.printers.find("BIXOLON").then(function (found) {
            //    alert("Printer: " + found);
            //}).catch(function (e) {
            //    console.error(e);
            //    alert("An error occurred could not find printer");
            //});


        }


        function closePrintTicketDialog() {
            //4. close dialog

            //uncomment

            $("#dvTicketImage").html("");
            $("#dvTicketImageOut").html("");

            $("#dvTicketImage").dialog("close");
            $("#dvTicketImageOut").dialog("close");

            //uncomment
        }

        function ReprintTicket(dataId) {

            // alert("Inside Print function-" + dataId);
             //alert("just inside Reprint " + dataId);
            $.get('@Url.Action("PrintTicket", "TerminalBooking")?Id=' + dataId,
                function (data) {
                    //alert("Success Reprint " + data);
                    $('#dvTicketImage').html(data);
                    //   alert("after getting data Reprint" + dataId);
                    printToXPS(dataId);
                    //
                    //printContent("dvTicketImage");
                });
            //setTimeout(function () { $("#dvSoldTicketResults").load(location.href + " #dvSoldTicketResults>*", ""); },
            //        10);

        }

        function PrintAllTicket(dataId) {
            // alert("Inside Print function-" + dataId);
            $.get('@Url.Action("PrintAllTicket", "TerminalBooking")?VehicleTripRegistrationId=' + dataId,
                function(data) {
                    $('#dvTicketImage').html(data);
                    printToXPS(dataId);
                    //alert(dataId);
                    //var seatManagementId ;
                    //for (var property in data) {

                    //    seatManagementId = data[property].seatManagementId;
                    //    alert("b4 Reprint"+seatManagementId);
                    //    ReprintTicket(seatManagementId);

                    //}

                });

        }

        function PrintManifest(dataId) {

            $.get('@Url.Action("ManifestPrint", "TerminalBooking")?VehicleTripRegistrationId=' + dataId,
                function(data) {
                    $('#dvManifestImage').html(data);
                    // alert("I dey here");
                    printContent("dvManifestImage");
                });

        }

        function PrintManifestWithoutAmount(dataId) {
            var dispatchfee = null;
            var commissionfee = null;
            var isCommision = null;

            var r = confirm("Are you sure you want to print the manifest?");
            if (r === true)
            {
                //$('#printManifest').click(function () { });
                    $.get('@Url.Action("DispatchValidate", "TerminalBooking")?vehicleTripRegistrationId=' + dataId,
                    function (data)
                    {
                        dispatchfee = data.dispatch;
                        commissionfee = data.commision;
                        isCommision = data.isCommision;

                        if (dispatchfee == "" || dispatchfee == null || dispatchfee == "0") {
                            swal("Enter your dispatch before printing manifest");
                        }
                        else if ((commissionfee == "" || commissionfee == "0") && isCommision === true) {
                            swal("Enter your commission before printing manifest");
                        }
                        else {
                            // alert("You pressed OK!");
                            $('#printManifest').hide();
                            $('#btnAddRefcode').hide();
                            $('#dvbtnSaveToManifest').hide();
                            $('#dvbtnUpdateToManifest').hide();
                            $('#addenablediv').removeClass('validator');
                            //$('#manifestprinted').val(1);
                             $.get('@Url.Action("ManifestPrintWithoutAmount", "TerminalBooking")?VehicleTripRegistrationId=' + dataId,
                                function (data) {
                                    $('#dvManifestImage').html(data);
                                    printContent("dvManifestImage");
                                });
                            $.get('@Url.Action("ManifestPrint", "TerminalBooking")?VehicleTripRegistrationId=' + dataId,
                                function (data) {
                                    $('#dvManifestImage').html(data);
                                    // alert("I dey here");
                                    printContent("dvManifestImage");
                                });
                                setTimeout(function () { $("#dvSoldTicketResults").load(location.href + " #dvSoldTicketResults>*", ""); },
                                    20000);
                            setTimeout(function () { $('#printManifest').show(); }, 15000);
                        }
                    }
                );
            }

        }

        function printContent(el) {
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            window.print();
            document.body.innerHTML = restorepage;
        }

        function getFare() {
            var subrouteId = document.getElementById("SubrouteId").value;
            var vehicleTripId = $('#VehicleTripId').val();
            //  alert(x+'a'+vehicleTripId);
            $.get('@Url.Action("GetFare", "TerminalBooking")?subRoute=' + subrouteId + ',' + vehicleTripId,
                function(data) {
                    $('#Amount').val(data);
                    $('#subrouteCheck').removeClass("hidden");
                });
        }

        function getPartCash() {
            var paymentMethod = document.getElementById("PaymentMethod").value;
            //alert(paymentMethod);
            if (paymentMethod === "13") {


                $('#CashPos').removeClass('validator');


            } else {
                $('#CashPos').addClass('validator');
            }

            if (paymentMethod === "1") {


                $('#PosReferen').removeClass('validator');


            } else {
                $('#PosReferen').addClass('validator');
            }
        }

        function getPassengerFare() {
            var subrouteId = document.getElementById("SubrouteId").value;
            var vehicleTripId = $('#VehicleTripId').val();
            var passengerType = $('#PassengerType').val();
            //alert(subrouteId);
            $.get('@Url.Action("GetPassengerFare", "TerminalBooking")?passengerInfo=' +
                passengerType +
                ',' +
                subrouteId +
                ',' +
                vehicleTripId,
                function(data) {
                    $('#Amount').val(data);
                    //$('#subrouteCheck').removeClass("hidden");

                });
        }

        function getMainFare() {

            var vehicleTripId = $('#VehicleTripId').val();
            //  alert(x+'a'+vehicleTripId);
            $.get('@Url.Action("GetMainFare", "TerminalBooking")?vehicleTrip=' + vehicleTripId,
                function(data) {
                    $('#Amount').val(data);
                    $('#RefcodeAmount').val(data);
                    $('#subrouteCheck').addClass("hidden");
                    $('#refcodesubrouteCheck').addClass("hidden");
                    $('#SubrouteId').val(0);
                    $('#RefcodeSubrouteId').val(0);

                });
        }

        function getRefcodeFare() {
            var subrouteId = document.getElementById("RefcodeSubrouteId").value;
            var vehicleTripId = $('#VehicleTripId').val();
            //  alert(x+'a'+vehicleTripId);
            $.get('@Url.Action("GetFare", "TerminalBooking")?subRoute=' + subrouteId + ',' + vehicleTripId,
                function(data) {
                    $('#RefcodeAmount').val(data);
                    $('#refcodesubrouteCheck').removeClass("hidden");

                });
        }

        function AllowDiscount() {
            var otp = $('#otp').val();
            var amount = $('#Amount').val();
            var discount = $('#discountedit').val();
            var maxdiscount = amount * 0.3;
           // alert(maxdiscount + ":" + discount);
            $.get('@Url.Action("VerifyOtp", "TerminalBooking")?otp=' + otp,
                function(data) {
                    //alert(data);
                    if (data && maxdiscount >= discount) {
                        $('#Discount').val($('#discountedit').val());

                        $('#discountModal').modal('hide');
                    } else {
                        $("#discountmessage").show();
                    }

                });

        }

        function getDetailsByPhone() {
            var phone = document.getElementById("PhoneNumber").value;

            //  alert(x+'a'+vehicleTripId);
            $.get('@Url.Action("getDetailsByPhone", "TerminalBooking")?phone=' + phone,
                function(data) {
                    // alert(data);
                    OnPhoneChangeSuccess(data);

                });
        }

        function OnPhoneChangeSuccess(data) {
            if (data != null) {
                $("#FirstName").val(data.firstName);
                $("#LastName").val(data.lastName);
                $("#NextOfKinName").val(data.nextOfKinName);
                $("#NextOfKinPhone").val(data.nextOfKinPhoneNumber);
                $("#Gender").val(data.gender);
                $("#PassportType").val(data.passportType);
                $("#PassportId").val(data.passportId);
                $("#IssuedDate").val(data.issuedDate);
                $("#ExpiredDate").val(data.expiredDate);
                $("#PlaceOfIssue").val(data.placeOfIssue);
                $("#Nationality").val(data.nationality);

            } else {

            }
        }

 function UpdateVeh() {
             $("#sloader").show();
            var routesId = $("#routeId1").find(":selected").val();
            var oldtripid = $("#VehicleTripId").val();
            var trips = $("#tripId").find(":selected").val();
            if (routesId == "") {
                swal("Select Route")
                 $("#sloader").hide();
                return false;
            }
            else if (trips == "Select Trip") {
                swal("Select trip");
                 $("#sloader").hide();
                return false;
            }
            else {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("UpdateTrip", "TerminalBooking")',
                    data: {
                        newTripId: trips,
                        vehicleTripReg: oldtripid,
                        routeId: routesId
                    },
                    success: function (response) {
                        if (response)
                            swal("Done!", "Route Successfully Changed", "success");
                        setTimeout(function () {
                            window.location.replace(window.location.href);
                        }, 1000);
                        document.getElementById("changeRoute-Modal").reset();
                    }
                });
                return true;
            }

        }

        //Reset value of Change Route Modal
        $("#resetFor").click(function (e) {
            $('#routeId1').select2("val", 0);
            $('#tripId').select2("val", '');
            $('#newFare').val('');
        });


        //this script for loading dropdowns for change route
        $("#list").click(function () {
            $("#sloader").show();
            var RouteDropDown = $("#routeId1");
            var o = new Option("Select Route", "");
            $.get(('@Url.Action("changeRoute", "TerminalBooking")'), function (data) {
           // $.getJSON(request, { format: "json" }, function (data) {
                 RouteDropDown.children().remove();
                 RouteDropDown.append(o);
                // o.attributes('selected', true);

                for (var idx = 0; idx < data.length; idx++) {
                    var time = data[idx];
                    var options = $("<option />");
                    options.attr('value', time.id).text(time.name);

                    RouteDropDown.append(options);
                    //$.unblockUI();
                }

                $("#sloader").hide();
            });
        });

        $(document).ready(function () {
            $("#IsGhanaDiv").hide();
            var vRouteName = '@Model.Manifest.Route';
            var vRouteNameb = '@Model.Manifest.Route.Substring(Model.Manifest.Route.IndexOf('>') + 1)';

                if (vRouteName.indexOf("Accra") >= 0) {
                    $("#IsGhanaDiv").show();
                    $("#PassportTypeb").hide();
                } else {
                    $("#IsGhanaDiv").hide();
                    $("#PassportTypeb").hide();
                }
            $('.dropdown-select2').select2({ width: '100%' });
        });
        $(document).on("change", "#routeId1", function () {
             var routesId = $("#routeId1").find(":selected").val();
            var modelId = '@Model.Manifest.VehicleModel';
            $.get(('@Url.Action("GetNewTripDetails", "TerminalBooking")') + "/?routeid=" + routesId + "&/?modelId=" + modelId, function (data) {
                var TripDropDown = $("#tripId");
                var o = new Option("Select Trip", "0");
                 TripDropDown.children().remove();
                 TripDropDown.append(o);
                for (var idx = 0; idx < data.length; idx++) {
                    var time = data[idx];
                    var options = $("<option />");
                    options.attr('value', time.id).text(time.departureTime);

                    TripDropDown.append(options);
                    //$.unblockUI();
                }
            });
        });

        $(document).on("change", "#tripId", function () {
            var routesId = $("#routeId1").find(":selected").val();
            var trips = $("#tripId").find(":selected").val();
            //var trips = $("tripId").find(":selected").val();
            //$("#sloader").show();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetNewFare", "TerminalBooking")',
                data: {
                    routeId: routesId,
                    tripId: trips
                },
                success: function (response) {
                    $("#newFare").val(response);
                    //alert("Success!..");
                    //window.location.href = "TerminalBooking/index";
                }
            })
             //$("#sloader").hide();
        });

        $(document).on("change", "#PassportType", function () {
            var passportype = $("#PassportType").find(":selected").text();
            var amount = $('#Amount').val();
            if (passportype === 'Others') {
                $("#PassportTypeb").show();
            } else {
                $("#PassportTypeb").hide();
            }

            if (passportype != '' ) {
                var routes = "@Model.Manifest.Route";
                var trips = '@Model.Booking.TripType';
                var routeId = parseInt(@ViewBag.RouteId);
                var GetNonIDAmount = "";
                var fareId = parseInt($('#PassportType').find(":selected").val());
                var amount = "@Model.Manifest.Amount";

                $.get(('@Url.Action("GetNonIdAmount", "TerminalBooking")') + "/?routeid=" + routeId + "&fareId=" + fareId, function (data)
                {
                    //$("#NonIdAmount").val(response);
                    //var GetNonIDAmount = $("#Amount").val();
                    var GetNonIDAmount = parseFloat(amount);

                    GetNonIDAmount = parseFloat(GetNonIDAmount) + parseFloat(data);

                    $("#Amount").val(GetNonIDAmount);
                });




            } else {

            }

        });




    </script>
    <script>
        $(document).ready(function (e) {
            $.ajaxSetup({ cache: false });
            //setInterval(function () { $("#dvSoldTicketResults").load(location.href + " #dvSoldTicketResults>*", ""); }, 10000);
            //setInterval(function () { $("#selectedSeats").load(location.href + " #selectedSeats>*", ""); }, 10000);

            $(function () {
                $(".phonenumpax ").focus();
            });
        });
    </script>

}
