@model VehicleTripRegistration

<form action="" method="post">
    <div class="modal-body">
        @Html.HiddenFor(model => model.VehicleTripRegistrationId)
    
        @Html.HiddenFor(model => model.OriginalModelId)
        @Html.HiddenFor(model => model.RouteId)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
       
        <div class="form-group" style="display:none;">
            <label class="form-label label-info" style="color:white; font-size:large;padding:5px">Current Bus Type: @Model.VehicleModel</label>
            @*<div class="controls">
                <input value="" class="form-control" style="font-size:large;padding:5px" readonly="readonly"/>
            </div>*@
        </div>
        <div class="form-group">
            <label class="form-label">Select New Bus Type</label>
            <div class="controls">
                <select id="VehicleModelId" name="VehicleModelId"  class="form-control">
                    <option value="3">Hiace</option>
                    <option value="7">Mover</option>
                    <option value="8">Siena</option>
                </select>
            </div>
        </div>

    </div>

    <div class="modal-footer" style="width:100%;">
        <button data-dismiss="modal" class="btn btn-default" type="button">CLOSE</button>
        <button id="submitForm" class="btn btn-success" type="submit">Submit</button>
    </div>
</form>
