﻿@model TerminalBookingModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Create Bus</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Travel Details
                            </h3>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("CreateBusPost", "TerminalBooking", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                {
                    <div class="m-form__section m-form__section--first">

                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="VehicleModelId">Route :</label>
                            <div class="col-lg-6">
                                <select asp-for="RouteId" class="form-control m-input dropdown-select2Route routei" asp-items="ViewBag.Routes as IEnumerable<SelectListItem>">
                                    <option value="" id="RouteId">Select a Route</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="RouteId"></span></div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="TripId">Trip :</label>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(model => model.TripId, (SelectList)ViewBag.Trips, "Select Trip", new { @class = "form-control m-input dropdown-select2 tript", required = "required" })
                                @Html.ValidationMessageFor(model => model.TripId)
                                @*<select asp-for="TripId" class="form-control m-input dropdown-select2" asp-items="ViewBag.Trips as IEnumerable<SelectListItem>">
                                        <option value="">Select a Trip</option>
                                    </select>
                                    <div class="form-control-feedback"><span asp-validation-for="TripId"></span></div>*@
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="VehicleModelId">Vehicle :</label>
                            <div class="col-lg-6">
                                <select asp-for="VehicleId" class="form-control m-input dropdown-select2 vh" asp-items="ViewBag.Vehicles as IEnumerable<SelectListItem>">
                                    <option value="" id="VehicleId">Select a Vehicle</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="VehicleId"></span></div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="VehicleModelId">Driver :</label>
                            <div class="col-lg-6">
                                <select asp-for="DriverCode" class="form-control m-input dropdown-select2 drv" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                                    <option value="" id="DriverCode">Select a Driver</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="DriverCode"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6 m--align-right">
                                    <button type="submit" class="btn btn-danger" onclick="return val()">Create Bus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/select2/select2.js"></script>
<script type="text/javascript">
            
    function val() {
        var drcode = $('.drv').val();
        var vhnum = $('.vh').val();
        var routename = $('.routei').val();
         if (routename == "") {
            swal("Select a route")
            return false;
        }
       //else if ($(".tript").not(":contains('==')"))
       // {
       //      swal("Select trip")
       //     return false;
       // }
        else if (vhnum == "")
        {
            swal("Select Vehicle number")
            return false;
        }
        else if (drcode == "") {
            swal("Select a driver")
            return false;
         }
        else {
            return true;
        }
    }

    $(document).ready(function () {
       

        $('.dropdown-select2').select2()
        $('.dropdown-select2Route').select2().on("change", function () {
            var routeId = $(this).val();
            if (routeId) {
                var TripsDropdown = $("#TripId");

                $.getJSON("/terminalbooking/routetrips/" + routeId,
                    function (data) {
                        var options = "<option> Select Trip </option>";

                        for (var idx = 0; idx < data.trips.length; ++idx) {
                            var trip = data.trips[idx];
                            options +=
                                "<option value='" + trip.id + "'>" + trip.routeName + "</option>";
                        }

                        TripsDropdown.html(options);
                    });
            }

        });

        $('#VehicleId').on("change", function () {
            var registrationNo = $("#VehicleId").find(":selected").val();
                $.getJSON("/terminalbooking/getbusdriver/?registrationNo=" + registrationNo,
                    function (data) {             
                        //$('#DriverCode select').val(data.driverCode);
                        $('#DriverCode option[value=' + data.driverCode + ']').attr('selected', 'selected');
                        //$('#DriverCode').text(data.driverName); 
                        $('#DriverCode').val(data.driverCode).change();
                    });
            //}

        });
    });
</script>