



<style>
    .disabled {
        pointer-events: none;
        background-color: #eeeeee;
        cursor: not-allowed;
    }
    .discounthide {
        display:none
    }
</style>

<form action="" method="post">
    <div class="modal-body">
        
        <div style="text-align:center">
            
            <span class="label label-danger discounthide" id="discountmessage"> Invalid OTP or discount Limit exceeded</span>

        </div>

            <div class="form-group">
                <label class="form-label">OTP</label>
                <div class="controls">
                    <input type="text" required class="form-control" id="otp" name="otp" />

                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Discount</label>
                <div class="controls">
                    <input type="number" min="0" required class="form-control" id="discountedit" name="discountedit" value="0.0" />

                </div>
            </div>


        </div>

    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
        <button id="submitForm" class="btn btn-danger" type="button" onclick="AllowDiscount()">Apply</button>
    </div>
</form>

