@model Manifest
@{

}

<form action="" method="post">
    <div class="modal-body">
        @Html.HiddenFor(model => model.VehicleTripRegistrationId)
        @Html.HiddenFor(model => model.RouteId)
        @Html.HiddenFor(model => model.ManifestManagementId)
        @Html.HiddenFor(model => model.NumberOfPassengers)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <style>
            .modal-title {
                margin: 0;
                line-height: 1.42857143;
            }

            .close {
                float: right;
                font-size: 21px;
                font-weight: 700;
                line-height: 1;
                color: #000;
                text-shadow: 0 1px 0 #fff;
                filter: alpha(opacity=20);
                opacity: .2;
            }

            button.close {
                padding: 0;
                cursor: pointer;
                background: 0 0;
                border: 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            .modal-header .close {
                margin-top: -2px;
            }

            .btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
                display: table;
                content: " ";
            }

            .btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
                clear: both;
            }
        </style>
        <div class="form-group">
            <label class="form-label">Enter Dispatch</label>
            <div class="controls">
                @Html.EditorFor(model => model.Dispatch, new { htmlAttributes = new { @class = "form-control ", @type = "number", @min = "0", required = "required" } })
                @Html.ValidationMessageFor(model => model.Dispatch)
            </div>
        </div>
   
        <div class="form-group">

            <div class="controls">
                <button data-dismiss="modal" class="btn btn-default" type="button">CLOSE</button>
                <button id="submitForm" class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </div>

    @*<div class="modal-footer">
      
    </div>*@
</form>
