﻿@model List<TerminalBookingModel>
@{
    ViewData["Title"] = "Managers Routes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .terminallst {
        border: 1px #ccc solid;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        text-align: center;
        color: #424141 !important;
        box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
        -webkit-box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
        -moz-box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
        -o-box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
        -ms-box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
    }
</style>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                MANAGERS ROUTES
            </h3>
        </div>
    </div>
    <div class="m-portlet__body">
        @if (Enumerable.Count(ViewBag.Routes) > 0)
        {
            int length = Enumerable.Count(ViewBag.Routes);
            int left = length;
            int start = 0;
            int count = 5;
            int stop = count;
            while (left >= count)
            {
        <div class="row">
            @{
                foreach (var item in (List<RouteModel>)ViewBag.Routes.GetRange(start, count))
                {
            <div class="col-md-4">
                <a href="@Url.Action("AssignRouteBuses", "TerminalBooking", new {area = "Booking", routeId = @item.Id })">

                    <div class="r4_counter db_box terminallst">
                        <i class="pull-left la la-car"></i>
                        <div class="stats">
                            <h4>
                                <strong>
                                    @item.Name
                                </strong>
                            </h4>
                            <span>Route</span>
                        </div>
                    </div>

                </a>
            </div>
                }
                start = stop;
                stop = start + count;
                left -= count;
            }
        </div>
            }

            <div class="row">
                @{
                    foreach (var item in (List<RouteModel>)ViewBag.Routes.GetRange(start, left))
                    {
                <div class="col-md-4">
                    <a href="@Url.Action("AssignRouteBuses", "TerminalBooking", new {area = "Booking", routeId = @item.Id })">

                        <div class="r4_counter db_box terminallst">
                            <i class="pull-left la la-car"></i>
                            <div class="stats">
                                <h4>
                                    <strong>
                                        @item.Name
                                    </strong>
                                </h4>
                                <span>Route</span>
                            </div>
                        </div>

                    </a>
                </div>
                    }

                    for (int i = 1; i <= (count - left); i++)
                    {
                        <div></div>
                    }

                }

            </div>

        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <h3>No Route!</h3>
                </div>
            </div>
        }
    </div>
    </div>





