@model SeatManagement

<style>
    * {
        box-sizing: border-box;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
    }

    ul {
        margin: 0;
    }

    .container {
        width: 300px;
        font-family:  Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid #333;
        background-color: #fff;
    }

    #menu-outer {
        /*background-color: #333;*/
    }

    .table {
        display: table; /* Allow the centering to work */
        margin: 0 auto;
    }

    ul.horizontal-list {
        min-width: 250px;
        list-style: none;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
    }

    ul.horizontal-list li {
        display: inline-block;
        color: #fff;
        font-size: 15px;
        text-align: center;
        width: 32%;
        font-weight: bold;
    }

    ul.horizontal-list.head-txt li {
        color: #000;
    }

    ul.head-txt2 li {
        width: 49%;
        display: inline-block;
        color: #fff;
        font-size: 13px;
        text-align: center;
    }

    .table-last {
        border-bottom: 1px dashed #000;
    }

    .ticket-content {
        padding: 5px 0;
        border-bottom: 1px dashed #000;
    }

    .ticket-content p {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: #000;
    }

    .ticket-content img {
        display: block;
        margin: 20px auto;
    }

    .route-date ul {
        list-style: none;
        padding-left: 0;
    }

    .route-date li {
        font-size: 15px;
        margin-top: 5px;
        text-align: center;
        font-weight: bold;
        color: #000;
    }

     * {
        box-sizing: border-box;
    }

    ul {
        margin: 0;
    }

  
    #menu-outer {
        /*background-color: #333;*/
    }

    .table {
        display: table; /* Allow the centering to work */
        margin: 0 auto;
    }

    ul.horizontal-list {
        min-width: 250px;
        list-style: none;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
    }


    ul.horizontal-list.head-txt li {
        color: #000;
    }

    ul.head-txt2 li {
        width: 49%;
        display: inline-block;
        color: #fff;
        font-size: 10px;
        text-align: center;
    }

    .table-last {
        border-bottom: 1px dashed #000;
    }

    .ticket-content {
        padding: 5px 0;
        border-bottom: 1px dashed #000;
    }

    .ticket-content p {
        text-align: center;
        font-size: 12px;
    }

    .ticket-content img {
        display: block;
        margin: 20px auto;
    }

    .route-date ul {
        list-style: none;
        padding-left: 0;
    }

    .route-date li {
        font-size: 12px;
        margin-top: 5px;
        text-align: center;
    }



/*New CSS*/

    .container {
        width: 300px;
        font-family: Arial, Helvetica, sans-serif !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid #333;
        overflow: auto;
        font-size: 14px;
        font-weight:bold !important;
    }

    .centert {
        text-align: center;
    }

    .table-last {
        border-bottom: 1px solid #000;
    }

    .colsm4 {
        width: 35%;
        float: left;
        padding-left: 5px;
    }

    .colsm8 {
        width: 65%;
        float: left;
        padding-left: 5px;
    }

    .fulls {
        width: 100%;
        float: left;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
    }

    .flotleft {
        float: left;
    }

    .logoarea {
        padding-top: 10px;
    }

    .fulls p {
        font-weight: bold;
        font-size: 15px;
    }

    .colsm8 p {
        font-size: 15px;
    }

    .bottominfo {
        padding: 2px;
        font-size: 10px;
        text-align: center;
        width: 96%;
        margin-bottom: 8px;
        margin-top: 8px;
    }
</style>


<div class="container" style="font-family:  Arial, Helvetica, sans-serif !important; font-weight:bold;">
    <div id="menu-outer">
        <div class="logoarea centert">
            <img src="http://deltaline.com/dist/img/deltaLine-logo.png" alt="Logo" />
            <br /><br />
        </div>
        <div class="ticket-title centert">
            <h4 style="font-weight:bold">BUS TICKET</h4>
        </div>
        <div class="table-last flotleft" style="width:100%; float:left;">
            
            <div class="colsm4">
                <div class="fulls">
                    <p>ROUTE:</p>
                    <p>PRICE:</p>
                    <p>BUS NO.:</p>
                    <p>DATE:</p>
                    <p>TIME:</p>
                    <p>REF#:</p>

                </div>
            </div>
            <div class="colsm8">
                <p>@Model.RouteName</p>
                <p>&#x20a6;@Model.Amount</p>
                <p style="font-size: 15px;">&nbsp; @Model.VehicleName</p>
                <p>@Model.DepartureDate.GetValueOrDefault().ToString("MMMM dd, yyyy")  </p>
                <p>@Model.DepartureTime </p>
                <p>@Model.BookingReferenceCode </p>

            </div>
        </div>
        <div class="route-date">
            <ul>
                @if (Model.IsRescheduled)
                {
                    <li>RESCHEDULE FEE : #500</li>
                }
                @if (Model.IsRerouted)
                {
                    <li>REROUTE FEE : #500</li>
                }
            </ul>
        </div>
        <div class="table-last flotleft" style="width:100%;">
            <div class="colsm4">
                <div class="fulls">
                    <p>   NAME:</p>
                    <p>   SEAT NO.:</p>

                </div>
            </div>
            <div class="colsm8">
                <p>@Model.FullName</p>
                <p style="font-size: 15px;"> @Model.SeatNumber </p>
            </div>
        </div>
        <div class="flotleft bottominfo">
            <strong>Note:</strong> Tickets are non-refundable after purchase<br />
               <strong>Excess Luggage  is not allowed</strong><br />
            For enquires: 000000000000
        </div>
    </div>
 </div>
