﻿@model List<AvailabileTripDetail>
@{
    ViewData["Title"] = "Terminals";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var routeId = (int)ViewBag.RouteId;
}

@*<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All terminals configured for use on the platform. You can <a href="~/admin/driver/create" target="_blank">Add New</a> if it doesnt already exist.
    </div>
</div>*@


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Journeys
                </h3>
            </div>
        </div>
        @*<div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="~/admin/driver/create" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>New record</span>
                            </span>
                        </a>
                    </li>
                    <li class="m-portlet__nav-item"></li>
                </ul>
            </div>*@
    </div>

    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>Available Seats</th>
                    <th>Depature Date</th>
                    <th>Time</th>
                    <th>Fare</th>
                    <th>Route</th>
                    <th>Vehicle Model</th>
                    <th>Reg Number</th>
                    <th>Driver</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var bustype = item.VehicleName;
                    var availableseat = item.AvailableNumberOfSeats;
                    if(bustype == "Toyota (Hiace Ex)")
                    {
                        availableseat = availableseat - 1;
                    }
                    else if(bustype == "Toyota (Hiace Super Ex)")
                    {
                        availableseat = availableseat - 3;
                    }

                <tr>
                    <td> @availableseat </td>
                    <td>@item.DepartureDate.ToShortDateString()</td>
                    <td>@item.DepartureTime</td>
                    <td>@item.FarePrice</td>
                    <td>@item.RouteName</td>
                    <td>@item.VehicleName</td>
                    <td>@item.PhysicalBus</td>
                    <td>@item.DriverCode</td>
                    <td>
                        <a href="@Url.Action("Booking", "TerminalBooking", new { VehicleTripRegistrationId = item.VehicleTripRegistrationId, RouteId=routeId })" class="ui-dialog-source text-muted btn btn-success">
                            Book Now
                        </a>
                    </td>

                </tr>

                }

            </tbody>
        </table>
        @Html.AntiForgeryToken()
    </div>
    
</div>