﻿@model List<Tuple<int, int, bool>>
@{
    var totalSeat = (int)ViewBag.TotalSeat;
}

<style>
    td {
        text-align: center;
        border: 1px solid #ccc;
        height: 50px;
        width:50px
    }

    .seat-label {
        display: block;
        min-height: 100%; /* Modern browsers */
        height: auto !important; /* IE7+ */
        height: 100%; /* IE6+ */
        margin-bottom: 0;
        padding-top: 15px;
        cursor: pointer;
    }

    td input[type=checkbox] + .seat-label {
        background: #fff !important;
        color: #000;
    }

    input[type=checkbox]:checked + .seat-label {
        background: #82b739 !important;
    }

    .default-seats tr td {
        background-color: white ;
        background-color: white ;
        color: #000 !important;
    }

    td.no-seats {
        background-color: white !important;
        color: #000 !important;
    }

    table.seats-table {
        border-collapse: separate;
        border-spacing: 5px 5px;
        width: 250px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    td.cell-no-border {
        border-color: white;
    }

    .taken {
         background-color: red !important;
        color: white !important;
    }
</style>

<table class="seats-table">
    <caption>&nbsp;</caption>

    <tbody class="default-seats">
      
        @if(totalSeat==14)
        {


        
        <tr>
            <td class="no-seats" title="Driver"><i class="flaticon-user"></i></td>
            <td class="no-seats cell-no-border" colspan="2">&nbsp;</td>
            @if (Model.Contains( new Tuple<int,int,bool>(1,0,false)))
            {
                <td class="printed">1</td>
            }
          else if (Model.Contains(new Tuple<int, int, bool>(1, 1, false)))
          {
           <td class="advancedtaken">1</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(1, 2, false)))
            {
                <td class="onlinetaken">1</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(1, 3, false)))
            {
                <td class="onhold">1</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(1, 0, true)) || Model.Contains(new Tuple<int, int, bool>(1, 1, true)) || Model.Contains(new Tuple<int, int, bool>(1, 2, true)) || Model.Contains(new Tuple<int, int, bool>(1, 3, true)))
            {
                <td class="printed">1</td>
            }
            else
            {
                <td >1</td>
            }
           
        </tr>
        <tr>
            
            @if (Model.Contains(new Tuple<int, int, bool>(2, 0, false)))
            {
                <td class="printed">2</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(2, 1, false)))
            {
                <td class="advancedtaken">2</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(2, 2, false)))
            {
                <td class="onlinetaken">2</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(2, 3, false)))
            {
                <td class="onhold">2</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(2, 0, true)) || Model.Contains(new Tuple<int, int, bool>(2, 1, true)) || Model.Contains(new Tuple<int, int, bool>(2, 2, true)) || Model.Contains(new Tuple<int, int, bool>(2, 3, true)))
            {
                <td class="printed">2</td>
            }
            else
            {
                <td>2</td>
            }
            @if (Model.Contains(new Tuple<int, int, bool>(3, 0, false)))
            {
                <td class="printed">3</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(3, 1, false)))
            {
                <td class="advancedtaken">3</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(3, 2, false)))
            {
                <td class="onlinetaken">3</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(3, 3, false)))
            {
                <td class="onhold">3</td>
            }
            else if ( Model.Contains(new Tuple<int, int, bool>(3, 3, true)) || Model.Contains(new Tuple<int, int, bool>(3, 0, true)) || Model.Contains(new Tuple<int, int, bool>(3, 1, true)) || Model.Contains(new Tuple<int, int, bool>(3, 2, true)))
            {
                <td class="printed">3</td>
            }
            else
            {
                <td>3</td>
            }

            @if (Model.Contains(new Tuple<int, int, bool>(4, 0, false)))
            {
                <td class="printed">4</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(4, 1, false)))
            {
                <td class="advancedtaken">4</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(4, 2, false)))
            {
                <td class="onlinetaken">4</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(4, 3, false)))
            {
                <td class="onhold">4</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(4, 3, true)) || Model.Contains(new Tuple<int, int, bool>(4, 0, true)) || Model.Contains(new Tuple<int, int, bool>(4, 1, true)) || Model.Contains(new Tuple<int, int, bool>(4, 2, true)))
            {
                <td class="printed">4</td>
            }
            else
            {
                <td>4</td>
            }
            <td class="no-seats cell-no-border">&nbsp;</td>
        </tr>
        <tr>
            @if (Model.Contains(new Tuple<int, int, bool>(5, 0, false)))
            {
                <td class="printed">5</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(5, 1, false)))
            {
                <td class="advancedtaken">5</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(5, 2, false)))
            {
                <td class="onlinetaken">5</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(5, 3, false)))
            {
                <td class="onhold">5</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(5, 3, true)) || Model.Contains(new Tuple<int, int, bool>(5, 0, true)) || Model.Contains(new Tuple<int, int, bool>(5, 1, true)) || Model.Contains(new Tuple<int, int, bool>(5, 2, true)))
            {
                <td class="printed">5</td>
            }
            else
            {
                <td>5</td>
            }
            @if (Model.Contains(new Tuple<int, int, bool>(6, 0, false)))
            {
                <td class="printed">6</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(6, 1, false)))
            {
                <td class="advancedtaken">6</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(6, 2, false)))
            {
                <td class="onlinetaken">6</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(6, 3, false)))
            {
                <td class="onhold">6</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(6, 3, true)) ||  Model.Contains(new Tuple<int, int, bool>(6, 0, true)) || Model.Contains(new Tuple<int, int, bool>(6, 1, true)) || Model.Contains(new Tuple<int, int, bool>(6, 2, true)))
            {
                <td class="printed">6</td>
            }
            else
            {
                <td>6</td>
            }
            <td class="no-seats cell-no-border" rowspan="2">&nbsp;</td>
            @if (Model.Contains(new Tuple<int, int, bool>(7, 0, false)))
            {
                <td class="printed">7</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(7, 1, false)))
            {
                <td class="advancedtaken">7</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(7, 2, false)))
            {
                <td class="onlinetaken">7</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(7, 3, false)))
            {
                <td class="onhold">7</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(7, 3, true)) || Model.Contains(new Tuple<int, int, bool>(7, 0, true)) || Model.Contains(new Tuple<int, int, bool>(7, 1, true)) || Model.Contains(new Tuple<int, int, bool>(7, 2, true)))
            {
                <td class="printed">7</td>
            }
            else
            {
                <td>7</td>
            }
        </tr>
        <tr>
            @if (Model.Contains(new Tuple<int, int, bool>(8, 0, false)))
            {
                <td class="printed">8</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(8, 1, false)))
            {
                <td class="advancedtaken">8</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(8, 2, false)))
            {
                <td class="onlinetaken">8</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(8, 3, false)))
            {
                <td class="onhold">8</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(8, 3, true)) || Model.Contains(new Tuple<int, int, bool>(8, 0, true)) || Model.Contains(new Tuple<int, int, bool>(8, 1, true)) || Model.Contains(new Tuple<int, int, bool>(8, 2, true)))
            {
                <td class="printed">8</td>
            }
            else
            {
                <td>8</td>
            }
            @if (Model.Contains(new Tuple<int, int, bool>(9, 0, false)))
            {
                <td class="printed">9</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(9, 1, false)))
            {
                <td class="advancedtaken">9</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(9, 2, false)))
            {
                <td class="onlinetaken">9</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(9, 3, false)))
            {
                <td class="onhold">9</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(9, 3, true)) || Model.Contains(new Tuple<int, int, bool>(9, 0, true)) || Model.Contains(new Tuple<int, int, bool>(9, 1, true)) || Model.Contains(new Tuple<int, int, bool>(9, 2, true)))
            {
                <td class="printed">9</td>
            }
            else
            {
                <td>9</td>
            }
            @if (Model.Contains(new Tuple<int, int, bool>(10, 0, false)))
            {
                <td class="printed">10</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(10, 1, false)))
            {
                <td class="advancedtaken">10</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(10, 2, false)))
            {
                <td class="onlinetaken">10</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(10, 3, false)))
            {
                <td class="onhold">10</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(10, 3, true)) || Model.Contains(new Tuple<int, int, bool>(10, 0, true)) || Model.Contains(new Tuple<int, int, bool>(10, 1, true)) || Model.Contains(new Tuple<int, int, bool>(10, 2, true)))
            {
                <td class="printed">10</td>
            }
            else
            {
                <td>10</td>
            } 
        </tr>
        <tr>
            @if (Model.Contains(new Tuple<int, int, bool>(11, 0, false)))
            {
                <td class="printed">11</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(11, 1, false)))
            {
                <td class="advancedtaken">11</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(11, 2, false)))
            {
                <td class="onlinetaken">11</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(11, 3, false)))
            {
                <td class="onhold">11</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(11, 3, true)) || Model.Contains(new Tuple<int, int, bool>(11, 0, true)) || Model.Contains(new Tuple<int, int, bool>(11, 1, true)) || Model.Contains(new Tuple<int, int, bool>(11, 2, true)))
            {
                <td class="printed">11</td>
            }
            else
            {
                <td>11</td>
            }
            @if (Model.Contains(new Tuple<int, int, bool>(12, 0, false)))
            {
                <td class="printed">12</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(12, 1, false)))
            {
                <td class="advancedtaken">12</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(12, 2, false)))
            {
                <td class="onlinetaken">12</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(12, 3, false)))
            {
                <td class="onhold">12</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(12, 3, true)) || Model.Contains(new Tuple<int, int, bool>(12, 0, true)) || Model.Contains(new Tuple<int, int, bool>(12, 1, true)) || Model.Contains(new Tuple<int, int, bool>(12, 2, true)))
            {
                <td class="printed">12</td>
            }
            else
            {
                <td>12</td>
            }
          
            @if (Model.Contains(new Tuple<int, int, bool>(13, 0, false)))
            {
                <td class="printed">13</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(13, 1, false)))
            {
                <td class="advancedtaken">13</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(13, 2, false)))
            {
                <td class="onlinetaken">13</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(13, 3, false)))
            {
                <td class="onhold">13</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(13, 3, true)) || Model.Contains(new Tuple<int, int, bool>(13, 0, true)) || Model.Contains(new Tuple<int, int, bool>(13, 1, true)) || Model.Contains(new Tuple<int, int, bool>(13, 2, true)))
            {
                <td class="printed">13</td>
            }
            else
            {
                <td>13</td>
                } 
            @if (Model.Contains(new Tuple<int, int, bool>(14, 0, false)))
            {
                <td class="printed">14</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(14, 1, false)))
            {
                <td class="advancedtaken">14</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(14, 2, false)))
            {
                <td class="onlinetaken">14</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(14, 3, false)))
            {
                <td class="onhold">14</td>
            }
            else if (Model.Contains(new Tuple<int, int, bool>(14, 3, true)) || Model.Contains(new Tuple<int, int, bool>(14, 0, true)) || Model.Contains(new Tuple<int, int, bool>(14, 1, true)) || Model.Contains(new Tuple<int, int, bool>(14, 2, true)))
            {
                <td class="printed">14</td>
            }
            else
            {
                <td>14</td>
            }
        </tr>
        }
        else if (totalSeat == 17 || totalSeat == 16)
        {



            <tr>
                <td class="no-seats" title="GIGMS Captain"><i class="fa fa-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;</td>
                @if (Model.Contains(new Tuple<int, int, bool>(1, 0, false)))
                {
                    <td class="printed">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 1, false)))
                {
                    <td class="advancedtaken">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 2, false)))
                {
                    <td class="onlinetaken">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 3, false)))
                {
                    <td class="onhold">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 0, true)) || Model.Contains(new Tuple<int, int, bool>(1, 1, true)) || Model.Contains(new Tuple<int, int, bool>(1, 2, true)) || Model.Contains(new Tuple<int, int, bool>(1, 3, true)))
                {
                    <td class="printed">1</td>
                }
                else
                {
                    <td>1</td>
                }

            </tr>
            <tr>

                @if (Model.Contains(new Tuple<int, int, bool>(2, 0, false)))
                {
                    <td class="printed">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 1, false)))
                {
                    <td class="advancedtaken">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 2, false)))
                {
                    <td class="onlinetaken">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 3, false)))
                {
                    <td class="onhold">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 0, true)) || Model.Contains(new Tuple<int, int, bool>(2, 1, true)) || Model.Contains(new Tuple<int, int, bool>(2, 2, true)) || Model.Contains(new Tuple<int, int, bool>(2, 3, true)))
                {
                    <td class="printed">2</td>
                }
                else
                {
                    <td>2</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(3, 0, false)))
                {
                    <td class="printed">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 1, false)))
                {
                    <td class="advancedtaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 2, false)))
                {
                    <td class="onlinetaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, false)))
                {
                    <td class="onhold">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, true)) || Model.Contains(new Tuple<int, int, bool>(3, 0, true)) || Model.Contains(new Tuple<int, int, bool>(3, 1, true)) || Model.Contains(new Tuple<int, int, bool>(3, 2, true)))
                {
                    <td class="printed">3</td>
                }
                else
                {
                    <td>3</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(4, 0, false)))
                {
                    <td class="printed">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 1, false)))
                {
                    <td class="advancedtaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 2, false)))
                {
                    <td class="onlinetaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, false)))
                {
                    <td class="onhold">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, true)) || Model.Contains(new Tuple<int, int, bool>(4, 0, true)) || Model.Contains(new Tuple<int, int, bool>(4, 1, true)) || Model.Contains(new Tuple<int, int, bool>(4, 2, true)))
                {
                    <td class="printed">4</td>
                }
                else
                {
                    <td>4</td>
                }
                <td class="no-seats cell-no-border">&nbsp;</td>
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(5, 0, false)))
                {
                    <td class="printed">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 1, false)))
                {
                    <td class="advancedtaken">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 2, false)))
                {
                    <td class="onlinetaken">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 3, false)))
                {
                    <td class="onhold">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 3, true)) || Model.Contains(new Tuple<int, int, bool>(5, 0, true)) || Model.Contains(new Tuple<int, int, bool>(5, 1, true)) || Model.Contains(new Tuple<int, int, bool>(5, 2, true)))
                {
                    <td class="printed">5</td>
                }
                else
                {
                    <td>5</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(6, 0, false)))
                {
                    <td class="printed">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 1, false)))
                {
                    <td class="advancedtaken">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 2, false)))
                {
                    <td class="onlinetaken">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 3, false)))
                {
                    <td class="onhold">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 3, true)) || Model.Contains(new Tuple<int, int, bool>(6, 0, true)) || Model.Contains(new Tuple<int, int, bool>(6, 1, true)) || Model.Contains(new Tuple<int, int, bool>(6, 2, true)))
                {
                    <td class="printed">6</td>
                }
                else
                {
                    <td>6</td>
                }
                <td class="no-seats cell-no-border" rowspan="2">&nbsp;</td>
                @if (Model.Contains(new Tuple<int, int, bool>(7, 0, false)))
                {
                    <td class="printed">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 1, false)))
                {
                    <td class="advancedtaken">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 2, false)))
                {
                    <td class="onlinetaken">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 3, false)))
                {
                    <td class="onhold">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 3, true)) || Model.Contains(new Tuple<int, int, bool>(7, 0, true)) || Model.Contains(new Tuple<int, int, bool>(7, 1, true)) || Model.Contains(new Tuple<int, int, bool>(7, 2, true)))
                {
                    <td class="printed">7</td>
                }
                else
                {
                    <td>7</td>
                }
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(8, 0, false)))
                {
                    <td class="printed">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 1, false)))
                {
                    <td class="advancedtaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 2, false)))
                {
                    <td class="onlinetaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, false)))
                {
                    <td class="onhold">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, true)) || Model.Contains(new Tuple<int, int, bool>(8, 0, true)) || Model.Contains(new Tuple<int, int, bool>(8, 1, true)) || Model.Contains(new Tuple<int, int, bool>(8, 2, true)))
                {
                    <td class="printed">8</td>
                }
                else
                {
                    <td>8</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(9, 0, false)))
                {
                    <td class="printed">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 1, false)))
                {
                    <td class="advancedtaken">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 2, false)))
                {
                    <td class="onlinetaken">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 3, false)))
                {
                    <td class="onhold">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 3, true)) || Model.Contains(new Tuple<int, int, bool>(9, 0, true)) || Model.Contains(new Tuple<int, int, bool>(9, 1, true)) || Model.Contains(new Tuple<int, int, bool>(9, 2, true)))
                {
                    <td class="printed">9</td>
                }
                else
                {
                    <td>9</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(10, 0, false)))
                {
                    <td class="printed">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 1, false)))
                {
                    <td class="advancedtaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 2, false)))
                {
                    <td class="onlinetaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, false)))
                {
                    <td class="onhold">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, true)) || Model.Contains(new Tuple<int, int, bool>(10, 0, true)) || Model.Contains(new Tuple<int, int, bool>(10, 1, true)) || Model.Contains(new Tuple<int, int, bool>(10, 2, true)))
                {
                    <td class="printed">10</td>
                }
                else
                {
                    <td>10</td>
                }
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(11, 0, false)))
                {
                    <td class="printed">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 1, false)))
                {
                    <td class="advancedtaken">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 2, false)))
                {
                    <td class="onlinetaken">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 3, false)))
                {
                    <td class="onhold">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 3, true)) || Model.Contains(new Tuple<int, int, bool>(11, 0, true)) || Model.Contains(new Tuple<int, int, bool>(11, 1, true)) || Model.Contains(new Tuple<int, int, bool>(11, 2, true)))
                {
                    <td class="printed">11</td>
                }
                else
                {
                    <td>11</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(12, 0, false)))
                {
                    <td class="printed">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 1, false)))
                {
                    <td class="advancedtaken">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 2, false)))
                {
                    <td class="onlinetaken">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 3, false)))
                {
                    <td class="onhold">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 3, true)) || Model.Contains(new Tuple<int, int, bool>(12, 0, true)) || Model.Contains(new Tuple<int, int, bool>(12, 1, true)) || Model.Contains(new Tuple<int, int, bool>(12, 2, true)))
                {
                    <td class="printed">12</td>
                }
                else
                {
                    <td>12</td>
                }

                <td class="no-seats cell-no-border">&nbsp;</td>
                @if (Model.Contains(new Tuple<int, int, bool>(14, 0, false)))
                {
                    <td class="printed">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 1, false)))
                {
                    <td class="advancedtaken">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 2, false)))
                {
                    <td class="onlinetaken">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 3, false)))
                {
                    <td class="onhold">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 3, true)) || Model.Contains(new Tuple<int, int, bool>(14, 0, true)) || Model.Contains(new Tuple<int, int, bool>(14, 1, true)) || Model.Contains(new Tuple<int, int, bool>(14, 2, true)))
                {
                    <td class="printed">14</td>
                }
                else
                {
                    <td>14</td>
                }
            </tr>

            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(15, 0, false)))
                {
                    <td class="printed">15</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(15, 1, false)))
                {
                    <td class="advancedtaken">15</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(15, 2, false)))
                {
                    <td class="onlinetaken">15</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(15, 3, false)))
                {
                    <td class="onhold">15</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(15, 3, true)) || Model.Contains(new Tuple<int, int, bool>(15, 0, true)) || Model.Contains(new Tuple<int, int, bool>(15, 1, true)) || Model.Contains(new Tuple<int, int, bool>(15, 2, true)))
                {
                    <td class="printed">15</td>
                }
                else
                {
                    <td>15</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(16, 0, false)))
                {
                    <td class="printed">16</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(16, 1, false)))
                {
                    <td class="advancedtaken">16</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(16, 2, false)))
                {
                    <td class="onlinetaken">16</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(16, 3, false)))
                {
                    <td class="onhold">16</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(16, 3, true)) || Model.Contains(new Tuple<int, int, bool>(16, 0, true)) || Model.Contains(new Tuple<int, int, bool>(16, 1, true)) || Model.Contains(new Tuple<int, int, bool>(16, 2, true)))
                {
                    <td class="printed">16</td>
                }
                else
                {
                    <td>16</td>
                }

               
                    <td class="no-seats cell-no-border">&nbsp;</td>
               
                @if (Model.Contains(new Tuple<int, int, bool>(17, 0, false)))
                {
                    <td class="printed">17</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(17, 1, false)))
                {
                    <td class="advancedtaken">17</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(17, 2, false)))
                {
                    <td class="onlinetaken">17</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(17, 3, false)))
                {
                    <td class="onhold">17</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(17, 3, true)) || Model.Contains(new Tuple<int, int, bool>(17, 0, true)) || Model.Contains(new Tuple<int, int, bool>(17, 1, true)) || Model.Contains(new Tuple<int, int, bool>(17, 2, true)))
                {
                    <td class="printed">17</td>
                }
                else
                {
                    <td>17</td>
                }
            </tr>
        }
        else if (totalSeat == 13)
        {



            <tr>
                <td class="no-seats" title="GIGMS Captain"><i class="fa fa-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;</td>
                @if (Model.Contains(new Tuple<int, int, bool>(1, 0, false)))
                {
                    <td class="printed">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 1, false)))
                {
                    <td class="advancedtaken">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 2, false)))
                {
                    <td class="onlinetaken">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 3, false)))
                {
                    <td class="onhold">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 0, true)) || Model.Contains(new Tuple<int, int, bool>(1, 1, true)) || Model.Contains(new Tuple<int, int, bool>(1, 2, true)) || Model.Contains(new Tuple<int, int, bool>(1, 3, true)))
                {
                    <td class="printed">1</td>
                }
                else
                {
                    <td>1</td>
                }

            </tr>
            <tr>

                @if (Model.Contains(new Tuple<int, int, bool>(2, 0, false)))
                {
                    <td class="printed">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 1, false)))
                {
                    <td class="advancedtaken">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 2, false)))
                {
                    <td class="onlinetaken">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 3, false)))
                {
                    <td class="onhold">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 0, true)) || Model.Contains(new Tuple<int, int, bool>(2, 1, true)) || Model.Contains(new Tuple<int, int, bool>(2, 2, true)) || Model.Contains(new Tuple<int, int, bool>(2, 3, true)))
                {
                    <td class="printed">2</td>
                }
                else
                {
                    <td>2</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(3, 0, false)))
                {
                    <td class="printed">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 1, false)))
                {
                    <td class="advancedtaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 2, false)))
                {
                    <td class="onlinetaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, false)))
                {
                    <td class="onhold">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, true)) || Model.Contains(new Tuple<int, int, bool>(3, 0, true)) || Model.Contains(new Tuple<int, int, bool>(3, 1, true)) || Model.Contains(new Tuple<int, int, bool>(3, 2, true)))
                {
                    <td class="printed">3</td>
                }
                else
                {
                    <td>3</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(4, 0, false)))
                {
                    <td class="printed">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 1, false)))
                {
                    <td class="advancedtaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 2, false)))
                {
                    <td class="onlinetaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, false)))
                {
                    <td class="onhold">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, true)) || Model.Contains(new Tuple<int, int, bool>(4, 0, true)) || Model.Contains(new Tuple<int, int, bool>(4, 1, true)) || Model.Contains(new Tuple<int, int, bool>(4, 2, true)))
                {
                    <td class="printed">4</td>
                }
                else
                {
                    <td>4</td>
                }
                <td class="no-seats cell-no-border">&nbsp;</td>
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(5, 0, false)))
                {
                    <td class="printed">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 1, false)))
                {
                    <td class="advancedtaken">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 2, false)))
                {
                    <td class="onlinetaken">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 3, false)))
                {
                    <td class="onhold">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 3, true)) || Model.Contains(new Tuple<int, int, bool>(5, 0, true)) || Model.Contains(new Tuple<int, int, bool>(5, 1, true)) || Model.Contains(new Tuple<int, int, bool>(5, 2, true)))
                {
                    <td class="printed">5</td>
                }
                else
                {
                    <td>5</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(6, 0, false)))
                {
                    <td class="printed">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 1, false)))
                {
                    <td class="advancedtaken">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 2, false)))
                {
                    <td class="onlinetaken">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 3, false)))
                {
                    <td class="onhold">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 3, true)) || Model.Contains(new Tuple<int, int, bool>(6, 0, true)) || Model.Contains(new Tuple<int, int, bool>(6, 1, true)) || Model.Contains(new Tuple<int, int, bool>(6, 2, true)))
                {
                    <td class="printed">6</td>
                }
                else
                {
                    <td>6</td>
                }
                <td class="no-seats cell-no-border" rowspan="2">&nbsp;</td>
                @if (Model.Contains(new Tuple<int, int, bool>(7, 0, false)))
                {
                    <td class="printed">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 1, false)))
                {
                    <td class="advancedtaken">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 2, false)))
                {
                    <td class="onlinetaken">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 3, false)))
                {
                    <td class="onhold">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 3, true)) || Model.Contains(new Tuple<int, int, bool>(7, 0, true)) || Model.Contains(new Tuple<int, int, bool>(7, 1, true)) || Model.Contains(new Tuple<int, int, bool>(7, 2, true)))
                {
                    <td class="printed">7</td>
                }
                else
                {
                    <td>7</td>
                }
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(8, 0, false)))
                {
                    <td class="printed">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 1, false)))
                {
                    <td class="advancedtaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 2, false)))
                {
                    <td class="onlinetaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, false)))
                {
                    <td class="onhold">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, true)) || Model.Contains(new Tuple<int, int, bool>(8, 0, true)) || Model.Contains(new Tuple<int, int, bool>(8, 1, true)) || Model.Contains(new Tuple<int, int, bool>(8, 2, true)))
                {
                    <td class="printed">8</td>
                }
                else
                {
                    <td>8</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(9, 0, false)))
                {
                    <td class="printed">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 1, false)))
                {
                    <td class="advancedtaken">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 2, false)))
                {
                    <td class="onlinetaken">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 3, false)))
                {
                    <td class="onhold">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 3, true)) || Model.Contains(new Tuple<int, int, bool>(9, 0, true)) || Model.Contains(new Tuple<int, int, bool>(9, 1, true)) || Model.Contains(new Tuple<int, int, bool>(9, 2, true)))
                {
                    <td class="printed">9</td>
                }
                else
                {
                    <td>9</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(10, 0, false)))
                {
                    <td class="printed">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 1, false)))
                {
                    <td class="advancedtaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 2, false)))
                {
                    <td class="onlinetaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, false)))
                {
                    <td class="onhold">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, true)) || Model.Contains(new Tuple<int, int, bool>(10, 0, true)) || Model.Contains(new Tuple<int, int, bool>(10, 1, true)) || Model.Contains(new Tuple<int, int, bool>(10, 2, true)))
                {
                    <td class="printed">10</td>
                }
                else
                {
                    <td>10</td>
                }
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(11, 0, false)))
                {
                    <td class="printed">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 1, false)))
                {
                    <td class="advancedtaken">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 2, false)))
                {
                    <td class="onlinetaken">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 3, false)))
                {
                    <td class="onhold">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 3, true)) || Model.Contains(new Tuple<int, int, bool>(11, 0, true)) || Model.Contains(new Tuple<int, int, bool>(11, 1, true)) || Model.Contains(new Tuple<int, int, bool>(11, 2, true)))
                {
                    <td class="printed">11</td>
                }
                else
                {
                    <td>11</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(12, 0, false)))
                {
                    <td class="printed">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 1, false)))
                {
                    <td class="advancedtaken">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 2, false)))
                {
                    <td class="onlinetaken">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 3, false)))
                {
                    <td class="onhold">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 3, true)) || Model.Contains(new Tuple<int, int, bool>(12, 0, true)) || Model.Contains(new Tuple<int, int, bool>(12, 1, true)) || Model.Contains(new Tuple<int, int, bool>(12, 2, true)))
                {
                    <td class="printed">12</td>
                }
                else
                {
                    <td>12</td>
                }

               
                    <td class="no-seats cell-no-border" >&nbsp;</td>
               
                @if (Model.Contains(new Tuple<int, int, bool>(14, 0, false)))
                {
                    <td class="printed">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 1, false)))
                {
                    <td class="advancedtaken">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 2, false)))
                {
                    <td class="onlinetaken">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 3, false)))
                {
                    <td class="onhold">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 3, true)) || Model.Contains(new Tuple<int, int, bool>(14, 0, true)) || Model.Contains(new Tuple<int, int, bool>(14, 1, true)) || Model.Contains(new Tuple<int, int, bool>(14, 2, true)))
                {
                    <td class="printed">14</td>
                }
                else
                {
                    <td>14</td>
                }
            </tr>
        }
        else if (totalSeat == 12)
        {
            <tr >
                <td class="no-seats" title="GIGMS Captain"><i class="fa fa-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;&nbsp;&nbsp;</td>
                @if (Model.Contains(new Tuple<int, int, bool>(1, 0, false)))
                {
                    <td class="printed">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 1, false)))
                {
                    <td class="advancedtaken">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 2, false)))
                {
                    <td class="onlinetaken">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 3, false)))
                {
                    <td class="onhold">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 0, true)) || Model.Contains(new Tuple<int, int, bool>(1, 1, true)) || Model.Contains(new Tuple<int, int, bool>(1, 2, true)) || Model.Contains(new Tuple<int, int, bool>(1, 3, true)))
                {
                    <td class="printed">1</td>
                }
                else
                {
                    <td>1</td>
                }
            </tr>
            <tr >
                @if (Model.Contains(new Tuple<int, int, bool>(2, 0, false)))
                {
                    <td class="printed">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 1, false)))
                {
                    <td class="advancedtaken">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 2, false)))
                {
                    <td class="onlinetaken">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 3, false)))
                {
                    <td class="onhold">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 0, true)) || Model.Contains(new Tuple<int, int, bool>(2, 1, true)) || Model.Contains(new Tuple<int, int, bool>(2, 2, true)) || Model.Contains(new Tuple<int, int, bool>(2, 3, true)))
                {
                    <td class="printed">2</td>
                }
                else
                {
                    <td>2</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(3, 0, false)))
                {
                    <td class="printed">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 1, false)))
                {
                    <td class="advancedtaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 2, false)))
                {
                    <td class="onlinetaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, false)))
                {
                    <td class="onhold">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, true)) || Model.Contains(new Tuple<int, int, bool>(3, 0, true)) || Model.Contains(new Tuple<int, int, bool>(3, 1, true)) || Model.Contains(new Tuple<int, int, bool>(3, 2, true)))
                {
                    <td class="printed">3</td>
                }
                else
                {
                    <td>3</td>
                }

                <td class="no-seats cell-no-border" colspan="2">&nbsp;&nbsp;&nbsp;</td>

            </tr>
            <tr >
                @if (Model.Contains(new Tuple<int, int, bool>(4, 0, false)))
                {
                    <td class="printed">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 1, false)))
                {
                    <td class="advancedtaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 2, false)))
                {
                    <td class="onlinetaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, false)))
                {
                    <td class="onhold">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, true)) || Model.Contains(new Tuple<int, int, bool>(4, 0, true)) || Model.Contains(new Tuple<int, int, bool>(4, 1, true)) || Model.Contains(new Tuple<int, int, bool>(4, 2, true)))
                {
                    <td class="printed">4</td>
                }
                else
                {
                    <td>4</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(5, 0, false)))
                {
                    <td class="printed">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 1, false)))
                {
                    <td class="advancedtaken">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 2, false)))
                {
                    <td class="onlinetaken">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 3, false)))
                {
                    <td class="onhold">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 3, true)) || Model.Contains(new Tuple<int, int, bool>(5, 0, true)) || Model.Contains(new Tuple<int, int, bool>(5, 1, true)) || Model.Contains(new Tuple<int, int, bool>(5, 2, true)))
                {
                    <td class="printed">5</td>
                }
                else
                {
                    <td>5</td>
                }

                <td class="no-seats cell-no-border" rowspan="3">&nbsp;&nbsp;&nbsp;</td>
               @if (Model.Contains(new Tuple<int, int, bool>(6, 0, false)))
               {
                <td class="printed">6</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(6, 1, false)))
               {
                <td class="advancedtaken">6</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(6, 2, false)))
               {
                <td class="onlinetaken">6</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(6, 3, false)))
               {
                <td class="onhold">6</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(6, 3, true)) || Model.Contains(new Tuple<int, int, bool>(6, 0, true)) || Model.Contains(new Tuple<int, int, bool>(6, 1, true)) || Model.Contains(new Tuple<int, int, bool>(6, 2, true)))
               {
                <td class="printed">6</td>
               }
               else
               {
                <td>6</td>
               }
            </tr>
            <tr >
               @if (Model.Contains(new Tuple<int, int, bool>(7, 0, false)))
               {
                <td class="printed">7</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(7, 1, false)))
               {
                <td class="advancedtaken">7</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(7, 2, false)))
               {
                <td class="onlinetaken">7</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(7, 3, false)))
               {
                <td class="onhold">7</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(7, 3, true)) || Model.Contains(new Tuple<int, int, bool>(7, 0, true)) || Model.Contains(new Tuple<int, int, bool>(7, 1, true)) || Model.Contains(new Tuple<int, int, bool>(7, 2, true)))
               {
                <td class="printed">7</td>
               }
               else
               {
                <td>7</td>
               }
                @if (Model.Contains(new Tuple<int, int, bool>(8, 0, false)))
                {
                    <td class="printed">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 1, false)))
                {
                    <td class="advancedtaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 2, false)))
                {
                    <td class="onlinetaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, false)))
                {
                    <td class="onhold">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, true)) || Model.Contains(new Tuple<int, int, bool>(8, 0, true)) || Model.Contains(new Tuple<int, int, bool>(8, 1, true)) || Model.Contains(new Tuple<int, int, bool>(8, 2, true)))
                {
                    <td class="printed">8</td>
                }
                else
                {
                    <td>8</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(9, 0, false)))
                {
                    <td class="printed">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 1, false)))
                {
                    <td class="advancedtaken">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 2, false)))
                {
                    <td class="onlinetaken">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 3, false)))
                {
                    <td class="onhold">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 3, true)) || Model.Contains(new Tuple<int, int, bool>(9, 0, true)) || Model.Contains(new Tuple<int, int, bool>(9, 1, true)) || Model.Contains(new Tuple<int, int, bool>(9, 2, true)))
                {
                    <td class="printed">9</td>
                }
                else
                {
                    <td>9</td>
                }
            </tr>
            <tr >
                @if (Model.Contains(new Tuple<int, int, bool>(10, 0, false)))
                {
                    <td class="printed">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 1, false)))
                {
                    <td class="advancedtaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 2, false)))
                {
                    <td class="onlinetaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, false)))
                {
                    <td class="onhold">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, true)) || Model.Contains(new Tuple<int, int, bool>(10, 0, true)) || Model.Contains(new Tuple<int, int, bool>(10, 1, true)) || Model.Contains(new Tuple<int, int, bool>(10, 2, true)))
                {
                    <td class="printed">10</td>
                }
                else
                {
                    <td>10</td>
                } 
                @if (Model.Contains(new Tuple<int, int, bool>(11, 0, false)))
                {
                    <td class="printed">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 1, false)))
                {
                    <td class="advancedtaken">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 2, false)))
                {
                    <td class="onlinetaken">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 3, false)))
                {
                    <td class="onhold">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 3, true)) || Model.Contains(new Tuple<int, int, bool>(11, 0, true)) || Model.Contains(new Tuple<int, int, bool>(11, 1, true)) || Model.Contains(new Tuple<int, int, bool>(11, 2, true)))
                {
                    <td class="printed">11</td>
                }
                else
                {
                    <td>11</td>
                }

                @if (Model.Contains(new Tuple<int, int, bool>(12, 0, false)))
                {
                    <td class="printed">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 1, false)))
                {
                    <td class="advancedtaken">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 2, false)))
                {
                    <td class="onlinetaken">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 3, false)))
                {
                    <td class="onhold">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 3, true)) || Model.Contains(new Tuple<int, int, bool>(12, 0, true)) || Model.Contains(new Tuple<int, int, bool>(12, 1, true)) || Model.Contains(new Tuple<int, int, bool>(12, 2, true)))
                {
                    <td class="printed">12</td>
                }
                else
                {
                    <td>12</td>
                }
            </tr>
        }
        else if (totalSeat == 10)
        {
            <tr >
                <td class="no-seats" title="GIGMS Captain"><i class="fa fa-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;&nbsp;</td>
               @if (Model.Contains(new Tuple<int, int, bool>(1, 0, false)))
               {
                <td class="printed">1</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(1, 1, false)))
               {
                <td class="advancedtaken">1</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(1, 2, false)))
               {
                <td class="onlinetaken">1</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(1, 3, false)))
               {
                <td class="onhold">1</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(1, 0, true)) || Model.Contains(new Tuple<int, int, bool>(1, 1, true)) || Model.Contains(new Tuple<int, int, bool>(1, 2, true)) || Model.Contains(new Tuple<int, int, bool>(1, 3, true)))
               {
                <td class="printed">1</td>
               }
               else
               {
                <td>1</td>
               }
            </tr>
            <tr >
           @if (Model.Contains(new Tuple<int, int, bool>(2, 0, false)))
           {
            <td class="printed">2</td>
           }
           else if (Model.Contains(new Tuple<int, int, bool>(2, 1, false)))
           {
            <td class="advancedtaken">2</td>
           }
           else if (Model.Contains(new Tuple<int, int, bool>(2, 2, false)))
           {
            <td class="onlinetaken">2</td>
           }
           else if (Model.Contains(new Tuple<int, int, bool>(2, 3, false)))
           {
            <td class="onhold">2</td>
           }
           else if (Model.Contains(new Tuple<int, int, bool>(2, 0, true)) || Model.Contains(new Tuple<int, int, bool>(2, 1, true)) || Model.Contains(new Tuple<int, int, bool>(2, 2, true)) || Model.Contains(new Tuple<int, int, bool>(2, 3, true)))
           {
            <td class="printed">2</td>
           }
           else
           {
            <td>2</td>
           }
                @if (Model.Contains(new Tuple<int, int, bool>(3, 0, false)))
                {
                    <td class="printed">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 1, false)))
                {
                    <td class="advancedtaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 2, false)))
                {
                    <td class="onlinetaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, false)))
                {
                    <td class="onhold">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, true)) || Model.Contains(new Tuple<int, int, bool>(3, 0, true)) || Model.Contains(new Tuple<int, int, bool>(3, 1, true)) || Model.Contains(new Tuple<int, int, bool>(3, 2, true)))
                {
                    <td class="printed">3</td>
                }
                else
                {
                    <td>3</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(4, 0, false)))
                {
                    <td class="printed">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 1, false)))
                {
                    <td class="advancedtaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 2, false)))
                {
                    <td class="onlinetaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, false)))
                {
                    <td class="onhold">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, true)) || Model.Contains(new Tuple<int, int, bool>(4, 0, true)) || Model.Contains(new Tuple<int, int, bool>(4, 1, true)) || Model.Contains(new Tuple<int, int, bool>(4, 2, true)))
                {
                    <td class="printed">4</td>
                }
                else
                {
                    <td>4</td>
                }
                <td class="no-seats cell-no-border">&nbsp;&nbsp;</td>
            </tr>
            <tr >
               @if (Model.Contains(new Tuple<int, int, bool>(5, 0, false)))
               {
                <td class="printed">5</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(5, 1, false)))
               {
                <td class="advancedtaken">5</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(5, 2, false)))
               {
                <td class="onlinetaken">5</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(5, 3, false)))
               {
                <td class="onhold">5</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(5, 3, true)) || Model.Contains(new Tuple<int, int, bool>(5, 0, true)) || Model.Contains(new Tuple<int, int, bool>(5, 1, true)) || Model.Contains(new Tuple<int, int, bool>(5, 2, true)))
               {
                <td class="printed">5</td>
               }
               else
               {
                <td>5</td>
               }
                @if (Model.Contains(new Tuple<int, int, bool>(6, 0, false)))
                {
                    <td class="printed">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 1, false)))
                {
                    <td class="advancedtaken">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 2, false)))
                {
                    <td class="onlinetaken">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 3, false)))
                {
                    <td class="onhold">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 3, true)) || Model.Contains(new Tuple<int, int, bool>(6, 0, true)) || Model.Contains(new Tuple<int, int, bool>(6, 1, true)) || Model.Contains(new Tuple<int, int, bool>(6, 2, true)))
                {
                    <td class="printed">6</td>
                }
                else
                {
                    <td>6</td>
                }
                <td class="no-seats cell-no-border" rowspan="2">&nbsp;&nbsp;</td>
               @if (Model.Contains(new Tuple<int, int, bool>(7, 0, false)))
               {
                <td class="printed">7</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(7, 1, false)))
               {
                <td class="advancedtaken">7</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(7, 2, false)))
               {
                <td class="onlinetaken">7</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(7, 3, false)))
               {
                <td class="onhold">7</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(7, 3, true)) || Model.Contains(new Tuple<int, int, bool>(7, 0, true)) || Model.Contains(new Tuple<int, int, bool>(7, 1, true)) || Model.Contains(new Tuple<int, int, bool>(7, 2, true)))
               {
                <td class="printed">7</td>
               }
               else
               {
                <td>7</td>
               }
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(8, 0, false)))
                {
                    <td class="printed">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 1, false)))
                {
                    <td class="advancedtaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 2, false)))
                {
                    <td class="onlinetaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, false)))
                {
                    <td class="onhold">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, true)) || Model.Contains(new Tuple<int, int, bool>(8, 0, true)) || Model.Contains(new Tuple<int, int, bool>(8, 1, true)) || Model.Contains(new Tuple<int, int, bool>(8, 2, true)))
                {
                    <td class="printed">8</td>
                }
                else
                {
                    <td>8</td>
                }
               @if (Model.Contains(new Tuple<int, int, bool>(9, 0, false)))
               {
                <td class="printed">9</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(9, 1, false)))
               {
                <td class="advancedtaken">9</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(9, 2, false)))
               {
                <td class="onlinetaken">9</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(9, 3, false)))
               {
                <td class="onhold">9</td>
               }
               else if (Model.Contains(new Tuple<int, int, bool>(9, 3, true)) || Model.Contains(new Tuple<int, int, bool>(9, 0, true)) || Model.Contains(new Tuple<int, int, bool>(9, 1, true)) || Model.Contains(new Tuple<int, int, bool>(9, 2, true)))
               {
                <td class="printed">9</td>
               }
               else
               {
                <td>9</td>
               }
                @if (Model.Contains(new Tuple<int, int, bool>(10, 0, false)))
                {
                    <td class="printed">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 1, false)))
                {
                    <td class="advancedtaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 2, false)))
                {
                    <td class="onlinetaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, false)))
                {
                    <td class="onhold">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, true)) || Model.Contains(new Tuple<int, int, bool>(10, 0, true)) || Model.Contains(new Tuple<int, int, bool>(10, 1, true)) || Model.Contains(new Tuple<int, int, bool>(10, 2, true)))
                {
                    <td class="printed">10</td>
                }
                else
                {
                    <td>10</td>
                } 
            </tr>


        }
        else
        {
            <tr>
                <td class="no-seats" title="GIGMS Captain"><i class="fa fa-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;</td>
                @if (Model.Contains(new Tuple<int, int, bool>(1, 0, false)))
                {
                    <td class="printed">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 1, false)))
                {
                    <td class="advancedtaken">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 2, false)))
                {
                    <td class="onlinetaken">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 3, false)))
                {
                    <td class="onhold">1</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(1, 0, true)) || Model.Contains(new Tuple<int, int, bool>(1, 1, true)) || Model.Contains(new Tuple<int, int, bool>(1, 2, true)) || Model.Contains(new Tuple<int, int, bool>(1, 3, true)))
                {
                    <td class="printed">1</td>
                }
                else
                {
                    <td>1</td>
                }

            </tr>
            <tr>

                @if (Model.Contains(new Tuple<int, int, bool>(2, 0, false)))
                {
                    <td class="printed">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 1, false)))
                {
                    <td class="advancedtaken">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 2, false)))
                {
                    <td class="onlinetaken">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 3, false)))
                {
                    <td class="onhold">2</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(2, 0, true)) || Model.Contains(new Tuple<int, int, bool>(2, 1, true)) || Model.Contains(new Tuple<int, int, bool>(2, 2, true)) || Model.Contains(new Tuple<int, int, bool>(2, 3, true)))
                {
                    <td class="printed">2</td>
                }
                else
                {
                    <td>2</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(3, 0, false)))
                {
                    <td class="printed">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 1, false)))
                {
                    <td class="advancedtaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 2, false)))
                {
                    <td class="onlinetaken">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, false)))
                {
                    <td class="onhold">3</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(3, 3, true)) || Model.Contains(new Tuple<int, int, bool>(3, 0, true)) || Model.Contains(new Tuple<int, int, bool>(3, 1, true)) || Model.Contains(new Tuple<int, int, bool>(3, 2, true)))
                {
                    <td class="printed">3</td>
                }
                else
                {
                    <td>3</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(4, 0, false)))
                {
                    <td class="printed">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 1, false)))
                {
                    <td class="advancedtaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 2, false)))
                {
                    <td class="onlinetaken">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, false)))
                {
                    <td class="onhold">4</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(4, 3, true)) || Model.Contains(new Tuple<int, int, bool>(4, 0, true)) || Model.Contains(new Tuple<int, int, bool>(4, 1, true)) || Model.Contains(new Tuple<int, int, bool>(4, 2, true)))
                {
                    <td class="printed">4</td>
                }
                else
                {
                    <td>4</td>
                }
                <td class="no-seats cell-no-border">&nbsp;</td>
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(5, 0, false)))
                {
                    <td class="printed">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 1, false)))
                {
                    <td class="advancedtaken">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 2, false)))
                {
                    <td class="onlinetaken">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 3, false)))
                {
                    <td class="onhold">5</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(5, 3, true)) || Model.Contains(new Tuple<int, int, bool>(5, 0, true)) || Model.Contains(new Tuple<int, int, bool>(5, 1, true)) || Model.Contains(new Tuple<int, int, bool>(5, 2, true)))
                {
                    <td class="printed">5</td>
                }
                else
                {
                    <td>5</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(6, 0, false)))
                {
                    <td class="printed">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 1, false)))
                {
                    <td class="advancedtaken">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 2, false)))
                {
                    <td class="onlinetaken">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 3, false)))
                {
                    <td class="onhold">6</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(6, 3, true)) || Model.Contains(new Tuple<int, int, bool>(6, 0, true)) || Model.Contains(new Tuple<int, int, bool>(6, 1, true)) || Model.Contains(new Tuple<int, int, bool>(6, 2, true)))
                {
                    <td class="printed">6</td>
                }
                else
                {
                    <td>6</td>
                }
                <td class="no-seats cell-no-border" rowspan="2">&nbsp;</td>
                @if (Model.Contains(new Tuple<int, int, bool>(7, 0, false)))
                {
                    <td class="printed">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 1, false)))
                {
                    <td class="advancedtaken">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 2, false)))
                {
                    <td class="onlinetaken">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 3, false)))
                {
                    <td class="onhold">7</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(7, 3, true)) || Model.Contains(new Tuple<int, int, bool>(7, 0, true)) || Model.Contains(new Tuple<int, int, bool>(7, 1, true)) || Model.Contains(new Tuple<int, int, bool>(7, 2, true)))
                {
                    <td class="printed">7</td>
                }
                else
                {
                    <td>7</td>
                }
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(8, 0, false)))
                {
                    <td class="printed">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 1, false)))
                {
                    <td class="advancedtaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 2, false)))
                {
                    <td class="onlinetaken">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, false)))
                {
                    <td class="onhold">8</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(8, 3, true)) || Model.Contains(new Tuple<int, int, bool>(8, 0, true)) || Model.Contains(new Tuple<int, int, bool>(8, 1, true)) || Model.Contains(new Tuple<int, int, bool>(8, 2, true)))
                {
                    <td class="printed">8</td>
                }
                else
                {
                    <td>8</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(9, 0, false)))
                {
                    <td class="printed">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 1, false)))
                {
                    <td class="advancedtaken">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 2, false)))
                {
                    <td class="onlinetaken">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 3, false)))
                {
                    <td class="onhold">9</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(9, 3, true)) || Model.Contains(new Tuple<int, int, bool>(9, 0, true)) || Model.Contains(new Tuple<int, int, bool>(9, 1, true)) || Model.Contains(new Tuple<int, int, bool>(9, 2, true)))
                {
                    <td class="printed">9</td>
                }
                else
                {
                    <td>9</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(10, 0, false)))
                {
                    <td class="printed">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 1, false)))
                {
                    <td class="advancedtaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 2, false)))
                {
                    <td class="onlinetaken">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, false)))
                {
                    <td class="onhold">10</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(10, 3, true)) || Model.Contains(new Tuple<int, int, bool>(10, 0, true)) || Model.Contains(new Tuple<int, int, bool>(10, 1, true)) || Model.Contains(new Tuple<int, int, bool>(10, 2, true)))
                {
                    <td class="printed">10</td>
                }
                else
                {
                    <td>10</td>
                }
            </tr>
            <tr>
                @if (Model.Contains(new Tuple<int, int, bool>(11, 0, false)))
                {
                    <td class="printed">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 1, false)))
                {
                    <td class="advancedtaken">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 2, false)))
                {
                    <td class="onlinetaken">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 3, false)))
                {
                    <td class="onhold">11</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(11, 3, true)) || Model.Contains(new Tuple<int, int, bool>(11, 0, true)) || Model.Contains(new Tuple<int, int, bool>(11, 1, true)) || Model.Contains(new Tuple<int, int, bool>(11, 2, true)))
                {
                    <td class="printed">11</td>
                }
                else
                {
                    <td>11</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(12, 0, false)))
                {
                    <td class="printed">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 1, false)))
                {
                    <td class="advancedtaken">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 2, false)))
                {
                    <td class="onlinetaken">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 3, false)))
                {
                    <td class="onhold">12</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(12, 3, true)) || Model.Contains(new Tuple<int, int, bool>(12, 0, true)) || Model.Contains(new Tuple<int, int, bool>(12, 1, true)) || Model.Contains(new Tuple<int, int, bool>(12, 2, true)))
                {
                    <td class="printed">12</td>
                }
                else
                {
                    <td>12</td>
                }

                @if (Model.Contains(new Tuple<int, int, bool>(13, 0, false)))
                {
                    <td class="printed">13</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(13, 1, false)))
                {
                    <td class="advancedtaken">13</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(13, 2, false)))
                {
                    <td class="onlinetaken">13</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(13, 3, false)))
                {
                    <td class="onhold">13</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(13, 3, true)) || Model.Contains(new Tuple<int, int, bool>(13, 0, true)) || Model.Contains(new Tuple<int, int, bool>(13, 1, true)) || Model.Contains(new Tuple<int, int, bool>(13, 2, true)))
                {
                    <td class="printed">13</td>
                }
                else
                {
                    <td>13</td>
                }
                @if (Model.Contains(new Tuple<int, int, bool>(14, 0, false)))
                {
                    <td class="printed">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 1, false)))
                {
                    <td class="advancedtaken">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 2, false)))
                {
                    <td class="onlinetaken">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 3, false)))
                {
                    <td class="onhold">14</td>
                }
                else if (Model.Contains(new Tuple<int, int, bool>(14, 3, true)) || Model.Contains(new Tuple<int, int, bool>(14, 0, true)) || Model.Contains(new Tuple<int, int, bool>(14, 1, true)) || Model.Contains(new Tuple<int, int, bool>(14, 2, true)))
                {
                    <td class="printed">14</td>
                }
                else
                {
                    <td>14</td>
                }
            </tr>

        }
    </tbody>
</table>
