﻿
@model SwapVehicle
@{

    ViewData["Title"] = "Swap Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Swap Vehicle</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Travel Details
                            </h3>
                        </div>
                    </div>
                </div>


                @using (Html.BeginForm("Swapvehicle", "TerminalBooking", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="VehicleModelId">Today's Trips  :</label>
                            <div class="col-lg-6">
                                <select asp-for="VehicleTripRegistrationId" class="form-control m-input dropdown-select2" asp-items="ViewBag.VehicleTrips as IEnumerable<SelectListItem>">
                                    <option value="" id="VehicleTripRegistrationId">Select Trip to swap</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="VehicleTripRegistrationId"></span></div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="VehicleId">New Vehicle :</label>
                            <div class="col-lg-6">
                                <select asp-for="VehicleId" class="form-control vhnum m-input dropdown-select2" asp-items="ViewBag.Vehicles as IEnumerable<SelectListItem>">
                                    <option value="" id="VehicleId">Select a Vehicle</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="VehicleId"></span></div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverCode">New Driver :</label>
                            <div class="col-lg-6">
                                <select asp-for="DriverCode" class="form-control dcode m-input dropdown-select2" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                                    <option value="" id="DriverCode">Select Driver</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="DriverCode"></span></div>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6 m--align-right">
                                    <button type="submit" onclick="return valC();" class="btn btn-danger">Swap</button>
                                </div>
                            </div>
                        </div>
                    </div>


                }
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/select2/select2.js"></script>
    <script type="text/javascript">
        function valC() {
            var dcodee = $(".dcode").val();
            var vhnum = $(".vhnum").val();
             if (vhnum == "")
            {
                swal("Select Vehicle Number")
                return false;
            }
            else if (dcodee == "") {
                swal("Select driver")
                return false;
            }
            else if (vhnum == "")
            {
                swal("Select Vehicle Number")
                return false;
            }
            else { return true; }
        }
        $(document).ready(function () {
            $('.dropdown-select2').select2();
        });
    </script>
</div>
