﻿@model List<RouteModel>
@{
    ViewData["Title"] = "Routes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-brand"></i>
        </div>
        <div class="m-alert__text">
            All terminals configured for use on the platform. You can <a href="~/admin/driver/create" target="_blank">Add New</a> if it doesnt already exist.
        </div>
    </div>*@
<style>
    .terminallst {
        border: 1px #ccc solid;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        text-align: center;
        color: #424141 !important;
        box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
        -webkit-box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
        -moz-box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
        -o-box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
        -ms-box-shadow: 0 1px 3px rgba(33, 33, 33, 0.2);
    }
</style>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    TERMINAL ROUTES
                </h3>
            </div>
        </div>
        @*<div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="~/admin/driver/create" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>New record</span>
                            </span>
                        </a>
                    </li>
                    <li class="m-portlet__nav-item"></li>
                </ul>
            </div>*@
    </div>
    <div class="m-portlet__body">
        <div class="row">

            @foreach (var item in Model) {
            <div class="col-md-4">
                <a href="@Url.Action("RouteBuses", "TerminalBooking", new {area = "Booking", routeId = @item.Id })">
                        <div class="r4_counter db_box terminallst">
                            <i class="pull-left la la-car"></i>
                            <div class="stats">
                                <h4>
                                    <strong>
                                        @item.Name
                                    </strong>
                                </h4>
                                <span>Route</span>
                            </div>
                        </div>
                    </a>
            </div>
            }
        </div>

    </div>
</div>