﻿@model AttributesDTO

    <div class="m-portlet__body">
        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
            <div class="m-alert m-alert--icon alert alert-danger" role="alert">
                <div class="m-alert__icon">
                    <i class="la la-warning"></i>
                </div>
                <div class="m-alert__text" asp-validation-summary="All">
                </div>
                <div class="m-alert__close">
                    <button class="close" aria-label="Close" type="button" data-close="alert"></button>
                </div>
            </div>
        }

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">Create Inventory Attributes:</h3>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="AttributeName">Name:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="AttributeName" placeholder="enter Attribute name">
                <div class="form-control-feedback"><span asp-validation-for="AttributeName"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="Description">Description</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.AttributeDescription, new { @class = "form-control", name = "AttributeDescription", placeholder = "Enter Attribute Description", rows = "4" })
                <div class="form-control-feedback"><span asp-validation-for="AttributeDescription"></span></div>
            </div>
        </div>
    </div>
    </div>
