﻿@model IEnumerable<VehicleAllocationDTO>
    @{
        ViewData["Title"] = "GetAllAllocatedUnsedBusesInTerminal";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section styles{
        <style>
            .printme {
                display: none;
            }

            @@media print {
                .no-printme {
                    display: none;
                }

                #vehicleAllocationReport {
                    display: block;
                }
            }
        </style>
    }
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Unused Allocated Vehicle Report
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">

            <div class="row" id="vehicleAllocationReport">
                @foreach (var vehicleallocation in Model)
                {
                    <div class="col-xl-4">
                        <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force" style="height:auto">
                            <div class="m-portlet__head m-portlet__head--fit">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text m--font-light">
                                            <b>@vehicleallocation.RouteName</b>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="m-widget28">
                                    <div class="m-widget28__pic m-portlet-fit--sides" style="min-height:70px;"></div>
                                    <div class="m-widget28__container">
                                        @if (vehicleallocation.VehicleModel.Count == 0)
                                        {
                                            <div class="m-portlet__head-tools">
                                                <ul class="m-portlet__nav">
                                                    <li class="m-portlet__nav-item">
                                                        <span>No Vehicle Unused In @vehicleallocation.RouteName</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                        @foreach (var vehalloca in vehicleallocation.VehicleModel)
                                        {

                                            <div class="m-portlet__head-tools">
                                                <ul class="m-portlet__nav">
                                                    <li class="m-portlet__nav-item">
                                                        <span>Vehicle ID: </span>
                                                        <span>@(vehalloca.RegistrationNumber)</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                        <div class="m-widget28__tab tab-content">
                                            <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                                <div class="m-widget28__tab-items">
                                                    <div class="m-widget28__tab-item">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- end::Tab Content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:: Widgets/Blog-->
                    </div>
                }
            </div>
        </div>
    </div>

    @section scripts
{
        <script src="~/lib/jquery/dist/jquery.js"></script>
    }

