﻿
@{
    ViewData["Title"] = "GetDataByTerminalLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All vehicles configured for Allocation on the platform.
    </div>
</div>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Terminal Vehicle Allocation Header
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>Registration Number</th>
                    <th>Driver Name</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>


@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>*@


    <script>
        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/admin/VehicleAllocation/getDataForTerminalLocation',
                    columns: [
                        {
                            bSortable: false,
                            data: "registrationNumber"
                        },
                        {
                            bSortable: false,
                            data: "driverName"
                        },
                        {
                            bSortable: false,
                            data: "status"
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    order: []
                });                
            }
        };
        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });
    </script>
}