﻿@{
    ViewData["Title"] = "Vehicle Allocation By Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.HasClaim("Permission", "managevehicleallocation"))
{

}
else
{
    <button id="redirectbtn" style="display:none;">Redirect</button>

}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All vehicles configured for Allocation on the platform.
    </div>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Terminal Vehicle Allocation Header
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">

                    <a href="~/admin/vehicleAllocation/GetAllAllocatedUnsedBusesInTerminal" style="margin-top:5px;" class="btn btn-danger m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la  la-car"></i>
                            <span>Unused Report</span>
                        </span>
                    </a>&nbsp;

                    <a href="~/admin/vehicleAllocation/VehicleAllocationReport" style="margin-top:5px;" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la  la-car"></i>
                            <span>Allocation Report</span>
                        </span>
                    </a>&nbsp;

                    <button type="submit" id="BtnSendAllocateSms" style="margin-top:5px;" class="btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la  la-send"></i>
                            <span>Send Sms(All)</span>
                        </span>
                    </button>
                    </a>&nbsp;
                    <button type="submit" id="BtnResetAllocate" style="margin-top:5px;" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la  la-repeat"></i>
                            <span>Reset(All)</span>
                        </span>
                    </button>
                    @*<a href="~/admin/vehicle/create" id="" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Reset(All)</span>
                            </span>
                        </a>*@
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>State</th>
                    @*<th>Contact Name</th>
                        <th>Contact Phone</th>*@
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
            <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
        </span>

    </div>
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>
<div class="modal fade col-xs-12" id="popupmodal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <h4 class="modal-title"> Reset Terminals</h4>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitFormM">
                            <div class="modal-body">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <h4 class="text-muted">Select Terminals <i class="la la-home"></i></h4>
                                            <select name="Name" id="CmbSelect" style="width: 95%" class="form-control m-input dropdown-select2" multiple="multiple"
                                                    asp-items="ViewBag.Terminal as IEnumerable<SelectListItem>">
                                            </select>
                                        </div>
                                        <button id="BtnAllocateMultiple" class="btn btn-success" type="button"> Reset Terminals</button>
                                    </div>
                                    <div class="col-md-1" style="border-left-style:solid; color:grey; height:100px;width:10px;">
                                    </div>
                                    <div class="col-lg-5">
                                        <h4 class="text-muted">Reset All</h4>
                                        <button type="submit" id="BtnResetAllocateSms" style="margin-top:5px;" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                            <span>
                                                <i class="la  la-repeat"></i>
                                                <span>Reset(All)</span>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer" style="width:100%;">
                                <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                                
                            </div>
                            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                                </span>

                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://mobility.deltaline.com/unauthorised.html");
        });

        $(document).ready(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    </script>

    <script>
        $(document).ready(function () {
            //$('.dropdown-select2').select2()
            $(".dropdown-select2").select2({
                placeholder: {
                    id: '-1', // the value of the option
                    text: 'Select Terminals'
                },
                placeholder: "Select Terminals"
            })
        });
        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/admin/VehicleAllocation/getdata',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "name"
                        },
                        {
                            bSortable: false,
                            data: "stateName"
                        },
                        {
                            bSortable: false,
                            data: "terminalType"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                                                                     <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                                                         <div class="dropdown-menu dropdown-menu-right">

                                                                        \n <a class="dropdown-item" href="/admin/VehicleAllocation/GetVechicleByTerminal/`+ n.id + `"><i class="la la-edit"></i> View Vehicle</a>
                                                                      \n </div>
                                                                    \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/admin/vehicle/delete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });

        $("#BtnSendAllocateSms").click(function () {
            var r = confirm("Are you sure you want to send allocated Vehicle SMS to all Terminal Managers");
            if (r === true) {
                $("#sloader").show();

                var Type = parseInt("1");
                $.ajax({
                    type: "Post",
                    url: "VehicleAllocation/AllocateBuses",
                    data: {
                        Type: Type
                    },
                    success: function (data) {
                        //alert("Success!..");
                        window.location.href = "VehicleAllocation/index";
                    }
                })
                $("#sloader").hide();
            }


        });
         $("#BtnResetAllocate").click(function () {
            $('#popupmodal').modal();
            $('#popupmodal').modal('show');
        })

        $("#BtnResetAllocateSms").click(function () {
            var r = confirm("Are you sure you want to reset all allocated vehicles");
            if (r === true) {
                $("#sloader").show();

                var Type = parseInt("3");
                $.ajax({
                    type: "Post",
                    url: "VehicleAllocation/AllocateBuses",
                    data: {
                        Type: Type
                    },
                    success: function (data) {
                        //alert("Success!..");
                        window.location.href = "VehicleAllocation/index";
                    }
                })
                $("#sloader").hide();
            }


        });

         $("#BtnAllocateMultiple").click(function () {
            //$("#sloader").show();
             var data = $("#SubmitFormM").serialize();
             var Type = parseInt("5");
             $.ajax({
                 type: "Post",
                 url: "VehicleAllocation/AllocateBuses",
                 data: data, Type: Type,
                success: function (data) {
                    //alert("Success!..");
                    window.location.href = "VehicleAllocation/index";
                    //$("#MyModal").modal("hide");

                }

            })
            //$("#sloader").hide();
        });

    </script>
}

