﻿@model IEnumerable<VehicleAllocationDTO>
@{
    ViewData["Title"] = "VehicleAllocationReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .printme {
            display: none;
        }

        @@media print {
            .no-printme {
                display: none;
            }

            #vehicleAllocationReport {
                display: block;
            }
        }
    </style>
}
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Vehicle Allocation Report
                </h3>
            </div>
            <div class="col-lg-3 m--align-right" style="margin-top: 5px;">
                <button type="submit" onclick={window.print()} id="BtnPrint" style="margin-top:5px;" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                    <span>
                        <i class="la la-print"></i>
                        <span>Print</span>
                    </span>
                </button>
                @*<button type="submit" onclick={window.print()} class="btn btn-info m--align-right">Click to Print</button>*@
            </div>
        </div>
    </div>
    <div class="m-portlet__body">

        <div class="row" id="vehicleAllocationReport">
            @foreach (var vehicleallocation in Model.ToList())
            {
                <div class="col-xl-4">
                    <!--begin:: Widgets/Blog-->
                    <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force" style="height:auto">
                        <div class="m-portlet__head m-portlet__head--fit">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m--font-light">
                                        <b>@vehicleallocation.RouteName</b>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-widget28">
                                <div class="m-widget28__pic m-portlet-fit--sides" style="min-height:70px;"></div>
                                <div class="m-widget28__container">
                                    @if (vehicleallocation.VehicleModel.Count == 0)
                                    {
                                        <div class="m-portlet__head-tools">
                                            <ul class="m-portlet__nav">
                                                <li class="m-portlet__nav-item">
                                                    <span>No Vehicles Avalable At Terminal</span>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    @foreach (var vehalloca in vehicleallocation.VehicleModel)
                                    {

                                        <div class="m-portlet__head-tools">
                                            <ul class="m-portlet__nav">
                                                <li class="m-portlet__nav-item">
                                                    @*<span>Vehicle ID: </span>*@
                                                    <span style="font-weight:bold;">@(vehalloca.RegistrationNumber)</span> :
                                                    <span style="color:darkblue">@(vehalloca.DriverName)</span> :
                                                    <span style="color:green">@(vehalloca.DriverNo)</span> :
                                                    <span style="color:maroon">@(vehalloca.VehicleStatus)</span>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    <div class="m-widget28__tab tab-content">
                                        <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                            <div class="m-widget28__tab-items">
                                                <div class="m-widget28__tab-item">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end::Tab Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Blog-->
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
                    function printtag(tagid) {
                        var hashid = "#" + tagid;
                        var tagname = $(hashid).prop("tagName").toLowerCase();
                        var attributes = "";
                        var attrs = document.getElementById(tagid).attributes;
                        $.each(attrs, function (i, elem) {
                            attributes += " " + elem.name + " ='" + elem.value + "' ";
                        })
                        var divToPrint = $(hashid).html();
                        var head = "<html><br><head>" + $("head").html() + "</head>";
                        var allcontent = head + "<body  onload='window.print()' >" + "<" + tagname + attributes + ">" + divToPrint + "</" + tagname + ">" + "</body></html>";
                        var newWin = window.open('', 'Print-Window');
                        newWin.document.open();
                        newWin.document.write(allcontent);
                        newWin.document.close();
                        setTimeout(function(){newWin.close();},15);
                    }

                        $('button').on('click', function () {
                            printData();
                        })
    </script>
}
