﻿@model AgentCommissionDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
}

<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        text-align: center;
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Agent commission details are listed below
    </div>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Agent Commission Details
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable">
            <thead>
                <tr class="">
                    <th>Value</th>
                    <th>Discount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                <tr>
                    <td>
                        @Model.Value
                    </td>
                    <td>
                        @Model.Discount
                    </td>
                    <td>
                        @Html.ActionLink("Update", "UpdateCommission", new { commId = Model.Id }, new { @class = "btn btn-outline-primary btn-sm", @style = "margin-bottom:5px;" })
                    </td>
                </tr>
                }
            </tbody>
        </table>

        @Html.AntiForgeryToken()
    </div>
</div>


@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>

        var reschedule = function (referenceNumber) {
            $.blockUI({ message: '<h1>Processing...</h1>' });

            $.ajax({
                url: "../../admin/report/TicketReschedule", {referenceNumber},
                method: "get",
                success: function (response) {
                    $.unblockUI();
                    console.log('wetin dey')
                },
                error: function (err) {
                    $.unblockUI();
                    console.log(err)
                }
            })
        }
    </script>
}

