﻿@model AgentCommissionDTO
@{
    ViewData["Title"] = "UpdateCommission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        text-align: center;
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Update Agent Commission Here
    </div>
</div>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/agentlocation/bookingdetail")">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <input class="form-control m-input" asp-for="Id" type="hidden">
                <div class="col-lg-6">
                    <label>Discount </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <input class="form-control m-input" asp-for="Discount" placeholder="enter discount">
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Value </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <input class="form-control m-input" asp-for="Value" placeholder="enter value">
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-danger">Update Commission</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

