﻿@model VehicleModel

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Vehicle Info:</h3>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="VehicleModelId">Model :</label>
        <div class="col-lg-6 has-danger">
            <select asp-for="VehicleModelId" class="form-control m-input" asp-items="ViewBag.VehicleModelId as IEnumerable<SelectListItem>">
                <option value="">Select a model</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="VehicleModelId"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="RegistrationNumber">Registration No.:</label>
        <div class="col-lg-6 has-danger">
            <input class="form-control m-input" asp-for="RegistrationNumber" placeholder="enter registration number">
            <div class="form-control-feedback"><span asp-validation-for="RegistrationNumber"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="EngineNumber">Engine No.:</label>
        <div class="col-lg-6 has-danger">
            <input class="form-control m-input" asp-for="EngineNumber" placeholder="enter engine number">
            <div class="form-control-feedback"><span asp-validation-for="EngineNumber"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ChasisNumber">Chasis No.:</label>
        <div class="col-lg-6 has-danger">
            <input class="form-control m-input" asp-for="ChasisNumber" placeholder="enter chasis number">
            <div class="form-control-feedback"><span asp-validation-for="ChasisNumber"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="LocationId">Location :</label>
        <div class="col-lg-6 has-danger">
            <select asp-for="LocationId" class="form-control m-input dropdown-select2" asp-items="ViewBag.LocationId as IEnumerable<SelectListItem>">
                <option value="">Select a location</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="LocationId"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="DriverId">Driver :</label>
        <div class="col-lg-6 has-danger">
            <select asp-for="DriverId" class="form-control m-input dropdown-select2" asp-items="ViewBag.DriverId as IEnumerable<SelectListItem>">
                <option value="">Select a driver</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="DriverId"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="DriverId">Partner :</label>
        <div class="col-lg-6 has-danger">
            <select asp-for="FranchizeId" class="form-control m-input dropdown-select2" asp-items="ViewBag.FranchiseId as IEnumerable<SelectListItem>">
                <option value="">Select a Partner</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="FranchizeId"></span></div>

            @*@Html.DropDownList("FirstName", (SelectList)ViewBag.FranchiseId, "Select Franchise", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2"
                })*@
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="VehicleStatus">Status :</label>
        <div class="col-lg-6 has-danger">
            <select asp-for="VehicleStatus" class="form-control m-input dropdown-select2" asp-items="Html.GetEnumSelectList<VehicleStatus>()">
                <option value="">Select status</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="VehicleStatus"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="LicenseDate">License Date:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" name="LicenseDate" asp-for="LicenseDate" placeholder="dd/mm/yyyy">
            <div class="form-control-feedback"><span asp-validation-for="LicenseDate"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="InsuranceDate">Insurance Date:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" name="InsuranceDate" asp-for="InsuranceDate" placeholder="dd/mm/yyyy">
            <div class="form-control-feedback"><span asp-validation-for="InsuranceDate"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Description">Description</label>
        <div class="col-lg-6">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control",  name="Description",  placeholder = "Enter Description", rows = "4" })
            <div class="form-control-feedback"><span asp-validation-for="Description"></span></div>
        </div>
    </div>
</div>
</div>