﻿@model TripModel

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">Trip Info:</h3>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="Code">Code:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="Code" placeholder="enter code">
                <div class="form-control-feedback"><span asp-validation-for="Code"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="RouteId">Route :</label>
            <div class="col-lg-6">
                <select asp-for="RouteId" class="form-control m-input dropdown-select2" asp-items="ViewBag.RouteId as IEnumerable<SelectListItem>">
                    <option value="">Select a route</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="RouteId"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="DestinationTerminalId">Vehicle Model:</label>
            <div class="col-lg-6">
                <select asp-for="VehicleModelId" class="form-control m-input" asp-items="ViewBag.VehicleModelId as IEnumerable<SelectListItem>">
                    <option value="">Select a vehicle</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="VehicleModelId"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="DepartureTerminalId">Departure Time:</label>
            <div class="col-lg-6">
                <select asp-for="DepartureTime" class="form-control m-input dropdown-select2">
                    <option value="">Select departure time</option>
                    <option value="1:00 AM">1:00 AM</option>
                    <option value="1:05 AM">1:05 AM</option>
                    <option value="1:10 AM">1:10 AM</option>
                    <option value="1:15 AM">1:15 AM</option>
                    <option value="1:20 AM">1:20 AM</option>
                    <option value="1:25 AM">1:25 AM</option>
                    <option value="1:30 AM">1:30 AM</option>
                    <option value="1:35 AM">1:35 AM</option>
                    <option value="1:40 AM">1:40 AM</option>
                    <option value="1:45 AM">1:45 AM</option>
                    <option value="1:50 AM">1:50 AM</option>
                    <option value="1:55 AM">1:55 AM</option>
                    <option value="2:00 AM">2:00 AM</option>
                    <option value="2:05 AM">2:05 AM</option>
                    <option value="2:10 AM">2:10 AM</option>
                    <option value="2:15 AM">2:15 AM</option>
                    <option value="2:20 AM">2:20 AM</option>
                    <option value="2:25 AM">2:25 AM</option>
                    <option value="2:30 AM">2:30 AM</option>
                    <option value="2:35 AM">2:35 AM</option>
                    <option value="2:40 AM">2:40 AM</option>
                    <option value="2:45 AM">2:45 AM</option>
                    <option value="2:50 AM">2:50 AM</option>
                    <option value="2:55 AM">2:55 AM</option>
                    <option value="3:00 AM">3:00 AM</option>
                    <option value="3:00 AM">3:05 AM</option>
                    <option value="3:00 AM">3:10 AM</option>
                    <option value="3:15 AM">3:15 AM</option>
                    <option value="3:20 AM">3:20 AM</option>
                    <option value="3:25 AM">3:25 AM</option>
                    <option value="3:30 AM">3:30 AM</option>
                    <option value="3:35 AM">3:35 AM</option>
                    <option value="3:40 AM">3:40 AM</option>
                    <option value="3:45 AM">3:45 AM</option>
                    <option value="3:50 AM">3:50 AM</option>
                    <option value="3:55 AM">3:55 AM</option>
                    <option value="4:00 AM">4:00 AM</option>
                    <option value="4:05 AM">4:05 AM</option>
                    <option value="4:10 AM">4:10 AM</option>
                    <option value="4:15 AM">4:15 AM</option>
                    <option value="4:20 AM">4:20 AM</option>
                    <option value="4:25 AM">4:25 AM</option>
                    <option value="4:30 AM">4:30 AM</option>
                    <option value="4:35 AM">4:35 AM</option>
                    <option value="4:40 AM">4:40 AM</option>
                    <option value="4:45 AM">4:45 AM</option>
                    <option value="4:50 AM">4:50 AM</option>
                    <option value="4:55 AM">4:55 AM</option>
                    <option value="5:00 AM">5:00 AM</option>
                    <option value="5:05 AM">5:05 AM</option>
                    <option value="5:10 AM">5:10 AM</option>
                    <option value="5:15 AM">5:10 AM</option>
                    <option value="5:20 AM">5:20 AM</option>
                    <option value="5:25 AM">5:25 AM</option>
                    <option value="5:30 AM">5:30 AM</option>
                    <option value="5:35 AM">5:35 AM</option>
                    <option value="5:40 AM">5:40 AM</option>
                    <option value="5:45 AM">5:45 AM</option>
                    <option value="5:50 AM">5:50 AM</option>
                    <option value="5:55 AM">5:55 AM</option>
                    <option value="6:00 AM">6:00 AM</option>
                    <option value="6:05 AM">6:05 AM</option>
                    <option value="6:10 AM">6:10 AM</option>
                    <option value="6:15 AM">6:15 AM</option>
                    <option value="6:20 AM">6:20 AM</option>
                    <option value="6:25 AM">6:25 AM</option>
                    <option value="6:30 AM">6:30 AM</option>
                    <option value="6:35 AM">6:35 AM</option>
                    <option value="6:40 AM">6:40 AM</option>
                    <option value="6:45 AM">6:45 AM</option>
                    <option value="6:50 AM">6:50 AM</option>
                    <option value="6:55 AM">6:55 AM</option>
                    <option value="7:00 AM">7:00 AM</option>
                    <option value="7:05 AM">7:05 AM</option>
                    <option value="7:10 AM">7:10 AM</option>
                    <option value="7:15 AM">7:15 AM</option>
                    <option value="7:20 AM">7:20 AM</option>
                    <option value="7:25 AM">7:25 AM</option>
                    <option value="7:30 AM">7:30 AM</option>
                    <option value="7:35 AM">7:35 AM</option>
                    <option value="7:40 AM">7:40 AM</option>
                    <option value="7:45 AM">7:45 AM</option>
                    <option value="7:50 AM">7:50 AM</option>
                    <option value="7:55 AM">7:55 AM</option>
                    <option value="8:00 AM">8:00 AM</option>
                    <option value="8:05 AM">8:05 AM</option>
                    <option value="8:10 AM">8:10 AM</option>
                    <option value="8:15 AM">8:15 AM</option>
                    <option value="8:20 AM">8:20 AM</option>
                    <option value="8:25 AM">8:25 AM</option>
                    <option value="8:30 AM">8:30 AM</option>
                    <option value="8:35 AM">8:35 AM</option>
                    <option value="8:40 AM">8:40 AM</option>
                    <option value="8:45 AM">8:45 AM</option>
                    <option value="8:50 AM">8:50 AM</option>
                    <option value="8:55 AM">8:55 AM</option>
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="9:05 AM">9:05 AM</option>
                    <option value="9:10 AM">9:10 AM</option>
                    <option value="9:15 AM">9:15 AM</option>
                    <option value="9:20 AM">9:20 AM</option>
                    <option value="9:25 AM">9:25 AM</option>
                    <option value="9:30 AM">9:30 AM</option>
                    <option value="9:35 AM">9:35 AM</option>
                    <option value="9:40 AM">9:40 AM</option>
                    <option value="9:45 AM">9:45 AM</option>
                    <option value="9:50 AM">9:50 AM</option>
                    <option value="9:55 AM">9:55 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="10:05 AM">10:05 AM</option>
                    <option value="10:10 AM">10:10 AM</option>
                    <option value="10:15 AM">10:15 AM</option>
                    <option value="10:20 AM">10:20 AM</option>
                    <option value="10:25 AM">10:25 AM</option>
                    <option value="10:30 AM">10:30 AM</option>
                    <option value="10:35 AM">10:35 AM</option>
                    <option value="10:40 AM">10:40 AM</option>
                    <option value="10:45 AM">10:45 AM</option>
                    <option value="10:50 AM">10:50 AM</option>
                    <option value="10:55 AM">10:55 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="11:05 AM">11:05 AM</option>
                    <option value="11:10 AM">11:10 AM</option>
                    <option value="11:15 AM">11:15 AM</option>
                    <option value="11:20 AM">11:20 AM</option>
                    <option value="11:25 AM">11:25 AM</option>
                    <option value="11:30 AM">11:30 AM</option>
                    <option value="11:35 AM">11:35 AM</option>
                    <option value="11:40 AM">11:40 AM</option>
                    <option value="11:45 AM">11:45 AM</option>
                    <option value="11:50 AM">11:50 AM</option>
                    <option value="11:55 AM">11:55 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="12:05 PM">12:05 PM</option>
                    <option value="12:10 PM">12:10 PM</option>
                    <option value="12:15 PM">12:15 PM</option>
                    <option value="12:20 PM">12:20 PM</option>
                    <option value="12:25 PM">12:25 PM</option>
                    <option value="12:30 PM">12:30 PM</option>
                    <option value="12:35 PM">12:35 PM</option>
                    <option value="12:40 PM">12:40 PM</option>
                    <option value="12:45 PM">12:45 PM</option>
                    <option value="12:50 PM">12:50 PM</option>
                    <option value="12:55 PM">12:55 PM</option>
                    <option value="1:00 PM">1:00 PM</option>
                    <option value="1:05 PM">1:05 PM</option>
                    <option value="1:10 PM">1:10 PM</option>
                    <option value="1:15 PM">1:15 PM</option>
                    <option value="1:20 PM">1:20 PM</option>
                    <option value="1:25 PM">1:25 PM</option>
                    <option value="1:30 PM">1:30 PM</option>
                    <option value="1:35 PM">1:35 PM</option>
                    <option value="1:40 PM">1:40 PM</option>
                    <option value="1:45 PM">1:45 PM</option>
                    <option value="1:50 PM">1:50 PM</option>
                    <option value="1:55 PM">1:55 PM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="2:05 PM">2:05 PM</option>
                    <option value="2:10 PM">2:10 PM</option>
                    <option value="2:15 PM">2:15 PM</option>
                    <option value="2:20 PM">2:20 PM</option>
                    <option value="2:25 PM">2:25 PM</option>
                    <option value="2:30 PM">2:30 PM</option>
                    <option value="2:35 PM">2:35 PM</option>
                    <option value="2:40 PM">2:40 PM</option>
                    <option value="2:45 PM">2:45 PM</option>
                    <option value="2:50 PM">2:50 PM</option>
                    <option value="2:55 PM">2:55 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="3:00 PM">3:05 PM</option>
                    <option value="3:00 PM">3:10 PM</option>
                    <option value="3:15 PM">3:15 PM</option>
                    <option value="3:20 PM">3:20 PM</option>
                    <option value="3:25 PM">3:25 PM</option>
                    <option value="3:30 PM">3:30 PM</option>
                    <option value="3:35 PM">3:35 PM</option>
                    <option value="3:40 PM">3:40 PM</option>
                    <option value="3:45 PM">3:45 PM</option>
                    <option value="3:50 PM">3:50 PM</option>
                    <option value="3:55 PM">3:55 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="5:05 PM">5:05 PM</option>
                    <option value="5:10 PM">5:10 PM</option>
                    <option value="5:15 PM">5:10 PM</option>
                    <option value="5:20 PM">5:20 PM</option>
                    <option value="5:25 PM">5:25 PM</option>
                    <option value="5:30 PM">5:30 PM</option>
                    <option value="5:35 PM">5:35 PM</option>
                    <option value="5:40 PM">5:40 PM</option>
                    <option value="5:45 PM">5:45 PM</option>
                    <option value="5:50 PM">5:50 PM</option>
                    <option value="5:55 PM">5:55 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="6:05 PM">6:05 PM</option>
                    <option value="6:10 PM">6:10 PM</option>
                    <option value="6:15 PM">6:15 PM</option>
                    <option value="6:20 PM">6:20 PM</option>
                    <option value="6:25 PM">6:25 PM</option>
                    <option value="6:30 PM">6:30 PM</option>
                    <option value="6:35 PM">6:35 PM</option>
                    <option value="6:40 PM">6:40 PM</option>
                    <option value="6:45 PM">6:45 PM</option>
                    <option value="6:50 PM">6:50 PM</option>
                    <option value="6:55 PM">6:55 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="7:05 PM">7:05 PM</option>
                    <option value="7:10 PM">7:10 PM</option>
                    <option value="7:15 PM">7:15 PM</option>
                    <option value="7:20 PM">7:20 PM</option>
                    <option value="7:25 PM">7:25 PM</option>
                    <option value="7:30 PM">7:30 PM</option>
                    <option value="7:35 PM">7:35 PM</option>
                    <option value="7:40 PM">7:40 PM</option>
                    <option value="7:45 PM">7:45 PM</option>
                    <option value="7:50 PM">7:50 PM</option>
                    <option value="7:55 PM">7:55 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="8:05 PM">8:05 PM</option>
                    <option value="8:10 PM">8:10 PM</option>
                    <option value="8:15 PM">8:15 PM</option>
                    <option value="8:20 PM">8:20 PM</option>
                    <option value="8:25 PM">8:25 PM</option>
                    <option value="8:30 PM">8:30 PM</option>
                    <option value="8:35 PM">8:35 PM</option>
                    <option value="8:40 PM">8:40 PM</option>
                    <option value="8:45 PM">8:45 PM</option>
                    <option value="8:50 PM">8:50 PM</option>
                    <option value="8:55 PM">8:55 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                    <option value="9:05 PM">9:05 PM</option>
                    <option value="9:10 PM">9:10 PM</option>
                    <option value="9:15 PM">9:15 PM</option>
                    <option value="9:20 PM">9:20 PM</option>
                    <option value="9:25 PM">9:25 PM</option>
                    <option value="9:30 PM">9:30 PM</option>
                    <option value="9:35 PM">9:35 PM</option>
                    <option value="9:40 PM">9:40 PM</option>
                    <option value="9:45 PM">9:45 PM</option>
                    <option value="9:50 PM">9:50 PM</option>
                    <option value="9:55 PM">9:55 PM</option>
                    <option value="10:00 PM">10:00 PM</option>
                    <option value="10:05 PM">10:05 PM</option>
                    <option value="10:10 PM">10:10 PM</option>
                    <option value="10:15 PM">10:15 PM</option>
                    <option value="10:20 PM">10:20 PM</option>
                    <option value="10:25 PM">10:25 PM</option>
                    <option value="10:30 PM">10:30 PM</option>
                    <option value="10:35 PM">10:35 PM</option>
                    <option value="10:40 PM">10:40 PM</option>
                    <option value="10:45 PM">10:45 PM</option>
                    <option value="10:50 PM">10:50 PM</option>
                    <option value="10:55 PM">10:55 PM</option>
                    <option value="11:00 PM">11:00 PM</option>
                    <option value="11:05 PM">11:05 PM</option>
                    <option value="11:10 PM">11:10 PM</option>
                    <option value="11:15 PM">11:15 PM</option>
                    <option value="11:20 PM">11:20 PM</option>
                    <option value="11:25 PM">11:25 PM</option>
                    <option value="11:30 PM">11:30 PM</option>
                    <option value="11:35 PM">11:35 PM</option>
                    <option value="11:40 PM">11:40 PM</option>
                    <option value="11:45 PM">11:45 PM</option>
                    <option value="11:50 PM">11:50 PM</option>
                    <option value="11:55 PM">11:55 PM</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="DepartureTime"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="ParentRouteId">Parent Route:</label>
            <div class="col-lg-6">
                <select asp-for="ParentRouteId" class="form-control m-input dropdown-select2" asp-items="ViewBag.ParentRouteId as IEnumerable<SelectListItem>">
                    <option value="">Select parent route</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="ParentRouteId"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="ParentTripId">Parent Trip:</label>
            <div class="col-lg-6">
                <select asp-for="ParentTripId" class="form-control m-input dropdown-select2">
                    <option value="">Select parent trip</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="ParentTripId"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="AvailableOnline">Available Online:</label>
            <div class="col-lg-6">
                <div class="m-checkbox-inline">
                    <label class="m-radio m-radio--solid m-radio--brand">
                        <input asp-for="AvailableOnline" type="radio" value="false"> No
                        <span></span>
                    </label>
                    <label class="m-radio m-radio--solid m-radio--brand">
                        <input asp-for="AvailableOnline" type="radio" value="true"> Yes
                        <span></span>
                    </label>
                </div>
                <div class="form-control-feedback"><span asp-validation-for="AvailableOnline"></span></div>
            </div>
        </div>
    </div>
</div>