﻿@model AgentTransactionDTO
@{
    ViewData["Title"] = "Get Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Get Transactions</h2>
@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }


            .Naira::before {
                content: "₦";
                font-family: "Roboto Regular", sans-serif;
                font-size: 0.9em;
                position: absolute;
                left: 5px;
                top: 45%;
                transform: translateY(-50%);
            }
    </style>
}

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All agents configured for use on the platform. You can <a href="~/admin/employee/create" target="_blank">Add New</a> if it doesnt already exist.
        <h3 style="text-align:right">Agent Name :   @ViewBag.Name</h3>
    </div>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    AGENTS
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <label>Wallet Balance:    </label>
                    <span class="Naira">
                        <input type="text" style="padding-top:5px;" class="form-control" value="@ViewBag.Bal" readonly disabled />
                        <input type="hidden" class="form-control" value="@ViewBag.Id" id="agentIdent" readonly disabled />
                    </span>
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a onclick='javascript: pay(@ViewBag.Id)' class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la la-plus"></i>
                            <span>Make Payment</span>
                        </span>
                    </a>
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th>Amount (₦)</th>
                    <th> Transaction Type</th>
                    <th> Booking Ref</th>
                    <th>Transaction Time</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

<div class="modal fade col-xs-12" id="payagent" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <h4 class="modal-title"> Pay Agent</h4>
                <input type="hidden" id="money"  />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Amount: </label>
                                    <input type="text" placeholder="Enter Amount" class="form-control" id="amount" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="width:100%;">
                            <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                            <button id="submitUpdateForm" class="btn btn-success" onclick="payToAgent();" type="button"> Confirm Payment</button>
                        </div>
                        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                <img alt="progress" src="https://deltaline.com/upload/images/spinner-loader.gif" style="width: 90px;" />
                            </span>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script>
        var id = @Url.ActionContext.RouteData.Values["id"];
        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/admin/agent/gettrans/?id=' + id,
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                             bSortable: false,
                             data: "amount"
                        },
                        {
                             bSortable: false,
                             data: "transaction"
                        },
                        {
                             bSortable: false,
                             data: "bookingReferenceCode"
                        },
                        {
                              bSortable: false,
                            data: "transactionTime",
                            render: function (d) {
                                return moment(d).format('llll');
                            }
                        }
                        
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/admin/employee/delete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });
        function pay(agentid) {
            var agentId = agentid;
            var ids =  $("#agentIdent").val();

            $('#payagent').modal();
            $('#payagent').modal('show');
        $("#money").val(ids);   
        }
        function payToAgent() {
            var agentid = $("#money").val();
             var amount = $("#amount").val();
            $.getJSON("/admin/agent/payAgent/?id=" + agentid + "&amount=" + amount ,
                function (data) {                  
                });
             swal("Payment Successful", "Done", "success");
             $('#payagent').modal('hide');
            $('#payagent').modal('hide');
            $.getJSON("/admin/agent/GetTransactions/?id=" + agentid ,
                function (data) {                  
                });
            setTimeout(function () {
                //location.reload();
                var currentURL = window.location.pathname + window.location.search + window.location.hash;
                window.location.href = currentURL;                
            }, 1000);
            window.location.reload(true);
             //window.location.href = "../../agent/getTransactions/" + agentid ;
        }
    </script>
}
