﻿@model CompanyInfoDTO

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Company Info:</h3>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Name">Name.:</label>
        <div class="col-lg-6 has-danger">
            <input class="form-control m-input" asp-for="Name" placeholder="enter company name">
            <div class="form-control-feedback"><span asp-validation-for="Name"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Address">Address.:</label>
        <div class="col-lg-6 has-danger">
            <input class="form-control m-input" asp-for="Address" placeholder="enter company address">
            <div class="form-control-feedback"><span asp-validation-for="Address"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ContactPerson">ContactPerson.:</label>
        <div class="col-lg-6 has-danger">
            <input class="form-control m-input" asp-for="ContactPerson" placeholder="enter contact person">
            <div class="form-control-feedback"><span asp-validation-for="ContactPerson"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ContactName">ContactName.:</label>
        <div class="col-lg-6 has-danger">
            <input class="form-control m-input" asp-for="ContactName" placeholder="enter contact name">
            <div class="form-control-feedback"><span asp-validation-for="ContactName"></span></div>
        </div>
    </div>

    @*<div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="PilotPayrollDate">PilotPayroll Date:</label>
        <div class="col-lg-6">
            @Html.EditorFor(model => model.PilotPayrollDate,
                         new { htmlAttributes = new { @class = "form-control m-input datepicker", data_format = "D, dd MM yyyy", placeholder = "PilotPayrollDate", type = "text", ReadOnly = "true" } })
            <div class="form-control-feedback"><span asp-validation-for="PilotPayrollDate"></span></div>
        </div>
    </div>*@

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="PilotPayrollDate">PilotPayroll Date:</label>
        <div class="col-lg-6 has-danger">
            <input class="form-control m-input" asp-for="PilotPayrollDate">
            <div class="form-control-feedback"><span asp-validation-for="PilotPayrollDate"></span></div>
        </div>
    </div>

</div>
</div>
