﻿@model LedgerChartOfAccountDTO

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">Create GLChart of Account:</h3>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="GLAccountName">Name:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="GLAccountName" placeholder="enter GLChart Account Name">
                <div class="form-control-feedback"><span asp-validation-for="GLAccountName"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="CGLAccountNumber">GLAccount Number:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="CGLAccountNumber" placeholder="enter GLAccount Number">
                <div class="form-control-feedback"><span asp-validation-for="CGLAccountNumber"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="GLAccountDescription">Description</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.GLAccountDescription, new { @class = "form-control", name = "Description", placeholder = "Enter GLAccountDescription", rows = "4" })
                @*<div class="form-control-feedback"><span asp-validation-for="Description"></span></div>*@
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="GLAccountType">AccountType:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="GLAccountType" placeholder="enter GLAccount Type">
                <div class="form-control-feedback"><span asp-validation-for="GLAccountType"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="GLOtherNotes">GLOtherNotes</label>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.GLOtherNotes, new { @class = "form-control", name = "GLOtherNotes", placeholder = "Enter GLOtherNotes", rows = "6" })
                @*<div class="form-control-feedback"><span asp-validation-for="Description"></span></div>*@
            </div>
        </div>

    </div>
</div>
