﻿@model FareModel

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">Fare Info:</h3>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="RouteId">Route Name:</label>
            <div class="col-lg-6">
                <select asp-for="RouteId" class="form-control m-input dropdown-select2" asp-items="ViewBag.RouteId as IEnumerable<SelectListItem>">
                    <option value="">Select a route</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="RouteId"></span></div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="VehicleModelId">Vehicle Model:</label>
            <div class="col-lg-6">

                <select asp-for="VehicleModelId" class="form-control m-input" asp-items="ViewBag.VehicleModelId as IEnumerable<SelectListItem>">
                    <option value="">Select a model</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="VehicleModelId"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="ChildrenDiscountPercentage">Children discount (%):</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="ChildrenDiscountPercentage" placeholder="Enter discount for children">
                <div class="form-control-feedback"><span asp-validation-for="ChildrenDiscountPercentage"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="Amount">Amount:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="Amount" placeholder="Enter amount">
                <div class="form-control-feedback"><span asp-validation-for="Amount"></span></div>
            </div>
        </div>
    </div>
</div>
