﻿@model EmployeeModel

@{
    ViewData["Title"] = "Dashboard";
}
<style>
    .padding-bottom-20 {
        padding-bottom: 20px;
    }
    .kt-widget29 .kt-widget29__content
    {
        padding:1em;
    }
    .m-content{overflow:auto;}
    .m-font-brand {
        font-size: 18px;
        color: #6c7293;
    }
    .kt-widget25__desc
    {
        padding-top:0px !important;
    }
</style>

<div class="row">
    @if (User.HasClaim("Permission", "managerevenue"))
    {
<div class="col-xl-6">

    <!--begin:: Widgets/Sales-->


    <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--space kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Total Sales
                    <small>daily sales report</small>
                </h3>
            </div>
           
        </div>
        <div class="kt-portlet__body">
            <div class="kt-widget25">
                <span class="m-font-brand" id="dailySales">NGN237,650</span>
                <span class="kt-widget25__subtitle">Total Revenue for today</span>
                
                <div class="kt-widget25__items mb-15" >
                    <div class="kt-widget25__item">
                        <span class="m-font-brand" style="color: #6c7293">
                           N120,000
                        </span>

                        <span class="kt-widget25__desc">
                            Online Bookings
                        </span>
                    </div>
                    <div class="kt-widget25__item">
                        <span class="m-font-brand" style="color: #6c7293">
                            N20,000
                        </span>

                        <span class="kt-widget25__desc">
                            Advanced Bookings
                        </span>
                    </div>
                    <div class="kt-widget25__item">
                        <span class="m-font-brand" style="color: #6c7293">
                            N30,000
                        </span>

                        <span class="kt-widget25__desc">
                            Terminal Bookings
                        </span>
                    </div>
                </div>
           
                <div class="" style="margin-top:15px;">
                    <span class=" m-font-brand m--font-danger" id="yesterdaysSales">
                        NGN0
                    </span> <small>Yesterday sales</small>
                </div>
            
            </div>
        </div>
    </div>




    <!--end:: Widgets/Product Sales-->
</div>}

<div class="col-xl-6">

    <!--begin:: Packages-->
    <div class="kt-portlet kt-portlet--skin-solid kt-portlet--solid-warning kt-portlet--head-lg kt-portlet--head-overlay kt-portlet--height-fluid">
        <div class="kt-portlet__head kt-portlet__head--noborder">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title kt-font-light">
                    Booking Count
                </h3>

            </div>
            <div class="right pull-right kt-portlet__head-toolbar"><h3 id="todaysBookings" class="kt-portlet__head-title kt-font-light">1</h3></div>
        </div>
        <div class="kt-portlet__body kt-margin-t-0 kt-padding-t-0">

            <!--begin::Widget 29-->
            <div class="kt-widget29">
                <div class="kt-widget29__content" style="text-align:center">
                    <h3 class="kt-widget29__title" style="font-size:16px">Online Booking</h3>
                    <div class="kt-widget29__item">
                        <div class="kt-widget29__info"  style="text-align:center">
                            <span class="kt-widget29__subtitle">Total</span>
                            <span class="kt-widget29__stats kt-font-success" id="onlineBooking">680</span>
                        </div>
                       
                    </div>
                </div>
                <div class="kt-widget29__content"  style="text-align:center">
                    <h3 class="kt-widget29__title" style="font-size:16px">Advanced Booking</h3>
                    <div class="kt-widget29__item"  style="text-align:center">
                        <div class="kt-widget29__info" style="text-align:center">
                            <span class="kt-widget29__subtitle">Total</span>
                            <span class="kt-widget29__stats kt-font-success" id="advanceBooking">250</span>
                        </div>
                       
                    </div>
                </div>
                <div class="kt-widget29__content"  style="text-align:center">
                    <h3 class="kt-widget29__title" style="font-size:16px">Terminal Booking</h3>
                    <div class="kt-widget29__item">
                        <div class="kt-widget29__info"  style="text-align:center">
                            <span class="kt-widget29__subtitle">Total</span>
                            <span class="kt-widget29__stats kt-font-success" id="samedayBooking">680</span>
                        </div>
                        
                    </div>
                </div>
               
            </div>

            <!--end::Widget 29-->
        </div>
    </div>

    <!--end:: Packages-->
</div>
    <div class="col-xl-6">
        <div class="col-lg-12 kt-margin-10">
            <strong>
                @if (Model.Otp != null)
                {
    <span> Latest OTP:  </span><br />
                    <span> @Model.Otp</span> if (Model.OtpIsUsed)
                    {
    <span class="label btn-danger">(Used)</span> }
else
{
<span class="label btn-danger">(Unused)</span>}
}

            </strong>
        </div>
    </div>

    


</div>







@section Scripts{
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script>
        $(window).on('load', function () {

            $.blockUI({ message: '<h1>Just a moment...</h1>' });

            $.ajax({
                url: "../getbookingsummary",
                method: "get",
                success: function (response) {
                    if (response.code == '200' && response.isValid == true) {
                        var result = response.object;
                        $('#onlineBooking').html(result.onlineChannelCount)
                        $('#advanceBooking').html(result.advancedBookingCount)
                        $('#samedayBooking').html(result.terminalBookingCount)

                    }
                    $.unblockUI();
                    console.log('wetin dey')
                },
                error: function (response) {
                    $.unblockUI();
                }
            })

            $.ajax({
                url: "../getsalessummary",
                method: "get",
                success: function (response) {
                    if (response.code == '200' && response.isValid == true) {
                        var result = response.object;
                        $('#dailySales').html('NGN ' + result.todaysSales)
                        $('#yesterdaysSales').html('NGN ' +result.lastSales)
                        $('#todaysBookings').html(result.todaysBookings)
                    }
                    $.unblockUI();

                    console.log('wetin dey')
                },
                error: function (response) {
                    $.unblockUI();
                }
            })
            $.unblockUI();

        });
       
    </script>
}
