﻿@model ItemFamilyDTO

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Create Inventory Family:</h3>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ItemFamilyCode">Code:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ItemFamilyCode" placeholder="enter Item Family Code">
            <div class="form-control-feedback"><span asp-validation-for="ItemFamilyCode"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Description">Description</label>
        <div class="col-lg-6">
            @Html.TextAreaFor(m => m.FamilyDescription, new { @class = "form-control", name = "FamilyDescription", placeholder = "Enter Family Description", rows = "4" })
            <div class="form-control-feedback"><span asp-validation-for="FamilyDescription"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Description">Long Description</label>
        <div class="col-lg-6">
            @Html.TextAreaFor(m => m.FamilyLongDescription, new { @class = "form-control", name = "FamilyLongDescription", placeholder = "Enter Long Family Description", rows = "6" })
            <div class="form-control-feedback"><span asp-validation-for="FamilyLongDescription"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="FamilyPictureURL">Picture:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" id="pics" AllowMultiple="true" type="file" multiple readonly asp-for="FamilyPictureURL">
            <div class="form-control-feedback"><span asp-validation-for="FamilyPictureURL"></span></div>
        </div>
    </div>
</div>
</div>