﻿@model InventoryAdjustmentTypeDTO

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Create Inventory Adjustment Type:</h3>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AdjustmentTypeName">Name:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="AdjustmentTypeName" placeholder="Enter Adjustment Type Name">
            <div class="form-control-feedback"><span asp-validation-for="AdjustmentTypeName"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AdjustmentTypeDescription">Description</label>
        <div class="col-lg-6">
            @Html.TextAreaFor(m => m.AdjustmentTypeDescription, new { @class = "form-control", name = "AdjustmentTypeDescription", placeholder = "Enter Adjustment Description", rows = "4" })
            <div class="form-control-feedback"><span asp-validation-for="AdjustmentTypeDescription"></span></div>
        </div>
    </div>

</div>
</div>
