﻿@model StateModel

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">State Info:</h3>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="Name">Name:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="Name" placeholder="Enter Name">
                <div class="form-control-feedback"><span asp-validation-for="Name"></span></div>
            </div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ParentRouteId">Region:</label>
        <div class="col-lg-6">
            <select asp-for="RegionId" class="form-control m-input" asp-items="ViewBag.RegionId as IEnumerable<SelectListItem>">
                <option value="">Select region</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="RegionId"></span></div>
        </div>
    </div>
</div>