﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page not found - Deltaline OPS</title>
    <meta charset="utf-8" />
    <meta name="description" content="Deltaline">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link href="~/css/error-style.css" rel="stylesheet" />
    <style>
        .body{background-color: #a9cafb;}
    </style>
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Oops! Nothing was found</h2>
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable. <a href="https://mobility.deltaline.com">Return to homepage</a></p>
           
            </div>
        </div>
</body>
</html>