﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Unauthorised - Deltaline OPS</title>
    <meta charset="utf-8" />
    <meta name="description" content="Deltaline">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link href="~/css/error-style.css" rel="stylesheet" />
    <style>
        .body {
            background-color: #a9cafb;
        }
    </style>
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Unauthorised.</h1>
            </div>
            <h2>You are not authorised to view this page</h2>
            <p> <a href="https://mobility.deltaline.com/account/login">Retrun to login</a></p>

        </div>
    </div>
</body>
</html>