﻿@model InventoryItemDTO

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Create Inventory Item:</h3>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ItemCode">Code:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ItemCode" placeholder="enter Code">
            <div class="form-control-feedback"><span asp-validation-for="ItemCode"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ItemName">ItemName:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ItemName" placeholder="enter ItemName">
            <div class="form-control-feedback"><span asp-validation-for="ItemName"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="itemDescription">Description</label>
        <div class="col-lg-6">
            @Html.TextAreaFor(m => m.itemDescription, new { @class = "form-control", name = "itemDescription", placeholder = "Enter Description", rows = "4" })
            <div class="form-control-feedback"><span asp-validation-for="itemDescription"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ItemWeight">ItemWeight:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ItemWeight" placeholder="enter ItemName">
            <div class="form-control-feedback"><span asp-validation-for="ItemWeight"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ItemDefaultWarehouse">ItemWeight:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ItemDefaultWarehouse" placeholder="enter ItemDefaultWarehouse">
            <div class="form-control-feedback"><span asp-validation-for="ItemDefaultWarehouse"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Price">Price:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Price" placeholder="enter Price">
            <div class="form-control-feedback"><span asp-validation-for="Price"></span></div>
        </div>
    </div>
</div>
</div>