﻿@model WarehouseDTO

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">Create Inventory Warehouse:</h3>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseCode">Code:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseCode" placeholder="enter Warehouse Code">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseCode"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseName">Name:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseName" placeholder="enter Warehouse Name">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseName"></span></div>
            </div>
        </div>


        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseAddress1">Address:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseAddress1" placeholder="Warehouse Address">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseAddress1"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseCity">City:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseCity" placeholder="enter City">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseCity"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehouseState">State:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehouseState" placeholder="enter warehouse State">
                <div class="form-control-feedback"><span asp-validation-for="WarehouseState"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="WarehousePhone">Phone Number:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="WarehousePhone" placeholder="+23480 0000 0000">
                <div class="form-control-feedback"><span asp-validation-for="WarehousePhone"></span></div>
            </div>
        </div>


    </div>
</div>

