﻿@{
    ViewData["Title"] = "Advanced Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">

            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" autocomplete="off" />
                    </div>
                </div>

                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control" type="text" placeholder="Enter a search end date" name="EndDate" id="EndDate" autocomplete="off" />
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Terminal</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="TerminalId" name="TerminalId" class="form-control m-input dropdown-select2" asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                            <option value="">Select a Terminal</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <label>Status</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="Status" name="Status" class="form-control m-input dropdown-select2" asp-items="ViewBag.Status as IEnumerable<SelectListItem>">
                            <option value="">Status</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-6 m--align-left" style="margin-top: 15px;">
                    <button type="button" class="btn btn-info" id="btnsearch"><i class="la la-search"></i> Search </button>
                </div>
            </div>

            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                </span>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Advanced Booking Report
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th colspan="6" style="text-align:right">Cash sales: </th>
                    <th id="cash">200,000</th>
                </tr>
                <tr>
                    <th colspan="6" style="text-align:right">Pos sales: </th>
                    <th id="pos">200,000</th>
                </tr>
                <tr>
                    <th colspan="6" style="text-align:right">Cash sales: </th>
                    <th id="total">200,000</th>
                </tr>
                <tr>
                    <th>Sales Date</th>
                    <th>Ref-code</th>
                    <th>Departure Date</th>
                    <th>Vehicle Registration</th>
                    <th>Payment Method</th>
                    <th>Sales Amount</th>
                    <th>Employee</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

<script id="details-modal-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
                <div class="m-form__section m-form__section--first">

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Code:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:employeeCode}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Name:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:fullName}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Gender:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:employeeGender || 'NA'}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Address:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:address}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Phone No.:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:phoneNumber || 'NA'}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Email-Address:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:email || 'NA'}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Next of Kin:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:nextOfKin || 'NA'}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Next of Kin Phone:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:nextOfKinPhone || 'NA'}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Date of employment:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:dateEmployed || 'NA'}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Department:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:departmentName || 'NA'}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Terminal:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:terminalName || 'NA'}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Role:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:roleName || 'NA'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>


@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script>

        var BootstrapDatepicker = {

            init: function () {
                $(".dropdown-select2").select2();
                $("#StartDate, #EndDate").datepicker({
                    autoclose: !0,
                    todayHighlight: !0,
                    orientation: "bottom left",
                    format: "dd-mm-yyyy"
                });
            }
        }

        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    destroy: true,
                    processing: !0,
                    serverSide: !0,
                    //sDom: 'lrtip',
                    searching: false,
                    ajax: {
                        url: '/admin/report/advancedbookingsreport',
                        data: function (d) {
                            d.AdditionalParameters = JSON.stringify({
                                startdate: $('#StartDate').val(),
                                enddate: $('#EndDate').val(),
                                terminalId: $('#TerminalId').val(),
                                EmployeeId: $('#EmployeeId').val(),
                            });
                        },
                        "type": "GET"
                    },
                    columns: [

                        {
                            bSortable: false,
                            data: "bookingDate"
                        },
                        {
                            bSortable: false,
                            data: "bookingReferenceCode"
                        },

                        {
                            bSortable: false,
                            data: "departureDate"
                        },
                        {
                            bSortable: false,
                            data: "vehicleNumber"
                        },
                        {
                            bSortable: false,
                            data: "paymentMethod"
                        },
                        {
                            bSortable: false,
                            data: "amount"
                        },
                        {
                            bSortable: false,
                            data: "employee"
                        },
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    order: []
                });

                table.on('xhr', function () {
                    var jsonData = table.ajax.json();

                    var summarySales = JSON.parse(jsonData.summary);

                    $('#pos').html("&#8358 " + summarySales.PosSales || 0)
                    $('#total').html("&#8358 " + summarySales.TotalSales || 0)
                    $('#cash').html("&#8358 " + summarySales.CashSales || 0)
                });
            }
        };
        jQuery(document).ready(function () {

            BootstrapDatepicker.init();
            DatatablesBasicBasic.init();

            $('#btnsearch').click(function () {
                DatatablesBasicBasic.init();
            });
        });
    </script>
}