﻿@model AgentDTO
@{
    ViewData["Title"] = "Agents Transaction Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AgentReport</h2>


@*<h3>Search Agents History</h3>*@
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Search Agents Transaction for Reports and details
    </div>
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search end date" name="EndDate" id="EndDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Select an Agent</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="agentId" asp-for="FullName" class="form-control m-input dropdown-select2 veh" asp-items="ViewBag.Agents as IEnumerable<SelectListItem>">
                            <option value="" id="VehId">Select an Agent</option>
                        </select>
                        <div class="form-control-feedback"><span asp-validation-for="AgentCommissionId"></span></div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6 m--align-left" style="margin-top: 15px;">
                    <button type="button" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" id="btnsearch"><i class="la la-search"></i> Search </button>
                    @*<button type="button" onclick="@("window.location.href='" + @Url.Action("fleetHistory", "Report") + "'");" class="btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"> <i class="la la-refresh"></i> Refresh </button>*@
                </div>
            </div>

            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                </span>

            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title" id="head">
                <h3 class="m-portlet__head-text">
                    Agent Report
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>

    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Email</th>
                    <th>Agent FullName</th>
                    <th>Commission</th>
                    <th>No Of Bookings</th>
                    <th>Details</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>


<div class="modal fade" id="viewBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-checkable">
                        <thead>
                            <tr class="">
                                <th>S/N</th>
                                @*<th>FullName</th>*@
                                <th>BookingReferenceCode</th>
                                <th>Commission</th>
                                <th>TransactionDate</th>
                            </tr>
                        </thead>
                        <tbody id="agentDTO"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@*@section Styles{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>*@

@section Styles{
    <style>
        .table-style tr:nth-of-type(even) {
            background: #eee;
        }

        .m-widget28 .m-widget28__pic {
            min-height: 200px
        }

        .table-style th {
            background: #333;
            color: white;
            font-weight: bold;
        }

        .table-style td, th {
            padding: 6px6 border: 1px solid #ccc;
            text-align: center;
        }

        .printme {
            display: none;
        }

        @@media print {
            .no-printme {
                display: none;
            }

            #vehicleAllocationReport {
                display: block;
            }
        }
    </style>

}
@section Scripts {
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>*@


    <script type="text/javascript">


        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        $(document).on("click", "#btnsearch", function () {

            var agentId = $('#agentId :selected').val();
            var agent = $('#fullnam :selected').val();
            var startdate = $('#StartDate').val();
            var enddate = $('#EndDate').val();
            start_date = new Date("" + startdate);
            end_date = new Date("" + enddate);
            if (end_date < start_date) {
                swal("The Start date is after the End date!", "", "warning");
                return false;
            }
            if (startdate == "") {
                swal("Select a Start Date", "", "warning")
                return false;
            };
            if (enddate == "") {
                swal("Select an End Date", "", "warning")
                return false;
            };
            var i = 1;
            var table = $("#m_table_1").DataTable({
                destroy: true,
                dom: 'lBfrtip',
                buttons: [
                    { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                ],
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '../../admin/report/getAgentHistory/?startdate=' + startdate + '&enddate=' + enddate + '&agentId=' + agentId,
                dataSrc: function (data) {
                    if (data == "no data") {
                        return { data: [] }
                    }
                },
                columns: [
                    {
                        "render": function (data, type, full, meta) {
                            return i++;
                        }
                    },
                    {
                        "render": function (d) {
                            return moment(start_date).format('dddd, MMMM Do YYYY');
                        }
                    },
                    {
                        "render": function (d) {
                            return moment(end_date).format('dddd, MMMM Do YYYY');
                        }
                    },
                    {
                        bSortable: false,
                        data: "email"
                    },

                    {
                        bSortable: false,
                        data: "fullName"
                    },
                    {
                        bSortable: false,
                        data: "commission"
                    },
                    {
                        bSortable: false,
                        data: "noOfBookings"
                    },
                    {
                        bSortable: false,
                        render: function (a, t, n) {
                            return `\n  <div class="btn-group" role="group">
                                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                                        <a class="dropdown-item" href="#" onclick="getBooking(`+ n.id + `)">Booking Details</a>
                                    </div>
                                </div>\n`
                        }
                    }
                ],

                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                order: []

            });
        });



        var getBooking = function (id) {
            var agentId = id;
            var i = 1;
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#agentDTO').empty()
            var results = [];
            if (id) {
                $.ajax({
                    url: "../../admin/Agent/GetAgentDetail",
                    method: "post",
                    data: {
                        agentId: agentId
                    },
                    success: function (response) {
                        results = response;
                        if (response) {     
                            $.each(response, function (index, val) {
                                $('#agentDTO').append('<tr> <td>' + i++
                                    //+ '</td> <td>' + val.fullName
                                    + '</td><td>' + val.bookingReferenceCode
                                    + '</td><td>' + val.commission
                                    + '</td><td>' + moment(val.transactionDate).format('LLL')
                                    + '</td></tr>'
                                )
                            }
                            )
                        }
                        $("#viewBooking").modal()
                        $.unblockUI();
                    },
                    error: function (err) {
                        console.log(err)
                        $('#agentDTO').empty()
                        $.unblockUI();
                    }
                })
            }
        }



                        //function post() {
                        //    var vehc = $('.veh').val();
                        //    var drver = $('.drv').val();
                        //    var status = $('.sts').val();
                        //    if (status == "") {
                        //        swal("Select Vehicle Status")
                        //        return false;
                        //    }
                        //    else if (drver == "") {
                        //        swal("Select a Driver")
                        //        return false;
                        //    }
                        //    else if (vehc == "") {
                        //        swal("Select a Vehicle")
                        //        return false;
                        //    }
                        //    else {
                        //        swal("Report Created Successfully", "Kindly wait while page reloads", "success");
                        //        return true;
                    //    //    }
                    //{
                    //                bSortable: false,
                    //                data: "purchaseDate",
                    //                render: function (d) {
                    //                    return moment(d).format('LL');
                    //                }
                    //            },
                    //,
                    //            {
                    //                bSortable: false,
                    //                data: "journeyStatuses"
                    //            }
                        //}
    </script>
}
