﻿@model TerminalBookingModel

@{
    ViewData["Title"] = "BlowVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
{
    <div class="m-alert m-alert--icon alert alert-danger" role="alert">
        <div class="m-alert__icon">
            <i class="la la-warning"></i>
        </div>
        <div class="m-alert__text" asp-validation-summary="All">
        </div>
        <div class="m-alert__close">
            <button class="close" aria-label="Close" type="button" data-close="alert"></button>
        </div>
    </div>
}

<h2>Blow Vehicle</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/BlownVehicle")">

        <div class="m-portlet__body">
            <div class="form-group m-form__group row">

                <div class="col-lg-6">
                    @if (!User.HasClaim("Permission", "manageroute"))
                    {

                        <label class="col-form-label">Departure Terminal :</label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                <select asp-for="DepartureTerminalId" id="departureTerminalId" class="form-control m-input dropdown-select2" asp-items="ViewBag.DepartureTerminal as IEnumerable<SelectListItem>">
                                    <option value="">Select a terminal</option>
                                </select>
                            </div>
                        </div>}
                    @if(User.HasClaim("Permission", "manageroute")) {
                        <label class="col-form-label">Departure Terminal :</label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                <select asp-for="DepartureTerminalId" id="departureTerminalId" class="form-control m-input dropdown-select2" asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                                    <option value="">Select a terminal</option>
                                </select>
                            </div>
                        </div>}
                </div>

                <div class="col-lg-6">
                    <label class="col-form-label">Destination Terminal</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <select asp-for="DestinationTerminalId" id="destinationTerminalId" class="form-control m-input dropdown-select2" asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                                <option value="">Select a terminal</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label class="col-form-label">Vehicle</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <select asp-for="VehicleId" id="vehicleId" class="form-control m-input dropdown-select2" asp-items="ViewBag.Vehicles as IEnumerable<SelectListItem>">
                                <option value="">Select a Vehicle</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="col-form-label" for="DriverId">Driver</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <select id="driverId" asp-for="DriverCode" class="form-control m-input dropdown-select2" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                                <option value="">Select a driver</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-danger" id="btnSubmit">Blow Vehicle</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.dropdown-select2').select2();
        });

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                         $("#DestinationTerminalId, #DepartureTerminalId").select2({
                        placeholder: "Select a terminal"
                    })
                }
            }
        }();


        $(document).on("click", "#btnSubmit", function () {
            var url = '@Url.Action("BlownVehicle", "TerminalBooking")';
            var departureTerminal = parseInt($('#departureTerminalId').find(":selected").val());
            var destinationTerminal = parseInt($('#destinationTerminalId').find(":selected").val());
            var driverCode = $('#driverId').find(":selected").val();
            var vehicleRegNum = $('#vehicleId').find(":selected").text();
       // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";
        var options =
        {
            url: '/../../admin/report/blownvehicle',
            method: "post",
            data: {
                vehicleRegistrationNumber: vehicleRegNum,
                DriverCode: driverCode,
                DestinationTerminalId: destinationTerminal,
                DepartureTerminalId: departureTerminal
                }
            };
            //$('#maind').hide();
            //$('#confirmd').show();
            $.getJSON(options, { format: "json" }, function (data) {
                swal("Blow completed");
                 setTimeout(function() {
                    window.location.replace(window.location.href);
                }, 2000);
            });
        });
</script>
<script>
    $('#vehicleId').on("change", function () {
        var registrationNo = $("#vehicleId").find(":selected").text().split('(')[0];

        $.getJSON("../../admin/report/getdriver/?registrationNo=" + registrationNo,
            function (data) {
                $('#driverId option[value=' + data.code + ']').attr('selected', 'selected');
                //$('#DriverCode').text(data.driverName);
                $('#driverId').val(data.code).change();

            });
    })
</script>

}