﻿@model IEnumerable<BookingSalesReportModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var queryModel = new BookingReportQueryModel { };

    IList<SelectListItem> paymentMethodlist = Enum.GetValues(typeof(PaymentMethod)).Cast<PaymentMethod>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }).ToList();

    SelectList paymentMethod = new SelectList(paymentMethodlist, "Value", "Text");
}
    <link href="https://keenthemes.com/metronic/preview/assets/css/demo1/style.bundle.css" rel="stylesheet" type="text/css" />
<style>
  
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: center;
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Booking sales report. You can <a onclick="exportSalesToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
    </div>
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/bookingsales")">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Keyword </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <input class="form-control" name="CreatedBy" id="CreatedBy" placeholder="Username, Email" value="@ViewBag.CreatedBy" />
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="">Route</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">

                            @Html.DropDownList("RouteId", (SelectList)ViewBag.RouteId, "Select a route", new { @class = "m-input-icon m-input-icon--right form-control select-terminal dropdown-select2"
                        })

                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>

                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>States </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            @Html.DropDownList("StateId", (SelectList)ViewBag.StateId, "Select a state", new { @class = "m-input-icon m-input-icon--right form-control select-terminal"
                              })
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="">Departure Terminal</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            @Html.DropDownList("TerminalId", (SelectList)ViewBag.TerminalId, "Select a terminal", new { @class = "m-input-icon m-input-icon--right form-control select-terminal"
            })
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                <label>Payment type </label>
                <div class="m-input-icon m-input-icon--right">
                    <div class="controls">
                        @Html.DropDownList("PaymentMethod", (SelectList)paymentMethod, "Select Payment Type", new { @class = "m-input-icon m-input-icon--right form-control select-terminal"
           })
                    </div>
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">

                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Booking Reports
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m-portlet ">
            <div class="m-portlet__body  m-portlet__body--no-padding">
                <div class="row">
                    @foreach (var soldtrips in Model)
                    {
                        <div class="col-xl-4">
                            <!--begin:: Widgets/Support Tickets -->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            @soldtrips.Route
                                        </h3>
                                    </div>
                                    
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="kt-widget3">
                                        <div class="kt-widget3__item">
                                            <div class="kt-widget3__header">
                                                <div class="kt-widget3__user-img">
                                                    <img class="kt-widget3__img" src="./assets/media/users/user1.jpg" alt="">
                                                </div>
                                                <div class="kt-widget3__info">
                                                    <span class="kt-widget3__time">
                                                      Sold by <br />
                                                    </span>
                                                    <a class="kt-widget3__username">
                                                       @soldtrips.CreatedBy
                                                    </a>
                                                    <br>

                                                </div>
                                                <span class="kt-widget3__status kt-font-info">
                                                    &#8358; @soldtrips.Amount
                                                </span>
                                            </div>
                                         
                                        </div>
                                        <div class="kt-widget3__item">
                                            <div class="kt-widget3__header">
                                                <div class="kt-widget3__user-img">
                                                    <img class="kt-widget3__img" src="./assets/media/users/user4.jpg" alt="">
                                                </div>
                                                <div class="kt-widget3__info">
                                                    <a class="kt-widget3__username">
                                                        @(soldtrips.State) State
                                                    </a><br>
                                                   
                                                </div>
                                                <span class="kt-widget3__status kt-font-brand">
                                                    @soldtrips.DepartureTerminal
                                                </span>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Support Tickets -->
                        </div>





























                        
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
         $(document).ready(function () {
            $('.dropdown-select2').select2();
        });
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#StateId, #RegionId, #TerminalId, #PaymentMethod").select2({
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        var exportSalesToExcel = function () {

            $.ajax({
                url: "../../admin/report/ExportBookingSalesToExcelAsync",
                method: "post",
                data: {
                    RegionId: $('#RegionId').val(),
                    StateId: $('#StateId').val(),
                    TerminalId: $('#TerminalId').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    PaymentMethod: $('#PaymentMethod').val()
                },
                success: function (response) {
                    $.unblockUI();
                    toastr.info('Download Completed')
                    console.log('wetin dey')
                },
                error: function (err) {
                    $.unblockUI();
                    console.log(err)
                }
            })
        }


    </script>
} 