﻿@model IEnumerable<BookedTripsModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var queryModel = new BookingReportQueryModel { };
    IList<SelectListItem> bookingTypelist = Enum.GetValues(typeof(BookingType)).Cast<BookingType>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }).ToList();

    SelectList bookingType = new SelectList(bookingTypelist, "Value", "Text");

}
<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: center;
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All recent trips booked for. You can <a onclick="exporttripsToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
    </div>
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/bookingtrips")">
        @*All booking reports configured for use on the platform. You can find <a href="~/admin/region/create" target="_blank">all todays bookings</a> by clicking the previous link.*@
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Bus Number </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            @Html.DropDownList("PhysicalBusRegisterationNumber", (SelectList)ViewBag.VehicleId, "Select Vehicle", new { @class = "m-input-icon m-input-icon--right form-control select-terminal"
                       })
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="">Booking Type </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            @Html.DropDownList("BookingType", (SelectList)bookingType, "Select Booking Type", new { @class = "m-input-icon m-input-icon--right form-control select-terminal"
                      })
                        </div>

                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="col-lg-12">
                        <label>Terminal </label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                @Html.DropDownList("DepartureTerminalId", (SelectList)ViewBag.TerminalId, "Select Terminal", new {  @class = "m-input-icon m-input-icon--right form-control select-terminal"
                           })
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-12">
                        <label>Manifest Status</label>
                        @Html.DropDownList("IsPrinted", (IEnumerable<SelectListItem>)ViewBag.IsPrinted, new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                    </div>
                    </div>
                </div>

        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    @*<div class="col-lg-6">
                            <button type="reset" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>*@
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Booking Reports
                </h3>

                <button class="btn btn-primary" onclick="TripExportTableToExcel()">Export To Excel</button>
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h4 class="text-muted"><b>Total Seat Booked = @Model.ToList().Select(x => x.TotalCount).FirstOrDefault() Tickets</b></h4>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">

        <div class="row">           
            @foreach (var bkdtrips in Model.ToList().GroupBy(x => x.VehicleTripRegistrationId).Select(g => g.First()).ToList())
            {

                <div class="col-xl-4">
                    <!--begin:: Widgets/Blog-->
                    <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force" style="height:auto">
                        <div class="m-portlet__head m-portlet__head--fit">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m--font-light">
                                        @bkdtrips.RouteName
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a href="#" class="m-portlet__nav-link  btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
                                            @bkdtrips.Revenue
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-widget28">
                                <div class="m-widget28__pic m-portlet-fit--sides" style="min-height:200px;"></div>
                                <div class="m-widget28__container">

                                    <!-- begin::Nav pills -->
                                    <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist">

                                        <li class="m-widget28__nav-item nav-item col-4" onclick="getcurrentmanifest('@bkdtrips.VehicleTripRegistrationId')">
                                            @*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#m_modal_4">Launch Modal</button>*@
                                            <a class="nav-link" href="javascript:;">
                                                <span>
                                                    <i class="fa flaticon-clipboard"></i>
                                                </span><span>View Manifest</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- end::Nav pills -->
                                    <!-- begin::Tab Content -->
                                    <div class="m-widget28__tab tab-content">
                                        <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                            <div class="m-widget28__tab-items">
                                                <div class="m-widget28__tab-item">
                                                    <span> Vehicle Number</span>
                                                    <span>@(bkdtrips.PhysicalBusRegistrationNumber ?? "[NA]") -- (@bkdtrips.VehicleStatus)</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Seat(s) Booked</span>
                                                    <span>@bkdtrips.SeatsBooked</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Available Seat(s)</span>
                                                    <span>@bkdtrips.AvailableSeats</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Departure Date</span>
                                                    <span>@bkdtrips.DepartureDate.ToString("")</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Departure Time</span>
                                                    <span>@bkdtrips.DepartureTime</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Manifest Printed Time</span>
                                                    <span>@bkdtrips.ManifestPrintedTime</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end::Tab Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Blog-->
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="viewmanifest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:max-content;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Manifest</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tblData">
                        <thead>
                            <tr class="">
                                <th>Full Name</th>
                                <th>Booking Reference Code</th>
                                <th>Gender</th>
                                <th>Amount</th>
                                <th>Phone Number</th>
                                <th>Seat Number</th>
                                <th>Route</th>
                                <th>Booking Type</th>
                            </tr>
                        </thead>
                        <tbody id="manifestModelId"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="exportTableToExcel('tblData', 'ManifestData')">Export To Excel</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>


    <script>
       
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#PhysicalBusRegisterationNumber").select2({
                        placeholder: "Select a bus "
                    })
                     $("#MStatus").select2({
                        placeholder: "Select Status "
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        var getcurrentmanifest = function (vehicletripId) {
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#manifestModelId').empty()
            var results = [];
            if (vehicletripId) {
                $.ajax({
                    url: "../../admin/manifest/GetManifestByVehicleTripId?id=" + vehicletripId,
                    method: "get",
                    success: function (response) {
                        results = response;
                        if (response) {
                            $.each(response, function (index, val) {
                                var sex = val.gender == 0 ? 'male' : 'female';
                                $('#manifestModelId')
                                    .append('<tr> <td>' + val.fullName + '</td> <td>' + val.bookingReferenceCode + '</td><td>' + sex + '</td><td>' + val.amount + '</td><td>' + val.phoneNumber + '</td><td>' + val.seatNumber + '</td><td>' + val.route + '</td><td>' + val.bookingTyped + '</td></tr>')
                            })
                        }
                        $("#viewmanifest").modal()
                        $.unblockUI();

                        console.log('wetin dey')
                    },
                    error: function (err) {
                        console.log(err)
                        $('#manifestModelId').empty()
                        $.unblockUI();
                    }
                })
            }
        }

        var exporttripsToExcel = function () {
            $.blockUI({ message: '<h1>Processing...</h1>' });

            $.ajax({
                url: "../../admin/report/ExportBookingTripsToExcelAsync",
                method: "post",
                data: {
                    RegionId: $('#PhysicalBusRegisterationNumber').val(),
                    StateId: $('#BookingType').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val()
                },
                success: function (response) {
                    $.unblockUI();
                    toastr.info('Download Completed')
                    console.log('wetin dey')
                },
                error: function (err) {
                    $.unblockUI();
                    console.log(err)
                }
            })
        }

        var TripExportTableToExcel = function () {
            $.blockUI({ message: '<h1> Processing ....<h2>' });


            var RegionId = $('#PhysicalBusRegisterationNumber').val();
            var StateId = $('#BookingType').val();
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var Terminal = $('#TerminalId').val();

            var itemdata = RegionId + ';' + StateId + ';' + StartDate + ';' + EndDate + ';' + Terminal

            window.location = "../../admin/report/TripExportTableToExcel/?itemData=" + itemdata;
            $.unblockUI();
            //toastr.info('Download Completed')
        }
        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });

    </script>
} 