﻿@model IEnumerable<SeatManagementDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var queryModel = new BookingReportQueryModel { };
}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
}

<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        text-align: center;
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Booking report. You can <a onclick="exportbookingreportToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
    </div>
</div>


<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="get" action="@Url.Action("~/booking/report/bookingdetail")">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Keyword </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <input class="form-control" name="refCode" id="refCode" placeholder="Search by Reference code Or Phone Number" />
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Booking Details
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable">
            <thead>
                <tr class="">
                    <th>Booking Ref Code</th>
                    <th>Name</th>
                    <th>Phone & Email</th>
                    <th>Date (Booked)</th>
                    <th>Departure Date</th>
                    <th>Route(Departure)</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Seat</th>
                    <th>Travel Status</th>
                    <th>Ticket Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @item.BookingReferenceCode
                    </td>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.DateCreated
                    </td>
                    <td>
                        @item.DepartureDate
                    </td>
                    <td>
                        @item.RouteName
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        @item.BookingType
                    </td>
                    <td>
                        @item.SeatNumber
                    </td>
                    <td>
                        @item.TravelStatus
                    </td>
                    <td>
                        @item.BookingStatus
                    </td>
                    <td>
                        @if (item.IsExpired != true && item.TravelStatus != TravelStatus.Travelled)
                        {
                            @*<a href="" onclick="@Url.Action("ManagerRoute", "TerminalBooking", new { area = "Booking" })" class="btn btn-outline-primary btn-sm" style="margin-bottom:5px;">    Reschedule </a>*@
                            @Html.ActionLink("Reschedule", "TicketReschedule", new { bookingRefCode = item.BookingReferenceCode }, new { @class = "btn btn-outline-primary btn-sm", @style = "margin-bottom:5px;" })

                            @Html.ActionLink("Reroute", "TicketReroute", new { bookingRefCode = item.BookingReferenceCode }, new { @class = "btn btn-outline-primary btn-sm", @style = "margin-bottom:5px;" })

                            @Html.ActionLink("Allocate", "TicketReschedule", new { bookingRefCode = item.BookingReferenceCode, Type = "Allocate" }, new { @class = "btn btn-outline-primary btn-sm", @style = "margin-bottom:5px;" })

                            @*@Html.ActionLink("Cancel Ticket", "CancelTicket", new { bookingRefCode = item.BookingReferenceCode }, new { @class = "btn btn-outline-primary btn-sm", @style = "margin-bottom:5px;" })*@
                        }
                        @if (item.BookingStatus == BookingStatus.Pending)
                        {
                            @Html.ActionLink("Cancel Ticket", "CancelTicket", new { bookingRefCode = item.BookingReferenceCode }, new { @class = "btn btn-outline-primary btn-sm", @style = "margin-bottom:5px;" })
                        }
                    </td>
                </tr>
}}
            </tbody>
        </table>

        @Html.AntiForgeryToken()
    </div>
</div>


@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        var reschedule = function (referenceNumber) {
            $.blockUI({ message: '<h1>Processing...</h1>' });

            $.ajax({
                url: "../../admin/report/TicketReschedule", {referenceNumber},
                method: "get",
                success: function (response) {
                    $.unblockUI();
                    console.log('wetin dey')
                },
                error: function (err) {
                    $.unblockUI();
                    console.log(err)
                }
            })
        }
    </script>
}

