﻿@{
    ViewData["Title"] = "Booking Channels Sales Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">

            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" autocomplete="off" />
                    </div>
                </div>

                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control" type="text" placeholder="Enter a search end date" name="EndDate" id="EndDate" autocomplete="off" />
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Terminal</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="TerminalId" name="TerminalId" class="form-control m-input dropdown-select2" asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                            <option value="">Select a Terminal</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Booking Channel</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="ChannelId" name="ChannelId" class="form-control m-input dropdown-select2" asp-items="ViewBag.Channels as IEnumerable<SelectListItem>">
                            <option value="">Select a Channel</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Status</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="Status" name="Status" class="form-control m-input dropdown-select2" asp-items="ViewBag.Status as IEnumerable<SelectListItem>">
                            <option value="">Status</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-6 m--align-left" style="margin-top: 15px;">
                    <button type="button" class="btn btn-info" id="btnsearch"><i class="la la-search"></i> Search </button>
                </div>
            </div>

            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                </span>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Channel Booking Reports
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body" id="main">
    </div>
</div>

<script id="daily-sales" type="text/x-jsrender">
    <div class="row">
        {{for bookings}}
        <div class="col-xl-4">
            <!--begin:: Widgets/Support Tickets -->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            {{:bookingType}}
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget3">
                        <div class="kt-widget3__item">
                            <div class="kt-widget3__header">
                                <div class="kt-widget3__user-img">
                                    <img class="kt-widget3__img" src="./assets/media/users/user1.jpg" alt="">
                                </div>
                                <div class="kt-widget3__info">
                                    <span class="kt-widget3__time">
                                        Channel <br />
                                    </span>
                                    <a class="kt-widget3__username">
                                        {{:bookingType}} 
                                    </a>
                                    <br>

                                </div>
                                <span class="kt-widget3__status kt-font-info">
                                    &#8358; {{:salesAmmount.toFixed(2)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/for}}
    </div>
</script>


@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script>

        var BootstrapDatepicker = {

            init: function () {
                $(".dropdown-select2").select2();
                $("#StartDate, #EndDate").datepicker({
                    autoclose: !0,
                    todayHighlight: !0,
                    orientation: "bottom left",
                    format: "dd-mm-yyyy"
                });
            }
        }

        var DatatablesBasicBasic = {
            init: function () {

                $.get('/admin/report/channelbookingsreport', {
                    TerminalId: $('#TerminalId').val(),
                    Status: $('#Status').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    ChannelId: $('#ChannelId').val()
                }, function (data) {

                    var tmpl = $.templates("#daily-sales");
                    var html = tmpl.render({'bookings': data || [] });
                    $("#main").html(html);

                }, 'json');
            }
        };
        jQuery(document).ready(function () {

            BootstrapDatepicker.init();
            DatatablesBasicBasic.init();
            $('#btnsearch').click(function () {
                DatatablesBasicBasic.init();
            });
        });
    </script>
}