﻿@model IEnumerable<DriverSalaryModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var queryModel = new BookingReportQueryModel { };
    var dc = ((string)ViewBag.DriverCode) ?? "";
    var sd = ((DateTime?)ViewBag.StartDate)?.ToString("MM-dd-yyyy") ?? "";
    var ed = ((DateTime?)ViewBag.EndDate)?.ToString("MM-dd-yyyy") ?? "";
}
<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .m-widget28 .m-widget28__pic {
        min-height: 200px
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        padding: 6px; /*6 border: 1px solid #ccc;*/
        text-align: center;
    }

    .printme {
        display: none;
    }

    @@media print {
        .no-printme {
            display: none;
        }

        #vehicleAllocationReport {
            display: block;
        }
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        <div class="row">
            <h3 style="margin-right:200px;">Driver Salary Report</h3>
            <a href="~/admin/report/driverdetails" style="float:right !important;" class="btn btn-dark m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-user"></i>
                    <span>Driver Details Report</span>
                </span>
            </a> &nbsp; &nbsp;
            <a href="~/admin/report/PilotApprovalReport" style="float:right !important;" class="btn btn-outline-success m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-user"></i>
                    <span>Driver Approval Report</span>
                </span>
            </a>
        </div>

    </div>
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/DriverSalary")" name="DriverSalarySearchForm">
        @*All booking reports configured for use on the platform. You can find <a href="~/admin/region/create" target="_blank">all todays bookings</a> by clicking the previous link.*@
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">

                <div class="col-lg-4">
                    <label>Driver code</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="fullnam" class="form-control m-input dropdown-select2 drv" name="DriverCode" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                            <option value="" id="DriverCode">Select a Driver</option>
                        </select>
                        @*<input class="form-control" type="text" placeholder="Enter driver code" name="DriverCode" value="@ViewBag.DriverCode" />*@
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    @*<div class="col-lg-6">
                            <button type="reset" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>*@
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"><i class="la la-search"></i> Search </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile" id="printablediv">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Driver Salary Reports
                </h3>
            </div>
        </div>
        <div style="padding-top:9px; float:right !important;">
            @*@if (User.HasClaim("Permission", "approvepilotsalary"))
                {
                    <button type="submit" onclick="javascript:ApproveAll()" id="ApproveAll" style="margin-top:5px;" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la la-anchor"></i>
                            <span>Approve All</span>
                        </span>
                    </button>
                }
                @if (User.HasClaim("Permission", "verifypilotsalary"))
                {
                    <button type="submit" onclick="javascript:VerifyAll()" id="" style="margin-top:5px;" class="btn btn-success m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la la-angellist"></i>
                            <span>Verify All</span>
                        </span>
                    </button>
                }*@

            @if (User.HasClaim("Permission", "capturepilotsalary"))
            {
                <button type="submit" onclick="javascript:SendAllForApproval()" id="SendAllForApproval" style="margin-top:5px;" class="btn btn-default m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                    <span>
                        <i class="la la-ambulance"></i>
                        <span>Send All for Approval</span>
                    </span>
                </button>
                <button type="submit" onclick="javascript:updateAllWallet()" id="BtnUpdateAllWallet" style="margin-top:5px;" class="btn btn-info m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                    <span>
                        <i class="la la-adjust"></i>
                        <span>Update All Wallet</span>
                    </span>
                </button>
            }

            <button type="submit" onclick="javascript:printDiv('printablediv')" id="BtnPrint" style="margin-top:5px;" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-print"></i>
                    <span>Print</span>
                </span>
            </button>

            <button type="button" onclick="location.href='@Url.Action("ExportDriverSalary", "Report", new { @StartDate = ViewBag.StartDate, @EndDate =  ViewBag.EndDate })'"
                    style="margin-top:5px;" class="btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-edit"></i>
                    <span>Export To Excel</span>
                </span>
            </button>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable">
            <thead>
                <tr class="">
                    <th>S/N</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Trips</th>
                    <th>Driver Code</th>
                    <th>Driver FullName</th>
                    <th>Bank Name</th>
                    <th>Bank Account</th>
                    <th>Total Amount</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @{ var count = 0; }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @item.StartDate
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                        <td>
                            @item.NoofTrips
                        </td>
                        <td>
                            @item.DriverCode
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.BankName
                        </td>
                        <td>
                            @item.BankAccount
                        </td>
                        <td>
                            @item.DriverFee
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                                    <a class="dropdown-item" href="#" onclick="getTrips('@item.DriverCode')">Trip Details</a>
                                    @*<a class="dropdown-item" href="@Url.Action("GetDriverTransaction", "Report", new {code = item.DriverCode }) " onclick="driver('@item.DriverCode')">View Transaction</a>
                                        <a class="dropdown-item" href="@Url.Action("UpdateWallet", "Report", new {code = item.DriverCode, amount = item.DriverFee }) ">Update Wallet</a>*@

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="viewtrips" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trip Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet__body">
                    <table class="table table-striped table-bordered table-hover table-checkable">
                        <thead>
                            <tr class="">
                                <th>Departure Date</th>
                                <th>Bus Number</th>
                                <th>Driver Code</th>
                                <th>Vehicle </th>
                                <th>Route</th>
                                <th>Total Amount</th>
                                <th>Trip Status</th>
                            </tr>
                        </thead>
                        <tbody id="tripModelId"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
        //function ApproveAll() {
        //    $.ajax({
        //        url: "../../admin/report/ApproveAllPilotTransaction",
        //        method: "get",
        //        data: {}
        //    });
        //}
        //function VerifyAll() {
        //    $.ajax({
        //        url: "../../admin/report/VerifyAllPilotTransaction",
        //        method: "get",
        //        data: {}
        //    });
        //}
        function SendAllForApproval() {
            $.ajax({
                url: "../../admin/report/SendAllForApproval",
                method: "post",
                data: {}
            });
        }
        var updateAllWallet = function () {
            $.ajax({
                url: "../../admin/report/UpdateAllWallet",
                method: "post",
                data: {
                    DriverCode: "@dc",
                    StartDate: "@sd",
                    EndDate: "@ed"
                }
            });
        }
        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#PhysicalBusRegisterationNumber").select2({
                        placeholder: "Select a terminal"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        var getTrips = function (drivercode) {
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#tripModelId').empty()
            var results = [];
            if (drivercode) {
                $.ajax({
                    url: "../../admin/VehicleTripRegistration/VehicleTripsByDriverCode",
                    method: "post",
                    data: {
                        DriverCode: drivercode,
                        StartDate: $('#StartDate').val(),
                        EndDate: $('#EndDate').val()
                    },
                    success: function (response) {
                        results = response;
                        if (response) {

                            var status = '', driverTotal = 0;

                            $.each(response, function (index, val) {

                                driverTotal += val.driverFee;

                                switch (val.journeyStatus) {
                                    case 0:
                                        status = 'Pending'
                                        break;
                                    case 1:
                                        status = 'Approved'
                                        break;
                                    case 2:
                                        status = 'InTransit'
                                        break;
                                    case 3:
                                        status = 'Received'
                                        break;
                                    case 4:
                                        status = 'Transloaded'
                                        break;
                                    case 5:
                                        status = 'Denied'
                                        break;
                                    default:
                                        status = 'Pending'
                                        break;

                                }
                                $('#tripModelId').append('<tr> <td>' + moment(val.departureDate).format('llll')
                                    + '</td> <td>' + val.physicalBusRegistrationNumber
                                    + '</td><td>' + val.driverCode
                                    + '</td><td>' + val.vehicleModel
                                    + '</td><td>' + val.routeName
                                    + '</td><td>' + '&#8358;' + val.driverFee
                                    + '</td><td>' + status + '</tr>'
                                )
                            });

                            $('#tripModelId').append('<tr><td colspan="5" class="border-0 pt-0"></td><td> <b>' + '&#8358;' + driverTotal + '</b></td></tr>');
                        }
                        $("#viewtrips").modal()
                        $.unblockUI();
                    },
                    error: function (err) {
                        console.log(err)
                        $('#tripModelId').empty()
                        $.unblockUI();
                    }
                })
            }
        }

        $('#BtnPrint').on('click', function () {
            printDiv();
        })
        function printDiv(printablediv) {
            //Get the HTML of div
            var divElements = document.getElementById(printablediv).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
              "<html><head><title></title></head><body>" +
              divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }
    </script>
} 