﻿@model GeneralTransactionDTO
@{
    ViewData["Title"] = "EditGeneralTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit General Transaction</h2>

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Edit Transactions
                            </h3>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a href="~/admin/report/GeneralTransaction" class="btn btn-success m-btn m-btn--pill m-btn--icon m-btn--air">
                                            <span>
                                                <i class="la la-search"></i>
                                                <span>View All General Transaction</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-portlet__nav-item"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("PostEditGeneralTransaction", "Report", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                {
            <div class="m-form__section m-form__section--first">

                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Transaction Amount :</label>
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="id" />
                        <input class="form-control m-input dropdown-select2" asp-for="TransactionAmount" />
                        <div class="form-control-feedback"><span asp-validation-for="TransactionAmount"></span></div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Transaction Type :</label>
                    <div class="col-lg-6">
                        <select id="trantype" asp-for="TransactionType" class="form-control m-input dropdown-select2 sts" asp-items="@(Html.GetEnumSelectList<TransactionType>().Where(x => x.Text.Contains("Debit") ||  x.Text.Contains("Credit")))">
                            <option value="">Select</option>
                        </select>
                        <div class="form-control-feedback"><span asp-validation-for="TransactionType"></span></div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label"> Pay Type Discription : </label>
                    <div class="col-lg-6">
                        <select id="paydescription" asp-for="PayTypeDiscription" class="form-control m-input dropdown-select2 sts" asp-items="@(Html.GetEnumSelectList<PayTypeDescription>().Where(x =>
                                    x.Text.Contains("Bonus") ||
                                    x.Text.Contains("Fine")||
                                    x.Text.Contains("Lateness") ||
                                    x.Text.Contains("DrunkDriving") ||
                                    x.Text.Contains("Recklesness") ||
                                    x.Text.Contains("SalaryPayment") ||
                                    x.Text.Contains("MTU") ||
                                    x.Text.Contains("Part") ||
                                    x.Text.Contains("Transload") ||
                                    x.Text.Contains("Loan")
                                    ))">
                            <option value="">Select</option>
                        </select>
                        <div class="form-control-feedback"><span asp-validation-for="PayTypeDiscription"></span></div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label" for="TransactionDate">Transaction Date:</label>
                    <div class="col-lg-6">
                        <input class="form-control m-input" asp-for="TransactionDate" placeholder="dd/mm/yyyy">
                        <div class="form-control-feedback"><span asp-validation-for="TransactionDate"></span></div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Notes :</label>
                    <div class="col-lg-6">
                        @Html.TextAreaFor(m => m.TransDescription, new { @class = "form-control", id = "note", placeholder = "Enter Notes", rows = "4" })
                        <div class="form-control-feedback"><span asp-validation-for="TransDescription"></span></div>
                    </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label"> Is Active : </label>
                        <div class="col-lg-6">
                            <select class="form-control dropdown-select2" asp-for="IsActive">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                            <div class="form-control-feedback"><span asp-validation-for="IsActive"></span></div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" id="btnsubmit"><i class="la la-search"></i> Update </button>
                        </div>
                        </div>
            </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script>

    </script>
}
