﻿@model WalletTransactionDTO
@{
    ViewData["Title"] = "General Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>General Transactions</h2>

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All General Transactions configured for use on the platform.
    </div>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    General Transactions
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a onclick='javascript: pay()' class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <span>Add New Record</span>
                        </span>
                    </a>
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th>Transaction Type</th>
                    <th>Pay Type</th>
                    <th>Transaction Amount (₦)</th>
                    <th>Creation Time</th>
                    <th>Payroll Date</th>
                    <th>Created By</th>
                    <th>Notes</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>
<div class="modal fade col-xs-12" id="paydriver" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <h4 class="modal-title"> Add General Transaction</h4>
                <input type="hidden" id="money" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Amount: </label>
                                    <input type="text" asp-for="TransactionAmount" placeholder="Enter Amount" class="form-control" id="amount" />
                                    <div class="form-control-feedback"><span asp-validation-for="TransactionAmount"></span></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label"> Transaction Type : </label>
                                <select id="Paytype" asp-for="TransactionType" class="form-control m-input dropdown-select2 sts" asp-items="@(Html.GetEnumSelectList<TransactionType>().Where(x => x.Text.Contains("Debit") ||  x.Text.Contains("Credit")))">
                                    <option value="">Select</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="TransactionType"></span></div>
                            </div>
                            <div class="form-group">
                                <label class="form-label"> Pay Type Discription : </label>
                                <select id="paydescript" asp-for="PayTypeDiscription" class="form-control m-input dropdown-select2 sts" asp-items="@(Html.GetEnumSelectList<PayTypeDescription>().Where(x =>
                                    x.Text.Contains("Bonus") ||
                                    x.Text.Contains("Fine")||
                                    x.Text.Contains("Lateness") ||
                                    x.Text.Contains("DrunkDriving") ||
                                    x.Text.Contains("Recklesness") ||
                                    x.Text.Contains("SalaryPayment") ||
                                    x.Text.Contains("MTU") ||
                                    x.Text.Contains("Part") ||
                                    x.Text.Contains("Transload") ||
                                    x.Text.Contains("Loan")
                                    ))">
                                    <option value="">Select</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="PayTypeDiscription"></span></div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Payroll Date</label>
                                    <div class="m-input-icon m-input-icon--right">
                                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a Payroll date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Add Notes :</label>
                                @Html.TextAreaFor(m => m.TransDescription, new { @class = "form-control", id = "note", placeholder = "Enter Notes", rows = "4" })
                                <div class="form-control-feedback"><span asp-validation-for="Notes"></span></div>
                            </div>
                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="payToDriver();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script>

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });
        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/admin/report/getGeneralTransaction',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "transType"
                        },
                        {
                            bSortable: false,
                            data: "payType"
                        },
                        {
                            bSortable: false,
                            data: "transactionAmount"
                        },
                        {
                            bSortable: false,
                            data: "creationTime",
                            render: function (d) {
                                return moment(d).format('LLL');
                            }
                        },
                        {
                            bSortable: false,
                            data: "transactionDate",
                            render: function (d) {
                                return moment(d).format('LLL');
                            }
                        },
                        {
                            bSortable: false,
                            data: "transactedBy"
                        },
                        {
                            bSortable: false,
                            data: "transDescription"
                        },
                        {
                            bSortable: false,
                            data: "isActive"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                             <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                 <div class="dropdown-menu dropdown-menu-right">
                                \n <a class="dropdown-item" href="/admin/report/editgeneraltransaction/`+ n.id + `"><i class="la la-edit"></i> Modify</a>
                                \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                \n </div>
                            \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/admin/report/deletegeneraltransaction/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });

        function pay(driverid) {
            var driverid = driverid;
            var ids = $("#driverCode").val();
            $('#paydriver').modal();
            $('#paydriver').modal('show');
        }
        function payToDriver() {
            var amount = $("#amount").val();
            var transType = $("#Paytype").val();
            var payTypeDisc = $("#paydescript").val();
            var notes = $("#note").val();
            var date = $("#StartDate").val();
            if (amount == "") {
            swal("Enter an Amount")
            return false;
            }
            else if (date == "")
            {
                swal("Enter a Transaction Date")
                return false;
            }
            else if (transType == "") {
            swal("Select Transaction Type")
            return false;
            }
            else if (payTypeDisc == "") {
            swal("Select Pay Type Description")
            return false;
            }
            //else {
            //swal("Payment Successfull");
            //return true;
            //}

            $.getJSON("/admin/report/AddGeneralTransaction/?amount=" + amount + "&transType=" + transType + "&payTypeDisc=" + payTypeDisc + "&notes=" + notes + "&date=" + date,
                function (data) {
                });
             swal("Transaction Successful", "Done", "success");
             $('#paydriver').modal('hide');
            $('#paydriver').modal('hide');
            $.getJSON("/admin/report/GeneralTransaction",
                function (data) {
                });
            setTimeout(function () {
                //location.reload();
                var currentURL = window.location.pathname + window.location.search + window.location.hash;
                window.location.href = currentURL;
            }, 500);
            window.location.reload(true);
        }

    </script>
}

