﻿@model WalletTransactionDTO
@{
    ViewData["Title"] = "Get Driver Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Get Driver Transactions</h2>
@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }

        .Naira::before {
            content: "₦";
            font-family: "Roboto Regular", sans-serif;
            font-size: 0.9em;
            position: absolute;
            left: 5px;
            top: 45%;
            transform: translateY(-50%);
        }
    </style>
}
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Get all Driver debit and Credit information.   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @if (User.HasClaim("Permission", "resetpilotwallet"))
        {
            <a class="btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" id="ResetWalletBalance">
                <span>
                    <i class="la la-exclamation-triangle"></i>
                    <span>Reset Wallet Balance</span>
                </span>
            </a>
        }
        <h3 style="text-align:right;margin:auto;">Driver Name : @ViewBag.driver</h3>
    </div>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Drivers
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <label>Wallet Balance:    </label>
                    <span class="Naira">
                        <input type="text" class="form-control" value="@ViewBag.Bal" readonly disabled style="padding-top:5px;" />
                        <input type="hidden" class="form-control" value="@ViewBag.Id" id="driverCode" readonly disabled />
                        <input type="hidden" class="form-control" value="@ViewBag.code" id="pilotCode" readonly disabled />
                    </span>
                </li>
                <li class="m-portlet__nav-item">
                    <label>To Credit:    </label>
                    <span class="Naira">
                        <input type="text" style="padding-top:5px;" class="form-control" value="@ViewBag.WalletBalanceAfterDeduction" readonly disabled />
                    </span>
                </li>
            </ul>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a  class="btn btn-danger m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" id="payment">
                        <span>
                            <span>Send for Approval</span>
                        </span>
                    </a>
                </li>
                <li class="m-portlet__nav-item">
                    <a onclick='javascript: pay()' class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>                          
                            <span>Capture Payment</span>
                        </span>
                    </a>
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable table-responsive" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th>Amount (₦)</th>
                    <th> Transaction Type</th>
                    <th>PayTypeDescription</th>
                    <th>Transacted By</th>
                    <th>Transaction Description</th>
                    <th> Creation Time</th>
                    <th>Transaction Date</th>
                    <th>Details</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

<div class="modal fade col-xs-12" id="paydriver" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <h4 class="modal-title"> Pay Driver</h4>
                <input type="hidden" id="money" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Amount: </label>
                                    <input type="text" asp-for="TransactionAmount" placeholder="Enter Amount" class="form-control" id="amount" />
                                    <div class="form-control-feedback"><span asp-validation-for="TransactionAmount"></span></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label"> Payment Type : </label>
                                <select id="Paytype" asp-for="TransactionType" class="form-control m-input dropdown-select2 sts" asp-items="@(Html.GetEnumSelectList<TransactionType>().Where(x => x.Text.Contains("Debit") ||  x.Text.Contains("Credit")))">
                                    <option value="">Select</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="TransactionType"></span></div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Payroll Date</label>
                                    <div class="m-input-icon m-input-icon--right">
                                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a Payroll date" name="payDate" id="payDate" value="@ViewBag.StartDate" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label"> Pay Type Discription : </label>
                                <select id="paydescript" asp-for="PayTypeDiscription" class="form-control m-input dropdown-select2 sts" asp-items="@(Html.GetEnumSelectList<PayTypeDescription>().Where(x =>
                                    x.Text.Contains("Bonus") ||
                                    x.Text.Contains("Fine")||
                                    x.Text.Contains("Lateness") ||
                                    x.Text.Contains("DrunkDriving") ||
                                    x.Text.Contains("Recklesness") ||
                                    x.Text.Contains("SalaryPayment") ||
                                    //x.Text.Contains("WalletUpdate") ||
                                    //x.Text.Contains("WalletDeduction") ||
                                    x.Text.Contains("MTU") ||
                                    x.Text.Contains("Part") ||
                                    x.Text.Contains("Transload") ||
                                    x.Text.Contains("Loan")
                                    ))">
                                    <option value="">Select</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="PayTypeDiscription"></span></div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Add Notes :</label>
                                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", id = "note", placeholder = "Enter Notes", rows = "4" })
                                <div class="form-control-feedback"><span asp-validation-for="Notes"></span></div>
                            </div>
                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="payToDriver();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade col-xs-12" id="reset" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <h4 class="modal-title"> Reset Wallet Balance!</h4>
                <input type="hidden" id="drvCode" />
                <div class="modal-body">
                    <form action="" id="resetModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Amount To Reset To: </label>
                                    <input type="text" placeholder="Enter Amount" class="form-control" id="amountToReset" required />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="dismissBtn" class="btn btn-default" type="button">CLOSE</button>
                        <button id="btnResetBalance" class="btn btn-warning" onclick="resetBal();" type="button"> Reset </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade col-xs-12" id="modify" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <h4 class="modal-title"> Modify Driver Payment</h4>
                <input type="hidden" id="money" />
                <div class="modal-body">
                    @using (Html.BeginForm("Walletmodifyupdate", "Report", FormMethod.Post))
                    {
                        <form action="" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" id="transId" asp-for="Id" />
                                    <input type="hidden" id="transBy" asp-for="TransactedBy" />
                                    <input type="hidden" value="@ViewBag.code" id="Drvcode" asp-for="Code" />
                                    <div class="form-group">
                                        <label class="form-label"> Amount: </label>
                                        <input type="text" asp-for="TransactionAmount" placeholder="Enter Amount" class="form-control" id="ModalAmount" />
                                        <div class="form-control-feedback"><span asp-validation-for="TransactionAmount"></span></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Payment Type : </label>
                                    <select id="ModalPaytype" asp-for="TransactionType" class="form-control m-input dropdown-select2 transtyp" asp-items="@(Html.GetEnumSelectList<TransactionType>().Where(x => x.Text.Contains("Debit") || x.Text.Contains("Credit")))">
                                        <option value="" id="TransactionType">Select</option>
                                    </select>
                                    <div class="form-control-feedback"><span asp-validation-for="TransactionType"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Pay Type Discription : </label>
                                    <select id="Modalpaydescript" asp-for="PayTypeDiscription" class="form-control m-input dropdown-select2 trandes" asp-items="@(Html.GetEnumSelectList<PayTypeDescription>().Where(x =>
                                    x.Text.Contains("Bonus") ||
                                    x.Text.Contains("Fine")||
                                    x.Text.Contains("Lateness") ||
                                    x.Text.Contains("DrunkDriving") ||
                                    x.Text.Contains("Recklesness") ||
                                    x.Text.Contains("SalaryPayment") ||
                                    //x.Text.Contains("WalletUpdate") ||
                                    //x.Text.Contains("WalletDeduction") ||
                                    x.Text.Contains("MTU") ||
                                    x.Text.Contains("Part") ||
                                    x.Text.Contains("Transload") ||
                                    x.Text.Contains("Loan")
                                    ))">

                                        <option value="" id="PayTypeDiscription">Select</option>
                                    </select>
                                    <div class="form-control-feedback"><span asp-validation-for="PayTypeDiscription"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="TransactionDate">Transaction Date:</label>
                                    <input class="form-control m-input" date-format="D, dd MM yyyy" id="TransactionDateModify" placeholder="dd/mm/yyyy">
                                    <div class="form-control-feedback"><span asp-validation-for="TransactionDate"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Add Notes :</label>
                                    @Html.TextAreaFor(m => m.TransDescription, new { @class = "form-control", id = "Modalnote", placeholder = "Enter Notes", rows = "4" })
                                    <div class="form-control-feedback"><span asp-validation-for="Notes"></span></div>
                                </div>
                                <div class="modal-footer" style="width:100%;">
                                    <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                                    <button id="submitUpdateForm" class="btn btn-success" type="submit" onclick="return post()"> Save </button>
                                </div>
                                <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                                    <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                        <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                                    </span>
                                </div>
                            </div>
                        </form>
                     }
                </div>
                    
                @*<div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="payToDriver();" type="button"> Confirm Payment</button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>*@
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script>
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#payDate").datepicker({/*, #EndDate*/
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#ModalPaytype, #Modalpaydescript").select2({
                        placeholder: "Select an appropriate option"
                    })
                    //$("#TerminalId, #BookingType, #BookingStatus").select2({
                    //    placeholder: "Select an appropriate option"
                    //})
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });
        var codes = $("#pilotCode").val();
        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    dom: 'lBfrtip',
                    buttons: [
                    { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                ],
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/admin/report/getdriverTransactions/?code=' + codes,
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                             bSortable: false,
                             data: "transactionAmount"
                        },
                        {
                             bSortable: false,
                             data: "transType"
                        },
                        {
                             bSortable: false,
                             data: "payTypeDes"
                        },
                        {
                             bSortable: false,
                             data: "transactedBy"
                        },
                        {
                             bSortable: false,
                             data: "transDescription"
                        },
                        {
                              bSortable: false,
                            data: "creationTime",
                            render: function (d) {
                                return moment(d).format('llll');
                            }
                        },
                        {
                              bSortable: false,
                            data: "transactionDate",
                            render: function (d) {
                                return moment(d).format('llll');
                            }
                        },
                        {
                            bSortable: false,
                            render: function (a, t, data, n) {                          
                                if (data.transactionType != 2) {

                                    return `\n <span class="dropdown">\n
                                                         <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                             <div class="dropdown-menu dropdown-menu-right">
                            \n <a class="dropdown-item" onclick="modify(\'` + data.id + `\');"><i class="la la-edit"></i> Modify</a>
                            \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                            \n </div>
                            \n </span>\n`
                                }
                                return `\n <span class="dropdown">\n\n</span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/admin/report/removePayment/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });
        function pay(driverid) {
            var driverid = driverid;
            var ids =  $("#driverCode").val();
            $('#paydriver').modal();
            $('#paydriver').modal('show');
            $("#money").val(ids);
        }
        function payToDriver() {
            var driverid = $("#money").val();
            var amount = $("#amount").val();
            var transType = $("#Paytype").val();
            var payTypeDisc = $("#paydescript").val();
            var notes = $("#note").val();
            var payDate = $("#payDate").val();
            if (amount == "") {
            swal("Enter an Amount")
            return false;
            }
            else if (transType == "") {
            swal("Select Transaction Type")
            return false;
            }
            else if (payTypeDisc == "") {
            swal("Select Pay Type Description")
            return false;
            }
            //else {
            //swal("Payment Successfull");
            //return true;
            //}

            $.getJSON("/admin/report/payDriver/?Id=" + driverid + "&amount=" + amount + "&transType=" + transType + "&payTypeDisc=" + payTypeDisc + "&notes=" + notes + "&payDate=" + payDate,
                function (data) {
                });
             swal("Payment Successful", "Done", "success");
             $('#paydriver').modal('hide');
            $('#paydriver').modal('hide');
            $.getJSON("/admin/report/getDriverTransaction/?id=" + driverid,
                function (data) {
                });
            setTimeout(function () {
                //location.reload();
                var currentURL = window.location.pathname + window.location.search + window.location.hash;
                window.location.href = currentURL;
            }, 1000);
            window.location.reload(true);
        }

        $("#payment").click(function () {
            var code = $("#pilotCode").val();
            var r = confirm("Are You Sure You Want to Send Payment for Approval?");
            if (r === true) {
                $("#sloader").show();
                $.ajax({
                    url: "/admin/report/updateDriverPayment",
                    data: {
                        code: code
                    },
                    success: function (data) {
                        swal("Update Successful");
                        $("#sloader").hide();
                        $.getJSON("/admin/report/getDriverTransaction/?code=" + code,
                            //window.location.href = "Report/GetDriverTransaction";
                             function (data) {                  
                             });
                            setTimeout(function () {
                                //location.reload();
                                var currentURL = window.location.pathname + window.location.search + window.location.hash;
                                window.location.href = currentURL;
                            }, 1000);
                            window.location.reload(true);
                    }
                })
                
            }
        });

         $("#ResetWalletBalance").click(function () {
            var code = $("#pilotCode").val();
               $('#reset').modal();
            $('#reset').modal('show');
         });

        $("#btnResetBalance").click(function () {
              $("#sloader").show();
            var code = $("#pilotCode").val();
            var amount = $("#amountToReset").val();
            $.ajax({
                    url: "/admin/report/ResetWalletBalance",
                    data: {
                        code: code,
                        amount: amount
                    },
                    success: function (data) {
                        swal("Update Successful");
                        $("#sloader").hide();                       
                            setTimeout(function () {
                                //location.reload();
                                var currentURL = window.location.pathname + window.location.search + window.location.hash;
                                window.location.href = currentURL;
                            }, 1000);
                            window.location.reload(true);
                    }
                })
         });
          function modify(data) {
              var driverid = data;
              $.ajax({
                  url: "/admin/report/editDriverTransactions",
                  data: {
                      id: driverid
                  },
                  success: function (response) {
                      $('#ModalAmount').val(response.data.transactionAmount);
                      $('#transId').val(response.data.id);
                      $('#transBy').val(response.data.transactedBy);
                      $('#ModalPaytype').val(response.data.transactionType);
                      $('#Modalpaydescript').val(response.data.payTypeDiscription);
                      $('#Modalnote').val(response.data.transDescription);
                      $('#TransactionDateModify').val(response.data.transactionDate);
                      $('#modify').modal();
                      $('#modify').modal('show');
                  },
                  error: function (response) {
                      alert(response.responseText);
                  }
              });
              $("#sloader").hide();
              
            //var ids =  $("#modify").val();
            //  $('#modify').modal();
            //  $('#modify').modal('show');
            //  $("#money").val(ids);
          }
        function post() {
        var amount = $('#ModalAmount').val();
        var transtyp = $('.transtyp').val();
        var trandes = $('#.paydescript').val();
        if (amount == "") {
            swal("Enter an Amount")
            return false;
        }
        else if (transtyp == "") {
            swal("Select Transaction Type")
            return false;
        }
        else if (trandes == "") {
            swal("Select Pay Type Description")
            return false;
        }
        else {
            swal("Payment Updated Successfully");
            return true;
            }
            $("#sloader").hide();
        }
    </script>
}