﻿@model MtuReportModelDTO
@{
    ViewData["Title"] = "View Patrol Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    ViewData["Title"] = "View More";
}
@section Styles
{
    <style>
        img {
            border: 1px solid #ddd; /* Gray border */
            border-radius: 4px; /* Rounded border */
            padding: 5px; /* Some padding */
            width: 80px;
            height: 60px;/* Set a small width */
        }

            /* Add a hover effect (blue shadow) */
            img:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }
    </style>
}
<h3>View More</h3>
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                View Report
                            </h3>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a href="~/admin/report/GetReports" class="btn btn-success m-btn m-btn--pill m-btn--icon m-btn--air">
                                            <span>
                                                <i class="la la-search"></i>
                                                <span>Search Reports</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-portlet__nav-item"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("MtuReports", "Report", FormMethod.Get, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                {
                    <div class="m-form__section m-form__section--first">

                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="VehicleModelId">Vehicle :</label>
                            <div class="col-lg-6">
                                <input class="form-control m-input dropdown-select2" disabled readonly asp-for="RegistrationNumber" />
                                <div class="form-control-feedback"><span asp-validation-for="RegistrationNumber"></span></div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverId">Driver :</label>
                            <div class="col-lg-6">
                                <input class="form-control" readonly disabled asp-for="DriverCode" />
                                <div class="form-control-feedback"><span asp-validation-for="DriverCode"></span></div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverId">Vehicle Status :</label>
                            <div class="col-lg-6">
                                <input class="form-control m-input dropdown-select2" disabled readonly asp-for="Status" />
                                <div class="form-control-feedback"><span asp-validation-for="Status"></span></div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="Picture">Picture:</label>
                            <div class="col-lg-6">
                                <div class="m--align-center form-group">
                                    <div class="row">
                                        @if (Model.MtuPhotos.Count == 0)
                                        {
                                            <p>&nbsp; &nbsp; &nbsp;</p><label>There are no Images for this Report</label>
                                        }
                                        @foreach (var item in Model.MtuPhotos)
                                        {
                                            <p>&nbsp; &nbsp; &nbsp;</p><a target="_blank" href="~/images/mtureports/@item.FileName">
                                                <img src="~/images/mtureports/@item.FileName" alt="Avatar" class="m--align-center avatar" id="avartarId">
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="form-control-feedback"><span asp-validation-for="Picture"></span></div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverId">Notes :</label>
                            <div class="col-lg-6">
                                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control m-input dropdown-select2", rows = "4", @readonly = "readonly", disabled = "disabled" })
                                <div class="form-control-feedback"><span asp-validation-for="Notes"></span></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script>
                //$(document).ready(function () {
                //    $(".dropdown-select2").select2();
                //});

                //var No = $('#Id').val();

                //$(document).on("click", "#view", function () {
                //    $("#view").hide();

                //    $.getJSON("/admin/report/getmtubyid/?Id=" + No,

                //        function (data) {
                //            console.log(data)
                //            if (data.picture != null)
                //                $("#avartarId").attr("src", data.picture);
                //        });
                //});

    </script>
}
