﻿@model MtuReportModelDTO
@{
    ViewData["Title"] = "Get Patrol Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h3>Get Reports</h3>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Search Patrol Reports and details
        @*Booking report. You can <a onclick="exportbookingreportToExcel()" href="javascript:;" target="_blank" download>click here</a> to export to excel.*@
    </div>
</div>


<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search end date" name="EndDate" id="EndDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
            </div>
            @*<div class="form-group m-form__group row">
                    <div class="col-lg-4">
                        <label>Name</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input class="form-control" id="name" autocomplete="off" placeholder="Enter Employee Name" />

                        </div>
                    </div>
                </div>*@
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Employee Name</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="fullnam" asp-for="FullName" class="form-control m-input dropdown-select2 emp" asp-items="ViewBag.Employee as IEnumerable<SelectListItem>">
                            <option value="" id="EmpId">Select an Employee</option>
                        </select>
                        @*@Html.DropDownList("name", new SelectList(ViewBag.Employee, "Id", "FullName"))*@
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6 m--align-left" style="margin-top: 15px;">
                    <button type="button" class="btn btn-info" id="btnsearch"><i class="la la-search"></i> Search </button>
                    @*<button type="submit" class="btn btn-danger"> <i class="la la-refresh"></i> Refresh </button>*@
                </div>
            </div>

            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                </span>

            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Patrol Reports Details
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="~/admin/report/MtuReports" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la la-plus"></i>
                            <span>Add New Report</span>
                        </span>
                    </a>
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>Vehicle Registration</th>
                    <th>Driver Code</th>
                    <th>Status</th>
                    <th>Date Created</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Notes</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>
@section Styles{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>
}
@section Scripts {

    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>*@
    @*$("#btnsearch").removeAttr('disabled');*@
    @*$('#btnsearch').attr('disabled', true);*@
    <script>
        $(".dropdown-select2").select2();
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        $(document).on("click", "#btnsearch", function () {
            var name = $('#fullnam :selected').text();
            var startdate = $('#StartDate').val();
            var enddate = $('#EndDate').val();
            if (startdate == "") {
                swal("Select a Start Date", "", "warning")
                return false;
            };
            if (enddate == "") {
                swal("Select an End Date", "", "warning")
                return false;
            };
            $("#m_table_1").DataTable({
                destroy: true,
                dom: 'lBfrtip',
                buttons: [
                    { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                ],
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '../../admin/report/getmtureports/?startdate=' + startdate + '&enddate=' + enddate + '&name=' + name,
                columns: [
                    {
                        bSortable: false,
                        data: "registrationNumber"
                    },
                    {
                        bSortable: false,
                        data: "driverCode"
                    },
                    {
                        bSortable: false,
                        data: "vehicleStatus"
                    },
                    {
                        bSortable: false,
                        data: "date",
                        render: function (d) {
                            return moment(d).format('lll');
                        }
                    },
                    {
                        bSortable: false,
                        data: "email"
                    },
                    {
                        bSortable: false,
                        data: "fullName"
                    },
                    {
                        bSortable: false,
                        data: "notes"
                    },
                    {
                        bSortable: false,
                        render: function (a, t, n) {
                            return `\n <span class="dropdown">\n
                                                                                                     <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                                                         <div class="dropdown-menu dropdown-menu-right">

                                                                        \n <a class="dropdown-item" href="/admin/report/getmtubyid/`+ n.id + `"><i class="la la-edit"></i> View Report</a>
                                                                      \n </div>
                                                                    \n </span>\n`
                        }
                    }
                ],

                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                order: []
            });
            $('#StartDate').val("");
            $('#EndDate').val("");
            $("#fullnam").val('').trigger('change')

        });

            //var exportbookingreportToExcel = function () {
            //    $("#sloader").show();
            //    var data = $("#SubmitFormM").serialize();
            //    var date = $("#StartDate").val();

            //    window.location = "../../admin/report/exportCustDetails/?startdate=" + date;
            //    //$.ajax({
            //    //    type: "Post",
            //    //    url: "../../admin/report/exportCustDetails/?startdate=" + date,
            //    //    data: data,
            //    //    success: function (data) {
            //    //        //alert("Success!..");
            //    //        console.log(data);
            //    //        swal('Your File has been Exported Successfully');
            //    //        //$("#MyModal").modal("hide");
            //    //    }

            //    //})
            //    $("#sloader").hide();
            //};

    </script>
}
