﻿
@{
    ViewData["Title"] = "GetTravelledCustomerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Travelled Customers Detail</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">

    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Booking report. You can <a onclick="exportbookingreportToExcel()" href="javascript:;" target="_blank" download>click here</a> to export to excel.
    </div>
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <input type="hidden" value="@ViewBag.TerminalId" />
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" autocomplete="off" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search start date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" autocomplete="off" required />
                    </div>
                </div>
                <div class="col-lg-4 m--align-left" style="margin-top: 15px;">
                    <button type="button" class="btn btn-danger" id="btnsearch">Search</button>
                    <button type="submit" class="btn btn-success">Refresh</button>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    
                </div>
            </div>
        </div>
        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
            </span>

        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Customers Details
                </h3>
            </div>
        </div>

    </div>
    @*<div class="m-portlet__body">
            <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Destination</th>
                        <th>Vehicle Number</th>
                    </tr>
                </thead>
            </table>
            @Html.AntiForgeryToken()
        </div>*@
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Route</th>
                    <th>Vehicle Number</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

@section Scripts {

    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        $(document).on("click", "#btnsearch", function () {
            // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";
            $('#btnsearch').attr('disabled', true);
            var startdate = $('#StartDate').val();
             var enddate = $('#EndDate').val();
            $("#m_table_1").DataTable({
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '../../admin/report/getdata/?startdate=' + startdate + '&enddate=' + enddate,
                columns: [
                    {
                        bSortable: false,
                        data: "fullName"
                    },
                    {
                        bSortable: false,
                        data: "phoneNumber"
                    },
                    {
                        bSortable: false,
                        data: "routeName"
                    },
                    {
                        bSortable: false,
                        data: "vehicleName"
                    }

                ],
                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                headerCallback: function (e, a, t, n, s) {
                    e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                },
                order: []
            });
        });

        var exportbookingreportToExcel = function () {
            $("#sloader").show();
            var data = $("#SubmitFormM").serialize();
            var date = $("#StartDate").val();

            window.location = "../../admin/report/exportCustDetails/?startdate=" + date;
            //$.ajax({
            //    type: "Post",
            //    url: "../../admin/report/exportCustDetails/?startdate=" + date,
            //    data: data,
            //    success: function (data) {
            //        //alert("Success!..");
            //        console.log(data);
            //        swal('Your File has been Exported Successfully');
            //        //$("#MyModal").modal("hide");
            //    }

            //})
            $("#sloader").hide();
        };
    </script>
}


