﻿@model Transload
@{
    ViewData["Title"] = "Get Transloaded Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report of Transloaded Vehicles</h2>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Search Transloaded Vehicles and details or <a href="@Url.Action("transload","report")">click here</a> to transload another vehicle
        @*Booking report. You can <a onclick="exportbookingreportToExcel()" href="javascript:;" target="_blank" download>click here</a> to export to excel.*@
    </div>
</div>


<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search end date" name="EndDate" id="EndDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Select an Employee</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="fullnam" asp-for="TransloadedBy" class="form-control m-input dropdown-select2 emp" asp-items="ViewBag.Employee as IEnumerable<SelectListItem>">
                            <option value="" id="EmpId">Select an Employee</option>
                        </select>
                        @*@Html.DropDownList("name", new SelectList(ViewBag.Employee, "Id", "FullName"))*@
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6 m--align-left" style="margin-top: 15px;">
                    <button type="button" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" id="btnsearch"><i class="la la-search"></i> Search </button>
                </div>
            </div>

            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                </span>

            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title" id="head">
                <h3 class="m-portlet__head-text">
                    Transloaded Details
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>

    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>Route</th>
                    <th>Transloaded By</th>
                    <th>Journey Date</th>
                    <th>Transloaded Driver</th>                 
                    <th>Transloaded Vehicle</th>
                    <th>New Driver</th>
                    <th>New Vehicle</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>
@section Styles{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>
}
@section Scripts {
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>*@
    <script type="text/javascript">
            var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });

        $(document).on("click", "#btnsearch", function () {
            var startdate = $('#StartDate').val();
            var enddate = $('#EndDate').val();
            var name = $('#fullnam :selected').val();
            start_date = new Date("" + startdate);
            end_date = new Date(""+enddate);
            if (end_date < start_date) {
                swal("The Start date is after the End date!", "", "warning");
                return false;
            }
            if (startdate == "") {
                swal("Select a Start Date","", "warning")
                return false;
            };
            if (enddate == "") {
                swal("Select an End Date","", "warning")
                return false;
            };
            $("#m_table_1").DataTable({
                destroy: true,
                dom: 'lBfrtip',
                buttons: [
                    { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                ],
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '../../admin/report/GetTransloadedHistory/?startdate=' + startdate + '&enddate=' + enddate+ '&Id=' + name,
                dataSrc: function (data) {
                    if (data == "no data") {
                        return { data: [] }
                    }
                },
                columns: [
                    {
                        bSortable: false,
                        data: "route"
                    },
                    {
                        bSortable: false,
                        data: "transloadedBy"
                    },                 
                    {
                        bSortable: false,
                        data: "journeyDate",
                        render: function (d) {
                            return moment(d).format('LL');
                        }
                    },
                    {
                        bSortable: false,
                        data: "transloadedPilots"
                    },
                    {
                        bSortable: false,
                        data: "transloadedVehicle"
                    },
                    {
                        bSortable: false,
                        data: "newPilots"
                    },
                    {
                        bSortable: false,
                        data: "newVehicle"
                    }
                ],

                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                order: []

            });
            $('#StartDate').val("")
            $('#EndDate').val("")
            $("#fullnam").val('').trigger('change')
        });


    </script>
}
