﻿@model IEnumerable<HireBusDTO>
@{
    ViewData["Title"] = "HireTravelled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hire Travelled Report</h2>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        <button type="submit" onclick="javascript:printDiv('printablediv')" id="BtnPrint" style="margin-top:5px;" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
            <span>
                <i class="la la-print"></i>
                <span>Print</span>
            </span>
        </button>
        <button type="button" onclick="location.href='@Url.Action("ExportHireTravelled", "Report", new { @startdate = ViewBag.StartDate, @enddate =  ViewBag.EndDate, @keyword = ViewBag.Keyword })'"
                style="margin-top:5px;" class="btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
            <span>
                <i class="la la-edit"></i>
                <span>Export To Excel</span>
            </span>
        </button>
        <a asp-action="HireRequests" style="float:right;" asp-controller="Report" class="btn btn-danger m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
            <i class="la la-mail-reply-all"></i> Back
        </a>
    </div>
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="get" action="@Url.Action("~/admin/report/HireTravelled" )">
        @*All booking reports configured for use on the platform. You can find <a href="~/admin/region/create" target="_blank">all todays bookings</a> by clicking the previous link.*@
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="">Departure Terminal</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <select id="deptTerm" name="DepartureTerminalId" asp class="form-control m-input dropdown-select2" asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                                <option value="" id="TermId">Select a Terminal</option>
                            </select>
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"><i class="la la-search"></i> Search </button>
                        @*<button type="submit" class="btn btn-danger">Search</button>*@
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title" id="head">
                <h3 class="m-portlet__head-text">
                    Hire History
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>

    <div class="m-portlet__body" id="printablediv">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Registration No</th>
                    <th>Departure Address</th>
                    <th>Destination Address</th>
                    <th>Departure Date</th>
                    <th>Driver Name</th>
                    <th>Amount</th>
                </tr>
            </thead>

            <tbody>
                @{ var count = 0; }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @item.RegistrationNo
                        </td>
                        <td>
                            @item.DepartureAddress
                        </td>
                        <td>
                            @item.DestinationAddress
                        </td>
                        <td>
                            @item.DepartureDate.ToString("dddd, dd MMMM yyyy")
                        </td>
                        <td>
                            @item.DriverName
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                                    <a class="dropdown-item" href="#" onclick="getTrips('@item.Id')">Trip Details</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#arrivalDateModal" onclick="passDataToModel('@item.Id')">Receive</a>
                                    <a class="dropdown-item" href="#" onclick="createManifest('@item.Id');">Print Manifest</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                @* modal for updating received date starts *@
                <!-- The Received Date Modal -->
                <div class="modal" id="arrivalDateModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Update Received Date &amp; Location</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form name="ArrivalDateForm">
                                    <div class="form-group">
                                        <label for="ReceivedDateInput">Received Date:</label>
                                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="date" style="width:100%;" placeholder="Enter a received date" name="ReceivedDateInput" id="ReceivedDateInput" value="@ViewBag.StartDate" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ArrivalLocationInput">Received Location:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <div class="controls">
                                                <select id="ArrivalLocationInput" name="ArrivalLocationInput" asp class="form-control m-input dropdown-select2" style="width:100%;" asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                                                    <option value="" id="ArrivalLocationInputOptionId">Select a Terminal</option>
                                                </select>
                                            </div>
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                                        </div>
                                    </div>
                                    <input type="hidden" class="form-control" id="hireBusIdInput" placeholder="Input HireBus Id" name="hireBusIdInput">
                                    <button type="button" class="btn btn-primary" onclick="UpdateArrivalDate()">Submit</button>
                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                @* modal for updating arrival date ends *@
            </tbody>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

<div class="modal fade" id="viewtrips" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trip Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-checkable">
                        <thead>
                            <tr class="">
                                <th>Passenger Name</th>
                                <th>Phone Number</th>
                                <th>NOK Name</th>
                                <th>NOK Phone </th>
                            </tr>
                        </thead>
                        <tbody id="tripModelId"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="dvManifestImage" style="display:none">
</div>
@section Styles{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>
}
@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate, #ArrivalDateInput").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#PhysicalBusRegisterationNumber").select2({
                        placeholder: "Select a terminal"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });
        var getTrips = function (Id) {
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#tripModelId').empty()
            var results = [];
            if (Id) {
                $.ajax({
                    url: "../../admin/report/GetHirePassengers",
                    method: "get",
                    data: {
                        Id: Id,
                    },
                    success: function (response) {
                        results = response;
                        if (response) {
                            var status = ''

                            $.each(response, function (index, val) {

                                $('#tripModelId').append('<tr> <td>' + val.name
                                    + '</td> <td>' + val.phoneNo
                                    + '</td><td>' + val.nokName
                                    + '</td><td>' + val.nokPhone + '</tr>'
                                )
                            })
                        }
                        $("#viewtrips").modal()
                        $.unblockUI();
                    },
                    error: function (err) {
                        console.log(err)
                        $('#tripModelId').empty()
                        $.unblockUI();
                    }
                })
            }
        }

        $('#BtnPrint').on('click', function () {
            printDiv();
        })
        function printDiv(printablediv) {
            //Get the HTML of div
            var divElements = document.getElementById(printablediv).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;
            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                divElements + "</body>";
            //Print Page
            window.print();
            //Restore orignal HTML
            document.body.innerHTML = oldPage;
        }
        function UpdateArrivalDate() {
            var arrivalDate = document.getElementById("ReceivedDateInput").value;
            var receivedLocation = document.getElementById("ArrivalLocationInput").value;
            var id = document.getElementById("hireBusIdInput").value;
            debugger;
            if (!id || !arrivalDate) {
                return;
            }
            if (arrivalDate) {
                $.ajax({
                    url: "../../admin/report/UpdateHireBus",
                    method: "post",
                    data: {
                        ArrivalDate: arrivalDate,
                        ReceivedLocation: receivedLocation,
                        Id: id,
                    },
                    success: function (response) {
                        alert("✔✔✔ Successfully Received!");
                    },
                    error: function (err) {
                        console.log(err);
                        alert("❌❌❌ An error occured, please try again!");
                    }
                });
            }
        }
        function passDataToModel(id) {
            if (id) {
                document.getElementById("hireBusIdInput").value = id;
            }
        }
        function createManifest(id) {
            @*@Url.Action("CreatePrintManifest", "AdvancedBooking")*@
            $.get('/Booking/AdvancedBooking/CreatePrintManifest?id=' + id,
                function(data) {
                    $('#dvManifestImage').html(data);
                    printContent("dvManifestImage");
                });
        }

        function printContent(el) {
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            window.print();
            document.body.innerHTML = restorepage;
        }
    </script>
} 