﻿@model IEnumerable<HireRequestModel>

@{
    ViewData["Title"] = "Hire Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var page = Convert.ToInt32(ViewBag.Page);
    var TotalPages = Convert.ToInt32(ViewBag.TotalPages);

    var NextPage = (page < TotalPages) ? page + 1 : page;
    var PrevPage = (page > 1) ? page - 1 : page;
}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
}

<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        padding: 6px6 border: 1px solid #ccc;
        text-align: center;
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Booking report. You can <a onclick="exportbookingreportToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
        <a asp-action="HireTravelled" style="float:right;" asp-controller="Report" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"><i class="la la-bus"></i> Hire Travelled </a>
    </div>
</div>


<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/hirerequests")">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Keyword </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <input class="form-control" name="Keyword" id="Keyword" value="@ViewBag.Keyword" placeholder="Select by Customer name, Telephone number, email etc" />
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a start date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />
                    </div>
                </div>
                
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter an end date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />
                    </div>
                </div>
               
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Hire Reports
                </h3>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable">
            <thead>
                <tr class="">
                    <th>S/N</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Next Of Kin Name </th>
                    <th>Next Of Kin PhoneNumber</th>
                    <th>Dept. Date</th>
                    <th>Dept. Location</th>
                    <th>Destination</th>
                    <th>Number Of Buses</th>

                </tr>
            </thead>
            <tbody>
                @{ var count = 0; }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                       
                        <td>
                            @item.NextOfKinName
                        </td>
                        <td>
                            @item.NextOfKinPhoneNumber
                        </td>
                        <td>
                            @item.DepartureDate
                        </td>
                        <td>
                            @item.Departure
                        </td> 
                        <td>
                            @item.Destination
                        </td>
                        <td>
                            @item.NumberOfBuses
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @{
                    var allSshownPages = 0;
                    allSshownPages = TotalPages + 1;

                    int firstshownPage = 1;
                    int lastshownPage = allSshownPages;

                    if (allSshownPages > 9)
                    {
                        firstshownPage = page > 3 ? page - 3 : 1;
                        lastshownPage = allSshownPages - page > 3 ? page + 3 : allSshownPages;
                    }
                    if (TotalPages > 1)
                    {
                        @if (TotalPages > 10)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Content("/admin/report/hirerequests?pageIndex=" + PrevPage + "&pagesize=" + 10 + "&TerminalId=" + ViewBag.Terminal +
                                                                    "&StartDate=" + ViewBag.StartDate +  "&EndDate=" + ViewBag.EndDate)">Previous</a>
                            </li>
                        }
                        @for (int currentPage = firstshownPage; currentPage < lastshownPage; currentPage++)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   href="@Url.Content("/admin/report/hirerequests?pageIndex=" + currentPage + "&pagesize=" + 10 + "&TerminalId=" + ViewBag.Terminal  +
                                                                    "&StartDate=" + ViewBag.StartDate +  "&EndDate=" + ViewBag.EndDate)">
                                    @(currentPage)
                                </a>
                            </li>
                        }
                        @if (lastshownPage < allSshownPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Content("/admin/report/hirerequests?pageIndex=" + NextPage + "&pagesize=" + 10  + "&TerminalId=" + ViewBag.Terminal   +
                                                                    "&StartDate=" + ViewBag.StartDate +  "&EndDate=" + ViewBag.EndDate)">Next</a>
                            </li>
                        }
                    }
                }
            </ul>
        </nav>
        @Html.AntiForgeryToken()
    </div>
</div>

@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                   
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        @*var exportbookingreportToExcel = function () {
            $.blockUI({ message: '<h1>Processing...</h1>' });

            $.ajax({
                url: "../../admin/report/ExportBookingReportAsync",
                method: "post",
                data: {
                    TerminalId: $('#TerminalId').val(),
                    BookingStatus: $('#BookingStatus').val(),
                    BookingType: $('#BookingType').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    PageSize: @ViewBag.TotalCount
                },
                success: function (response) {
                    $.unblockUI();
                    toastr.info('Download Completed')
                    console.log('wetin dey')
                },
                error: function (err) {
                    $.unblockUI();
                    console.log(err)
                }
            })
        }*@
    </script>
}

