﻿@model IEnumerable<BookingReportModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var queryModel = new BookingReportQueryModel { };

    IList<SelectListItem> bookingTypelist = Enum.GetValues(typeof(BookingType)).Cast<BookingType>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }).ToList();

    SelectList bookingType = new SelectList(bookingTypelist, "Value", "Text");

    IList<SelectListItem> bookingstatuslist = Enum.GetValues(typeof(BookingStatus)).Cast<BookingStatus>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }).ToList();

    SelectList bookingstatus = new SelectList(bookingstatuslist, "Value", "Text");

    var page = Convert.ToInt32(ViewBag.Page);
    var TotalPages = Convert.ToInt32(ViewBag.TotalPages);

    var NextPage = (page < TotalPages) ? page + 1 : page;
    var PrevPage = (page > 1) ? page - 1 : page;
}
@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
}

<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        padding: 6px6 border: 1px solid #ccc;
        text-align: center;
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Booking report. You can <a onclick="exportbookingreportToExcel()" href="javascript:;" target="_blank">click here fff</a> to export to excel.
    </div>
</div>


<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/index")">
        <input type="hidden" value="@ViewBag.TerminalId" />
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Keyword </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <input class="form-control" name="Keyword" id="Keyword" placeholder="Select by Customer name, Reference code or Telephone number" />
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="">Departure Terminal</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            @Html.DropDownList("TerminalId", (SelectList)ViewBag.TerminalId, "Select Terminal", new { @class = "m-input-icon m-input-icon--right form-control select-terminal"
                       })
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Booking Status </label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            @Html.DropDownList("BookingStatus", (SelectList)bookingstatus, "Select Booking Status", new { @class = "m-input-icon m-input-icon--right form-control select-terminal"
                       })
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="">Booking Typeff</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            @Html.DropDownList("BookingType", (SelectList)bookingType, "Select Booking Typess", new { @class = "m-input-icon m-input-icon--right form-control select-terminal"
                       })
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />
                    </div>
                </div>
            </div>

        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Booking Reports
                </h3>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">
        <div class="table-responsive">
        <table class="table table-striped- table-bordered table-hover table-checkable">
            <thead>
                <tr class="">
                    <th>S/N</th>
                    <th>Booking Reference Code</th>
                    <th>Phone Number</th>
                    <th>Amount</th>
                    <th>Discounted Amount </th>
                    <th>Employee Name</th>
                    <th>Terminal Name</th>
                    <th>Destination</th>

                </tr>
            </thead>
            <tbody>
                @{ var count = 0; }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @item.BookingReferenceCode
                        </td>
                        <td>
                            @item.CustomerPhoneNumber
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @item.DiscountedAmount
                        </td>
                        <td>
                            @item.EmployeeEmail
                        </td>
                        <td>
                            @item.TerminalName
                        </td>
                        <td>
                            @item.Destination
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @{
                    var allSshownPages = 0;
                    allSshownPages = TotalPages + 1;

                    int firstshownPage = 1;
                    int lastshownPage = allSshownPages;

                    if (allSshownPages > 9)
                    {
                        firstshownPage = page > 3 ? page - 3 : 1;
                        lastshownPage = allSshownPages - page > 3 ? page + 3 : allSshownPages;
                    }
                    if (TotalPages > 1)
                    {
                        @if (TotalPages > 10)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Content("/admin/report/index?pageIndex=" + PrevPage + "&pagesize=" + 10 + "&TerminalId=" + ViewBag.Terminal +
                                                                    "&StartDate=" + ViewBag.StartDate +  "&EndDate=" + ViewBag.EndDate)">Previous</a>
                            </li>
                        }
                        @for (int currentPage = firstshownPage; currentPage < lastshownPage; currentPage++)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   href="@Url.Content("/admin/report/index?pageIndex=" + currentPage + "&pagesize=" + 10 + "&TerminalId=" + ViewBag.Terminal  +
                                                                    "&StartDate=" + ViewBag.StartDate +  "&EndDate=" + ViewBag.EndDate)">
                                    @(currentPage)
                                </a>
                            </li>
                        }
                        @if (lastshownPage < allSshownPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Content("/admin/report/index?pageIndex=" + NextPage + "&pagesize=" + 10  + "&TerminalId=" + ViewBag.Terminal   +
                                                                    "&StartDate=" + ViewBag.StartDate +  "&EndDate=" + ViewBag.EndDate)">Next</a>
                            </li>
                        }
                    }
                }
            </ul>
        </nav>
        @Html.AntiForgeryToken()
            </div>
    </div>
</div>

@if (Model.Count() > 0)
{
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Summary
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-section">

                <div class="m-section__content">
                    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                        <div class="m-demo__preview">
                            <p><a href="#" class="m-link">Number of tickets:  </a>  @Model?.FirstOrDefault().TotalCount </p>
                            <p><a href="#" class="m-link m--font-bold">Total Sales:   </a> &#8358; @Model?.FirstOrDefault().TotalSales </p>
                            <p><a href="#" class="m-link m--font-bolder">Total Discounted Amount: </a> &#8358;  @Model?.FirstOrDefault().TotalDiscountedSales </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Section-->
        </div>
    </div>

}
@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        var exportbookingreportToExcel = function () {
            $.blockUI({ message: '<h1>Processing...</h1>' });

            $.ajax({
                url: "../../admin/report/ExportBookingReportAsync",
                method: "post",
                data: {
                    TerminalId: $('#TerminalId').val(),
                    BookingStatus: $('#BookingStatus').val(),
                    BookingType: $('#BookingType').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    PageSize: @ViewBag.TotalCount
                },
                success: function (response) {
                    $.unblockUI();
                    toastr.info('Download Completed')
                    console.log('wetin dey')
                },
                error: function (err) {
                    $.unblockUI();
                    console.log(err)
                }
            })
        }
    </script>
} 