﻿@model IEnumerable<JourneyChartModel>

@{
    ViewData["Title"] = "JourneyCharts";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Journey Charts</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All recent trips booked for. You can <a onclick="exporttripsToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
    </div>
</div>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Journey Charts Reports
                </h3>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">

        <div class="row">

            @foreach (var bkdtrips in Model)
            {

                <div class="col-xl-4">
                    <!--begin:: Widgets/Blog-->
                    <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
                        <div class="m-portlet__head m-portlet__head--fit">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m--font-light">
                                        State: @bkdtrips.Name
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a href="@Url.Content("~/admin/report/terminaljourneycharts?stateId=" + bkdtrips.Id)" class="m-portlet__nav-link  btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
                                            View Details
                                        </a> &nbsp;
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-widget28">
                                <div class="m-widget28__pic m-portlet-fit--sides" style="min-height:70px;"></div>
                                <div class="m-widget28__container">
                                    <!-- begin::Nav pills -->
                                    <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist" style="display:none">
                                        <li class="m-widget28__nav-item nav-item col-4">
                                            @*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#m_modal_4">Launch Modal</button>*@
                                            <a class="nav-link" href="@Url.Content("~/admin/report/terminaljourneycharts?stateId=" + bkdtrips.Id)">
                                                <span>
                                                    <i class="fa flaticon-clipboard"></i>
                                                </span><span>View Terminals</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- end::Nav pills -->
                                    <!-- begin::Tab Content -->
                                    <div class="m-widget28__tab tab-content">
                                        <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                            <div class="m-widget28__tab-items">
                                                <div class="kt-widget12__item" style="padding-top:8px; padding-bottom:30px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                    <span class="kt-widget4__title kt-widget4__title--light pull-left">Outgoing Loaded</span>
                                                    <span class="pull-right widget4__item" style="font-size:18px;">@bkdtrips.TotalOutgoingCount</span>
                                                </div>
                                                <div class="kt-widget12__item" style="padding-top:8px; padding-bottom:30px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                    <span class="kt-widget4__title kt-widget4__title--light pull-left">Incoming Loaded</span>
                                                    <span class="pull-right widget4__item" style="font-size:18px;">@bkdtrips.TotalIncomingCount</span>
                                                </div>
                                                <div class="kt-widget12__item" style="padding-top:8px; padding-bottom:30px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                    <span class="kt-widget4__title kt-widget4__title--light pull-left">Outgoing Blown</span>
                                                    <span class="pull-right widget4__item" style="font-size:18px;">@bkdtrips.TotalOutgoingBlownCount</span>
                                                </div>
                                                <div class="kt-widget12__item" style="padding-top:8px; padding-bottom:30px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                    <span class="kt-widget4__title kt-widget4__title--light pull-left">Incoming Blown</span>
                                                    <span class="pull-right widget4__item" style="font-size:18px;">@(bkdtrips.TotalIncomingBlownCount)</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- end::Tab Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Blog-->
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="viewtrips" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trip Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-checkable">
                        <thead>
                            <tr class="">
                                <th>S/N</th>
                                <th>Bus Number</th>
                                <th>Driver Code</th>
                                <th>Route</th>
                                <th>Driver Name</th>
                                <th>Trip Type</th>
                                <th>Manifest Printed Time</th>
                            </tr>
                        </thead>
                        <tbody id="tripModelId"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });
        var getTrips = function (Id) {
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#tripModelId').empty()
            var results = [];
           
            if (Id) {
                $.ajax({
                    url: "../../admin/report/JourneyChartsDetailsByState?stateId=" + Id,
                    method: "GET",
                    success: function (response) {
                        results = response;
                        if (response) {
                            var status = ''
                            var type = ''
                            var index = 1;
                            $.each(response, function (index, val) {
                                switch (val.journeyStatus) {
                                    case 0:
                                        status = 'Pending'
                                        break;
                                    case 1:
                                        status = 'Approved'
                                        break;
                                    case 2:
                                        status = 'InTransit'
                                        break;
                                    case 3:
                                        status = 'Received'
                                        break;
                                    case 4:
                                        status = 'Transloaded'
                                        break;
                                    case 5:
                                        status = 'Denied'
                                        break;
                                    default:
                                        status = 'Pending'
                                        break;

                                }
                                switch (val.journeyType) {
                                    case 0:
                                        type = 'Loaded'
                                        break;
                                    case 1:
                                        type = 'Blown'
                                        break;
                                    case 2:
                                        type = 'Pickup'
                                        break;
                                    case 3:
                                        type = 'Rescue'
                                        break;
                                    case 4:
                                        type = 'Transload'
                                        break;
                                    case 5:
                                        type = 'Hire'
                                        break;
                                    default:
                                        type = 'Loaded'
                                        break;

                                }
                                
                                $('#tripModelId').append('<tr>  <td>' + ++index
                                    + '</td><td>' + val.physicalBusRegistrationNumber
                                    + '</td><td>' + val.driverCode
                                    + '</td><td>' + val.name
                                    + '</td><td>' + val.driverName
                                    + '</td><td>' + type
                                    + '</td><td>' + moment(val.manifestPrintedTime).format('llll') + '</tr>'
                                )
                            })
                        }
                        $("#viewtrips").modal()
                        $.unblockUI();
                    },
                    error: function (err) {
                        console.log(err)
                        $('#tripModelId').empty()
                        $.unblockUI();
                    }
                });
            }
        }

    </script>
}
