﻿@model IEnumerable<JourneyDetailDisplayDTO>
@{
    ViewData["Title"] = "JourneyDetailReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var journeyType = (string)ViewBag.journeyType;
}

<h2>JourneyDetailReport</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Terminal  Journey Details.
    </div>
</div>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Terminal @ViewBag.journeyType Details
                </h3>
            </div>
        </div>
        @*<div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="~/admin/report/blow" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la la-plus"></i>
                            <span>Blow Another Vehicle</span>
                        </span>
                    </a>
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>*@
    </div>
    @*<div class="m-portlet__body">
            <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Destination</th>
                        <th>Vehicle Number</th>
                    </tr>
                </thead>
            </table>
            @Html.AntiForgeryToken()
        </div>*@
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>Bus Number</th>
                    <th>Driver Code</th>
                    <th>Driver Name</th>
                    <th>Route</th>
                    @*<th>Blow Date</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <th>@item.PhysicalBusRegistrationNumber</th>
                    <th>@item.DriverCode</th>
                    <th>@item.DriverName</th>
                    <th>@item.Name</th>
                </tr>
                }
            </tbody>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

@section Scripts {

    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    @*<script>  
        $(document).on("click", "#btnsearch", function () {
            // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";
            $('#btnsearch').attr('disabled', true);
            var startdate = $('#StartDate').val();
            var enddate = $('#EndDate').val();
            $("#m_table_1").DataTable({
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '../../admin/report/getblowndata/?startdate=' + startdate + '&enddate=' + enddate,
                columns: [
                    {
                        bSortable: false,
                        data: "physicalBusRegistrationNumber"
                    },
                    {
                        bSortable: false,
                        data: "driverCode"
                    },
                    {
                        bSortable: false,
                        data: "routeName"
                    }
                ],
                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                headerCallback: function (e, a, t, n, s) {
                    e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                },
                order: []
            });
        });

        var exportbookingreportToExcel = function () {
            $("#sloader").show();
            var data = $("#SubmitFormM").serialize();
            var date = $("#StartDate").val();
            var enddate = $("EndDate").val();

            window.location = "../../admin/report/exportCustDetails/?startdate=" + date;
            //$.ajax({
            //    type: "Post",
            //    url: "../../admin/report/exportCustDetails/?startdate=" + date,
            //    data: data,
            //    success: function (data) {
            //        //alert("Success!..");
            //        console.log(data);
            //        swal('Your File has been Exported Successfully');
            //        //$("#MyModal").modal("hide");
            //    }

            //})
            $("#sloader").hide();
        };


    </script>*@

}
