﻿@model MtuReportModel
@{
    ViewData["Title"] = "Patrol Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <h3>Patrol Reports</h3>
<input type="hidden" name="localCombinedId" id="localCombinedId" />
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Add Report
                            </h3>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a href="~/admin/report/GetReports" class="btn btn-success m-btn m-btn--pill m-btn--icon m-btn--air">
                                            <span>
                                                <i class="la la-search"></i>
                                                <span>Search Reports</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-portlet__nav-item"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("MtuReports", "Report", FormMethod.Post,  new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed", enctype="multipart/form-data" }))
                {
            <div class="m-form__section m-form__section--first">

                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label" for="VehicleModelId">Vehicle :</label>
                    <div class="col-lg-6">
                        <select asp-for="VehicleId" class="form-control m-input dropdown-select2 veh" asp-items="ViewBag.Vehicles as IEnumerable<SelectListItem>">
                            <option value="" id="VehId">Select a Vehicle</option>
                        </select>
                        <div class="form-control-feedback"><span asp-validation-for="VehicleId"></span></div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label" for="DriverId">Driver :</label>
                    <div class="col-lg-6">
                        <select asp-for="DriverCode" class="form-control m-input dropdown-select2 drv" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                            <option value="" id="DriverCode">Select a Driver</option>
                        </select>
                        <div class="form-control-feedback"><span asp-validation-for="DriverCode"></span></div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label" for="DriverId">Vehicle Status :</label>
                    <div class="col-lg-6">
                        <select asp-for="Status" class="form-control m-input dropdown-select2 sts" asp-items="@(Html.GetEnumSelectList<VehicleStatus>()
                            //.Where(x => x.Text.Contains("Accidented") ||  x.Text.Contains("BrokenDown"))
                            )">
                            <option value="" id="Status">Select Vehicle Status</option>
                        </select>
                        <div class="form-control-feedback"><span asp-validation-for="Status"></span></div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label" for="Picture">Picture:</label>
                    <div class="col-lg-6">
                        <input class="form-control m-input" id="pics" AllowMultiple = "true"  type="file" multiple readonly asp-for="Pictures">
                        <div class="form-control-feedback"><span asp-validation-for="Pictures"></span></div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label" for="DriverId">Add Notes :</label>
                    <div class="col-lg-6">
                        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", placeholder = "Enter Notes", rows = "4" })
                        <div class="form-control-feedback"><span asp-validation-for="Notes"></span></div>
                    </div>
                </div>
            </div>
                    //Stopped at select2
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6 m--align-right">
                                    <button type="submit" class="btn btn-primary" onclick="return post()"> <i class="la la-plus"></i>Create Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
    $(".dropdown-select2").select2();

        $('#VehicleId').on("change", function () {
        var registrationNo = $("#VehicleId").find(":selected").val();
        $.getJSON("/terminalbooking/getbusdriver/?registrationNo=" + registrationNo,
            function (data) {
                //$('#DriverCode select').val(data.driverCode);
                $('#DriverCode option[value=' + data.driverCode + ']').attr('selected', 'selected');
                //$('#DriverCode').text(data.driverName);
                $('#DriverCode').val(data.driverCode).change();
            });
        });


        $('#pics').on("change", function () {
            console.log($(this))
        });
    });

    function post() {
        var vehc = $('.veh').val();
        var drver = $('.drv').val();
        var status = $('.sts').val();
        if (status == "") {
            swal("Select Vehicle Status")
            return false;
        }
        else if (drver == "") {
            swal("Select a Driver")
            return false;
        }
        else if (vehc == "") {
            swal("Select a Vehicle")
            return false;
        }
        else {
            swal("Report Created Successfully", "Kindly wait while page reloads", "success");
            return true;
        }
    }

</script>
