﻿@model WalletTransactionDTO
@{
    ViewData["Title"] = "PilotApprovalReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>
}
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        <div class="row">
            <h3> Driver Approval Report</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="~/admin/report/driverdetails" style="float:right !important;" class="btn btn-dark m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-user"></i>
                    <span>Driver Details Report</span>
                </span>
            </a> &nbsp; &nbsp;
            <a href="~/admin/report/PilotApprovalReport" style="float:right !important;" class="btn btn-outline-success m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-user"></i>
                    <span>Driver Approval Report</span>
                </span>
            </a>
        </div>
    </div>
</div>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        View All Approved Driver Transaction configured for use on the platform.
    </div>
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">

                <div class="col-lg-4">
                    <label>Driver code</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="fullnam" class="form-control m-input dropdown-select2 drv" name="DriverCode" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                            <option value="" id="DriverCode">Select a Driver</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="button" id="btnsearch" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"><i class="la la-search"></i> Search </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Drivers
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th> Driver Name</th>
                    <th> Driver Code</th>
                    <th>Transaction Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>
<div class="modal fade" id="viewtrans" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Transaction Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-checkable">
                        <thead>
                            <tr class="">
                                <th>Transaction Date</th>
                                <th>Transaction Amount</th>
                                <th>Transaction Type</th>
                                <th>PayTypeDiscription </th>
                                <th>Transacted By</th>
                                <th>Transaction Description</th>
                                @*<th>Transaction Date</th>*@
                            </tr>
                        </thead>
                        <tbody id="transModelId"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#PhysicalBusRegisterationNumber").select2({
                        placeholder: "Select a terminal"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });
        $(document).on("click", "#btnsearch", function () {
            var driver = $('#fullnam :selected').val();
            var startdate = $('#StartDate').val();
            var enddate = $('#EndDate').val();
            start_date = new Date("" + startdate);
            end_date = new Date("" + enddate);
            if (end_date < start_date) {
                swal("The Start date is after the End date!", "", "warning");
                return false;
            }
            if (startdate == "") {
                swal("Select a Start Date", "", "warning")
                return false;
            };
            if (enddate == "") {
                swal("Select an End Date", "", "warning")
                return false;
            };
            var table = $("#m_table_1").DataTable({
                destroy: true,
                dom: 'lBfrtip',
                buttons: [
                    { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                ],
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '../../admin/report/getpilotapprovalreport/?startdate=' + startdate + '&enddate=' + enddate + '&driver=' + driver,
                dataSrc: function (data) {
                    if (data == "no data") {
                        return { data: [] }
                    }
                },
                columns: [
                    {
                        bSortable: false,
                        data: "driverName"
                    },
                    {
                        bSortable: false,
                        data: "code"
                    },
                    {
                        bSortable: false,
                        data: "transactionAmount"
                    },
                    {
                        bSortable: false,
                        render: function (a, t, n) {
                            return `\n <span class="dropdown">\n
                                                <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                        \n <a href="#" class="dropdown-item" id="code" onclick="getApprovedDetails(\'` + n.code + `\');"><i class="la la-leaf"></i> View Detail</a>
                                                        </div>
                                            \n </span>\n`
                        }
                    }
                ],

                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                order: []

            });
            $('#StartDate').val(startdate);
            $('#EndDate').val(enddate);
            $("#vehiceId").val('').trigger('change')
            $("#fullnam").val('').trigger('change')
        });

        var getApprovedDetails = function (code) {
            var type = 2;
            var startdate = $('#StartDate').val();
            var enddate = $('#EndDate').val();
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#transModelId').empty()
            var results = [];
            if (code) {
                $.ajax({
                    url: '../../admin/report/GetPilotApprovalDetails/?startdate=' + startdate + '&enddate=' + enddate + '&code=' + code,
                    method: "post",
                    success: function (response) {
                        results = response;
                        if (response) {
                            var status = ''

                            $.each(response, function (index, val) {


                                $('#transModelId').append('<tr> <td>' + moment(val.transactionDate).format('llll')
                                    + '</td> <td>' + val.transactionAmount
                                    + '</td><td>' + val.transType
                                    + '</td><td>' + val.payTypeDes
                                    + '</td><td>' + val.transactedBy
                                    + '</td><td>' + val.transDescription
                                )
                            })
                        }
                        $("#viewtrans").modal()
                        $.unblockUI();
                    },
                    error: function (err) {
                        console.log(err)
                        $('#transModelId').empty()
                        $.unblockUI();
                    }
                })
                
            }
        }

    </script>
}

