﻿@model WalletTransactionDTO
@{
    ViewData["Title"] = "PilotScheduleDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Driver Schedule Detail</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search end date" name="EndDate" id="EndDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Driver code</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="fullnam" asp-for="WalletId" class="form-control m-input dropdown-select2 drv" name="WalletId" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                            <option value="" id="WalletId">Select a Driver</option>
                        </select>
                        @*<input class="form-control" type="text" placeholder="Enter driver code" name="DriverCode" value="@ViewBag.DriverCode" />*@
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6 m--align-left" style="margin-top: 15px;">
                    <button type="button" class="btn btn-info" id="btnsearch"><i class="la la-search"></i> Search </button>
                    @*<button type="submit" class="btn btn-danger"> <i class="la la-refresh"></i> Refresh </button>*@
                </div>
            </div>
            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                </span>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Driver Schedule Detail Report
                </h3>
            </div>
        </div>
        @*<div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="~/admin/report/MtuReports" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Add New Report</span>
                            </span>
                        </a>
                    </li>
                    <li class="m-portlet__nav-item"></li>
                </ul>
            </div>*@
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th>DriverName</th>
                    <th>Code</th>
                    <th>Balance</th>
                    <th>PayTypeDiscription</th>
                    <th>TransDescription</th>
                    <th>TransactionDate</th>
                    <th>TransactionAmount</th>
                    <th>IsApproved</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>
@section Styles{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>
}
@section Scripts {

    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>*@
    @*$("#btnsearch").removeAttr('disabled');*@
    @*$('#btnsearch').attr('disabled', true);*@
    <script>
        $(".dropdown-select2").select2();
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        $(document).on("click", "#btnsearch", function () {
            var walletid = $('#fullnam :selected').val();
            var startdate = $('#StartDate').val();
            var enddate = $('#EndDate').val();
            if (startdate == "") {
                swal("Select a Start Date", "", "warning")
                return false;
            };
            if (enddate == "") {
                swal("Select an End Date", "", "warning")
                return false;
            };
            $("#m_table_1").DataTable({
                destroy: true,
                dom: 'lBfrtip',
                buttons: [
                    { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                ],
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '../../admin/report/getPilotsCapturedPayment/?startdate=' + startdate + '&enddate=' + enddate + '&walletid=' + walletid,
                columns: [
                    {
                        bSortable: 0,
                        width: "30px",
                        className: "dt-right",
                        orderable: !1,
                        render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                        }
                    },
                    {
                        bSortable: false,
                        data: "driverName"
                    },
                    {
                        bSortable: false,
                        data: "code"
                    },
                    {
                        bSortable: false,
                        data: "balance"
                    },
                    {
                        bSortable: false,
                        //data: "payTypeDiscription",
                        render: function (a, t, data, n) {
                            debugger;
                            var ptd = parseInt(data.payTypeDiscription);
                            switch (ptd) {
                                case 0: return "@PayTypeDescription.Bonus.ToString()";
                                    break;
                                case 1: return "@PayTypeDescription.Fine.ToString()";
                                    break;
                                case 2: return "@PayTypeDescription.Lateness.ToString()";
                                    break;
                                case 3: return "@PayTypeDescription.DrunkDriving.ToString()";
                                    break;
                                case 4: return "@PayTypeDescription.Recklesness.ToString()";
                                    break;
                                case 5: return "@PayTypeDescription.SalaryPayment.ToString()";
                                    break;
                                case 6: return "@PayTypeDescription.WalletUpdate.ToString()";
                                    break;
                                case 7: return "@PayTypeDescription.WalletDeduction.ToString()";
                                    break;
                                case 8: return "@PayTypeDescription.Patrol.ToString()";
                                    break;
                                case 9: return "@PayTypeDescription.Part.ToString()";
                                    break;
                                case 10: return "@PayTypeDescription.Transload.ToString()";
                                    break;
                                case 11: return "@PayTypeDescription.Loan.ToString()";
                                    break;
                                default:
                                    return "NA";
                            }

                        }
                    
                    },
                    {
                        bSortable: false,
                        data: "transDescription"
                    },
                    {
                        bSortable: false,
                        data: "transactionDate"
                    },
                    {
                        bSortable: false,
                        data: "transactionAmount"
                    },
                    {
                        bSortable: false,
                        data: "isApproved"
                    },
                ],

                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                },
                order: []
            });
              table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
            $('#StartDate').val("");
            $('#EndDate').val("");
            $("#fullnam").val('').trigger('change')

        });

                //var exportbookingreportToExcel = function () {
                //    $("#sloader").show();
                //    var data = $("#SubmitFormM").serialize();
                //    var date = $("#StartDate").val();

                //    window.location = "../../admin/report/exportCustDetails/?startdate=" + date;
                //    //$.ajax({
                //    //    type: "Post",
                //    //    url: "../../admin/report/exportCustDetails/?startdate=" + date,
                //    //    data: data,
                //    //    success: function (data) {
                //    //        //alert("Success!..");
                //    //        console.log(data);
                //    //        swal('Your File has been Exported Successfully');
                //    //        //$("#MyModal").modal("hide");
                //    //    }

                //    //})
                //    $("#sloader").hide();
                //};

    </script>
}

