﻿@model WalletTransactionDTO

@{
    ViewData["Title"] = "Driver Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Driver Approval</h2>
@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }


            .Naira::before {
                content: "₦";
                font-family: "Roboto Regular", sans-serif;
                font-size: 0.9em;
                position: absolute;
                left: 5px;
                top: 45%;
                transform: translateY(-50%);
            }
    </style>
}

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        View and Approve Driver Salary Payment.
    </div>
</div>
<div class="form-group m-form__group row">
        <div class="col-lg-5">
            <select asp-for="Status" class="form-control m-input dropdown-select2 sts" id="status" asp-items="@(Html.GetEnumSelectList<TransactionStatus>())">
                <option value="" id="">Select Transaction Status</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="Status"></span></div>
        </div>
        <button id="btnsearch" class="btn btn-primary">Search</button>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Drivers
                </h3>
            </div>
        </div>
        <div style="padding-top:9px; float:right !important;">
            @if (User.HasClaim("Permission", "approvepilotsalary"))
            {
                <button type="submit" onclick="javascript:ApproveAll()" id="ApproveAll" style="margin-top:5px;" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                    <span>
                        <i class="la la-anchor"></i>
                        <span>Approve All</span>
                    </span>
                </button>
            }

            @if (User.HasClaim("Permission", "verifypilotsalary"))
            {
                <button type="submit" onclick="javascript:VerifyAll()" id="" style="margin-top:5px;" class="btn btn-success m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                    <span>
                        <i class="la la-angellist"></i>
                        <span>Verify All</span>
                    </span>
                </button>
            }
        </div>
    </div>
    <div class="m-portlet__body">

        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th> Driver Name</th>
                    <th> Driver Code</th>
                    <th>Transaction Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

<div class="modal fade" id="viewtrans" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Transaction Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-checkable">
                        <thead>
                            <tr class="">
                                <th>Transaction Date</th>
                                <th>Transaction Amount</th>
                                <th>Transaction Type</th>
                                <th>PayTypeDiscription </th>
                                <th>Transacted By</th>
                                <th>Transaction Description</th>
                                @*<th>Transaction Date</th>*@
                            </tr>
                        </thead>
                        <tbody id="transModelId"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script>
        function ApproveAll() {
            $("#sloader").show();
            $.ajax({
                url: "../../admin/report/ApproveAllPilotTransaction",
                method: "get",
                data: {},
                success: function (data) {
                    swal("Approve All Successful");
                    $("#sloader").hide();
                },
                error: function (data) {
                    swal("Approve All Failed!, please try again.");
                    $("#sloader").hide();
                }
            });
        }
        function VerifyAll() {
            $("#sloader").show();
            $.ajax({
                url: "../../admin/report/VerifyAllPilotTransaction",
                method: "get",
                data: {},
                success: function (data) {
                    swal("Verify All Successful");
                    $("#sloader").hide();
                },
                error: function (data) {
                    swal("Verify All Failed!, please try again.");
                    $("#sloader").hide();
                }
            });
        }
        var DatatablesBasicBasic = {
            init: function () {
                var status = 3;
                var table = $("#m_table_1").DataTable({
                    dom: 'lBfrtip',
                    buttons: [
                        { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                        { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                        { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                    ],
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/admin/report/pilotApprovals/?status=' + status,
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "driverName"
                        },
                        {
                            bSortable: false,
                            data: "code"
                        },
                        {
                            bSortable: false,
                            data: "transactionAmount"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                if (n.isApproved == true) {
                                    return `\n <span class="dropdown">\n
                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                    <div class="dropdown-menu dropdown-menu-right">
                                            \n <a href="#" class="dropdown-item" id="code" onclick="getApprovedDetails(\'` + n.code + `\');"><i class="la la-leaf"></i> View Detail</a>
                                            </div>
                                \n </span>\n`
                                }
                                else if (n.isVerified == true) {
                                    return `\n <span class="dropdown">\n
                                                   <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                    <div class="dropdown-menu dropdown-menu-right">
                                            \n <a href="#" class="dropdown-item" id="code" onclick="getVerifiedDetails(\'` + n.code + `\');"><i class="la la-leaf"></i> View Detail</a>
                                            \n <a class="dropdown-item" onclick="approve(\'` + n.code + `\');"><i class="la la-edit"></i>Approve Payment</a>
                                            \n <a class="dropdown-item" onclick="RevertToCapturedTransaction(\'` + n.code + `\');"><i class="la la-edit"></i>Return for Verifying</a>
                                            </div>
                                    
                                \n </span>\n`
                                }
                                else if (n.isCaptured == true) {
                                    return `\n <span class="dropdown">\n
                                                                 <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                     <div class="dropdown-menu dropdown-menu-right">
                                    \n <a href="#" class="dropdown-item" id="code" onclick="getTrips(\'` + n.code + `\');"><i class="la la-leaf"></i> View Detail</a>
                                    \n <a class="dropdown-item" onclick="verify(\'` + n.code + `\');"><i class="la la-shopping-cart"></i>Verify Transaction</a>
                                    \n <a class="dropdown-item" onclick="RevertToUncapturedTransaction(\'` + n.code + `\');"><i class="la la-shopping-cart"></i>Return for Recapturing</a>
                                    \n </div>
                                    \n </span>\n`
                                }
                                else {
                                    return `\n <span class="dropdown">\n
                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                    <div class="dropdown-menu dropdown-menu-right">
                                            \n <a href="#" class="dropdown-item" id="code" onclick="getIsSumDetails(\'` + n.code + `\');"><i class="la la-leaf"></i> View Detail</a>
                                            </div>
                                \n </span>\n`
                                }
                            }
                        }

                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/admin/report/removePayment/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        $(document).on("click", "#btnsearch", function () {
            var status = $('#status :selected').val();
            var tables = $("#m_table_1").DataTable({
                destroy: true,
                dom: 'lBfrtip',
                buttons: [
                    { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                ],
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '/admin/report/pilotApprovals/?status=' + status,
                dataSrc: function (data) {
                    if (data == "no data") {
                       return { data: [] }
                    }
                },
                 columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "driverName"
                        },
                        {
                            bSortable: false,
                            data: "code"
                        },
                        {
                            bSortable: false,
                            data: "transactionAmount"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                if (n.isApproved == true) {
                                   return `\n <span class="dropdown">\n
                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                    <div class="dropdown-menu dropdown-menu-right">
                                            \n <a href="#" class="dropdown-item" id="code" onclick="getApprovedDetails(\'` + n.code + `\');"><i class="la la-leaf"></i> View Detail</a>
                                            </div>
                                \n </span>\n`
                                }
                                else if (n.isVerified == true) {
                                    return `\n <span class="dropdown">\n
                                                   <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                    <div class="dropdown-menu dropdown-menu-right">
                                            \n <a href="#" class="dropdown-item" id="code" onclick="getVerifiedDetails(\'` + n.code + `\');"><i class="la la-leaf"></i> View Detail</a>
                                            \n <a class="dropdown-item" onclick="approve(\'` + n.code + `\');"><i class="la la-edit"></i>Approve Payment</a>
                                            \n <a class="dropdown-item" onclick="RevertToCapturedTransaction(\'` + n.code + `\');"><i class="la la-edit"></i>Return for Re-verifying</a>
                                            </div>                                  
                                \n </span>\n`
                                }
                                if (n.isCaptured == true) {
                                    return `\n <span class="dropdown">\n
                                                                 <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                     <div class="dropdown-menu dropdown-menu-right">
                                    \n <a href="#" class="dropdown-item" id="code" onclick="getTrips(\'` + n.code + `\');"><i class="la la-leaf"></i> View Detail</a>
                                    \n <a class="dropdown-item" onclick="verify(\'` + n.code + `\');"><i class="la la-shopping-cart"></i>Verify Transaction</a>
                                    \n <a class="dropdown-item" onclick="RevertToUncapturedTransaction(\'` + n.code + `\');"><i class="la la-shopping-cart"></i>Return for Recapturing</a>
                                    \n </div>
                                    \n </span>\n`
                                }
                                else {
                                     return `\n <span class="dropdown">\n
                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                    <div class="dropdown-menu dropdown-menu-right">
                                            \n <a href="#" class="dropdown-item" id="code" onclick="getIsSumDetails(\'` + n.code + `\');"><i class="la la-leaf"></i> View Detail</a>
                                            </div>
                                \n </span>\n`
                                }
                            }
                        }

                    ],

                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                order: []

            });
            $('#StartDate').val("");
            $('#EndDate').val("");
            $("#vehiceId").val('').trigger('change')
            $("#fullnam").val('').trigger('change')
        });
        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });
        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });

        //to view details of captured but not verified
        //Type (Captured = 0, Verifed = 1, Approved = 2, IsSum = 3)
        var getTrips = function (code) {
            var type = 0
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#transModelId').empty()
            var results = [];
            if (code) {
                $.ajax({
                    url: "../../admin/report/GetPilotTransactionDetail/",
                    method: "post",
                    data: {
                        Code: code,
                        type: type
                    },
                    success: function (response) {
                        results = response;
                        if (response) {
                            var status = ''

                            $.each(response, function (index, val) {


                                $('#transModelId').append('<tr> <td>' + moment(val.transactionDate).format('llll')
                                    + '</td> <td>' + val.transactionAmount
                                    + '</td><td>' + val.transType
                                    + '</td><td>' + val.payTypeDes
                                    + '</td><td>' + val.transactedBy
                                    + '</td><td>' + val.transDescription
                                )
                            })
                        }
                        $("#viewtrans").modal()
                        $.unblockUI();
                    },
                    error: function (err) {
                        console.log(err)
                        $('#transModelId').empty()
                        $.unblockUI();
                    }
                })
            }
        }

          var getVerifiedDetails = function (code) {
            var type = 1
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#transModelId').empty()
            var results = [];
            if (code) {
                $.ajax({
                    url: "../../admin/report/GetPilotTransactionDetail/",
                    method: "post",
                    data: {
                        Code: code,
                        type: type
                    },
                    success: function (response) {
                        results = response;
                        if (response) {
                            var status = ''

                            $.each(response, function (index, val) {


                                $('#transModelId').append('<tr> <td>' + moment(val.transactionDate).format('llll')
                                    + '</td> <td>' + val.transactionAmount
                                    + '</td><td>' + val.transType
                                    + '</td><td>' + val.payTypeDes
                                    + '</td><td>' + val.transactedBy
                                    + '</td><td>' + val.transDescription
                                )
                            })
                        }
                        $("#viewtrans").modal()
                        $.unblockUI();
                    },
                    error: function (err) {
                        console.log(err)
                        $('#transModelId').empty()
                        $.unblockUI();
                    }
                })
            }
        }

          var getApprovedDetails = function (code) {
            var type = 2
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#transModelId').empty()
            var results = [];
            if (code) {
                $.ajax({
                    url: "../../admin/report/GetPilotTransactionDetail/",
                    method: "post",
                    data: {
                        Code: code,
                        type: type
                    },
                    success: function (response) {
                        results = response;
                        if (response) {
                            var status = ''

                            $.each(response, function (index, val) {


                                $('#transModelId').append('<tr> <td>' + moment(val.transactionDate).format('llll')
                                    + '</td> <td>' + val.transactionAmount
                                    + '</td><td>' + val.transType
                                    + '</td><td>' + val.payTypeDes
                                    + '</td><td>' + val.transactedBy
                                    + '</td><td>' + val.transDescription
                                )
                            })
                        }
                        $("#viewtrans").modal()
                        $.unblockUI();
                    },
                    error: function (err) {
                        console.log(err)
                        $('#transModelId').empty()
                        $.unblockUI();
                    }
                })
            }
        }

         var getIsSumDetails = function (code) {
            var type = 3
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#transModelId').empty()
            var results = [];
            if (code) {
                $.ajax({
                    url: "../../admin/report/GetPilotTransactionDetail/",
                    method: "post",
                    data: {
                        Code: code,
                        type: type
                    },
                    success: function (response) {
                        results = response;
                        if (response) {
                            var status = ''

                            $.each(response, function (index, val) {


                                $('#transModelId').append('<tr> <td>' + moment(val.transactionDate).format('llll')
                                    + '</td> <td>' + val.transactionAmount
                                    + '</td><td>' + val.transType
                                    + '</td><td>' + val.payTypeDes
                                    + '</td><td>' + val.transactedBy
                                    + '</td><td>' + val.transDescription
                                )
                            })
                        }
                        $("#viewtrans").modal()
                        $.unblockUI();
                    },
                    error: function (err) {
                        console.log(err)
                        $('#transModelId').empty()
                        $.unblockUI();
                    }
                })
            }
        }
        $("#payment").click(function () {
            var code = $("#pilotCode").val();
            var r = confirm("Are You Sure You Want to Send Payment f");
            if (r === true) {
                $("#sloader").show();
                $.ajax({
                    url: "/admin/report/updateDriverPayment",
                    data: {
                        code: code
                    },
                    success: function (data) {
                        swal("Update Successful");
                        $("#sloader").hide();
                        $.getJSON("/admin/report/getDriverTransaction/?code=" + code,
                            //window.location.href = "Report/GetDriverTransaction";
                            function (data) {
                            });
                        setTimeout(function () {
                            //location.reload();
                            var currentURL = window.location.pathname + window.location.search + window.location.hash;
                            window.location.href = currentURL;
                        }, 1000);
                        window.location.reload(true);
                    }
                })

            }
        });


        function approve(code) {
            var r = confirm("Do You Want to Approve This Payment?");
            if (r === true) {
                $("#sloader").show();
                $.ajax({
                    url: "/admin/report/approvePilotTransaction/?code=" + code,
                    success: function (data) {
                        swal("Approve Successful");
                        $("#sloader").hide();
                        $.getJSON("/admin/report/PilotApproval/?code=" + code,
                            //window.location.href = "Report/GetDriverTransaction";
                            function (data) {
                            });
                        setTimeout(function () {
                            //location.reload();
                            var currentURL = window.location.pathname + window.location.search + window.location.hash;
                            window.location.href = currentURL;
                        }, 1000);
                        window.location.reload(true);
                    }
                })

            }
        };

        function verify(code) {
            var r = confirm("Do You Want to Verify this Transaction?");
            if (r === true) {
                $("#sloader").show();
                $.ajax({
                    url: "/admin/report/verifypilottransaction/?code=" + code,
                    success: function (data) {
                        swal("Transaction Verified");
                        $("#sloader").hide();
                        $.getJSON("/admin/report/PilotApproval/?code=" + code,
                            //window.location.href = "Report/GetDriverTransaction";
                            function (data) {
                            });
                        setTimeout(function () {
                            //location.reload();
                            var currentURL = window.location.pathname + window.location.search + window.location.hash;
                            window.location.href = currentURL;
                        }, 1000);
                        window.location.reload(true);
                    }
                })
            }
        };

        function RevertToUncapturedTransaction(code) {
            var r = confirm("Do you really want to return this transaction to be recaptured?");
            if (r === true) {
                $("#sloader").show();
                $.ajax({
                    url: "/admin/report/RevertToUncapturedTransaction/?code=" + code,
                    success: function (data) {
                        swal("Transaction Reverted!");
                        $("#sloader").hide();
                        $.getJSON("/admin/report/PilotApproval/?code=" + code,
                            //window.location.href = "Report/GetDriverTransaction";
                            function (data) {
                            });
                        setTimeout(function () {
                            //location.reload();
                            var currentURL = window.location.pathname + window.location.search + window.location.hash;
                            window.location.href = currentURL;
                        }, 1000);
                        window.location.reload(true);
                    }
                })
            }
        }

        function RevertToCapturedTransaction(code) {
            var r = confirm("Do you want to return this transactions for re-verifying?");
            if (r === true) {
                $("#sloader").show();
                $.ajax({
                    url: "/admin/report/RevertToCapturedTransaction/?code=" + code,
                    success: function (data) {
                        swal("Transaction reverted!");
                        $("#sloader").hide();
                        $.getJSON("/admin/report/PilotApproval/?code=" + code,
                            //window.location.href = "Report/GetDriverTransaction";
                            function (data) {
                            });
                        setTimeout(function () {
                            //location.reload();
                            var currentURL = window.location.pathname + window.location.search + window.location.hash;
                            window.location.href = currentURL;
                        }, 1000);
                        window.location.reload(true);
                    }
                })
            }
        }
    </script>
}