﻿@model WalletTransactionDTO
@{
        ViewData["Title"] = "Driver Pay Schedule";
        Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Search Driver Pay schedule</h3>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Search Driver Pay Schedule for Reports and details
    </div>
</div>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-3">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search end date" name="EndDate" id="EndDate" value="@ViewBag.StartDate" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">

                <div class="col-lg-2"></div>
                <div class="col-lg-4" style="margin-top: 30px;">
                    <button type="button" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" id="btnsearch"><i class="la la-search"></i> Search </button>
                </div>
            </div>

            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                </span>

            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title" id="head">
                <h3 class="m-portlet__head-text">
                    Deltaline Driver Pay Schedule Details
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    @*<a href="~/admin/report/MtuReports" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Add New Report</span>
                            </span>
                        </a>*@
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>

    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Driver Code</th>
                    <th>Driver Name</th>
                    <th>Total Amount (₦)</th>
                    <th>Bank Name</th>
                    <th>Bank Account</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

@section Styles{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>
}
@section Scripts {
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>*@


    <script type="text/javascript">


        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        $(document).on("click", "#btnsearch", function () {
            var startdate = $('#StartDate').val();
            var enddate = $('#EndDate').val();
            var departureTerminalId = $('#departureTerminalId :selected').val();
            start_date = new Date("" + startdate);
            end_date = new Date("" + enddate);
            if (end_date < start_date) {
                swal("The Start date is after the End date!", "", "warning");
                return false;
            }
            if (startdate == "") {
                swal("Select a Start Date", "", "warning")
                return false;
            };
            if (enddate == "") {
                swal("Select an End Date", "", "warning")
                return false;
            };
            var i = 1;
            var t = $("#m_table_1").DataTable({
                destroy: true,
                dom: 'lBfrtip',
                buttons: [
                    { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                ],
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '../../admin/report/getPilotPaySchedules/?startdate=' + startdate + '&enddate=' + enddate,
                dataSrc: function (data) {
                    if (data == "no data") {
                        return { data: [] }
                    }
                },
                columns: [
                    {
                        render: function (data, type, full, meta) {
                            return i++;
                        }
                    },
                    {
                        bSortable: false,
                        data: "code",
                    },
                    {
                        bSortable: false,
                        data: "driverName",
                    },
                    {
                        bSortable: false,
                        data: "transactionAmount",
                    },
                    {
                        bSortable: false,
                        data: "driverBankName",
                    },
                    {
                        bSortable: false,
                        data: "driverBankAccount",
                    }
                ],

                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                order: []

            });
            $('#StartDate').val("");
            $('#EndDate').val("");
            $("#vehiceId").val('').trigger('change')
            $("#fullnam").val('').trigger('change')
        });
    </script>
}