﻿@model IEnumerable<WalletTransactionDTO>
@{
    ViewData["Title"] = "Driver Pay Slip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
  .printme {
            display: none;
        }

    @@media print {
        .no-printme {
            display: none;
        }

        #vehicleAllocationReport {
            display: block;
        }
    }

    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .m-widget28 .m-widget28__pic {
        min-height: 200px
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        padding: 6px6 border: 1px solid #ccc;
        text-align: center;
    }

    .printme {
        display: none;
    }

    @@media print {
        .no-printme {
            display: none;
        }

        #vehicleAllocationReport {
            display: block;
        }
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        <div class="row">
            <h3>Driver Pay Slip</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </div>

    </div>
</div>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/DriverSalary")">
        @*All booking reports configured for use on the platform. You can find <a href="~/admin/region/create" target="_blank">all todays bookings</a> by clicking the previous link.*@
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="StartDate" id="StartDate"  />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="EndDate" id="EndDate"  />
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">

                <div class="col-lg-4">
                    <label>Driver code</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="fullnam" class="form-control m-input dropdown-select2 drv" name="Code" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                            <option value="" id="Code">Select a Driver</option>
                        </select>
                        @*<input class="form-control" type="text" placeholder="Enter driver code" name="DriverCode" value="@ViewBag.DriverCode" />*@
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" id="btnSend" class="btn btn-dark m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"><i class="la la-search"></i> Search </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile" >
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                
            </div>
        </div>
        <div style="padding-top:9px; float:right !important;">
            <button type="submit" onclick="javascript:printDiv('printablediv')" id="BtnPrint" style="margin-top:5px;" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-print"></i>
                    <span>Print</span>
                </span>
            </button>
            @*<button type="button" onclick="location.href='@Url.Action("ExportDriverSalary", "Report", new { @StartDate = ViewBag.StartDate, @EndDate =  ViewBag.EndDate, @Code = ViewBag.Code })'"
                    style="margin-top:5px;" class="btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-edit"></i>
                    <span>Export To Excel</span>
                </span>
            </button>*@
        </div>
    </div>
    
    <div class="m-portlet__body" id="printablediv">
        <br />
        <div class="logoarea centert" style="text-align:center">
            <img src="images/deltaline-logo.png" alt="Logo" />
        </div><br />
        <h3 style="text-align:center" class="m-portlet__head-text">
            Driver Monthly Pay Slip
        </h3>
        <br />
        <h4 style="text-align:center"><b>Driver Name: @ViewBag.DriverName</b></h4>
        <br />
        <h4 style="text-align:center"><b>Driver Code: @ViewBag.Code</b></h4>
        <br />
        <h5 style="text-align:center">From @ViewBag.Startdate To @ViewBag.Enddate</h5>
        <br /><br />
        <div class="row" style="text-align:center">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <table class="table table-striped- table-bordered table-hover table-checkable">
                    <h4>Credit Transactions</h4>
                    <thead>
                        <tr>
                            <th>Payment Description</th>
                            <th>Transaction Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model.Where(x => x.TransactionType == TransactionType.Credit))
                            {
                                <tr>
                                    <td>
                                        @item.PayTypeDes - @item.TransDescription
                                    </td>
                                    <td>
                                        ₦ @item.TransactionAmount
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <table class="table table-striped- table-bordered table-hover table-checkable">
                    <h4>Debit Transactions</h4>
                    <thead>
                        <tr>
                            <th>Payment Description</th>
                            <th>Transaction Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model.Where(x => x.TransactionType == TransactionType.Debit))
                            {
                                <tr>
                                    <td>
                                        @item.PayTypeDes - @item.TransDescription
                                    </td>
                                    <td>
                                        ₦  @item.TransactionAmount
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-1"></div>
        </div>



    </div>
</div>
@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#PhysicalBusRegisterationNumber").select2({
                        placeholder: "Select a terminal"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });
          $('#BtnPrint').on('click', function () {
            printDiv();
        })
        function printDiv(printablediv) {
            //Get the HTML of div
            var divElements = document.getElementById(printablediv).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML = 
              "<html><head><title></title></head><body>" + 
              divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;
          
        }
                $(document).on("click", "#btnSend", function () {
                    var vehId = $("#fullnam").find(":selected").val();
            if (vehId == "") {
                swal("Select a Driver", "Select Driver", "warning");
                return false;
            }
            else {              
                return true;
            }
        });
    </script>
}

