﻿@model IEnumerable<SalesPerBusModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var queryModel = new BookingReportQueryModel { };
}
<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }
    .m-widget28 .m-widget28__pic
    {min-height:200px}
    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        padding: 6px6 border: 1px solid #ccc;
        text-align: center;
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All recent trips booked for. You can <a onclick="exportsalesperbusToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
    </div>
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/salesperbus")">
        @*All booking reports configured for use on the platform. You can find <a href="~/admin/region/create" target="_blank">all todays bookings</a> by clicking the previous link.*@
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />
                    </div>
                </div>
            </div>

        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    @*<div class="col-lg-6">
                            <button type="reset" class="btn btn-primary">Save</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>*@
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Sales Per bus Reports
                </h3>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">

        <div class="row">
            @foreach (var bkdtrips in Model)
            {

                <div class="col-xl-4">
                    <!--begin:: Widgets/Blog-->
                    <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
                        <div class="m-portlet__head m-portlet__head--fit">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m--font-light">
                                        @bkdtrips.PhysicalBusRegistrationNumber
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a href="#" class="m-portlet__nav-link  btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
                                            &#8358; @bkdtrips.TotalSales
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-widget28">
                                <div class="m-widget28__pic m-portlet-fit--sides"></div>
                                <div class="m-widget28__container">

                                    <!-- begin::Nav pills -->
                                    <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist">
                                        @*<li class="m-widget28__nav-item nav-item col-4">
                                                <a class="nav-link" data-toggle="pill" href="#menu31"><span><i class="fa flaticon-download"></i></span><span>Export Excel</span></a>
                                            </li>*@
                                        <li class="m-widget28__nav-item nav-item col-4"  onclick="getcurrentmanifest('@bkdtrips.Id  ')">
                                            @*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#m_modal_4">Launch Modal</button>*@
                                            <a class="nav-link" href="javascript:;">
                                                <span>
                                                    <i class="fa flaticon-clipboard"></i>
                                                </span><span>View Manifest</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- end::Nav pills -->
                                    <!-- begin::Tab Content -->
                                    <div class="m-widget28__tab tab-content">
                                        <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                            <div class="m-widget28__tab-items">
                                                <div class="m-widget28__tab-item">
                                                    <span> Vehicle Number</span>
                                                    <span>@(bkdtrips.PhysicalBusRegistrationNumber ?? "[NA]")</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Seat(s) Booked</span>
                                                    <span>@bkdtrips.NoOfSeats</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Available Seat(s)</span>
                                                    <span>@bkdtrips.RemainingSeats</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Departure Date</span>
                                                    <span>@bkdtrips.DepartureDate.ToString("")</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Total Online Sales</span>
                                                    <span> &#8358; @bkdtrips.OnlineBookingSales</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Total Advanced Sales</span>
                                                    <span> &#8358; @bkdtrips.AdvancedBookingSales</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Total Terminal Sales</span>
                                                    <span> &#8358; @bkdtrips.TerminalBookingSales</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Dispatch Fee</span>
                                                    <span> &#8358; @bkdtrips.DispatchFee</span>
                                                </div>
                                                <div class="m-widget28__tab-item">
                                                    <span>Driver Fee</span>
                                                    <span> &#8358; @bkdtrips.DriverFee</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end::Tab Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Blog-->
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="viewmanifest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Manifest</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-checkable">
                        <thead>
                            <tr class="">
                                <th>Full Name</th>
                                <th>Booking Reference Code</th>
                                <th>Gender</th>
                                <th>Amount</th>
                                <th>Phone Number</th>
                                <th>Seat Number</th>
                                <th>Route</th>
                            </tr>
                        </thead>
                        <tbody id="manifestModelId"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#PhysicalBusRegisterationNumber").select2({
                        placeholder: "Select a terminal"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        var getcurrentmanifest = function (vehicletripId) {
            $.blockUI({ message: '<h1>Just a moment...</h1>' });

            $('#manifestModelId').empty()
            var results = [];
            if (vehicletripId) {
                $.ajax({
                    url: "../../admin/manifest/GetManifestByVehicleTripId?id=" + vehicletripId,
                    method: "get",
                    success: function (response) {
                        results = response;
                        if (response) {
                            $.each(response, function (index, val) {
                                var sex = val.gender == 0 ? 'male' : 'female';
                                $('#manifestModelId')
                                    .append('<tr> <td>' + val.fullName + '</td> <td>' + val.bookingReferenceCode + '</td><td>' + sex + '</td><td>'  + val.amount + '</td><td>'  + val.phoneNumber + '</td><td>'  + val.seatNumber + '</td><td>' + val.route + '</td></tr>')
                            })
                        }
                        $("#viewmanifest").modal()

                        $.unblockUI();

                        console.log('wetin dey')
                    },
                    error: function (err) {
                        console.log(err)
                        $('#manifestModelId').empty()
                        $.unblockUI();

                    }
                })
            }
        }

        var exportsalesperbusToExcel = function () {
            $.blockUI({ message: '<h1>Processing...</h1>' });

            $.ajax({
                url: "../../admin/report/ExportSalesPerBusToExcelAsync",
                method: "post",
                data: {
                    RegionId: $('#PhysicalBusRegisterationNumber').val(),
                    StateId: $('#BookingType').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val()
                },
                success: function (response) {
                    $.unblockUI();
                    toastr.info('Download Completed')
                    console.log('wetin dey')
                },
                error: function (err) {
                    $.unblockUI();
                    console.log(err)
                }
            })
        }

    </script>
} 