﻿@model IEnumerable<JourneyChartModel>

@{
    ViewData["Title"] = "JourneyCharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var outloaded = "outgoingLoaded";
    var inLoaded = "incomingLoaded";
    var outBlown = "outgoingBlown";
    var inblown = "incomingBlown";

}

<h2>Terminal Journey Charts</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All recent trips booked for. You can <a onclick="exporttripsToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
    </div>
</div>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                   Terminal Journey Charts
                </h3>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">

        <div class="row">

            @foreach (var bkdtrips in Model)
            {

                <div class="col-xl-4">
                    <!--begin:: Widgets/Blog-->
                    <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
                        <div class="m-portlet__head m-portlet__head--fit">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m--font-light">
                                        Terminal:
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a href="#" class="m-portlet__nav-link  btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
                                            @bkdtrips.Name
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-widget28">
                                <div class="m-widget28__pic m-portlet-fit--sides" style="min-height:80px;"></div>
                                <div class="m-widget28__container">
                                    <!-- begin::Nav pills -->
                                    @*<ul class="m-widget28__nav-items nav nav-pills nav-fill hidden hide" role="tablist">
                                        <li class="m-widget28__nav-item nav-item col-4">
                                            <a class="nav-link" href="@Url.Content("~/admin/report/index?terminalid=" + bkdtrips.Id)">
                                                <span>
                                                    <i class="fa flaticon-clipboard"></i>
                                                </span><span>View Trips</span>
                                            </a>
                                        </li>
                                    </ul>*@
                                    <!-- end::Nav pills -->
                                    <!-- begin::Tab Content -->
                                    <div class="m-widget28__tab tab-content">
                                        <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                            <div class="m-widget28__tab-items">
                                                <div class="kt-widget4__info kt-widget4__item" style="padding-top:8px; padding-bottom:10px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                    <span style="width:55%; float:left">Outgoing Loaded</span>
                                                    <span style="font-size:18px; width:25%; font-weight:bold;">@bkdtrips.TotalOutgoingCount</span>
                                                    @if (bkdtrips.TotalOutgoingCount > 0)
                                                    {
                                                        <div class="pull-right">
                                                            <a class="btn btn-sm btn-label-primary" href="@Url.Content("~/admin/report/JourneyDetailReport/?journeyType="+outloaded+"&terminalid=" + bkdtrips.Id)">  View details</a>
                                                        </div>
                                                    }

                                                </div>
                                                <div class="kt-widget4__info kt-widget4__item" style="padding-top:8px; padding-bottom:10px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                    <span style="width:55%; float:left">Incoming Loaded</span>
                                                    <span style="font-size:18px; width:25%; font-weight:bold;">@bkdtrips.TotalIncomingCount</span>
                                                    @if (bkdtrips.TotalIncomingCount > 0)
                                                    {
                                                        <div class="pull-right">
                                                            <a class="btn btn-sm btn-label-primary" href="@Url.Content("~/admin/report/JourneyDetailReport/?journeyType="+inLoaded+"&terminalid=" + bkdtrips.Id)">  View details</a>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="kt-widget4__info kt-widget4__item" style="padding-top:8px; padding-bottom:10px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                    <span style="width:55%; float:left">Outgoing Blown</span>
                                                    <span style="font-size:18px; width:25%; font-weight:bold;">@bkdtrips.TotalOutgoingBlownCount</span>
                                                    @if (bkdtrips.TotalOutgoingBlownCount > 0)
                                                    {
                                                        <div class="pull-right">
                                                            <a class="btn btn-sm btn-label-primary" href="@Url.Content("~/admin/report/JourneyDetailReport/?journeyType="+outBlown+"&terminalid=" + bkdtrips.Id)">  View details </a>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="kt-widget4__info kt-widget4__item" style="padding-top:8px; padding-bottom:10px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                    <span style="width:55%; float:left"> Incoming Blown</span>
                                                    <span style="font-size:18px; width:25%; font-weight:bold;">@(bkdtrips.TotalIncomingBlownCount)</span>
                                                    @if (bkdtrips.TotalIncomingBlownCount > 0)
                                                    {
                                                        <div class="pull-right">
                                                            <a class="btn btn-sm btn-label-primary" href="@Url.Content("~/admin/report/JourneyDetailReport/?journeyType="+inblown+"&terminalid=" + bkdtrips.Id)">  View details </a>
                                                        </div>
                                                    }

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- end::Tab Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Blog-->
                </div>
            }
        </div>
    </div>
</div>



