﻿@model SeatManagementDTO
@{
    ViewData["Title"] = "Ticket Reroute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ticket Reroute</h2>

<div class="m-alert col-sm-12 m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">

    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/TicketReroute")">
        <input type="hidden" id="vehicleId" />

        <div class="m-portlet__body">

            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Reference:   @Model.BookingReferenceCode</label>
                </div>
                <div class="col-lg-6">
                    <label>Departure Date: @Model.DepartureDate</label>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Departure Time: @Model.DepartureTime</label>
                </div>
                <div class="col-lg-6">
                    <label>Seat Number: @Model.SeatNumber</label>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Amount:    @Model.Amount</label>
                </div>
                <div class="col-lg-6">
                    <label>Route: @Model.RouteName</label>
                </div>
            </div>
        </div>
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            New Booking Details
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <label>Fare Difference:  </label> <span class="Naira">
                            <input type="text" class="form-control" name="FareDifference" id="FareDifference" readonly disabled />
                            <input type="hidden" class="form-control" id="newAmount" />
                            </span>
                        </li>
                        <li class="m-portlet__nav-item"></li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-md-4">
                        <label>New Date</label>
                        <div class="m-input-icon m-input-icon--right">

                            <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="newDate" id="newDate" autocomplete="off" />

                        </div>
                    </div>
                    <div class="col-lg-3">

                        <label class="" for="RouteId">New Route:</label>
                        <div class="col-lg-10">
                            <select id="cmbRoute" asp-for="RouteId" class="form-control m-input dropdown-select2" asp-items="ViewBag.RouteId as IEnumerable<SelectListItem>">
                                <option value="">Select a route</option>
                            </select>
                            <div class="form-control-feedback"><span asp-validation-for="RouteId"></span></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="">Payment Type</label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                <select id="payId" name="payId" class="form-control m-input dropdown-select2" aria-invalid="false" required>
                                    <option>Select Payment Type</option>
                                    <option>Waive</option>
                                    <option>Pay At Terminal</option>
                                </select>
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--right"></span>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top:30px;">
                        <div class="col-md-6">
                            <button id="rerouteInfo" class="btn btn-danger" type="button">Reroute Information</button>
                        </div>
                    </div>


                </div>
                <div class="form-group m-form__group row">

                    <div class="col-lg-4">
                        <label class="">Departure Time</label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                <select id="timeId" name="timeId" onchange="reroute()" class="form-control m-input" aria-invalid="false">
                                    <option>Select Time</option>
                                </select>
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="">Available Seat</label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                <select id="seatId" name="seatId" class="form-control m-input" aria-invalid="false">
                                    <option>Select Seat</option>
                                </select>
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding-top:25px;">
                        <div class="col-lg-10">
                            @*<button id="bntUpdateReroute" onclick="Updatereroute()" class="btn btn-success" type="submit"> Update Route</button>*@
                            <button id="bntUpdateReroute" class="btn btn-success" type="submit">Update Route</button>
                        </div>
                    </div>

                </div>
            </div>
            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                </span>

            </div>
            <div class="alert alert-success" style="display:none;" role="alert" id="confirmd">
                Ticket has been rerouted successfully.
            </div>
        </div>
    </form>
</div>
@section  Styles {
    <style>
         .Naira {
          display: inline-block;
          position: relative;
         }


        .Naira::before {
          content: "₦";
          font-family: "Roboto Regular", sans-serif;
          font-size: 0.9em;
          position: absolute;
          left: 5px;
          top: 45%;
          transform: translateY(-50%);
        }
    </style>
}
@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #newDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            $('#maind').hide();
            BootstrapDatepicker.init()
            $('.dropdown-select2').select2();
        });



        $(document).on("click", "#rerouteInfo", function () {

            var routeId = $("#cmbRoute option:selected").val();
            $("#sloader").show();
            var url = "../../admin/report/RerouteBookingGetDate";

        var options =
        {
            "url": url,
            "method": "post",
            data: {
                RouteId: routeId

                }
            };

            var o = new Option("Select A Time", "");
            var timeDropdown = $("#timeId");
            $.getJSON(options, { format: "json" }, function (data) {
                console.log(data);
                timeDropdown.children().remove();
                timeDropdown.append(o);

                for (var idx = 0; idx < data.length; idx++) {
                    var time = data[idx];
                    var options = $("<option />");
                    //options.attr('value', time.id).text(time.departureTime);
                    options.attr('value', time.id).text(time.departureTime + '/' + time.routeId + '/' + time.routeNames);
                    timeDropdown.append(options);
                }
            });
            $("#sloader").hide();
        });


        var reroute  = function () {
            $("#sloader").show();
            var timeValue = $('#timeId').find(":selected").text();
            var dateValue = $('#newDate').val();
            var routeId = $("#cmbRoute option:selected").val();

            var splitedValues = timeValue.split('/');
            var timeVal = splitedValues[0];
            var routeValue = parseInt(splitedValues[1]);
            

            var request = {
                'url': "../../admin/report/RescheduleBookingGetSeats",
                'method': "post",
                data: {
                    DepartureTerminalId: @Model.DepartureTerminald,
                    DestinationTerminalId: @Model.DestinationTerminalId,
                    DepartureDate: dateValue,
                    NewDepartureTime: timeVal,
                    RouteId: routeValue,
                    BookingReferenceCode:"@Model.BookingReferenceCode",
                }
            };
            $("#sloader").hide();

            var seatDropdown = $("#seatId");
            var o = new Option("Select A Seat", "");

            $.getJSON(request, { format: "json" }, function (data) {
                seatDropdown.children().remove();
                seatDropdown.append(o);

                if (typeof data !== 'undefined') {

                    var availableseat = data.availableSeats;

                    $('#vehicleId').val(data.vehicleTripRegistrationId);
                    var amount = "@Model.Amount";
                    var newfare = data.adultFare;
                    if (newfare == 0) {
                        //swal('No seats available for the Time');
                        $("#FareDifference").val("");
                        $("#sloader").hide();
                    }
                    else
                    {
                        var fareDff = parseFloat(newfare) - parseFloat(amount);
                        $("#FareDifference").val(fareDff);
                        $("#newAmount").val(parseFloat(newfare));
                        $("#sloader").hide();
                    }
                    if (availableseat == null) {
                        $("#sloader").hide();
                        return;
                    }

                    if (availableseat.length == 0) {
                        swal('No Available Seat For The Chosen Time');
                        $("#sloader").hide();
                    }

                    for (var idx = 0; idx < availableseat.length; idx++) {
                        var time = availableseat[idx];
                        var options = $("<option />");
                        options.attr('value', idx).text(time);
                        seatDropdown.append(options);

                    }
                    $("#sloader").hide();
                }
            });
        };


        $(document).on("click", "#bntUpdateReroute", function () {
            $("#sloader").show();
            var timeValue = $('#timeId').find(":selected").text();
            var dateValue = $('#newDate').val();
            var routeId = $("#cmbRoute option:selected").val();
            var seat = parseInt($("#seatId option:selected").text());
            var vehicleRegId = $('#vehicleId').val();
            var payValue = $('#payId').find(":selected").text();
            var splitedValues = timeValue.split('/');
            var timeVal = splitedValues[0];
            var routeValue = parseInt(splitedValues[1]);
            var newRouteFee = $('#newAmount').val(); 


        var request = {
                'url': "../../admin/report/TicketRerouteUpdate",
                'method': "post",
                data: {
                    DepartureTerminalId: @Model.DepartureTerminald,
                    DestinationTerminalId: @Model.DestinationTerminalId,
                    DepartureDate: dateValue,
                    NewDepartureTime: timeVal,
                    RouteId: routeValue,
                    SeatManagementId: @Model.Id,
                    SeatNumber: seat,
                    BookingReferenceCode:"@Model.BookingReferenceCode",
                    VehicleModel: "@Model.VehicleModelId",
                    VehicleTripRegistrationId: vehicleRegId,
                    reroutestatus: payValue,
                    newRouteFee: newRouteFee
                }
            };

            $.getJSON(request, { format: "json" }, function (data) {
                console.log(data);
                window.location.href = "../../admin/report/BookingDetail";

                $("#sloader").hide();
            });

        });

        @*$(document).ready(function () {
            //var routeId = $("#cmbRoute option:selected").val();
            $("#cmbRoute").on("select2:select select2:unselect", function (e) {
                var items= $(this).val();       
                var routeId = e.params.data.id; 
                var amount = "@Model.Amount";
                var refcode = "@Model.BookingReferenceCode"
                var newfare = "";
                var url2 =  "../../admin/report/GetFareDiff/?routeId=" + routeId + "&fare=" + newfare + "&refcode=" + refcode;
                //var url = "report/getfarediff/?routeId=" + routeId + "&fare=" + newfare;
                $.ajax({
                    type: "post",
                    url: url2,                   
                    success: function (data) {
                        if (data) {
                            console.log(data);
                            var fareDff = parseFloat(data) - parseFloat(amount);
                            $("#FareDifference").val(fareDff);                                      
                        }
                    }
                })
                //$.getJSON(url2, { format: "json" }, function (data) {
                //    console.log(data);
                   

                //    $("#sloader").hide();
                //});
            })

    //        $('#CmbSelect').on("change", function () {
    //    var vehicleId = $("#CmbSelect").find(":selected").val();
    //    $.getJSON("/vehicleallocationdetail/confirm/?vehicleId=" + vehicleId,
    //        function (data) {
    //            if (!data) {
    //                    swal("This vehicle has been allocated", "Do you still want to Reallocate", "warning");
    //                }
    //        });
    //});
        });*@
        //$.getJSON(url, { format: "json" }, function (data) {
        //            console.log(data);
        //           var newfare = parseFloat(amount);

        //            newfare = parseFloat(newfare) - amount;


    </script>
}
