﻿@model SeatManagementDTO
@{
    ViewData["Title"] =  "TicketReschedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["PageTitle"]</h2>

<div class="m-alert col-sm-12 m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">

    <form class="m-alert__text" method="post" action="@Url.Action("~/admin/report/TicketReschedule")">
        <input type="hidden" id="vehicleId" />
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Full Name:    @Model.FullName</label>
                </div>
                <div class="col-lg-6">
                    <label>Phone Number: @Model.PhoneNumber</label>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Reference:   @Model.BookingReferenceCode</label>
                </div>
                <div class="col-lg-6">
                    <label>Departure Date: @Model.DepartureDate</label>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Departure Time: @Model.DepartureTime</label>
                </div>
                <div class="col-lg-6">
                    <label>Seat Number: @Model.SeatNumber</label>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                    <label>Amount:    @Model.Amount</label>
                </div>
                <div class="col-lg-6">
                    <label>Route: @Model.RouteName</label>
                </div>
            </div>
        </div>
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            New Booking Details
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" id="maind">
                <div class="form-group m-form__group row">
                    <div class="col-lg-8">
                        <label>New Date</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input class="form-control datepicker" onchange="getDate()" date-format="D, dd MM yyyy" type="text" placeholder="Enter a departure date" name="newDate" id="newDate" autocomplete="off" required />
                        </div>
                      
                    </div>

                    @*<div class="col-lg-4">
                       
                        <input style="margin-top:40px;" class="" type="checkbox" name="checkBox" id="checkBox" />
                        <label>Is-ParentRouted</label>

                    </div>*@
                    <div class="col-lg-4 m--align-right">
                        @*<button id="rescheduleInfo" name="rescheduleInfo" class="btn btn-danger">Reschedule Information</button>*@
                        <button id="rescheduleInfo" class="btn btn-danger btnR " type="submit">
                            <span class="">
                                <i class="la la-refresh"></i>
                                <span>Reschedule Information</span>
                            </span>
                        </button>
                        <button id="AllocateInfo" class="btn btn-danger btnA" type="submit">
                            <span class="">
                                <i class="la la la-send-o"></i>
                                <span>Allocate Seat</span>
                            </span>
                        </button>
                        @*<input type="submit" id="" class="btn btn-danger  btnA"  name="submit" value="Re-Allocate Seat"  />*@
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-4">
                        <label class="">Departure Time</label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                <select id="timeId" name="timeId" onchange="reschedule()" class="form-control m-input" aria-invalid="false" required>
                                    <option>Select Time</option>
                                </select>
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--right"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="">Available Seat</label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                <select id="seatId" name="seatId" class="form-control m-input" aria-invalid="false" required>
                                    <option>Select Seat</option>
                                </select>
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--right"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="">Payment Type</label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                <select id="payId" name="payId" class="form-control m-input" aria-invalid="false" required>
                                    <option>Select Payment Type</option>
                                    <option>Waive</option>
                                    <option>Pay At Terminal</option>
                                </select>
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--right"></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="alert alert-success" style="display:none;" role="alert" id="confirmd">
                Ticket has been rescheduled successfully.
            </div>
        </div>
        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
            </span>

        </div>
    </form>
</div>

@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="https://mobility.deltaline.com/js/moment.min.js"></script>
    <script src="https://mobility.deltaline.com/js/date.js"></script>

    <script>
        $(document).ready(function () {
            var vType = '@ViewData["Type"]';
            if (vType === 'Allocate') {
                $('.btnR').css('display', 'none');
            } else {
                $('.btnA').css('display', 'none');
            }
            
        });


        var BootstrapDatepicker = function () {
         
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#newDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy",
                        startDate: Date.now().addDays(0)
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
         
            BootstrapDatepicker.init()
            $('#checkBox')[0].checked = true;
        });

        $(document).on("click", "#rescheduleInfo", function () {
            var vehicleRegId = $('#vehicleId').val();
            var url = "../../admin/report/TicketReschedule";
            var seatValue = parseInt($('#seatId').find(":selected").text());
            var payValue = $('#payId').find(":selected").text();
       // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";
        var options =
        {
            url: url,
            method: "post",
            data: {
                Id: @Model.Id,
                BookingReferenceCode:"@Model.BookingReferenceCode",
                SeatNumber: seatValue,
                VehicleTripRegistrationId: vehicleRegId,
                PhoneNumber: payValue
                }
            };
            //$('#maind').hide();
            //$('#confirmd').show();
            $.getJSON(options, { format: "json" }, function (data) {
                swal('Ticket Rescheduled Successfully');
                console.log(data);
                $('#maind').hide();
                $('#confirmd').show();
            });
        });

        $(document).on("click", "#AllocateInfo", function () {
            var vehicleRegId = $('#vehicleId').val();
            var url = "../../admin/report/TicketReschedule";
            var seatValue = parseInt($('#seatId').find(":selected").text());
            var Type = "Re-Allocate";
            @Model.SubRouteId
       // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";

        var options =
        {
            url: url,
            method: "post",
            data: {
                Id: @Model.Id,
                BookingReferenceCode:"@Model.BookingReferenceCode",
                SeatNumber: seatValue,
                VehicleTripRegistrationId: vehicleRegId,
                vType: Type
                }
            };
            //$('#maind').hide();
            //$('#confirmd').show();
            $.getJSON(options, { format: "json" }, function (data) {
                console.log(data);
                $('#maind').hide();
                $('#confirmd').show();
            });
        });


        //onchange of time
        var getDate = function () {
            $("#sloader").show();
            var url = "../../admin/report/RescheduleBookingGetDate";
           // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";
            var options =
            {
                url: url,
                method: "post",
                data: {
                        RouteId: @Model.RouteId
                    }
            };
            var timeDropdown = $("#timeId");
            var o = new Option("Select Departure Time", "");

                $.getJSON(options, { format: "json" }, function (data) {
                    timeDropdown.children().remove();
                    timeDropdown.append(o);
                   // o.attributes('selected', true);

                    for (var idx = 0; idx < data.length; idx++) {
                        var time = data[idx];
                        var options = $("<option />");// document.createElement('option');
                        options.attr('value', time.id).text(time.departureTime + '/' + time.routeId + '/' + time.routeNames);

                        //options.html(time.departureTime);
                        //options.val(time.id);
                        //options.id = time.id;
                        //options.text = time.departureTime;

                        timeDropdown.append(options);
                        //$.unblockUI();
                    }
                     $("#sloader").hide();
                });
        };

        var reschedule = function () {
            $("#sloader").show();
            //var timeIndex = $('#timeId').val();
            var timeValues = $('#timeId').find(":selected").text();
            var dateValue = $('#newDate').val();

            var splitedValues = timeValues.split('/');

            var timeValue = splitedValues[0];
            var routeValue = parseInt(splitedValues[1]);

            var request = {
                'url': "../../admin/report/RescheduleBookingGetSeats",
                'method': "post",
                data: {
                    DepartureTerminalId: @Model.DepartureTerminald,
                    DestinationTerminalId: @Model.DestinationTerminalId,
                    DepartureDate: dateValue,
                    NewDepartureTime: timeValue,
                    RouteId: routeValue
                }
            };

            var seatDropdown = $("#seatId");
            var o = new Option("Select A Seat", "");

            $.getJSON(request, { format: "json" }, function (data) {
                seatDropdown.children().remove();
                seatDropdown.append(o);

                if (typeof data !== 'undefined') {

                    var availableseat = data.availableSeats;

                    $('#vehicleId').val(data.vehicleTripRegistrationId);

                    if (availableseat == null) {
                        $("#sloader").hide();
                        return;
                    }

                    if (availableseat.length == 0) {
                        swal('No Available Seat For The Chosen Time');
                    }

                    for (var idx = 0; idx < availableseat.length; idx++) {
                        var time = availableseat[idx];
                        var options = $("<option />");// document.createElement('option');
                        options.attr('value', idx).text(time);

                        //options.html(time.departureTime);
                        //options.val(time.id);
                        //options.id = time.id;
                        //options.text = time.departureTime;

                        seatDropdown.append(options);

                    }
                    $("#sloader").hide();
                }
            });
        };
    </script>
}
