﻿@model IEnumerable<SalesReportDTO>
@{
    ViewData["Title"] = "Total Terminal Revenue Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        @*<input type="button" onclick="exportToExcel()" href="javascript:;" target="_blank" class="btn m-btn--pill btn-accent" id="btnExport" value="export" />*@
        All Revenue details by state. You can <a onclick="exportToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
    </div>
</div>
<h2>Terminal Revenue Summary</h2>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Booking Reports
                </h3>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable">
            <thead>
                <tr class="">
                    <th>S/N</th>
                    <th>Bus Number</th>
                    <th>Route</th>
                    <th>Total (Amount)</th>
                    <th>Total (Passengers)</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @{ var count = 0; }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @item.PhysicalBusRegistrationNumber
                        </td>
                        <td>
                            @item.RouteName
                        </td>
                        <td>
                            @item.AmountTotal
                        </td>
                        <td>
                            @item.TotalPassengers
                        </td>
                        <td>
                            <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist">

                                <li class="m-widget28__nav-item nav-item col-4" onclick="getcurrentmanifest('@item.VehicleTripRegistrationId')">
                                    @*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#m_modal_4">Launch Modal</button>*@
                                    <a class="nav-link" href="javascript:;">
                                        <span>
                                            <i class="fa flaticon-clipboard"></i>
                                        </span><span>View Details</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>
@* Modal for details display *@
<div class="modal fade" id="viewmanifest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:max-content;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tblData">
                        <thead>
                            <tr class="">
                                <th>Full Name</th>
                                <th>Booking Reference Code</th>
                                <th>Amount</th>
                                <th>Phone Number</th>
                                <th>Seat Number</th>
                                <th>Route</th>
                            </tr>
                        </thead>
                        <tbody id="manifestModelId"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                @*<button class="btn btn-primary" onclick="exportTableToExcel('tblData', 'ManifestData')">Export To Excel</button>*@
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="startDate" data-value="@ViewBag.StartDate" />
<input type="hidden" id="endDate" data-value="@ViewBag.EndDate" />
<input type="hidden" id="bookingType" data-value="@ViewBag.BookingType" />
<input type="hidden" id="terminalId" data-value="@ViewBag.TerminalId" />
@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>

    <script>

        function getcurrentmanifest(vehicletripId) {
            //const urlParams = new URLSearchParams(window.location.search);
            const bookingType = getParameterByName('bookingType');
            var online = 0;
            var terminal = 0;
            var advanced = 0;
            var dispatch = 0;
            $.blockUI({ message: '<h1>Just a moment...</h1>' });
            $('#manifestModelId').empty()
            var results = [];
            if (vehicletripId) {
                var request = {
                    'url': "../../report/GetManifestByVehicleTripIdWithoutDispatch/?id=" + vehicletripId +"&bookingtype="+bookingType,
                    'method': "post"
                };
                $.getJSON(request, { format: "json" }, function (response) {
                        results = response;
                        if (response) {
                            $.each(response, function (index, val) {
                                $('#manifestModelId')
                                    .append('<tr> <td>' + val.fullName + '</td> <td>' + val.bookingReferenceCode + '</td><td>' + val.amount + '</td><td>' + val.phoneNumber + '</td><td>' + val.seatNumber + '</td><td>' + val.route + '</td></tr>');
                                if (val.bookingType == 0)
                                    terminal += parseFloat(val.amount);
                                if (val.bookingType == 1)
                                    advanced += parseFloat(val.amount);
                                if (val.bookingType == 2)
                                    online += parseFloat(val.amount);
                                if (dispatch === 0)
                                    dispatch += parseFloat(val.dispatch)
                            })
                            if (bookingType == 4) {
                                $('#manifestModelId')
                                    .append('<tr><td></td><td></td><td></td><td>Net Sales:</td> <td></td><td>' + (terminal + online + advanced) + '</td></tr>');
                                $('#manifestModelId')
                                    .append('<tr><td></td><td></td><td></td><td>Terminal Sales:</td> <td></td><td>' + terminal + '</td></tr>');
                                $('#manifestModelId')
                                    .append('<tr><td></td><td></td><td></td><td>Advanced Sales:</td><td></td> <td>' + advanced + '</td></tr>');
                                $('#manifestModelId')
                                    .append('<tr><td></td><td></td><td></td><td>Online Sales:</td> <td></td><td>' + online + '</td></tr>');
                                $('#manifestModelId')
                                    .append('<tr><td></td><td></td><td></td><td>Dispatch:</td><td> </td> <td>' + dispatch + '</td></tr>');
                                $('#manifestModelId')
                                    .append('<tr><td></td><td></td><td></td><td>Revenue:</td><td></td> <td>' + (terminal + online + advanced - dispatch) + '</td></tr>');

                                //$('#manifestModelId')
                                    //.append('<div class="col-md-4"><span> Net Sales: ' + terminal + online + advanced + ' </span ><br /><span> Total Online:' + online + ' </span><br /><span> Total Advanced Cash: ' + advanced + ' </span><br /><span> Dispatch: ' + dispatch + ' </span ></div>');

                            }
                        }
                        $("#viewmanifest").modal()
                        $.unblockUI();
                })
                 $.unblockUI();
            }
        }

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        var exportToExcel = function () {
            var startDate = $("#startDate").data("value");
            var endDate = $("#endDate").data("value");
            var bookingType = $("#bookingType").data("value");
            var terminalId = $("#terminalId").data("value");
            //$.blockUI({ message: '<h1>Processing...</h1>' });
            @*window.location = "@Url.Content("~/admin/report/ExportTotalTerminalRevenuePerStateReport/?startdate="+startDate+"&endDate="+endDate+ "&StateId=" +stateId)";*@
            window.location = "../../report/ExportTotalTerminalRevenueSummary/?StartDate=" + startDate + "&EndDate=" + endDate + "&bookingType=" + bookingType + "&terminalId=" + terminalId;
            toastr.info('Download Completed')
            toastr.info('Download Completed')
            $.unblockUI();
        }

    </script>
}



