﻿@model IEnumerable<SalesReportDTO>
@{
    ViewData["Title"] = "TotalSalesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fromdate = @ViewBag.StartDate;
    var todate = @ViewBag.EndDate;
}

<h2>Total Sales Report</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        All sales details by state. You can <a onclick="exporttripsToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
    </div>
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" autocomplete="off" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search end date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" autocomplete="off" required/>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>State</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="stateId" name="stateId" class="form-control m-input dropdown-select2" asp-items="ViewBag.StateId as IEnumerable<SelectListItem>">
                            <option value="">Select a state</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 m--align-left" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-danger" id="btnsearch">Search</button>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">

                </div>
            </div>
        </div>
        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
            </span>

        </div>
    </form>
</div>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Sales Reports
                </h3>
            </div>
        </div>

    </div>

    <div class="m-portlet__body">

        <div class="row">
            @if (Model != null)
            {
                @foreach (var bkdtrips in Model)
                {

                    <div class="col-xl-4">
                        <!--begin:: Widgets/Blog-->
                        <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
                            <div class="m-portlet__head m-portlet__head--fit">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text m--font-light">
                                            State: @bkdtrips.Name
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item">
                                            <a href="@Url.Content("~/admin/report/totalTerminalSalesPerStateReport?startDate="+fromdate+"&endDate="+todate+"&stateId=" + bkdtrips.Id)" class="m-portlet__nav-link  btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
                                                View Sales Report
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="m-widget28">
                                    <div class="m-widget28__pic m-portlet-fit--sides" style="min-height:70px;"></div>
                                    <div class="m-widget28__container">
                                        <!-- begin::Nav pills -->
                                        <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist" style="display:none">
                                            <li class="m-widget28__nav-item nav-item col-4">
                                                @*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#m_modal_4">Launch Modal</button>*@
                                                <a class="nav-link" href="@Url.Content("~/admin/report/totalTerminalSalesPerStateReport?startDate="+fromdate+"&endDate="+todate+"&stateId=" + bkdtrips.Id)">
                                                    <span>
                                                        <i class="fa flaticon-clipboard"></i>
                                                    </span><span>View Sales Report</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- end::Nav pills -->
                                        <!-- begin::Tab Content -->
                                        <div class="m-widget28__tab tab-content">
                                            <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                                <div class="m-widget28__tab-items">
                                                    <div class="kt-widget12__item" style="padding-top:8px; padding-bottom:30px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                        <span class="kt-widget4__title kt-widget4__title--light pull-left">Terminal Sales</span>
                                                        <span class="pull-right widget4__item" style="font-size:18px;">&#8358;@bkdtrips.TotalTerminalSales</span>
                                                    </div>
                                                    <div class="kt-widget12__item" style="padding-top:8px; padding-bottom:30px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                        <span class="kt-widget4__title kt-widget4__title--light pull-left">Advanced Sales</span>
                                                        <span class="pull-right widget4__item" style="font-size:18px;">&#8358;@bkdtrips.TotalAdvancedSales</span>
                                                    </div>
                                                    <div class="kt-widget12__item" style="padding-top:8px; padding-bottom:30px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                        <span class="kt-widget4__title kt-widget4__title--light pull-left">Online Sales</span>
                                                        <span class="pull-right widget4__item" style="font-size:18px;">&#8358;@bkdtrips.TotalOnlineSales</span>
                                                    </div>
                                                    <div class="kt-widget12__item" style="padding-top:8px; padding-bottom:30px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
                                                        <span class="kt-widget4__title kt-widget4__title--light pull-left">Agent Sales</span>
                                                        <span class="pull-right widget4__item" style="font-size:18px;">&#8358;@bkdtrips.TotalAgentSales</span>
                                                    </div>
                                                    @*<div class="kt-widget12__item" style="padding-top:8px; padding-bottom:30px; border-bottom: 1px dashed #ebedf2;border-top: 1px dashed #ebedf2;">
            <span class="kt-widget4__title kt-widget4__title--light pull-left">Total Sales</span>
            <span class="pull-right widget4__item" style="font-size:18px;">&#8358;@bkdtrips.TotalAdvancedSales + @bkdtrips.TotalOnlineSales + @bkdtrips.TotalTerminalSales</span>
        </div>*@
                                                </div>
                                            </div>
                                        </div>

                                        <!-- end::Tab Content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:: Widgets/Blog-->
                    </div>
                }
            }


        </div>
    </div>
</div>

@section Scripts {

    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'NGN',
            minimumFractionDigits: 2
        });
        var nairafg = $('.nairatext').text();
        $('.nairatext').text(formatter.format(parseFloat(nairafg)));
    </script>
}