﻿@model Transload
@{
    ViewData["Title"] = "Transload a Bus";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Transload a Bus</h3>
<div class="m-content">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Transload a Bus
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
                    <div class="m-alert__icon">
                    </div>
                    <form class="m-alert__text">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-5">
                                    <h2 class="text-muted">Transloaded Vehicle</h2><br />
                                    <div class="form-group">
                                        <label>Terminal: </label>
                                        <select id="Terminal" class="form-control m-input dropdown-select2 veh" asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                                            <option value="" id="VehId">Select a Terminal</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Route: </label>
                                        <select id="RouteId" class="form-control m-input dropdown-select2 trips">
                                            <option value="" id="VehId">Select a Route</option>
                                        </select>
                                        @*@Html.DropDownListFor(model => model.RouteId, (SelectList)ViewBag.RouteId, "Select a Route", new { @class = "form-control m-input dropdown-select2 trips" })*@
                                    </div>
                                    <div class="form-group">
                                        <label>Trip: </label>
                                        <select name="TripId" id="TripId" class="form-control dcode m-input dropdown-select2 tripid" aria-invalid="false">
                                            <option>Select Trip</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Transload Vehicle Status: </label>
                                        <select id="VehicleStatus" class="form-control m-input dropdown-select2" asp-items="@(Html.GetEnumSelectList<VehicleStatus>())">
                                            <option value="" id="Status">Select Vehicle Status</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Transload Terminal: </label>
                                        <select id="TransloadTerminal" class="form-control m-input dropdown-select2 " asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                                            <option value="" id="VehId2">Send Transloaded To a Terminal</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-1">

                                </div>
                                <div class="col-lg-5">
                                    <h2 class="text-muted">Rescue Vehicle</h2><br />
                                    <div class="form-group">
                                        <label>New Vehicle: </label>
                                        <select class="form-control m-input dropdown-select2" id="NewVehicle" asp-items="ViewBag.Vehicles as IEnumerable<SelectListItem>">
                                            <option value="">Select new Vehicle</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>New Driver: </label>
                                        <select id="TransloadedPilot" class="form-control m-input dropdown-select2" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                                            <option value="">Select a Driver</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Driver Fee: </label>
                                        <input type="number" class="form-control m-input" id="NewDriverFee"/>
                                    </div>
                                    
                                </div>
                        </div>
                       </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-4 m--align-left" style="margin-top: 15px;">
                                <button type="button" class="btn btn-warning m-btn m-btn--pill m-btn--icon m-btn--air" id="btnTrans"><i class="la la-recycle"></i> Transload Bus </button>
                            </div>
                        </div>

                        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                            </span>

                        </div>
                    </form>
                </div>
                </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script> 
<script type="text/javascript">

    $(document).ready(function () {
        $(".dropdown-select2").select2();
        

        $('#Terminal').on("change", function () {
            var terminalId = $("#Terminal").find(":selected").val();
            if (terminalId) {
                var RoutesDropdown = $("#RouteId");
            }
            $.get(('@Url.Action("getroutesbyterminal", "route")') + "/?terminalId=" + terminalId,
                function (data) {
                    console.log(data);
                    var options = "<option> Select a Route </option>";

                    for (var idx = 0; idx < data.length; ++idx) {
                        var trip = data[idx];
                        options +=
                            "<option value='" + trip.id + "'>" + trip.name + "</option>";
                    }

                    RoutesDropdown.html(options);
                });
        });

        

        //$('#RouteId').on("change", function () {
        //    var routeId = $(this).val();
        //    if (routeId) {
        //        var TripsDropdown = $("#TripId");

        //        $.getJSON("/terminalbooking/routetrips/" + routeId,
        //            function (data) {
        //                var options = "<option> Select Trip </option>";

        //                for (var idx = 0; idx < data.trips.length; ++idx) {
        //                    var trip = data.trips[idx];
        //                    options +=
        //                        "<option value='" + trip.id + "'>" + trip.routeName + "</option>";
        //                }

        //                TripsDropdown.html(options);
        //            });
        //    }

        //});


        $('#RouteId').on("change", function () {
            $("#sloader").show();
            var routeId = $(this).val();
            if (routeId) {
                var url = "../../booking/advancedbooking/RouteBuses/?routeId=" + routeId;
                // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";
                var options =
                {
                    url: url,
                    method: "post"
                };
                var timeDropdown = $("#TripId");
                var o = new Option("Select Trip", "");

                $.getJSON(options, { format: "json" }, function (data) {
                    timeDropdown.children().remove();
                    timeDropdown.append(o);

                    for (var idx = 0; idx < data.length; idx++) {
                        var time = data[idx];
                        var options = $("<option />");// document.createElement('option');
                        options.attr('value', time.vehicleTripRegistrationId).text(time.routeName + ' ( ' + time.departureTime + ' ) ' + time.physicalBus);

                        timeDropdown.append(options);
                        //$.unblockUI();
                    }
                });
                $("#sloader").hide();
            }
        });
        
        $(document).on("click", "#btnTrans", function () {
            var terminalId = $("#Terminal").find(":selected").val();
            var route = $("#RouteId").find(":selected").val();
            var Oldtrip = $("#TripId").find(":selected").val();
            var Nvehicle = $("#NewVehicle").find(":selected").val();
            var Npilot = $("#TransloadedPilot").find(":selected").val(); 
            var TransloadTerminal = $("#TransloadTerminal").find(":selected").val();
            var VehicleStatus = $("#VehicleStatus").find(":selected").val();
            var NewDriverFee = $("#NewDriverFee").val();
            if (terminalId == "") {
                swal("Select a Terminal")
                 $("#sloader").hide();
                return false;
            }
            else if (Oldtrip == "Select a Trip") {
                swal("Select a trip");
                 $("#sloader").hide();
                return false;
            }
            else if (route == "") {
                swal("Select a Route");
                 $("#sloader").hide();
                return false;
            }else if (Nvehicle == "") {
                swal("Select New Vehicle");
                 $("#sloader").hide();
                return false;
            }else if (Npilot == "") {
                swal("Select New Driver");
                 $("#sloader").hide();
                return false;
            }else if (TransloadTerminal == "") {
                swal("Select Terminal for Transloaded Vehicle");
                 $("#sloader").hide();
                return false;
            }else if (VehicleStatus == "") {
                swal("Select Transloaded Vehicle Status");
                 $("#sloader").hide();
                return false;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Transload", "Report")',
                    data: {
                        VehicleTripRegistrationId: Oldtrip,
                        TransloadedVehicle: Nvehicle,                       
                        TransloadedPilot: Npilot,
                        TransloadTerminal: TransloadTerminal,
                        VehicleStatus: VehicleStatus,
                        NewDriverFee: NewDriverFee
                    },
                    success: function (response) {
                        if (response)
                            swal("Done!", "Transload Done", "success");
                        setTimeout(function () {
                            window.location.replace(window.location.href);
                        }, 1000);
                    }
                });
                return true;
            }
        });
    });
</script>
