﻿@model DateModel
@{
    ViewData["Title"] = "Search Vehicles By Status";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Search Vehicles By Status</h3>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Search Vehicles By Status for Reports and details
    </div>
</div>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-5">
                    <label class="col-form-label" for="DriverId">Vehicle Status :</label>
                    <select asp-for="status" class="form-control m-input dropdown-select2 sts" asp-items="@(Html.GetEnumSelectList<VehicleStatus>())">
                        <option value="" id="Status">Select Vehicle Status</option>
                    </select>
                    <div class="form-control-feedback"><span asp-validation-for="status"></span></div>
                </div>
                <div class="col-lg-5">
                    <label class="col-form-label" for="Id">Select a Vehicle: </label>
                    <select asp-for="Id" class="form-control m-input dropdown-select2 Id" id="senVeh" asp-items="ViewBag.Allvehicles as IEnumerable<SelectListItem>">
                        <option value="" id="VId">Select a Vehicle</option>
                    </select>
                    <div class="form-control-feedback"><span asp-validation-for="status"></span></div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-6 m--align-left" style="margin-top: 15px;">
                    <button type="button" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" id="btnsearch"><i class="la la-search"></i> Search </button>
                    @*<button type="button" onclick="@("window.location.href='" + @Url.Action("fleetHistory", "Report") + "'");" class="btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"> <i class="la la-refresh"></i> Refresh </button>*@
                </div>
            </div>

            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                    <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                </span>

            </div>
        </div>
    </form>
</div>
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title" id="head">
                <h3 class="m-portlet__head-text">
                    Vehicle Status Details
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>

    <div class="m-portlet__body">
        <table class="table table-striped table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Registration No.</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>License Date</th>
                    <th>Expiry Date</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

<form action="/admin/report/UpdateVehicleStatus" method="post" id = "UpdateVehicleStatusId">
    <div class="modal fade col-xs-12" id="dispatchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2>Change Vehicle Status</h2>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="vehiclestatusinputid" name="vehiclestatusinputid" value="" />
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="col-form-label" for="DriverId"> Vehicle Status :</label>
                            <select id="status" name="status" class="form-control m-input dropdown-select2 sts" style="width:90%;" required asp-items="@(Html.GetEnumSelectList<VehicleStatus>())">
                                <option value="" id="Status">Select New Vehicle Status</option>
                            </select>
                            <div class="form-control-feedback"><span asp-validation-for="status"></span></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Submit" />
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section Styles{
    <style>
        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }
    </style>
}
@section Scripts {
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>*@
    <script type="text/javascript">

        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });

        $(document).on("click", "#btnsearch", function () {

            var vehStatus = $('.sts').val();
            var id = $('.Id').val();
            //if (vehStatus == "") {
            //    swal("Select Vehicle Status")
            //    return false;
            //}
            $("#m_table_1").DataTable({
                destroy: true,
                dom: 'lBfrtip',
                buttons: [
                    { extend: 'csv', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'excel', className: 'btn btn-secondary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' },
                    { extend: 'print', className: 'btn btn-warning m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air' }
                ],
                responsive: !0,
                processing: !0,
                serverSide: !0,
                ajax: '../../admin/report/GetVehicleByStatus/?vehStatus=' + vehStatus + '&id=' + id,
                dataSrc: function (data) {
                    if (data == "no data") {
                        return { data: [] }
                    }
                },
                columns: [
                    {
                        bSortable: false,
                        data: "vehicleModelName"
                    },
                    {
                        bSortable: false,
                        data: "registrationNumber"
                    },

                    {
                        bSortable: false,
                        data: "status"
                    },
                    {
                        bSortable: false,
                        data: "locationName"
                    },
                    {
                        bSortable: false,
                        data: "dateLicense"
                    },
                    {
                        bSortable: false,
                        data: "dateLicenseExpired"
                    },
                    {
                        bSortable: false,
                        //data: "dateLicenseExpired"
                        render: function (a, t, n) {
                            return `\n  <div class="btn-group" role="group">
                                        <button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                                            <a class="dropdown-item" data-toggle="modal" href="#dispatchModal" onclick="passIdToVForm(`+ n.id + `)" >Change Vehicle Status</a>
                                        </div>
                                    </div>\n`
                        }
                    }
                ],
                
                lengthMenu: [25, 50, 100, 200],
                pageLength: 50,
                language: {
                    lengthMenu: "Display _MENU_"
                },
                order: []

            });
        });
        function passIdToVForm(id) {
            document.getElementById("vehiclestatusinputid").value = id;
        }

    </script>
}
