﻿@model MtuReportModelDTO
@{
    ViewData["Title"] = "Workshop";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Workshop</h3>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Activities
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
            <div class="m-alert__icon">
            </div>
            <form class="m-alert__text" action="@Url.Action("Workshop", "Report")" method="post">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label style="font-weight:bolder; font-size:18px;">Send Vehicle To Workshop: </label><br /><br />
                                <select class="form-control m-input dropdown-select2" id="senVeh" name="VehicleId" asp-items="ViewBag.NotInWorkshopVehicles as IEnumerable<SelectListItem>">
                                    <option value="">Select a Vehicle</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Workshop Terminal: </label>
                                <select id="WTerminal" name="TerminalId" class="form-control m-input dropdown-select2" asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                                    <option value="">Send to a Workshop</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Release Note: </label>
                                <textarea id="workshopNote" name="Notes" class="form-control m-input shadow p-4 mb-4 bg-white" placeholder="...why are you sending the bus to the workshop?"></textarea>
                                <input type="hidden" name="Type" value="1"/>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-5 m--align-center" style="margin-top: 15px;">
                                    <button type="submit" class="btn btn-warning m-btn m-btn--pill m-btn--icon m-btn--air" id="btnSend"><i class="la la-send"></i> Send  </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label style="font-weight:bolder; font-size:18px;">Release from Workshop: </label><br /><br />
                                <select class="form-control m-input dropdown-select2" id="relVeh" asp-items="ViewBag.inWorkShopVeh as IEnumerable<SelectListItem>">
                                    <option value="">Select a Vehicle</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Assign to a Terminal: </label>
                                <select id="Terminal" class="form-control m-input dropdown-select2" asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                                    <option value="" id="Term">Assign to a Terminal</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Release Note: </label>
                                <textarea id="releaseNote" class="form-control m-input shadow p-4 mb-4 bg-white" placeholder="...why are you releasing the bus?"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-7 m--align-center" style="margin-top: 15px;">
                                    <button type="button" class="btn btn-primary m-btn m-btn--pill m-btn--icon m-btn--air" id="btnRelease"><i class="la la-cab"></i> Release  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                    <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                        <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                    </span>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".dropdown-select2").select2();
        });
        $(document).on("click", "#btnRelease", function () {
            var terminalId = $("#Terminal").find(":selected").val();
            var vehId = $("#relVeh").find(":selected").val();
            var releaseNote = document.getElementById("releaseNote").value;
              if (vehId == "")
              {
                  swal("Select a Vehicle", "Select Vehicle to be released", "warning");
                  return false;
              }
            //else if (terminalId == "") {
            //    swal("Select a Terminal","Select Terminal to release","warning")
            //    return false;
            //}             
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Workshop", "Report")',
                    data: {
                        VehicleId: vehId,
                        TerminalId: terminalId,
                        Type: 2,
                        Notes: releaseNote
                    },
                    success: function (response) {
                        if (response)
                            swal("Vehicle released from Workshop","Workshop has released vehicle","success");
                        setTimeout(function () {
                            window.location.replace(window.location.href);
                        }, 1500);
                    }
                });
                return true;
               
            }
        });

        $(document).on("click", "#btnSend", function () {
                    var vehId = $("#senVeh").find(":selected").val();
                    var temId = $("#WTerminal").find(":selected").val();
            if (vehId == "") {
                swal("Select a Vehicle", "Select Vehicle to be sent", "warning");
                return false;
            }else if (temId == "") {
                swal("Select a Workshop", "Select Workshop To Send Vehicle To", "warning");
                return false;
            }
            else {
                @*$.ajax({
                    type: "POST",
                    url: '@Url.Action("Workshop", "Report")',
                    data: {
                        VehicleId: vehId,
                        TerminalId: temId,
                        Type: 1,
                        Notes:workshopNote
                    },
                    success: function (response) {
                        if (response)
                            swal("Vehicle sent to Workshop","Vehicle needs work done","success");
                        setTimeout(function () {
                            window.location.replace(window.location.href);
                        }, 1500);
                    }
                });*@
                swal("Vehicle sent to Workshop","Vehicle needs work done","success");
                setTimeout(function () {window.location.replace(window.location.href);}, 1500);
                return true;
            }
        });
    </script>
}
