﻿@model List<WorkshopSummaryModel>
@{
    ViewData["Title"] = "WorkshopSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fromdate = @ViewBag.StartDate ?? "";
    var todate = @ViewBag.EndDate ?? "";
}

<h2>Workshop Report</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    @*<div class="m-alert__text">
        All in or out of the workshop. You can <a onclick="exporttripsToExcel()" href="javascript:;" target="_blank">click here</a> to export to excel.
    </div>*@
</div>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" action="@Url.Action("WorkshopSummary","Report")" method="get">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label>Start Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search start date" name="StartDate" id="StartDate" value="@ViewBag.StartDate" autocomplete="off" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>End Date</label>
                    <div class="m-input-icon m-input-icon--right">
                        <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter a search end date" name="EndDate" id="EndDate" value="@ViewBag.EndDate" autocomplete="off" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Vehicle</label>
                    <div class="m-input-icon m-input-icon--right">
                        <select id="VehicleId" name="VehicleId" class="form-control m-input dropdown-select2" asp-items="ViewBag.VehicleId as IEnumerable<SelectListItem>">
                            <option value="">Select a Vehicle</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 m--align-left" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-danger" onclick="searchWorkshopSummary()" id="btnsearch">Search</button>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">

                </div>
            </div>
        </div>
        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
            </span>

        </div>
    </form>
</div>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Workshop Reports
                </h3>
            </div>
        </div>

    </div>

    <div class="m-portlet__body">
        <div class="row">
            @if (Model != null)
            {
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr>
                            <th>Vehicle</th>
                            <th>Reason</th>
                            <th>Received By</th>
                            <th>Received Date</th>
                            <th>Released By</th>
                            <th>Released Date</th>
                        </tr>
                    
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (string.IsNullOrEmpty(item.Vehicle?.Trim()))
                                    {
                                        <span class="text text-danger">N/A</span>
                                    }
                                    else
                                    {
                                        <span>
                                            @item.Vehicle
                                        </span>
                                    }
                                </td>
                                <td>
                                    @if(string.IsNullOrEmpty(item.WorkshopReason?.Trim()))
                                    {
                                        <span class="text text-danger">N/A</span>
                                    }
                                    <span>
                                        @item.WorkshopReason
                                    </span>
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(item.ReceivedBy?.Trim()))
                                    {
                                        <span class="text text-danger">N/A</span>
                                    }
                                    else
                                    {
                                        <span>
                                            @item.ReceivedBy
                                        </span>
                                    }
                                </td>
                                <td>
                                    @if (item.ReceivedDate == null)
                                    {
                                        <span class="text text-danger">N/A</span>
                                    }
                                    else
                                    {
                                        <span>@item.ReceivedDate.ToString("dd/MM/yyyy")</span>
                                    }

                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(item.ReleasedBy?.Trim()))
                                    {
                                        <span class="text text-danger">N/A</span>
                                    }
                                    else
                                    {
                                        <span>@item.ReleasedBy</span>
                                    }
                                </td>
                                <td>
                                    @if (item.ReleasedDate == null)
                                    {
                                        <span class="text text-danger">N/A</span>
                                    }
                                    else
                                    {
                                        <span>
                                            @item.ReleasedDate.Value.ToString("dd/MM/yyyy")
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                
            }
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #BookingType, #BookingStatus").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'NGN',
            minimumFractionDigits: 2
        });
        var nairafg = $('.nairatext').text();
        $('.nairatext').text(formatter.format(parseFloat(nairafg)));
    </script>
}