﻿@model RouteModel

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">Route Info:</h3>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="RouteType">Type:</label>
            <div class="col-lg-6">
                <select asp-for="RouteType" class="form-control m-input" asp-items="Html.GetEnumSelectList(typeof(RouteType))">
                    <option value="">Select a type</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="RouteType"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="DepartureTerminalId">Departure Terminal:</label>
            <div class="col-lg-6">
                <select asp-for="DepartureTerminalId" class="form-control m-input dropdown-select2" asp-items="ViewBag.DepartureTerminalId as IEnumerable<SelectListItem>">
                    <option value="">Select a terminal</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="DepartureTerminalId"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="DestinationTerminalId">Destination Terminal:</label>
            <div class="col-lg-6">
                <select asp-for="DestinationTerminalId" class="form-control m-input dropdown-select2" asp-items="ViewBag.DestinationTerminalId as IEnumerable<SelectListItem>">
                    <option value="">Select a terminal</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="DestinationTerminalId"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="ParentRouteId">Parent Route:</label>
            <div class="col-lg-6">
                <select asp-for="ParentRouteId" class="form-control m-input dropdown-select2" asp-items="ViewBag.ParentRouteId as IEnumerable<SelectListItem>">
                    <option value="">Select parent route</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="ParentRouteId"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="DriverFee">Driver fee:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="DriverFee" placeholder="enter driver fee">
                <div class="form-control-feedback"><span asp-validation-for="DriverFee"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="LoaderFee">Loader fee:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="LoaderFee" placeholder="enter loader fee">
                <div class="form-control-feedback"><span asp-validation-for="LoaderFee"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="DispatchFee">Dispatch fee:</label>
            <div class="col-lg-6">
                <input class="form-control m-input" asp-for="DispatchFee" placeholder="enter dispatch fee">
                <div class="form-control-feedback"><span asp-validation-for="DispatchFee"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="AvailableAtTerminal">Available At Terminal:</label>
            <div class="col-lg-6">
                <div class="m-checkbox-inline">
                    <label class="m-radio m-radio--solid m-radio--brand">
                        <input asp-for="AvailableAtTerminal" type="radio" value="false"> No
                        <span></span>
                    </label>
                    <label class="m-radio m-radio--solid m-radio--brand">
                        <input asp-for="AvailableAtTerminal" type="radio" value="true" checked="checked"> Yes
                        <span></span>
                    </label>
                </div>
                <div class="form-control-feedback"><span asp-validation-for="AvailableAtTerminal"></span></div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="AvailableOnline">Available Online:</label>
            <div class="col-lg-6">
                <div class="m-checkbox-inline">
                    <label class="m-radio m-radio--solid m-radio--brand">
                        <input asp-for="AvailableOnline" type="radio" value="false"> No
                        <span></span>
                    </label>
                    <label class="m-radio m-radio--solid m-radio--brand">
                        <input asp-for="AvailableOnline" type="radio" value="true"> Yes
                        <span></span>
                    </label>
                </div>
                <div class="form-control-feedback"><span asp-validation-for="AvailableOnline"></span></div>
            </div>
        </div>
    </div>
</div>