﻿@model IEnumerable<VehicleTripRegistration>
@{
    ViewData["Title"] = "BlowJourneys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/toastr.min.css" rel="stylesheet" />
}
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Configured to show todays blow journeys.
    </div>
</div>


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Blow Trips
                </h3>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>Bus Number</th>
                    <th>Driver Code</th>
                    <th>Route</th>
                    <th>Blow Date</th>

                    <th>Actions</th>
                </tr>
            </thead>
            @{ var count = 0; }
            @foreach (var mod in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @mod.PhysicalBusRegistrationNumber
                        </td>
                        <td>
                            @mod.DriverCode
                        </td>
                        <td>
                            @mod.RouteName
                        </td>
                        <td>
                            @mod.DepartureDate
                        </td>
                        <td>
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle"
                                            type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" onclick="receive('@mod.VehicleTripRegistrationId')"><i class="flaticon-share"></i> Receive </a>
                                        <a class="dropdown-item" href="#"><i class="flaticon-settings"></i> Deny </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>
@section Scripts {
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

}

