﻿@model IEnumerable<JourneyModel>

@{
    ViewData["Title"] = "Incoming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/toastr.min.css" rel="stylesheet" />
}
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Configured to show todays incoming journeys. You can search for older journeys.
    </div>
</div>


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Incoming Trips
                </h3>
            </div>
        </div>
        
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th>Departure Terminal</th>
                    <th>Destination Terminal</th>
                    <th>Bus Number</th>

                    <th>Trip Started(Time)</th>
                    <th>Trip Started(Day)</th>


                    <th>Actions</th>
                </tr>
            </thead>
            @{ var count = 0; }
            @foreach (var mod in Model) {
                <tbody>
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @mod.DepartureTerminalName
                        </td>
                        <td>
                            @mod.DestinationTerminalName
                        </td>
                        <td>
                            @mod.PhysicalBusRegistrationNumber
                        </td>
                        <td>
                            @mod.DepartureTime
                        </td>
                        <td>
                            @mod.DepartureDate
                        </td>
                        <td>
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle"
                                            type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" onclick="receive('@mod.JourneyManagementId')"><i class="flaticon-share"></i> Receive </a>
                                        <a class="dropdown-item" href="#"><i class="flaticon-settings"></i> Deny </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>
@section Scripts {
<script src="~/lib/blockUI/jquery.blockUI.js"></script>
<script src="~/lib/toastr/toastr.js"></script>

<script>
    var BootstrapDatepicker = function () {
        var t;
        t = mUtil.isRTL() ? {
            leftArrow: '<i class="la la-angle-right"></i>',
            rightArrow: '<i class="la la-angle-left"></i>'
        } : {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            };
        return {
            init: function () {
                $("#StartDate , #EndDate").datepicker({
                    rtl: mUtil.isRTL(),
                    autoclose: !0,
                    todayHighlight: !0,
                    orientation: "bottom left",
                    templates: t,
                    format: "D, dd MM yyyy"
                });
            }
        }
    }();
    jQuery(document).ready(function () {
        BootstrapDatepicker.init()
    });

    var receive = function (JourneymanagementId) {
        if (JourneymanagementId) {
            $.blockUI({ message: '<h1>Processing...</h1>' });

            $.ajax({
                url: "../../admin/journey/Receive?JourneymanagementId=" + JourneymanagementId,
                method: "get",
                success: function (response) {
                    if (response.isValid) {
                        $.unblockUI();
                        toastr.info('Receievd')
                        console.log('wetin dey')
                        document.location.reload()
                    }
                },
                error: function (err) {
                    console.log(err)
                    $.unblockUI();
                }
            })
        }
    }


</script>
}
