﻿@model SubRouteModel

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

    <div class="m-form__section m-form__section--first">
        <div class="m-form__heading">
            <h3 class="m-form__heading-title">Sub-Route Info:</h3>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="RouteId">Main Route:</label>
            <div class="col-lg-6">
                <select asp-for="RouteId" class="form-control m-input dropdown-select2" asp-items="ViewBag.RouteId as IEnumerable<SelectListItem>">
                    <option value="">Select a route</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="RouteId"></span></div>
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" for="RouteId">Sub Route :</label>
            <div class="col-lg-6">
                <select asp-for="NameId" class="form-control m-input dropdown-select2" asp-items="ViewBag.RouteId as IEnumerable<SelectListItem>">
                    <option value="">Select a route</option>
                </select>
                <div class="form-control-feedback"><span asp-validation-for="NameId"></span></div>
            </div>
        </div>
    </div>
</div>