@using Transport.WEB.Models
@using Transport.WEB.Utils
@model IEnumerable<AvailabileTripDetail>

<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }
    .modal .modal-content .modal-body {
    padding-bottom: 0px;
}
    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        padding: 6px6 border: 1px solid #ccc;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="display table table-hover table-condensed table-style">
            <thead>
                <tr class="">
                    <th>S/N</th>
                    <th>Available Seats</th>
                    <th>Departure</th>
                    <th>Time </th>
                    <th>Amount</th>
                    <th>Route</th>
                    <th>Vehicle</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var count = 0; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>
                            @item.AvailableNumberOfSeats
                        </td>
                        <td>@item.DepartureDate.ToString("dd MMMM, yyyy")</td>
                        <td>@item.DepartureTime</td>
                        <td>@item.FarePrice</td>
                        <td>@item.RouteName</td>
                        <td>@item.VehicleName</td>
                        <td class="trip-selection">
                            <input class="m--hide" type="radio" name="@ViewBag.TripType" id="@ViewBag.TripType@item.VehicleTripRegistrationId" value="@ViewBag.TripType" />
                            <label class="btn btn-success" for="@ViewBag.TripType@item.VehicleTripRegistrationId">
                                View Seats
                            </label>
                            @Html.Hidden(nameof(item.VehicleTripRegistrationId), item.VehicleTripRegistrationId)
                            @Html.Hidden(nameof(item.RouteId), item.RouteId)
                            @Html.Hidden(nameof(item.RouteIdReturn), item.RouteIdReturn)
                            @Html.Hidden(nameof(item.isSub), item.isSub)
                            @Html.Hidden(nameof(item.isSubReturn), item.isSubReturn)
                            @Html.Hidden(nameof(item.AvailableNumberOfSeats), item.AvailableNumberOfSeats)
                            @Html.Hidden(nameof(item.TotalNumberOfSeats), item.TotalNumberOfSeats)
                            @Html.Hidden(nameof(item.AvailableSeats), item.AvailableSeats.ToDelimitedString())
                            @Html.Hidden(nameof(item.BookedSeats), item.BookedSeats.ToDelimitedString())
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade col-xs-12 booking-modal" id="showSeatSelection@(ViewBag.TripType)" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Available Seats</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <section class="alert-box hidden">
                        <input type="hidden" id="max-seats" value="@ViewBag.MaxSeats" />
                        <div class="alert alert-info alert-dismissable text-center">
                            You cannot select more than @ViewBag.MaxSeats seat(s) for this booking.
                            Please unselect a seat first before choosing another.
                        </div>
                    </section>
                    <div name="selectedSeats" id="selectedSeats">

                        @(await Html.PartialAsync("SeatsTemplatePartial"))
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" id="modal-done" disabled>DONE</button>
            </div>
        </div>
    </div>
</div>