﻿@using Transport.WEB.Models
@model List<Transport.WEB.Models.BeneficiaryDetailModel>

@{
    var beneficiaries = Model;
}

@for (var idx = 0; idx < Model.Count; ++idx)
{
    <div class="form-group">
        <label class="form-label">@Html.DisplayNameFor(m => beneficiaries[idx].Gender)</label>
        <div class="controls">
            @Html.DropDownListFor(m => beneficiaries[idx].Gender, Html.GetEnumSelectList<Gender>(), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">@Html.DisplayNameFor(m => beneficiaries[idx].FullName)</label>
        <div class="controls">
            @Html.EditorFor(m => beneficiaries[idx].FullName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => beneficiaries[idx].FullName)
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">@Html.DisplayNameFor(m => beneficiaries[idx].PassengerType)</label>
        <div class="controls">
            @Html.DropDownListFor(m => beneficiaries[idx].PassengerType, Html.GetEnumSelectList<PassengerType>(), new { @class = "form-control" })
        </div>
    </div>
}