﻿@using Transport.WEB.Models.Enum
@using Transport.WEB.Utils
@model HireManifestViewModel


<style>
    .manifest {
        font-size: 8px;
    }
</style>

<div class="col-lg-12 manifest">
    <div class="tab-content" style="width:100%">

        <div class="content-body">
            <div class="row">
                <div class="col-lg-12" id="printableArea" style="width:100%">

                    <div class="col-lg-12" style="margin-bottom: 20px;margin-top:10px;width:100%">
                        <div class="col-lg-12 text-center" style="font-size: large; text-align:center; font-weight:bold;width:100%">
                            <h2>Deltaline LIMITED</h2>
                            <div class="col-lg-12 text-center" style="font-size: large; font-weight: bold;width:100%">
                                
                                <span>PASSENGER </span>
                                                       MANIFEST
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="margin-bottom:20px;width:100%; font-size:14px !important;">
                        <div class="col-lg-6 pull-left" style="width:50%">
                            <fieldset>
                                <legend style="display:none;">Trip Details</legend>
                                <div class="col-xs-12" style="font-size: 14px; font-weight: bold;width:100%">
                                    Route: @Model.Route

                                </div>

                                @*<span class="col-xs-12 "></span>*@
                                <div class="col-xs-12 " style="margin-top:5px; font-weight: bold;width:100%">Trip Date: @Model.DepartureDate.ToString("D")</div>
                                @*<span class="col-xs-12 "></span>*@
                                @*<div class="col-xs-12 " style="margin-top:5px; font-weight: bold;width:100%">Trip Time: @Model.DepartureTime</div>*@
                                @*<span class="col-xs-12 "></span>*@
                            </fieldset>

                        </div>
                        <div class="col-lg-6" style=" font-size:14px !important">
                            <fieldset>
                                <legend style="display:none;">Vehicle Details</legend>
                                <div class="col-lg-12" style="font-size: 12px; font-weight: bold">
                                    Vehicle Model: @Model.VehicleModel

                                </div>
                                @*<span class="col-xs-12 "></span>*@
                                <div class="col-lg-12" style="font-size: 12px; font-weight: bold;margin-top:5px">
                                    Vehicle: @Model.BusRegistrationNumber

                                </div>
                                @*<div class="col-lg-12" style="font-size: 10px; font-weight: bold;margin-top:5px">
                                        Vehicle Age: @Model.VehicleAge

                                    </div>*@
                                @*<span class="col-xs-12 "></span>*@
                                <div class="col-lg-12" style="font-size: 12px; font-weight: bold; margin-top: 5px">

                                    Driver: @Model.DriverName<br />
                                    @*Phone: @Model.DriverPhone*@

                                </div>
                                @*<span class="col-xs-12 "></span>*@

                            </fieldset>

                        </div>
                    </div>

                    <div class="col-lg-12" style="font-size:14px !important;">

                        <table id="" class="display table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    @*<th>Seat</th>*@
                                    @*@if (Model.WithAmount)
                                    {
                                        <th>BRN</th>
                                    }*@
                                    <th>Full Name</th>
                                    <th>Tel</th>
                                    @*<th>Gender</th>*@
                                    @*@if (Model.WithAmount)
                                    {
                                        <th>Type</th>
                                    }*@
                                    <th>N.O.K</th>
                                    <th>N.O.K Tel</th>
                                    @*<th>Enroute</th>*@
                                    @*@if (Model.WithAmount)
                                    {
                                        <th>Price</th>
                                        <th>Disc</th>
                                    }*@
                                    @if (Model.Route.Contains("Accra"))
                                    {
                                        <th>Pass.Type</th>
                                        <th>ID. No.</th>
                                        <th>Place Iss.</th>
                                        <th>Nat.</th>
                                        <th>Exp. Date</th>

                                    }

                                </tr>
                            </thead>
                            <tbody>
                                @{ var count = 0; }
                                @foreach (var passenger in Model.Passengers)
                                {
                                    <tr>
                                        <td>    @(++count) </td>
                                        @*<td>@passenger.SeatNumber</td>*@
                                        @*@if (Model.WithAmount)
                                        {
                                            <td>

                                                @passenger.BookingReferenceCode

                                                @if (passenger.IsCrossSell)
                                                {<br /><br />
                                                    <span class="label label-info">Cross Sell</span><br /><br />
                                                    <span class="label label-info">By: @passenger.CreatedBy ( @passenger.CreatedByTerminal)</span><br /><br />

                                                }

                                            </td>
                                        }*@
                                        <td>@passenger.Name</td>
                                        <td>
                                            @passenger.PhoneNo
                                            @*@if (passenger.PickupStatus != PickupStatus.NotForPickUp)
                                            {<br /><br />
                                                <span class="label label-info">PickUp Request</span><br /><br />
                                                <span class="label label-info">PickupPointName: @passenger.PickupPointName</span><br />


                                            }*@
                                        </td>
                                        @*<td>@passenger.Gender.ToString().SeperateWords()</td>*@
                                        @*@if (Model.WithAmount)
                                        {
                                            <td>
                                                @passenger.BookingType.ToString().SeperateWords()<br />
                                                (@passenger.PassengerType.ToString().SeperateWords())
                                                (@passenger.PaymentMethod.ToString().SeperateWords())
                                            </td>
                                        }*@
                                        <td>@passenger.NokName</td>
                                        <td>
                                            @passenger.NokPhone
                                            @*@if (passenger.IsUpgradeDowngrade)
                                            {<br /><br />
                                                <span class="label label-info"> @passenger.UpgradeType ( @passenger.UpgradeDowngradeDiff )</span>



                                            }*@
                                        </td>
                                        @*<td>@passenger.SubRouteName.Substring(passenger.SubRouteName.IndexOf('>') + 1)</td>
                                        @if (Model.WithAmount)
                                        {
                                            <td>
                                                @passenger.Amount@if (passenger.PaymentMethod == PaymentMethod.CashAndPos)
                                                {
                                                    <br /><br />
                                                    <span>Part Cash: (@passenger.PartCash)</span>
                                                }
                                                @if (passenger.PaymentMethod == PaymentMethod.Pos)
                                                {
                                                    <br /><br />
                                                    <span>POS Reference:  @passenger.POSReference </span>
                                                }
                                                @if (passenger.IsRescheduled && passenger.RescheduleStatus == RescheduleStatus.PayAtTerminal)
                                                {<br /><br />
                                                    <span class="label label-warning">Rescheduled</span>
                                                }
                                                @if (passenger.IsRerouted && passenger.RerouteStatus == RerouteStatus.PayAtTerminal)
                                                {<br /><br />
                                                    <span class="label label-warning">Rerouted</span><br /><br />
                                                    <span class="label label-danger">Fare Diff: @passenger.RerouteFeeDiff +  N1,000 reroute fee</span>
                                                }
                                            </td>
                                            <td>@passenger.Discount</td>

                                        }*@

                                        @*@if (Model.Route.Contains("Accra"))
                                        {
                                            <td> @passenger.PassportType  </td>
                                            <td> @passenger.PassportId  </td>
                                            <td> @passenger.PlaceOfIssue  </td>
                                            <td> @passenger.Nationality </td>
                                            <td> @passenger.ExpiredDate.ToString("dd/M/yyyy") </td>
                                        }*@

                                    </tr>
                                }

                            </tbody>

                            @*<tfoot>
                                <tr>
                                    <th colspan="3" style="text-align: right">
                                        @if (Model.Passengers.Count > 0)
                                        {
                                            var shortage = @Model.TotalSeats - @Model.Passengers.Count;
                                            <span>
                                                Short:
                                                @if (Model.VehicleModel == "Hiace Ex")
                                                {
                                                    shortage = shortage - 1;
                                                    @shortage;
                                                }
                                                else if (Model.VehicleModel == "Hiace Super Ex")
                                                {
                                                    shortage = shortage - 3;
                                                    @shortage;
                                                }
                                                else
                                                { @shortage}
                                            </span>

                                        }
                                    </th>
                                    @*<th colspan="8" style="text-align: right">
                                        @if (Model.WithAmount)
                                        {
                                            var sum = @Model.Passengers.Sum(s => s.Amount - s.Discount.GetValueOrDefault()) + @Model.RescheduleFee.GetValueOrDefault() + @Model.RerouteFee.GetValueOrDefault();
                                            decimal sumonline = 0;
                                            decimal sumadvancedCash = 0;
                                            decimal sumadvancedPos = 0;
                                            decimal sumposterminal = 0;
                                            decimal sumbookonhold = 0;
                                            decimal sumcashterminal = 0;
                                            decimal totalremittance = 0;
                                            decimal totalvat = 0;
                                            string salesaftervat = "";
                                            foreach (var passenger in Model.Passengers)
                                            {
                                                if (passenger.BookingType == BookingType.Online)
                                                {
                                                    sumonline += passenger.Amount.GetValueOrDefault();
                                                }
                                                else if (passenger.BookingType == BookingType.Advanced && passenger.PaymentMethod == PaymentMethod.Cash)
                                                { sumadvancedCash += passenger.Amount.GetValueOrDefault(); }
                                                else if (passenger.BookingType == BookingType.Advanced && passenger.PaymentMethod == PaymentMethod.Pos)
                                                { sumadvancedPos += passenger.Amount.GetValueOrDefault(); }
                                                else if (passenger.BookingType == BookingType.Advanced && passenger.PaymentMethod == PaymentMethod.CashAndPos)
                                                {
                                                    sumadvancedPos += passenger.Amount.GetValueOrDefault() - passenger.PartCash.GetValueOrDefault();
                                                    sumadvancedCash += passenger.PartCash.GetValueOrDefault();
                                                }
                                                else if (passenger.BookingType == BookingType.BookOnHold)
                                                { sumbookonhold += passenger.Amount.GetValueOrDefault(); }
                                                else if (passenger.BookingType == BookingType.Terminal && passenger.PaymentMethod == PaymentMethod.Pos)
                                                { sumposterminal += passenger.Amount.GetValueOrDefault(); }
                                                else if (passenger.BookingType == BookingType.Terminal && passenger.PaymentMethod == PaymentMethod.Cash)
                                                { sumcashterminal += passenger.Amount.GetValueOrDefault() - passenger.Discount.GetValueOrDefault(); }
                                                else if (passenger.BookingType == BookingType.Terminal && passenger.PaymentMethod == PaymentMethod.CashAndPos)
                                                {
                                                    sumcashterminal += passenger.PartCash.GetValueOrDefault();
                                                    sumposterminal += passenger.Amount.GetValueOrDefault() - passenger.PartCash.GetValueOrDefault();
                                                }
                                            }
                                            @if (Model.DispatchSource == Model.BusRegistrationNumber)
                                            {
                                                totalremittance = sumcashterminal - Model.Dispatch.GetValueOrDefault();
                                            }
                                            else
                                            {
                                                totalremittance = sumcashterminal;
                                            }
                                            totalvat = @Model.Passengers.Count * 200;
                                            salesaftervat = (sum - totalvat).ToString();


                                            <span> Total Sales: @sum </span><br />
                                            <span> Total Online: @sumonline </span><br />
                                            <span> Total Advanced Cash: @sumadvancedCash </span><br />
                                            <span> Total Advanced POS: @sumadvancedPos </span><br />
                                            <span> Total BookOnHold: @sumbookonhold </span><br />
                                            <span> Total POS Terminal: @sumposterminal </span><br />
                                            <span> Total Cash Terminal: @sumcashterminal </span><br />
                                            <span> Total Reschedule Fee: @Model.RescheduleFee.GetValueOrDefault() </span><br />
                                            @*<span> Total Reroute Fee: @Model.RerouteFee.GetValueOrDefault() </span><br />
                                            <span> Dispatch Fee: @Model.Dispatch.GetValueOrDefault() </span><span> (@Model.DispatchSource)</span><br />
                                            <span>Total Vat: @totalvat  </span><br>
                                            <span>Total sales after VAT: @salesaftervat  </span><br />
                                            <span> Net Remittance:</span><span style="font-weight:bold; font-size:20px;"> @totalremittance </span>

                                        }
                                        else
                                        {
                                            <span> Dispatch Fee: @Model.Dispatch.GetValueOrDefault() </span><span> (@Model.DispatchSource)</span><br />

                                        }


                                    </th>
                                </tr>
                            </tfoot>*@
                        </table>


                    </div>


















                </div>

            </div>
        </div>



    </div>
</div>


