﻿@model Transport.WEB.Models.BookingDetailModel

@{
    ViewBag.Title = "Passenger Details";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>

<form action="" method="post" id="booking-form">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        @Html.HiddenFor(m => m.SeatRegistrations) 
        @Html.HiddenFor(m => m.Routes)

        <fieldset>
            <legend>@Html.DisplayNameFor(m => m.PaymentMethod).ToUpper()</legend>
            <div class="form-group">
                <div class="controls">

                    <select id="PaymentMethod" name="PaymentMethod" onchange="getPartCash()" class="form-control">
                        <option value="0">Cash</option>
                        <option value="1">Pos</option>
                        <option value="13">Cash and Pos</option>
                    </select>
                </div>
            </div>
            <div class="row validator" id="CashPos">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Enter the Part Cash *</label>
                        @Html.EditorFor(model => model.PartCash, new { htmlAttributes = new { @class = "form-control ", @type = "number", @min = "0" } })<br />
                        <span id="partcashcheck" class="validator label label-danger">please enter PartCash</span>
                    </div>
                </div>
            </div>

            <label class="form-label">@Html.DisplayNameFor(m => m.PosReference)</label>
            <div class="form-group">
                <div class="controls">
                    @Html.EditorFor(model => model.PosReference, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>CUSTOMER DETAILS</legend>

            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(m => m.PhoneNumber)</label>
                <div class="controls">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @Type = "number" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(m => m.Gender)</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.Gender, Html.GetEnumSelectList(Model.Gender.GetType()), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(m => m.FirstName)</label>
                <div class="controls">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(m => m.LastName)</label>
                <div class="controls">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group" style="display:none;">
                <label class="form-label">Email</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ", data_val = "false" } })
                    <span style="color:red">Email field is optional incase guest does not have email</span>
                    @*@Html.ValidationMessageFor(model => model.Email)*@
                </div>
            </div>

            <div class="form-group hidden" style="display:none;">
                >
                <label class="form-label">@Html.DisplayNameFor(m => m.Address)</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

          


            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(m => m.NextOfKinName)</label>
                <div class="controls">
                    @Html.EditorFor(model => model.NextOfKinName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NextOfKinName)
                </div>
            </div>



            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(m => m.NextOfKinPhone)</label>
                <div class="controls">
                    @Html.EditorFor(model => model.NextOfKinPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NextOfKinPhone)
                </div>
            </div>




        </fieldset>

        @if (Model.Beneficiaries.Count > 0)
        {
            <fieldset>
                <legend>@Html.DisplayNameFor(m => m.Beneficiaries).ToUpper()</legend>
                @(await Html.PartialAsync("BeneficiariesPartial", Model.Beneficiaries))
            </fieldset>
        }

    </div>

    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button">CLOSE</button>
        <button id="ui-submit-forms" class="btn btn-success" type="submit">COMPLETE BOOKING</button>
    </div>
</form>
