﻿@model HireBusDTO
@{
    ViewData["Title"] = "CreateHire";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ((List<HireBusDTO>)ViewData["UserItems"]);
}

<h2>Create Hire</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post" >
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label class="">Departure Address</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <input id="hiredeparture" class="form-control color-placeholder typeahead" placeholder="Pick up location" autocomplete="off" asp-for="DepartureAddress" />
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="">Destination Address</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <input id="hirearrival" class="form-control color-placeholder typeahead" placeholder="Drop-off location" autocomplete="off" asp-for="DestinationAddress" />
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="">Departure Terminal</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <select id="deptTerm" asp-for="DepartureTerminalId" class="form-control m-input dropdown-select2" required asp-items="ViewBag.Terminals as IEnumerable<SelectListItem>">
                                <option value="" id="TermId">Select a Terminal</option>
                            </select>
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label class="">Vehicle</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <select id="VehicleId" asp-for="VehicleId" class="form-control m-input dropdown-select2 Route routei" asp-items="ViewBag.Vehicles as IEnumerable<SelectListItem>">
                                <option value="" id="VehicleId">Select a Vehicle</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="">Driver</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            @*@Html.DropDownList("DriverCode", (SelectList)ViewBag.Drivers, "Select A Driver", new
                            {
                                @class = "m-input-icon m-input-icon--right form-control select-terminal"
                       })*@
                            <select id="DriverCode" asp-for="DriverCode" class="form-control m-input dropdown-select2 Route routei" asp-items="ViewBag.Drivers as IEnumerable<SelectListItem>">
                                <option value="" id="DriverCode">Select a Driver</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Amount</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <input id="amountId" asp-for="Amount" class="form-control color-placeholder typeahead" placeholder="Amount to be paid" type="number" autocomplete="off" />
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-danger">Hire Bus</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
            </span>
        </div>
    </form>
</div>

@* A list of hire bus starts! *@
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h2>
                    Hire Details
                </h2>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th>Departure Address</th>
                    <th>Destination Address</th>
                    <th>Bus Number</th>

                    <th>Driver Name</th>
                    <th>Departure Date</th>


                    <th>Actions</th>
                </tr>
            </thead>
            @{ var count = 0; }
            @foreach (var mod in list)
            {
                <tbody>
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @mod.DepartureAddress
                        </td>
                        <td>
                            @mod.DestinationAddress
                        </td>
                        <td>
                            @mod.RegistrationNo
                        </td>
                        <td>
                            @mod.DriverName
                        </td>
                        <td>
                            @mod.DepartureDate
                        </td>
                        <td>
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle"
                                            type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="../../booking/advancedbooking/HirePassengers?id=@mod.Id"><i class="flaticon-share"></i> Add Passenger</a>
                                        <a class="dropdown-item" href="../../booking/advancedbooking/CreateHire?id=@mod.Id"><i class="flaticon-settings"></i> Modify </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>
@* A list of hire bus ends! *@

@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="https://mobility.deltaline.com/js/moment.min.js"></script>
    <script src="https://mobility.deltaline.com/js/date.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBTES58-7C8xFtrY5l9qUesM5hpltUjKr4&libraries=places"></script>

    <script>
        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                componentRestrictions: { country: "ng" }
            };
            var places = new google.maps.places.Autocomplete(document.getElementById('hiredeparture'), options);
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();
                var mesg = "Address: " + address;
                mesg += "\nLatitude: " + latitude;
                mesg += "\nLongitude: " + longitude;
                //alert(mesg);
            });
        });

        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                componentRestrictions: { country: "ng" }
            };
            var places = new google.maps.places.Autocomplete(document.getElementById('hirearrival'), options);
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();
                var mesg = "Address: " + address;
                mesg += "\nLatitude: " + latitude;
                mesg += "\nLongitude: " + longitude;
                //alert(mesg);
            });
        });
    </script>

    <script type="text/javascript">


        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate , #EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#VehicleId, #DriverCode").select2({
                        placeholder: "Select An Option"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });
    </script>

    <script>
         $(document).ready(function () {
            $(".dropdown-select2").select2();

            $('#VehicleId').on("change", function () {
                var registrationNo = $("#VehicleId").find(":selected").text();
                registrationNo = registrationNo.split('(')[0];
                $.getJSON("../../booking/advancedbooking/GetDriver/?registrationNo=" + registrationNo,
                    function (data) {
                        //$('#DriverCode select').val(data.driverCode);
                        $('#DriverCode option[value=' + data.code + ']').attr('selected', 'selected');
                        //$('#DriverCode').text(data.driverName);
                        $('#DriverCode').val(data.code).change();
                    });
            });
        });
    </script>
}



