﻿@model IEnumerable<HireBusDTO>

@{
    ViewData["Title"] = "GetHireForUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetHireForUser</h2>

@section styles{
    <link href="~/css/toastr.min.css" rel="stylesheet" />
}
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-alert__text">
        Configured to show Hire Vehicles for Your Terminal.
    </div>
</div>

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Hire Details
                </h3>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    <th>Departure Address</th>
                    <th>Destination Address</th>
                    <th>Bus Number</th>

                    <th>Driver Name</th>
                    <th>Departure Date</th>


                    <th>Actions</th>
                </tr>
            </thead>
            @{ var count = 0; }
            @foreach (var mod in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @mod.DepartureAddress
                        </td>
                        <td>
                            @mod.DestinationAddress
                        </td>
                        <td>
                            @mod.RegistrationNo
                        </td>
                        <td>
                            @mod.DriverName
                        </td>
                        <td>
                            @mod.DepartureDate
                        </td>
                        <td>
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle"
                                            type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="../../booking/advancedbooking/HirePassengers?id=@mod.Id"><i class="flaticon-share"></i> Add Passenger</a>
                                        <a class="dropdown-item" href="../../booking/advancedbooking/CreateHire?id=@mod.Id"><i class="flaticon-settings"></i> Modify </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="https://mobility.deltaline.com/js/moment.min.js"></script>
    <script src="https://mobility.deltaline.com/js/date.js"></script>

    <script>
        var receive = function (JourneymanagementId) {
        if (JourneymanagementId) {
            $.blockUI({ message: '<h1>Processing...</h1>' });

            $.ajax({
                url: "../../booking/advancedbooking/HirePassengers?id=" + JourneymanagementId,
                method: "get",
                success: function (response) {
                    if (response.isValid) {
                        $.unblockUI();
                        toastr.info('Receievd')
                        console.log('wetin dey')
                        document.location.reload()
                    }
                },
                error: function (err) {
                    console.log(err)
                    $.unblockUI();
                }
            })
        }
    }
    </script>
}