﻿@model IEnumerable<HirePassengerDTO>
@{
    ViewData["Title"] = "HirePassengers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hireId = ViewBag.Id;
    bool isprinted = false;
}

<h2>Hire Passengers</h2>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post">
        @if (Model.Count() > 0)
        {
            <div class="m-portlet__body">
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>NOK Name</th>
                            <th>NOK Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @{ var count = 0; }
                    @foreach (var mod in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @(++count)
                                </td>
                                <td>
                                    @mod.Name
                                </td>
                                <td>
                                    @mod.PhoneNo
                                </td>
                                <td>
                                    @mod.NokName
                                </td>
                                <td>
                                    @mod.NokPhone
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle"
                                                type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" data-toggle="modal" href="#modify" id="list" onclick="getpass('@mod.Id')"><i class="flaticon-user"></i>Modify</a>
                                            <a class="dropdown-item" href="#" onclick="deletepass('@mod.Id')"><i class="flaticon-delete"></i> Delete </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        }
        <div class="m-portlet__body" id="TextBoxesGroup">

        </div>
        <input type='button' value='Add Passenger' id='addButton' class="btn btn-primary">
        <span class="btn btn-info" onclick="return chkfm('save');">Save Passengers</span>
        <input type='button' value='Remove Passenger' id='removeButton' class="btn btn-danger">
        <span id='createButton' onclick="ManifestPrintedBtn();" class="btn btn-success" data-toggle="modal" data-target="#myManifestComfirmationModal">Create/Print Manifest</span>
        @*<input type='button' value='Print' style="visibility:hidden" id='printButton' onclick="return createManifest('@ViewBag.Id');" class="btn btn-info">*@

        <script>
            function ManifestPrintedBtn() {
                //document.getElementById('printButton').style.visibility = 'visible';
                //document.getElementById('createButton').style.display = 'none';

                //document.getElementById('createButton').Value = 'Print';
                //document.getElementById('createButton').className = 'btn btn-info';
            }
        </script>
        <div class="modal fade" id="myManifestComfirmationModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create/Print Manifest</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to generate and print manifest?
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-success" onclick="return chkfm();" data-dismiss="modal">Print</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade col-xs-12" id="modify" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <div class="form-group">
                                    <input id="nameId" class="form-control txtpax color-placeholder typeahead" type="text" placeholder="Enter Your Name" />
                                </div>
                                <label class="form-label">Phone</label>
                                <div class="form-group">
                                    <input id="telId" class="form-control txtpax color-placeholder typeahead" type="text" placeholder="Enter Your Phone" />
                                </div>
                                <label class="form-label">NOK Name</label>
                                <div class="form-group">
                                    <input id="noknameId" class="form-control txtpax color-placeholder typeahead" type="text" placeholder="Enter Your NOK Name" />
                                </div>
                                <label class="form-label">NOK Phone</label>
                                <div class="form-group">
                                    <input id="nokphoneId" class="form-control txtpax color-placeholder typeahead" type="text" placeholder="Enter Your NOK Phone" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="width:100%;">
                            <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                            <button id="submitUpdateForm" class="btn btn-success" onclick="return UpdatePass()" type="button">Submit</button>
                        </div>
                        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
                            </span>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dvManifestImage" style="display:none">
</div>

@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="https://mobility.deltaline.com/js/moment.min.js"></script>
    <script src="https://mobility.deltaline.com/js/date.js"></script>
    @*<script type="text/javascript" src="jquery-1.3.2.min.js"></script>*@

    

    <script>
        var passid = 0;
        function deletepass(id) {
            $.blockUI({ message: '<h1>Processing...</h1>' });

            $.get('@Url.Action("DeletePass", "AdvancedBooking")?id=' + id,
                function (data) {
                    if (data) {
                        swal('Passenger Deleted Successfully');
                        $.unblockUI();
                        setTimeout(function () {
                            location.reload()
                        }, 100);

                    }

                });
        }

        function UpdatePass() {
            var name = $('#nameId').val();
            var phone = $('#telId').val();
            var noknameId = $('#noknameId').val();
            var nokphoneId = $('#nokphoneId').val();

            $.ajax({
                url: "../../booking/advancedbooking/UpdatePassenger",
                method: "post",
                data: {
                    Id: passid,
                    Name: name,
                    PhoneNo: phone,
                    NokName: noknameId,
                    NokPhone: nokphoneId,
                    HireBusId: '@ViewBag.Id'
                },
                success: function (response) {
                    $("#newRowId" + i).remove();
                    if (response.isValid) {
                        $.unblockUI();
                        swal('Passenger ' + i + ' Saved');
                        setTimeout(function () {
                            window.location.replace(window.location.href);
                        }, 1000);
                    }
                },
                        error: function (err) {
                            console.log(err)
                            swal('Passenger ' + i + ' Not Saved')
                            $.unblockUI();
                        }
            });
            swal('Record Updated');
             setTimeout(function () {
                            window.location.replace(window.location.href);
                        }, 1000);

        }

        function getpass(id) {
            $.get('@Url.Action("GetPassenger", "AdvancedBooking")?id=' + id,
                function (data) {
                    passid = data.id;
                    $("#nameId").val(data.name);
                    $("#telId").val(data.phoneNo);
                    $("#noknameId").val(data.nokName);
                    $("#nokphoneId").val(data.nokPhone);
                });
        }
         var counter = 0;
            var i = 0;
            if (@Model.Count() > 0) {
                counter = @Model.Count();
                i = counter;
            }
        function chkfm(save) {
            checkinput(save);
        }


        function checkinput(save) {
                //var empty = 0;
            //$('.txtpax').each(function () {
            //    if (this.value == "") {
            //        //empty++;
            //        swal('Fill out all information');
            //        return false;
            //    }
            //});

            submitmyform(save);
        }
        function submitmyform(save) {
                //declare an array of objects
                //var msg = '';


            if (counter == 0) {
                swal('No Passesnger to Be Added to the Manifest');
                return false;
            }

            //$('.txtpax').each(function () {
            //    if (this.value == "") {
            //        //empty++;
            //        swal('Fill out all information');
            //        return false;
            //    }
            //});
            $.blockUI({ message: '<h1>Processing...</h1>' });
            for (i; i < counter; i++) {
                    //create an object here
                    //make a json call for each of the object
                    var name = $('#nameId' + i).val();
                    var phone = $('#phoneId' + i).val();
                    var noknameId = $('#noknameId' + i).val();
                    var nokphoneId = $('#nokphoneId' + i).val()

                    if (name === "") {
                        swal('The Name Field Cannot be Null Passenger' + i);
                        $.unblockUI();
                        return;
                    }
                    if (phone === "") {
                        swal('The Phone Field Cannot be Null for Passenger' + i);
                        $.unblockUI();
                        return;
                    }
                    if (noknameId === "") {
                        swal('The Next Of Kin Name Field Cannot be Null Passenger' + i);
                        $.unblockUI();
                        return;
                    }
                    if (nokphoneId === "") {
                        swal('The Next Of Kin Phone Field Cannot be Null Passenger' + i);
                        $.unblockUI();
                        return;
                    }

                    $.ajax({
                        url: "../../booking/advancedbooking/HirePassengers",
                        method: "post",
                        data: {
                            Name: name,
                            PhoneNo: phone,
                            NokName: noknameId,
                            NokPhone: nokphoneId,
                            HireBusId: '@ViewBag.Id'
                        },
                        success: function (response) {
                            $("#newRowId" + i).remove();
                            if (response.isValid) {
                                //$.unblockUI();
                            }
                        },
                        error: function (err) {
                            console.log(err);
                            $.unblockUI();
                        }
                    });
                    //add the object to the the declared array at the top
            }
            //return true;
            //swal('Manifest Created Successfully');
            if (!save) {createManifest('@ViewBag.Id');}
            
            $.unblockUI();
            setTimeout(function () {
                            window.location.reload();
                        }, 1500);
        }

        function createManifest(id) {
            $.get('@Url.Action("CreatePrintManifest", "AdvancedBooking")?id=' + id,
                function (data) {
                    $('#dvManifestImage').html(data);
                    printContent("dvManifestImage");
                });
        }

        function printContent(el) {
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            window.print();
            document.body.innerHTML = restorepage;
        }

        $("#addButton").click(function () {
                if (counter > 15) {
                    swal("Only 15 passengers are allowed");
                    return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'newRowId' + counter)
                    .attr('class', 'form-group m-form__group row');

                newTextBoxDiv.after().html('<div class="col-lg-3"><label>Name: </label>' +
                    '<input class="form-control txtpax color-placeholder typeahead" type="text" name="textbox' + counter +
                    '" id="nameId' + counter + '" placeholder="Enter Your Name" ></div> <div class="col-lg-3"><label>Phone: </label>' +
                    '<input class="form-control txtpax color-placeholder typeahead" type="tel" name="textbox' + counter +
                    '" id="phoneId' + counter + '" placeholder="Enter Your PhoneNo" ></div></div> <div class="col-lg-3"><label>Next Of Kin Name: </label>' +
                    '<input class="form-control txtpax color-placeholder typeahead" type="text" name="textbox' + counter +
                    '" id="noknameId' + counter + '" placeholder="Enter Your NOKName" ></div></div> <div class="col-lg-3"><label>Next Of Kin Phone: </label>' +
                    '<input class="form-control txtpax color-placeholder typeahead" type="tel" name="textbox' + counter +
                    '" id="nokphoneId' + counter + '" placeholder="Enter Your NOKPhoneNo" ></div>');

                newTextBoxDiv.appendTo("#TextBoxesGroup");
                counter++;
            });
         
        $("#removeButton").click(function () {
                if (counter == 1) {
                    swal("No Passenger in the Bus");
                    return false;
                }
                counter--;
                $("#newRowId" + counter).remove();
            });
    </script>
}

