﻿@model TerminalBookingModel
@{
    ViewData["Title"] = "Advanced Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string routegetb = "";
}

@section styles{

    <style>
        .hidden {
            display: none !important;
        }

        .validator {
            display: none;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #eaeaea !important;
            cursor: default;
        }
    </style>
}

<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Advanced Booking</h3>
        </div>
    </div>
</div>
<div class="hidden">  
    <input type="hidden" name="Routeget" id="Routeget"  />
</div>
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Travel Details
                            </h3>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("Index", "AdvancedBooking", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                {
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>Trip Type</label>
                                <div class="controls">
                                    @Html.DropDownListFor(m => m.TripType, Html.GetEnumSelectList(Model.TripType.GetType()), new { @class = "m-input-icon m-input-icon--right form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.DepartureTerminalId)
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>Departure Terminal</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.DepartureTerminalId, (SelectList)ViewBag.Terminals, "Select Departure", new { @class = "m-input-icon m-input-icon--right form-control select-terminal" })
                                </div>
                                @Html.ValidationMessageFor(model => model.DepartureTerminalId)
                            </div>
                            <div class="col-lg-6">
                                <label>Destination Terminal</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.DestinationTerminalId, (SelectList)ViewBag.Terminals, "Select Arrival", new { @class = "m-input-icon m-input-icon--right form-control select-terminal" })
                                </div>
                                @Html.ValidationMessageFor(model => model.DestinationTerminalId)
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>No. of Travellers (Adult)</label>
                                <div class="m-input-icon m-input-icon--right">
                                    @Html.DropDownListFor(model => model.NumberOfAdults, new SelectList(Enumerable.Range(1, 13)), new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="">Minor Traveller (Ages 2-10)</label>
                                <div class="m-input-icon m-input-icon--right">
                                    @Html.DropDownListFor(model => model.NumberOfChildren, new SelectList(Enumerable.Range(0, 2)), new { @class = "form-control" })

                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>Departure Date</label>
                                <div class="m-input-icon m-input-icon--right">
                                    @Html.EditorFor(model => model.DepartureDate,

                                    new { htmlAttributes = new { @class = "form-control datepicker depdate", data_format = "D, dd MM yyyy", placeholder = "Enter a departure date", type = "text", ReadOnly = "true" } })
                                </div>
                            </div>

                            <div class="col-lg-6 validator" id="Return">
                                <label>Return Date</label>
                                <div class="m-input-icon m-input-icon--right">
                                    @Html.EditorFor(model => model.ReturnDate,
                                    new { htmlAttributes = new { @class = "form-control datepicker", data_format = "D, dd MM yyyy", placeholder = "Enter a return date", type = "text", ReadOnly = "true" } })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6 m--align-right">
                                    <button type="submit" id="btnsearch" class="btn btn-danger valdata">Search Trip</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@{
    var numberOfPassengers = Model.NumberOfAdults + Model.NumberOfChildren;
    ViewBag.MaxSeats = numberOfPassengers;

    var groupedTripsDetail = (GroupedTripsDetail)ViewBag.SearchResult;

    if (groupedTripsDetail.Departures.Count > 0)
    {
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Available Trips
                        </h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">

                @{
                    <h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">Departure</h4>
                    ViewBag.TripType = nameof(groupedTripsDetail.Departures);
                    await Html.RenderPartialAsync("AvailableTripDetailPartial", groupedTripsDetail.Departures, ViewData);

                    if (groupedTripsDetail.TripType == TripType.Return)
                    {
                        <h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">Return</h4>
                        ViewBag.TripType = nameof(groupedTripsDetail.Arrivals);
                        await Html.RenderPartialAsync("AvailableTripDetailPartial", groupedTripsDetail.Arrivals, ViewData);
                    }
                }

            </div>
            <div class="modal-footer">
                <a id="btnproceed" href="javascript:openCompleteBookingModal('@Model.TripType','@numberOfPassengers')" data-ui-target-route="/advanced/booking/create" class="ui-form-view-modal btn btn-primary" onclick="checkroute()">Proceed</a>
            </div>
        </div>
    }
}

<div class="modal fade col-xs-12" id="booking-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="booking-modal-body">
    </div>
</div>

<script id="complete-booking-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Complete Booking</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        @using (Html.BeginForm("CreateBooking", "AdvancedBooking", FormMethod.Post, new { @id = "booking-form" }))
        {
            <div class="modal-body">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <input type="hidden" name="SeatRegistrations" id="SeatRegistrations" value="" />
                <input type="hidden" name="Routes" id="Routes" value="" />

                <fieldset>
                    <legend> Payment method </legend>
                    <div class="form-group">
                        <div class="controls">

                            <select id="PaymentMethod" name="PaymentMethod" onchange="getPartCash()" class="form-control">
                                <option value="0">Cash</option>
                                <option value="1">Pos</option>
                                <option value="13">Cash and Pos</option>
                            </select>
                        </div>
                    </div>
                    <div class="row validator" id="CashPos">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Enter the Part Cash *</label>
                                <input type="number" min="0" name="PartCash" id="PartCash" value="" class="form-control" />
                                <span id="partcashcheck" class="validator label label-danger">please enter PartCash</span>
                            </div>
                        </div>
                    </div>

                    <label class="form-label"> Pos Reference </label>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" name="PosReference" value="" class="form-control" />
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>CUSTOMER DETAILS</legend>


                    <div class="form-group">
                        <label class="form-label"> Phone Number </label>
                        <div class="controls">
                            <input type="text" name="PhoneNumber" required="required" value="" class="form-control paxphone" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label"> Gender </label>
                        <div class="controls">
                            <select name="Gender" class="form-control sgender">
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label"> First Name </label>
                        <div class="controls">
                            <input type="text" name="FirstName" value="" required="required" class="form-control fname" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label"> Last Name </label>
                        <div class="controls">
                            <input type="text" name="LastName" value="" required="required" class="form-control lname" />
                        </div>
                    </div>

                    <div class="form-group hidden">
                        <label class="form-label">Email</label>
                        <div class="controls">
                            <input type="text" name="Email" value="" required="required" class="form-control emailcls" data_val="false" />
                            <span style="color:red">Email field is optional </span>
                        </div>
                    </div>

                    <div class="form-group hidden">
                        <label class="form-label"> Address </label>
                        <div class="controls">
                            <input type="text" name="Address" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label"> Next of Kin Name </label>
                        <div class="controls">
                            <input type="text" name="NextOfKinName" required="required" value="" class="form-control nokname" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label"> Next of Kin Phone </label>
                        <div class="controls">
                            <input type="text" name="NextOfKinPhone" value="" required="required" class="form-control nokphone" />
                        </div>
                    </div>
                  
                    <div id="IsGhanaDiv" class="IsGhana" style="display:none;">
                        <div class="m-portlet__head" style="text-align:center; height:auto;background-color:#f4516c;  color:#fff;">
                            <h4 style="padding:5px;font-weight:400;">Additional Information</h4>
                        </div>
                        <div   class="m-portlet__body" style="padding:10px; background-color:#f2f3f8;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Passport Type</label>
                                        <select asp-for="PassportType" class="form-control m-input" asp-items="ViewBag.PassportType as IEnumerable<SelectListItem>">
                                            <option value="">Select PassportType</option>
                                        </select>
                                        <div class="form-control-feedback"><span asp-validation-for="PassportType"></span></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Passport No</label>
                                        @Html.EditorFor(model => model.PassportId, new { htmlAttributes = new { @class = "form-control PassportId" } })
                                        @Html.ValidationMessageFor(model => model.PassportId)
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Issued Date</label>

                                        @Html.EditorFor(model => model.IssuedDate, new { htmlAttributes = new { @class = "form-control IssuedDate" } })
                                        @Html.ValidationMessageFor(model => model.IssuedDate)
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Expired Date</label>
                                        @Html.EditorFor(model => model.ExpiredDate, new { htmlAttributes = new { @class = "form-control ExpiredDate" } })
                                        @Html.ValidationMessageFor(model => model.ExpiredDate)

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Place Of Issue</label>
                                        <select id="PlaceOfIssue" name="PlaceOfIssue" asp-for="PlaceOfIssue" class="form-control">
                                            <option value="" selected>Select ...</option>
                                            <option value="Ghana">Ghana</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Åland Islands">Åland Islands</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="American Samoa">American Samoa</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Anguilla">Anguilla</option>
                                            <option value="Antarctica">Antarctica</option>
                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Bermuda">Bermuda</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Bolivia">Bolivia</option>
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Bouvet Island">Bouvet Island</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cape Verde">Cape Verde</option>
                                            <option value="Cayman Islands">Cayman Islands</option>
                                            <option value="Central African Republic">Central African Republic</option>
                                            <option value="Chad">Chad</option>
                                            <option value="Chile">Chile</option>
                                            <option value="China">China</option>
                                            <option value="Christmas Island">Christmas Island</option>
                                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Congo">Congo</option>
                                            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                            <option value="Cook Islands">Cook Islands</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Cote D'ivoire">Cote D'ivoire</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czech Republic">Czech Republic</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="El Salvador">El Salvador</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                            <option value="Eritrea">Eritrea</option>
                                            <option value="Estonia">Estonia</option>
                                            <option value="Ethiopia">Ethiopia</option>
                                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                            <option value="Faroe Islands">Faroe Islands</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Finland">Finland</option>
                                            <option value="France">France</option>
                                            <option value="French Guiana">French Guiana</option>
                                            <option value="French Polynesia">French Polynesia</option>
                                            <option value="French Southern Territories">French Southern Territories</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambia</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Gibraltar">Gibraltar</option>
                                            <option value="Greece">Greece</option>
                                            <option value="Greenland">Greenland</option>
                                            <option value="Grenada">Grenada</option>
                                            <option value="Guadeloupe">Guadeloupe</option>
                                            <option value="Guam">Guam</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Guernsey">Guernsey</option>
                                            <option value="Guinea">Guinea</option>
                                            <option value="Guinea-bissau">Guinea-bissau</option>
                                            <option value="Guyana">Guyana</option>
                                            <option value="Haiti">Haiti</option>
                                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Iceland">Iceland</option>
                                            <option value="India">India</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                            <option value="Iraq">Iraq</option>
                                            <option value="Ireland">Ireland</option>
                                            <option value="Isle of Man">Isle of Man</option>
                                            <option value="Israel">Israel</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Jamaica">Jamaica</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Jersey">Jersey</option>
                                            <option value="Jordan">Jordan</option>
                                            <option value="Kazakhstan">Kazakhstan</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                            <option value="Korea, Republic of">Korea, Republic of</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                            <option value="Latvia">Latvia</option>
                                            <option value="Lebanon">Lebanon</option>
                                            <option value="Lesotho">Lesotho</option>
                                            <option value="Liberia">Liberia</option>
                                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                            <option value="Liechtenstein">Liechtenstein</option>
                                            <option value="Lithuania">Lithuania</option>
                                            <option value="Luxembourg">Luxembourg</option>
                                            <option value="Macao">Macao</option>
                                            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                            <option value="Madagascar">Madagascar</option>
                                            <option value="Malawi">Malawi</option>
                                            <option value="Malaysia">Malaysia</option>
                                            <option value="Maldives">Maldives</option>
                                            <option value="Mali">Mali</option>
                                            <option value="Malta">Malta</option>
                                            <option value="Marshall Islands">Marshall Islands</option>
                                            <option value="Martinique">Martinique</option>
                                            <option value="Mauritania">Mauritania</option>
                                            <option value="Mauritius">Mauritius</option>
                                            <option value="Mayotte">Mayotte</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                                            <option value="Monaco">Monaco</option>
                                            <option value="Mongolia">Mongolia</option>
                                            <option value="Montenegro">Montenegro</option>
                                            <option value="Montserrat">Montserrat</option>
                                            <option value="Morocco">Morocco</option>
                                            <option value="Mozambique">Mozambique</option>
                                            <option value="Myanmar">Myanmar</option>
                                            <option value="Namibia">Namibia</option>
                                            <option value="Nauru">Nauru</option>
                                            <option value="Nepal">Nepal</option>
                                            <option value="Netherlands">Netherlands</option>
                                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                                            <option value="New Caledonia">New Caledonia</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Nicaragua">Nicaragua</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Niue">Niue</option>
                                            <option value="Norfolk Island">Norfolk Island</option>
                                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                            <option value="Norway">Norway</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Palau">Palau</option>
                                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                            <option value="Panama">Panama</option>
                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                            <option value="Paraguay">Paraguay</option>
                                            <option value="Peru">Peru</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="Pitcairn">Pitcairn</option>
                                            <option value="Poland">Poland</option>
                                            <option value="Portugal">Portugal</option>
                                            <option value="Puerto Rico">Puerto Rico</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="Reunion">Reunion</option>
                                            <option value="Romania">Romania</option>
                                            <option value="Russian Federation">Russian Federation</option>
                                            <option value="Rwanda">Rwanda</option>
                                            <option value="Saint Helena">Saint Helena</option>
                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                            <option value="Saint Lucia">Saint Lucia</option>
                                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                            <option value="Samoa">Samoa</option>
                                            <option value="San Marino">San Marino</option>
                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                            <option value="Senegal">Senegal</option>
                                            <option value="Serbia">Serbia</option>
                                            <option value="Seychelles">Seychelles</option>
                                            <option value="Sierra Leone">Sierra Leone</option>
                                            <option value="Singapore">Singapore</option>
                                            <option value="Slovakia">Slovakia</option>
                                            <option value="Slovenia">Slovenia</option>
                                            <option value="Solomon Islands">Solomon Islands</option>
                                            <option value="Somalia">Somalia</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                            <option value="Spain">Spain</option>
                                            <option value="Sri Lanka">Sri Lanka</option>
                                            <option value="Sudan">Sudan</option>
                                            <option value="Suriname">Suriname</option>
                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                            <option value="Swaziland">Swaziland</option>
                                            <option value="Sweden">Sweden</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                            <option value="Tajikistan">Tajikistan</option>
                                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Timor-leste">Timor-leste</option>
                                            <option value="Togo">Togo</option>
                                            <option value="Tokelau">Tokelau</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                            <option value="Tunisia">Tunisia</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="Turkmenistan">Turkmenistan</option>
                                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                            <option value="Tuvalu">Tuvalu</option>
                                            <option value="Uganda">Uganda</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="United States">United States</option>
                                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                            <option value="Uruguay">Uruguay</option>
                                            <option value="Uzbekistan">Uzbekistan</option>
                                            <option value="Vanuatu">Vanuatu</option>
                                            <option value="Venezuela">Venezuela</option>
                                            <option value="Viet Nam">Viet Nam</option>
                                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                                            <option value="Western Sahara">Western Sahara</option>
                                            <option value="Yemen">Yemen</option>
                                            <option value="Zambia">Zambia</option>
                                            <option value="Zimbabwe">Zimbabwe</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nationality</label>
                                        <select id="Nationality" name="Nationality" asp-for="Nationality" class="form-control">
                                            <option value="" selected>Select ...</option>
                                            <option value="Ghana">Ghana</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Åland Islands">Åland Islands</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="American Samoa">American Samoa</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Anguilla">Anguilla</option>
                                            <option value="Antarctica">Antarctica</option>
                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Bermuda">Bermuda</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Bolivia">Bolivia</option>
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Bouvet Island">Bouvet Island</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cape Verde">Cape Verde</option>
                                            <option value="Cayman Islands">Cayman Islands</option>
                                            <option value="Central African Republic">Central African Republic</option>
                                            <option value="Chad">Chad</option>
                                            <option value="Chile">Chile</option>
                                            <option value="China">China</option>
                                            <option value="Christmas Island">Christmas Island</option>
                                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Congo">Congo</option>
                                            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                            <option value="Cook Islands">Cook Islands</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Cote D'ivoire">Cote D'ivoire</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czech Republic">Czech Republic</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="El Salvador">El Salvador</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                            <option value="Eritrea">Eritrea</option>
                                            <option value="Estonia">Estonia</option>
                                            <option value="Ethiopia">Ethiopia</option>
                                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                            <option value="Faroe Islands">Faroe Islands</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Finland">Finland</option>
                                            <option value="France">France</option>
                                            <option value="French Guiana">French Guiana</option>
                                            <option value="French Polynesia">French Polynesia</option>
                                            <option value="French Southern Territories">French Southern Territories</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambia</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Gibraltar">Gibraltar</option>
                                            <option value="Greece">Greece</option>
                                            <option value="Greenland">Greenland</option>
                                            <option value="Grenada">Grenada</option>
                                            <option value="Guadeloupe">Guadeloupe</option>
                                            <option value="Guam">Guam</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Guernsey">Guernsey</option>
                                            <option value="Guinea">Guinea</option>
                                            <option value="Guinea-bissau">Guinea-bissau</option>
                                            <option value="Guyana">Guyana</option>
                                            <option value="Haiti">Haiti</option>
                                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Iceland">Iceland</option>
                                            <option value="India">India</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                            <option value="Iraq">Iraq</option>
                                            <option value="Ireland">Ireland</option>
                                            <option value="Isle of Man">Isle of Man</option>
                                            <option value="Israel">Israel</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Jamaica">Jamaica</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Jersey">Jersey</option>
                                            <option value="Jordan">Jordan</option>
                                            <option value="Kazakhstan">Kazakhstan</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                            <option value="Korea, Republic of">Korea, Republic of</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                            <option value="Latvia">Latvia</option>
                                            <option value="Lebanon">Lebanon</option>
                                            <option value="Lesotho">Lesotho</option>
                                            <option value="Liberia">Liberia</option>
                                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                            <option value="Liechtenstein">Liechtenstein</option>
                                            <option value="Lithuania">Lithuania</option>
                                            <option value="Luxembourg">Luxembourg</option>
                                            <option value="Macao">Macao</option>
                                            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                            <option value="Madagascar">Madagascar</option>
                                            <option value="Malawi">Malawi</option>
                                            <option value="Malaysia">Malaysia</option>
                                            <option value="Maldives">Maldives</option>
                                            <option value="Mali">Mali</option>
                                            <option value="Malta">Malta</option>
                                            <option value="Marshall Islands">Marshall Islands</option>
                                            <option value="Martinique">Martinique</option>
                                            <option value="Mauritania">Mauritania</option>
                                            <option value="Mauritius">Mauritius</option>
                                            <option value="Mayotte">Mayotte</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                                            <option value="Monaco">Monaco</option>
                                            <option value="Mongolia">Mongolia</option>
                                            <option value="Montenegro">Montenegro</option>
                                            <option value="Montserrat">Montserrat</option>
                                            <option value="Morocco">Morocco</option>
                                            <option value="Mozambique">Mozambique</option>
                                            <option value="Myanmar">Myanmar</option>
                                            <option value="Namibia">Namibia</option>
                                            <option value="Nauru">Nauru</option>
                                            <option value="Nepal">Nepal</option>
                                            <option value="Netherlands">Netherlands</option>
                                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                                            <option value="New Caledonia">New Caledonia</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Nicaragua">Nicaragua</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Niue">Niue</option>
                                            <option value="Norfolk Island">Norfolk Island</option>
                                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                            <option value="Norway">Norway</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Palau">Palau</option>
                                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                            <option value="Panama">Panama</option>
                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                            <option value="Paraguay">Paraguay</option>
                                            <option value="Peru">Peru</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="Pitcairn">Pitcairn</option>
                                            <option value="Poland">Poland</option>
                                            <option value="Portugal">Portugal</option>
                                            <option value="Puerto Rico">Puerto Rico</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="Reunion">Reunion</option>
                                            <option value="Romania">Romania</option>
                                            <option value="Russian Federation">Russian Federation</option>
                                            <option value="Rwanda">Rwanda</option>
                                            <option value="Saint Helena">Saint Helena</option>
                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                            <option value="Saint Lucia">Saint Lucia</option>
                                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                            <option value="Samoa">Samoa</option>
                                            <option value="San Marino">San Marino</option>
                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                            <option value="Senegal">Senegal</option>
                                            <option value="Serbia">Serbia</option>
                                            <option value="Seychelles">Seychelles</option>
                                            <option value="Sierra Leone">Sierra Leone</option>
                                            <option value="Singapore">Singapore</option>
                                            <option value="Slovakia">Slovakia</option>
                                            <option value="Slovenia">Slovenia</option>
                                            <option value="Solomon Islands">Solomon Islands</option>
                                            <option value="Somalia">Somalia</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                            <option value="Spain">Spain</option>
                                            <option value="Sri Lanka">Sri Lanka</option>
                                            <option value="Sudan">Sudan</option>
                                            <option value="Suriname">Suriname</option>
                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                            <option value="Swaziland">Swaziland</option>
                                            <option value="Sweden">Sweden</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                            <option value="Tajikistan">Tajikistan</option>
                                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Timor-leste">Timor-leste</option>
                                            <option value="Togo">Togo</option>
                                            <option value="Tokelau">Tokelau</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                            <option value="Tunisia">Tunisia</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="Turkmenistan">Turkmenistan</option>
                                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                            <option value="Tuvalu">Tuvalu</option>
                                            <option value="Uganda">Uganda</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="United States">United States</option>
                                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                            <option value="Uruguay">Uruguay</option>
                                            <option value="Uzbekistan">Uzbekistan</option>
                                            <option value="Vanuatu">Vanuatu</option>
                                            <option value="Venezuela">Venezuela</option>
                                            <option value="Viet Nam">Viet Nam</option>
                                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                                            <option value="Western Sahara">Western Sahara</option>
                                            <option value="Yemen">Yemen</option>
                                            <option value="Zambia">Zambia</option>
                                            <option value="Zimbabwe">Zimbabwe</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </fieldset>

                <fieldset>

                    {{for ~makeEmptyArray(beneficiaries-1)}}
                    <legend>BENEFICIARIES</legend>
                    <div class="form-group">

                        <label class="form-label">Beneficiary Gender</label>
                        <div class="controls">
                            <select name="{{:'beneficiaries[' + #index +'].Gender'}}" class="form-control">
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label"> Full Name </label>
                        <div class="controls">
                            <input type="text" name="{{:'beneficiaries['+ #index + '].FullName'}}" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Passenger Type</label>
                        <div class="controls">
                            <select name="{{:'beneficiaries[' + #index +'].PassengerType'}}" class="form-control">
                                <option value="0">Adult</option>
                                <option value="1">Minor</option>
                            </select>
                        </div>
                    </div>
                    {{/for}}
                </fieldset>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">CLOSE</button>
                <button id="ui-submit-forms" class="btn btn-success">COMPLETE BOOKING</button>
            </div>
        }
    </div>
</script>

@section Scripts {
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/js/booking.js?vs=3"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/date.js"></script>
    <script>
        $.views.helpers({
            makeEmptyArray: function (count) {
                var fieldsArray = [];
                for (var i = 0; i < count; i++) {
                    fieldsArray.push(i);
                }
                return fieldsArray;
            }
        });
        $('.valdata').click(function () {
            var deptdate = $('.depdate').val();
            var dest = $('#DestinationTerminalId').val();

            if (dest == "") {
                swal("Select Destination Terminal");
                return false;
            }
            if (deptdate == "") {
                swal("Select Departure Date");
                return false;
            }

        });
        function openCompleteBookingModal(bookingType, beneficiaries) {
            var tmpl = $.templates("#complete-booking-template");
            var html = tmpl.render({ bookingType, beneficiaries });
            $("#booking-modal-body").html(html);
            $('#booking-modal').modal('show');

            var radioBoxes = $(document).find("input[type='radio']:checked");

            var seatRegistrations = radioBoxes.map(function (index, self) {
                var parent = $(radioBoxes[index].parentNode);
                var regId = parent.find("#VehicleTripRegistrationId").val();

                var bookedSeats = parent.find("#BookedSeats").val();

                return regId + ":" + bookedSeats;
            }).get().join(";");

            var routes = radioBoxes.map(function (index) {
                var parent = $(radioBoxes[index].parentNode);
                var routeId = parent.find("#RouteId").val();

                var issub = parent.find("#isSub").val();

                return routeId + ":" + issub;
            }).get().join(";");

            $(document).find("#SeatRegistrations").val(seatRegistrations);
            $(document).find("#Routes").val(routes);

        }


        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#DepartureDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: false,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy",
                        startDate: Date.now().addDays(1),
                        endDate: Date.now().addDays(7)
                    });
                    $("#ReturnDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: false,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy",
                        startDate: Date.now().addDays(1),
                        endDate: Date.now().addDays(7)
                    });

                    $("#DestinationTerminalId, #DepartureTerminalId").select2({
                        placeholder: "Select a terminal"
                    })
                }
            }
        }();
        jQuery(document).ready(function () {
            BootstrapDatepicker.init()
        });

        $(document).on("click", "#ui-submit-forms", function () {

            //$("#ui-submit-forms").attr("disabled", true);
            var paymentMethod = document.getElementById("PaymentMethod").value;
            var partCash = document.getElementById("PartCash").value;
            if (paymentMethod === "13" && partCash === "") {
                $('#CashPos').removeClass('validator');
                $('#partcashcheck').removeClass('validator');
                return false;
            } else {
                $('#partcashcheck').addClass('validator');
            }
            $(this).attr("disabled", "disabled");
            if ($('.emailcls').val() == "") {
                $('.emailcls').val("no-email@deltaline.com");
            }
            if ($('.nokphone').val() == "") {
                $("#ui-submit-forms").attr("disabled", false);
                alert("Enter Next of Kin Phone");
                return false;
            }
            else if ($('.paxphone').val() == "") {
                alert("Enter phone");
                $("#ui-submit-forms").attr("disabled", false);
                return false;
            }
            else if ($('.lname').val() == "") {
                $("#ui-submit-forms").attr("disabled", false);
                alert("Enter Last Name");
                return false;
            }

            else if ($('.nokname').val() == "") {
                $("#ui-submit-forms").attr("disabled", false);
                alert("Enter Next of Kin Name");
                return false;
            }
            else if ($('.fname').val() == "") {
                alert("Enter First Name");
                return false;
            } else if ($('.sgender').val() == "") {
                alert("Select Gender");
                $("#ui-submit-forms").attr("disabled", false);

                return false;
            }

            else {
                $("#ui-submit-forms").attr("disabled", true);
                $('#booking-form').submit();
            }
        });

        function getPartCash() {
            var paymentMethod = document.getElementById("PaymentMethod").value;
            if (paymentMethod === "13") {

                $('#CashPos').removeClass('validator');

            } else {
                $('#CashPos').addClass('validator');
            }
        }

        $(document).on("change", "#TripType", function () {
            var tripType = $(this).val();

            if (tripType == 1) {
                $('#Return').removeClass('validator');

            }
            else {
                $('#Return').addClass('validator');

            }
        });

        function checkroute () {
            
            var deptdate = $('.depdate').val();
            $('.IsGhana').hide();
            var DepT = $("#DestinationTerminalId").find(":selected").text();
            var DesT = $("#DepartureTerminalId").find(":selected").text();
            var vRouteName = DepT + DesT;
            $("#Routeget").val(vRouteName);
            routegetb = vRouteName;
            $("#rname").text(vRouteName);
            if (vRouteName.includes("Accra")) {
                $("#IsGhanaDiv").show();
            }
            //else {
            //    $("#IsGhanaDiv").hide();
            //}
            $('.dropdown-select2').select2({ width: '100%' });
             setTimeout(checkroute,2000);
        }


    </script>
}