﻿
@{
    ViewData["Title"] = "ReOpenBus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.HasClaim("Permission", "managebusmanifest"))
{

}
else
{
    <button id="redirectbtn" style="display:none;">Redirect</button>

}

<h2>Reopen A Bus</h2>

<style>
    .table-style tr:nth-of-type(even) {
        background: #eee;
    }

    .table-style th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .table-style td, th {
        padding: 6px6 border: 1px solid #ccc;
        text-align: center;
    }
</style>

<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <form class="m-alert__text" method="post">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <label class="">Terminal</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            @Html.DropDownList("TerminalId", (SelectList)ViewBag.Terminals, "Select Terminal", new
                            {
                                @class = "m-input-icon m-input-icon--right form-control select-terminal"
                       })
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Routes</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <select id="routeId" name="routeId" onchange="getTime()" class="form-control m-input" aria-invalid="false">
                                <option>Select Routes</option>
                            </select>
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="">Time</label>
                    <div class="m-input-icon m-input-icon--right">
                        <div class="controls">
                            <select id="timeId" name="timeId" class="form-control m-input" aria-invalid="false">
                                <option>Select Time</option>
                            </select>
                        </div>
                        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-6 m--align-right">
                        <button type="button" class="btn btn-danger" onclick="openManifest()">Open Manifest</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
            </span>
        </div>
    </form>
</div>


@section Scripts {
    @*<script src="~/lib/jsrender/jsrender.min.js"></script>*@
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="https://mobility.deltaline.com/js/moment.min.js"></script>
    <script src="https://mobility.deltaline.com/js/date.js"></script>

    <script>
        $(document).on("change", "#TerminalId", function () {
            $("#sloader").show();
            var routeId = $('#TerminalId').find(":selected").val();
            var url = "../../booking/advancedbooking/TerminalRoutes/?terminalId=" + routeId;
            // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";
            var options =
            {
                url: url,
                method: "post"
            };
            var timeDropdown = $("#routeId");
            var o = new Option("Select the Route", "");

            $.getJSON(options, { format: "json" }, function (data) {
                timeDropdown.children().remove();
                timeDropdown.append(o);

                for (var idx = 0; idx < data.length; idx++) {
                    var time = data[idx];
                    var options = $("<option />");// document.createElement('option');
                    options.attr('value', time.id).text(time.name);

                    timeDropdown.append(options);
                    //$.unblockUI();
                }
            });
            $("#sloader").hide();
        });

        var getTime = function () {
            $("#sloader").show();
            var terminalId = $('#routeId').find(":selected").val();
            var url = "../../booking/advancedbooking/RouteBuses/?routeId=" + terminalId;
            // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";
            var options =
            {
                url: url,
                method: "post"
            };
            var timeDropdown = $("#timeId");
            var o = new Option("Select the Route", "");

            $.getJSON(options, { format: "json" }, function (data) {
                timeDropdown.children().remove();
                timeDropdown.append(o);

                for (var idx = 0; idx < data.length; idx++) {
                    var time = data[idx];
                    var options = $("<option />");// document.createElement('option');
                    options.attr('value', time.vehicleTripRegistrationId).text(time.departureTime + ' - ' + time.physicalBus);

                    timeDropdown.append(options);
                    //$.unblockUI();
                }
            });
            $("#sloader").hide();
        }
         $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://mobility.deltaline.com/unauthorised.html");
        });
        var openManifest = function () {
            $("#sloader").show();
            var vehicleTripId = $('#timeId').find(":selected").val();
            var url = "../../booking/advancedbooking/ReOpenBuss/?vehicleTripId=" + vehicleTripId;
            // var url = "/terminals/booking/destination/" + departureTerminalId;// +"?callback=?";
            var options =
            {
                url: url,
                method: "post"
            };
            $.getJSON(options, { format: "json" }, function (data) {
                swal('Manifest Opened Succesfully');
            });
            $("#sloader").hide();
        }

    </script>
}


