﻿
<style>
    td {
        text-align: center;
        border: 1px solid #ccc;
        height: 50px;
        width: 50px
    }

    .old, .day {
        border: 0;
    }

    .dt-buttons {
        margin-left: 5%;
        margin-top: -2%;
        margin-bottom: 2%;
    }

    .seat-label {
        display: block;
        min-height: 100%; /* Modern browsers */
        height: auto !important; /* IE7+ */
        height: 100%; /* IE6+ */
        margin-bottom: 0;
        padding-top: 15px;
        cursor: pointer;
    }

    td input[type=checkbox] + .seat-label {
        background: #fff !important;
        color: #000;
    }

    input[type=checkbox]:checked + .seat-label {
        background: #82b739 !important;
    }

    .default-seats tr td {
        background-color: rgba(25, 24, 24, 0.88);
        color: white;
    }


    td.no-seats {
        background-color: white !important;
        color: #000 !important;
    }

    table.seats-table {
        border-collapse: separate;
        border-spacing: 5px 5px;
        width: 250px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    td.cell-no-border {
        border-color: white;
    }
</style>
<p>
    <table class="seats-table">
        <caption>&nbsp;</caption>
        <tbody class="default-seats">
            @*10 Seater Bus Layout---------------------------------------------------------------------------------*@
            <tr class="10seater">
                <td class="no-seats" title="Deltaline driver"><i class="la la-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;&nbsp;</td>
                <td>1</td>
            </tr>
            <tr class="10seater">

                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td class="no-seats cell-no-border">&nbsp;&nbsp;</td>
            </tr>
            <tr class="10seater">
                <td>5</td>
                <td>6</td>
                <td class="no-seats cell-no-border" rowspan="2">&nbsp;&nbsp;</td>
                <td>7</td>
            </tr>
            <tr class="10seater">
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>

            @*12 Seater Bus Layout--------------------------------------------------------------*@
            <tr class="12seater">
                <td class="no-seats" title="Deltaline driver"><i class="la la-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;&nbsp;&nbsp;</td>
                <td>1</td>
            </tr>
            <tr class="12seater">
                <td>2</td>
                <td>3</td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr class="12seater">
                <td>4</td>
                <td>5</td>
                <td class="no-seats cell-no-border" rowspan="3">&nbsp;&nbsp;&nbsp;</td>
                <td>6</td>
            </tr>
            <tr class="12seater">
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
            <tr class="12seater">
                <td>10</td>
                <td>11</td>
                <td>12</td>
            </tr>

            @*13 Seater Bus Layout--------------------------------------------------------------*@
            <tr class="13seater">
                <td class="no-seats" title="Deltaline driver"><i class="la la-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;</td>
                <td>1</td>
            </tr>
            <tr class="13seater">
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td class="no-seats cell-no-border">&nbsp;</td>
            </tr>
            <tr class="13seater">
                <td>5</td>
                <td>6</td>
                <td class="no-seats cell-no-border" rowspan="2">&nbsp;</td>
                <td>7</td>
            </tr>
            <tr class="13seater">
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr class="13seater">
                <td>11</td>
                <td>12</td>
                <td class="no-seats cell-no-border">&nbsp;</td>
                <td>14</td>
            </tr>
            @*14 Seater Bus Layout---------------------------------------------------------------------------------*@
            <tr class="14seater">
                <td class="no-seats" title="Deltaline driver"><i class="la la-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;</td>
                <td>1</td>
            </tr>
            <tr class="14seater">
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td class="no-seats cell-no-border">&nbsp;</td>
            </tr>
            <tr class="14seater">
                <td>5</td>
                <td>6</td>
                <td class="no-seats cell-no-border" rowspan="2">&nbsp;</td>
                <td>7</td>
            </tr>
            <tr class="14seater">
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr class="14seater">
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
            </tr>

            @*15 Seater Bus Layout---------------------------------------------------------------------------------*@
            <tr class="15seater">
                <td class="no-seats" title="Deltaline driver"><i class="la la-user"></i></td>
                <td class="no-seats cell-no-border">&nbsp;</td>
                <td>2</td>
                <td>1</td>
            </tr>
            <tr class="15seater">
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td class="no-seats cell-no-border">&nbsp;</td>
            </tr>
            <tr class="15seater">
                <td>6</td>
                <td>7</td>
                <td class="no-seats cell-no-border" rowspan="2">&nbsp;</td>
                <td>8</td>
            </tr>
            <tr class="15seater">
                <td>9</td>
                <td>10</td>
                <td>11</td>
            </tr>
            <tr class="15seater">
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
            </tr>

            @*17 Seater Bus Layout---------------------------------------------------------------------------------*@
            <tr class="17seater">
                <td class="no-seats" title="Deltaline driver"><i class="la la-user"></i></td>
                <td class="no-seats cell-no-border" colspan="2">&nbsp;</td>
                <td>1</td>
            </tr>
            <tr class="17seater">
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td class="no-seats cell-no-border">&nbsp;</td>
            </tr>
            <tr class="17seater">
                <td>5</td>
                <td>6</td>
                <td class="no-seats cell-no-border" rowspan="2">&nbsp;</td>
                <td>7</td>
            </tr>
            <tr class="17seater">
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr class="17seater">
                <td>11</td>
                <td>12</td>
                <td class="no-seats cell-no-border">&nbsp;</td>
                <td>14</td>
            </tr>
            <tr class="17seater">
                <td>15</td>
                <td>16</td>
                <td class="no-seats cell-no-border">&nbsp;</td>
                <td>17</td>
            </tr>
        </tbody>
    </table>
