﻿
@using Transport.WEB.Models
@using Transport.WEB.Models.Enum
@model List<Transport.WEB.Models.SeatManagement>

@{
    ViewBag.Title = "Receipt";
    var BookingReferenceCode = ViewBag.refcode;
    Layout = "_Layout";
}


<style>
    * {
        box-sizing: border-box;
    }

    ul {
        margin: 0;
    }

    /*.container {
        width: 250px;
        font-family: 'Montserrat', sans-serif;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid #333;
    }*/
    
    #menu-outer {
        /*background-color: #333;*/
    }

    .table {
        display: table; /* Allow the centering to work */
        margin: 0 auto;
    }

    ul.horizontal-list {
        min-width: 250px;
        list-style: none;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
    }

        ul.horizontal-list li {
            display: inline-block;
            color: #fff;
            font-size: 12px;
            text-align: center;
            width: 32%;
        }

        ul.horizontal-list.head-txt li {
            color: #000;
        }

    ul.head-txt2 li {
        width: 49%;
        display: inline-block;
        color: #fff;
        font-size: 10px;
        text-align: center;
    }

    .table-last {
        border-bottom: 1px dashed #000;
    }

    .ticket-content {
        padding: 5px 0;
        border-bottom: 1px dashed #000;
    }

        .ticket-content p {
            text-align: center;
            font-size: 12px;
        }

        .ticket-content img {
            display: block;
            margin: 20px auto;
        }

    .route-date ul {
        list-style: none;
        padding-left: 0;
    }

    .route-date li {
        font-size: 12px;
        margin-top: 5px;
        text-align: center;
    }



    /*New CSS*/

    .container {
        width: 250px;
        font-family: 'Montserrat', sans-serif;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid #333;
        overflow: auto;
        font-size: 14px;
    }

    .centert {
        text-align: center;
    }

    .table-last {
        border-bottom: 1px solid #000;
    }

    .colsm4 {
        width: 32%;
        float: left;
        padding-left: 5px;
    }

    .colsm8 {
        width: 62%;
        float: left;
        padding-left: 5px;
    }

    .fulls {
        width: 100%;
        float: left;
    }

    .flotleft {
        float: left;
    }

    .logoarea {
        padding-top: 10px;
    }

    .fulls p {
        font-weight: bold;
        font-size: 13px;
    }

    .colsm8 p {
        font-size: 13px;
    }

    .bottominfo {
        padding: 2px;
        font-size: 10px;
        text-align: center;
        width: 96%;
        margin-bottom: 8px;
        margin-top: 8px;
    }
</style>
<ul class="nav nav-tabs right-aligned" style="margin-bottom: 5px">
    <li>

        <a href='@Url.Action("Cancel", "AdvancedBooking", new {BookingReferenceCode})' onclick="return confirm('Are you sure you want to cancel this booking?');" class="pull-right btn btn-danger">
            <i class="fa fa-thumbs-down "></i> Cancel Booking
        </a>
    </li>
</ul>
@foreach (var seat in Model)
{
    <div class="gigms">

        <ul class="nav nav-tabs right-aligned">

            <li>

                <a href="#" style="margin-right:10px;" class="btn btn-info pull-left" onclick="ReprintTicket(@seat.Id)"><i class="fa fa-print"></i>&nbsp;Print Ticket</a>

                <a href='@Url.Action("Index", "AdvancedBooking")' class="pull-left btn btn-info">
                    <i class="fa fa-backward "></i> Back
                </a>
            </li>
        </ul>



    </div>


    <div class="container" id="printableArea">
        <div id="menu-outer">
            <div class="logoarea centert">
                <img src="http://deltaline.com/dist/img/deltaLine-logo.png" alt="Logo" />
            </div>
            <div class="ticket-title centert">
                <br />
                <h4>BOOKING RECEIPT</h4>
            </div>
            <div class="table-last flotleft ">
                <div style="width:100%; float:left;">
                    <p style="text-align:center;">
                        <span style="font-weight:bold; font-size:12px;">  ROUTE:</span>  <br />
                        @seat.RouteName
                    </p>
                </div>
                <div class="colsm4">
                    <div class="fulls">
                        <p>PRICE:</p>
                        <p>BUS NO.:</p>
                        <p>DATE:</p>
                        <p>TIME:</p>
                        <p>REF#:</p>

                    </div>
                </div>
                <div class="colsm8">
                    <p>&#x20a6;@seat.Amount</p>
                    <p>&nbsp; @seat.VehicleName</p>
                    <p>@seat.DepartureDate.GetValueOrDefault().ToString("MMMM dd, yyyy")  </p>
                    <p>@seat.DepartureTime </p>
                    <p>@seat.BookingReferenceCode </p>

                </div>

            </div>

            <div class="route-date">
                <ul>
                    <li>
                        BOOKING STATUS :@if (seat.BookingStatus == BookingStatus.Approved)
                        {
                            <span class="label label-success">@seat.BookingStatus.ToString()</span>
                        }
                        else if (seat.BookingStatus == BookingStatus.Pending)
                        {<span class="label label-warning">@seat.BookingStatus.ToString()</span>}
                    else
                    {
                        <span class="label label-danger">@seat.BookingStatus.ToString()</span>
                    }
                    </li>
                    <li>
                        VALIDITY : @if (seat.TravelStatus != TravelStatus.Travelled && DateTime.Now <= seat.DateCreated.AddDays(30) && seat.BookingStatus == BookingStatus.Approved)
                        {
                            <span class="label label-success">valid</span>
                        }
                        else if (seat.TravelStatus != TravelStatus.Travelled && DateTime.Now <= seat.DateCreated.AddDays(30) && seat.BookingStatus != BookingStatus.Approved)
                        {
                            <span class="label label-warning">invalid</span>
                        }
                        else
                        {
                            <span class="label label-danger">used</span>
                        }
                    </li>
                    <li>
                        Rescheduled : @if (seat.IsRescheduled)
                        {
                            <span class="label label-danger">Yes</span>
                        }
                        else
                        {
                            <span class="label label-success">No</span>
                        }
                    </li>
                </ul>
            </div>
            <div class="table-last flotleft" style="width:100%;">
                <div class="colsm4">
                    <div class="fulls" >
                        <p>   NAME:</p>
                        <p>   SEAT NO.:</p>
                    </div>
                </div>
                <div class="colsm8">
                    <p>@seat.FullName</p>
                    <p> @seat.SeatNumber </p>
                </div>
            </div>

            <div class="flotleft bottominfo">
                <strong>Note:</strong> Tickets are non-refundable after purchase<br />
                <strong>Excess Luggage  is not allowed</strong><br />
                For enquires: 000000000000
            </div>

        </div>
    </div>



















}
@if (Model.Count == 0)
{

    <div class="col-md-12" style="text-align: center; font-size: large; margin: 10px;font-weight:bold"><span> Booking Not Found!!!</span></div>

}
<style>
    #dvTicketImage {
        margin: 0;
        background: white;
    }
</style>
<div id="dvTicketImage" style="display:none">
    testing....
</div>
<div id="dvTicketImageOut" style="display:none">
</div>


@section Styles {
    <link href="~/lib/jquery-ui/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen">
    <environment names="Development">
        <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/lib/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/lib/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/lib/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/lib/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/lib/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/lib/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
}

@section Scripts {
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript">

        var getCanvas; // global variable


        $(document).ready(function () {

            qz.websocket.connect().then(function () {
               // alert("Connected!");
            });


        });




      function printToXPS(dataId) {
            
            $("#dvTicketImage").css("transform: scale(2, 2)");
            $("#dvTicketImage").dialog();
            $("#dvTicketImageOut").dialog();
            //1.
            html2canvas($("#dvTicketImage"), {
                onrendered: function (canvas) {
                    //alert("Inside Canvas");
                    $("#dvTicketImageOut").append(canvas);
                    getCanvas = canvas;

                   // alert("Inside html canvas " + dataId);
                    //2.
                    var imageData = getCanvas.toDataURL("image/jpeg", 1.0);

                    var newImageData = imageData.replace(/^data:image\/jpeg/, "data:application/octet-stream");

                    var base64Image = newImageData.split(',')[1];
                 //   alert(base64Image);
                    qz.printers.find("BIXOLON").then(function (printer) {
                        //qz.printers.find("XPS").then(function (printer) {
                         //alert("Printer: " + printer);
                        var config = qz.configs.create(printer);       // Create a default config for the found printer

                        var data = [
                            {
                                type: 'image',
                                format: 'base64',
                                data: base64Image
                            }
                        ];
                        // alert("just b4 qz printing" + dataId);
                        return qz.print(config, data);

                    }).catch(function (e) {
                        closePrintTicketDialog();
                        console.error(e);
                    });

                    //3.

                }
            });

          //  4. close dialog
            $("#dvTicketImage").html("");
            $("#dvTicketImageOut").html("");

            $("#dvTicketImage").dialog("close");
            $("#dvTicketImageOut").dialog("close");
        }
        function closePrintTicketDialog() {
            //4. close dialog
            $("#dvTicketImage").html("");
            $("#dvTicketImageOut").html("");

            $("#dvTicketImage").dialog("close");
            $("#dvTicketImageOut").dialog("close");
        }

        function ReprintTicket(dataId) {


            $.get('@Url.Action("PrintTicket", "TerminalBooking" )?Id=' + dataId, function (data) {
                $('#dvTicketImage').html(data);
                 // alert("after getting data Reprint" + dataId);
                printToXPS(dataId);
                //
                //printContent("dvTicketImage");
            });

        }





        function printContent(el) {
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            window.print();
            document.body.innerHTML = restorepage;
        }




    </script>

    <!--*************************** XUI Framework + Dependencies ******************************-->
    <script async src="~/js/xui.framework.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--****************************************************************************************-->

    <script async src="~/js/booking.js" type="text/javascript"></script>
    <script src="~/lib/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
    <environment names="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="~/lib/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
        <script src="~/lib/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
        <script src="~/lib/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="~/lib/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
        <script src="~/lib/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
        <script src="~/lib/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    </environment>
}

