﻿@model FareCalendarModel
<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>

            </div>
        </div>
    }
<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Fare Calendar Info:</h3>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Name">Name :</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Name" placeholder="Enter Name">
            <div class="form-control-feedback"><span asp-validation-for="Name"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="RouteId">Vehicle Model Name:</label>
        <div class="col-lg-6">
            <select asp-for="VehicleModelId" class="form-control m-input dropdown-select2" asp-items="ViewBag.VehicleModelId as IEnumerable<SelectListItem>">
                <option value="">Select Vehicle Model</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="VehicleModelId"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="FareType">Fare Parameter Type:</label>
        <div class="col-lg-6">
            @Html.DropDownListFor(m => m.FareParameterType, Html.GetEnumSelectList(Model.FareParameterType.GetType()), new { @class = "m-input-icon m-input-icon--right form-control", onchange = "getParameterType()" })<div class="form-control-feedback"></div>
            <div class="form-control-feedback"><span asp-validation-for="FareParameterType"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row validator" id="TerminalDiv">
        <label class="col-lg-2 col-form-label" for="TerminalId">Terminal Name:</label>
        <div class="col-lg-6">
            <select asp-for="TerminalId" style="width:100% !important;" class="form-control m-input dropdown-select2" asp-items="ViewBag.TerminalId as IEnumerable<SelectListItem>">
                <option value="">Select a Terminal</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="TerminalId"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row validator" id="RouteDiv">
        <label class="col-lg-2 col-form-label" for="RouteId">Route Name:</label>
        <div class="col-lg-6">
            <select asp-for="RouteId" style="width:100% !important;" class="form-control m-input dropdown-select2" asp-items="ViewBag.RouteId as IEnumerable<SelectListItem>">
                <option value="">Select a route</option>
            </select>
            <div class="form-control-feedback"><span asp-validation-for="RouteId"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="StartDate">Start Date:</label>
        <div class="col-lg-6">
            @Html.EditorFor(model => model.StartDate,
                         new { htmlAttributes = new { @class = "form-control m-input datepicker", data_format = "D, dd MM yyyy", placeholder = "Enter a start date", type = "text", ReadOnly = "true" } })
            <div class="form-control-feedback"><span asp-validation-for="StartDate"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="EndDate">End Date :</label>
        <div class="col-lg-6">
            @Html.EditorFor(model => model.EndDate,
                       new { htmlAttributes = new { @class = "form-control m-input datepicker", data_format = "D, dd MM yyyy", placeholder = "Enter End date", type = "text", ReadOnly = "true" } })
            <div class="form-control-feedback"><span asp-validation-for="EndDate"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="FareType">FareType:</label>
        <div class="col-lg-6">
            @Html.DropDownListFor(m => m.FareType, Html.GetEnumSelectList(Model.FareType.GetType()), new { @class = "m-input-icon m-input-icon--right form-control" })<div class="form-control-feedback"></div>
            <div class="form-control-feedback"><span asp-validation-for="FareType"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="FareType">Booking Types:</label>
        <div class="col-lg-6">
            @Html.DropDownListFor(m => m.BookingTypes, Html.GetEnumSelectList(Model.BookingTypes.GetType()), new { @class = "m-input-icon m-input-icon--right form-control" })<div class="form-control-feedback"></div>
            <div class="form-control-feedback"><span asp-validation-for="BookingTypes"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="FareType">Fare Adjsutment Type:</label>
        <div class="col-lg-6">

            <span>Value: </span> @Html.RadioButton("FareAdjustmentType", FareAdjustmentType.Value, true)
            <span>Percentage: </span> @Html.RadioButton("FareAdjustmentType", FareAdjustmentType.Percentage, false)
            <div class="form-control-feedback"><span asp-validation-for="FareAdjustmentType"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="FareType">Week Days:</label>
        <div class="col-lg-6">
            <span>Monday</span> @Html.CheckBoxFor(m => m.Monday)
            <span>Tuesday</span> @Html.CheckBoxFor(m => m.Tuesday)
            <span>Wednesday</span> @Html.CheckBoxFor(m => m.Wednesday)
            <span>Thursday</span> @Html.CheckBoxFor(m => m.Thursday)
            <span>Friday</span> @Html.CheckBoxFor(m => m.Friday)
            <span>Saturday</span> @Html.CheckBoxFor(m => m.Saturday)
            <span>Sunday</span> @Html.CheckBoxFor(m => m.Sunday)
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="FareValue">FareValue:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="FareValue" placeholder="Enter Fare Value">
            <div class="form-control-feedback"><span asp-validation-for="FareValue"></span></div>
        </div>
    </div>
</div>
    </div>
