﻿@model FareCalendarModel
@{
    ViewData["Title"] = "Create Fare Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Create Fare Calendar
                        </h3>

                    </div>
                </div>
            </div>
            <form class="m-form m-form--label-align-right" id="submit-form" method="post">
                @Html.AntiForgeryToken()
                <partial name="_form" />
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-6">
                                <button class="btn btn-danger" id="btnSubmit" type="submit">Submit</button>
                                <button class="btn btn-secondary" type="reset">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section styles{
    <style>



        .validator {
            display: none;
        }
    </style>
}
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/select2/select2.js"></script>
    <script>

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#EndDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#StartDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });


                }
            }
        }();
        jQuery(document).ready(function () {


            BootstrapDatepicker.init()

            var fareParameterType = document.getElementById("FareParameterType").value;

            if (fareParameterType === "0") {

                $('#RouteDiv').removeClass('validator');
                $('#TerminalDiv').addClass('validator');
            } else {
                $('#TerminalDiv').removeClass('validator');
                $('#RouteDiv').addClass('validator');
            }
        });

        function getParameterType() {
            var fareParameterType = document.getElementById("FareParameterType").value;

            if (fareParameterType === "0") {

                $('#RouteDiv').removeClass('validator');
                $('#TerminalDiv').addClass('validator');
            } else {
                $('#TerminalDiv').removeClass('validator');
                $('#RouteDiv').addClass('validator');
            }

        }
        $(document).on("click",
            "#btnSubmit",
            function () {
                var fareParameterType = document.getElementById("FareParameterType").value;
                var terminal = document.getElementById("TerminalId").value;
                var route = document.getElementById("RouteId").value;
                // alert(paymentMethod);
                if (fareParameterType === "0" && route === "") {
                    alert("select a fare parameter");

                    return false;
                }

                if (fareParameterType === "1" && terminal === "") {
                    alert("select a fare parameter");
                    return false;
                }
                $(this).attr("disabled", "disabled");
                $('#submit-form').submit();

            });
    </script>
}
