﻿@model DriverDTO

<div class="m-portlet__body">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
        <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text" asp-validation-summary="All">
            </div>
            <div class="m-alert__close">
                <button class="close" aria-label="Close" type="button" data-close="alert"></button>
            </div>
        </div>
    }

<div class="m-form__section m-form__section--first">
    <div class="m-form__heading">
        <h3 class="m-form__heading-title">Driver Info:</h3>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Code">Code:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Code" placeholder="enter code">
            <div class="form-control-feedback"><span asp-validation-for="Code"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Alias">Alias:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Alias" placeholder="enter alias">
            <div class="form-control-feedback"><span asp-validation-for="Alias"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Name">Full Name:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Name" placeholder="enter Name">
            <div class="form-control-feedback"><span asp-validation-for="Name"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="ResidentialAddress">Address:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="ResidentialAddress" placeholder="enter Residential Address">
            <div class="form-control-feedback"><span asp-validation-for="ResidentialAddress"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Email">Email:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Email" placeholder="somemail@@example.com">
            <div class="form-control-feedback"><span asp-validation-for="Email"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Phone1">Phone 1:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Phone1" placeholder="+23480 0000 0000">
            <div class="form-control-feedback"><span asp-validation-for="Phone1"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Phone2">Phone 2:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Phone2" placeholder="+23480 0000 0001">
            <div class="form-control-feedback"><span asp-validation-for="Phone2"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="NextOfKin">Next of Kin:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="NextOfKin" placeholder="enter Next of Kin">
            <div class="form-control-feedback"><span asp-validation-for="NextOfKin"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="NextOfKinNumber">Next of Kin Phone:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="NextOfKinNumber" placeholder="+23480 0000 0002">
            <div class="form-control-feedback"><span asp-validation-for="NextOfKinNumber"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="LicenseDate">License Date:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" name="LicenseDate" asp-for="LicenseDate" placeholder="dd/mm/yyyy">
            <div class="form-control-feedback"><span asp-validation-for="LicenseDate"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="DuePeriod">License Expiry Number Of Years:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="DuePeriod" placeholder="License Due Period (In Years)">
            <div class="form-control-feedback"><span asp-validation-for="DuePeriod"></span></div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="DateOfEmployment">Employment Date:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="DateOfEmployment" placeholder="dd/mm/yyyy">
            <div class="form-control-feedback"><span asp-validation-for="DateOfEmployment"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Designation">Designation:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="Designation" placeholder="enter Designation">
            <div class="form-control-feedback"><span asp-validation-for="Designation"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="AssignedDate">Assigned Date:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="AssignedDate" placeholder="dd/mm/yyyy">
            <div class="form-control-feedback"><span asp-validation-for="AssignedDate"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="BankAccount">Account No:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="BankAccount" placeholder="010000000">
            <div class="form-control-feedback"><span asp-validation-for="BankAccount"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="BankName">Bank :</label>
        <div class="col-lg-6">
            <input class="form-control m-input" asp-for="BankName" placeholder="010000000">
            <div class="form-control-feedback"><span asp-validation-for="BankName"></span></div>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label" for="Picture">Picture:</label>
        <div class="col-lg-6">
            <input class="form-control m-input" type="file" readonly asp-for="Picture">
            <div class="form-control-feedback"><span asp-validation-for="Picture"></span></div>
        </div>
    </div>
</div>
</div>