﻿
@model IEnumerable<VehicleModel>

@{
    ViewData["Title"] = "Vehicle Allocation Detail By Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int TerminalName = (int)ViewData["TermName"];
}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}
<input type="hidden" id="TerminalName"  data-value="@ViewBag.TerminalId" />
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-brand"></i>
        </div>
        <div class="m-alert__text">
            All vehicles configured for Allocation on the Detail platform.
            <h3 style="text-align:right">Terminal Name :   @TempData["TermNameB"]</h3>
        </div>
    </div>
<div class="modal fade" tabindex="-1" id="allocationModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">

                <button type="submit" class="btn btn-primary button button4 ">Allocate Vehicle to More Terminals</button>
                @*<h4 class="modal-title">Cancel</h4>*@
                <button type="button" class="close" data-dismiss="modal">
                    Cancel
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitFormM">
                        <div class="form-group">
                            <select name="RegistrationNumber" class="form-control m-input dropdown-select2" asp-items="ViewBag.VehicleId as IEnumerable<SelectListItem>">
                                <option value="">Select a Vehicle</option>
                            </select>
                        </div>
                        <div class="form-group">
                            @Html.DropDownList("Name", (SelectList)ViewBag.LocationId, "Select Terminal", new
                            {
                                @class = "m-input-icon m-input-icon--right form-control select-terminal "
                           })
                        </div>
                        <div class="form-group">
                            @*<a href="#" class="btn btn-block btn-danger" id="BatchAllocation">Update</a>*@
                            <button type="submit" id="BtnAllocateMultiple" class="tn btn-block btn-danger">Update </button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>

@* this is for the change driver modal *@


<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
    </div>
    <div class="m-portlet__body">
        @*@foreach (var item in Model)
        {
            @item.LocationId
        }*@
        @*@Session["TerminalID"].ToString()*@
        @*<p>Terminal Name :  @TerminalName , @TempData["TermName"]</p>
        <p>Terminal Name :   @TempData["TermNameB"]</p>*@
        <form id="form">
            <fieldset id="SubmitFormb">
                <div class="form-group m-form__group row">
                    <div class="col-lg-5">
                        <label>Choose Bus Number: </label>
                        <div class="m-input-icon m-input-icon--right">
                            <div class="controls">
                                <select name="RegistrationNumber" id="CmbSelect" class="form-control m-input dropdown-select2" multiple="multiple" asp-items="ViewBag.VehicleId as IEnumerable<SelectListItem>">
                                    @*<option value="" disabled selected hidden>Select a Vechicle</option>*@

                                </select>
                            </div>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="m-input-icon m-input-icon--right">
                            @*<a href="#" class="btn btn-danger" style="margin-top:26px;" id="BtnAllocatesingle">Allocate buses</a>*@
                            <button type="submit" style="margin-top:26px;" id="BtnAllocatesingle" class="btn btn-danger">Allocate buses </button>&nbsp;
                            <button type="submit" id="BtnResetTerm" style="margin-top:26px;" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                <span>
                                    <i class="la  la-repeat"></i>
                                    <span>Reset</span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" id="BtnSendAllocateSms" style="margin-top:26px;" class="btn btn-warning">Send Sms</button>
                        <button type="submit" id="btnrefresh" style="margin-top:26px;" class="btn btn-success">Refresh </button>
                    </div>
                </div>
          
               
            </fieldset>

        </form>

        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                <img alt="progress" src="https://deltaline.com/images/spinner-loader.gif" style="width: 90px;" />
            </span>

        </div>
    </div>
</div>


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Terminal Vehicle Allocation Detail
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a id="btnClick" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                        <span>
                            <i class="la la-plus"></i>
                            <span> Mutiple Terminal Allocation </span>
                        </span>
                    </a>
                </li>
                <li class="m-portlet__nav-item"></li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th></th>
                    @*<th>Name</th>*@
                    <th>Registration No.</th>
                    <th>Chasis No.</th>
                    <th>Engine No.</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
        @Html.AntiForgeryToken()
    </div>
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>

@* This is for the change driver modal *@
@*<div class="modal fade" tabindex="-1" id="changeDriverModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cancel</h4>
                <button type="button" class="close" data-dismiss="modal">
                    Cancel
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitFormM">
                        <div class="modal-body">
                            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
                                <div class="m-form__section m-form__section--first">

                                    <div class="form-group m-form__group m-form__group--sm row">
                                        <label class="col-xl-6 col-lg-6 col-form-label">Registraion Number:</label>
                                        <div class="col-xl-6 col-lg-6">
                                            <span id="regSpan" class="m-form__control-static"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group m-form__group--sm row">
                                        <label class="col-xl-6 col-lg-6 col-form-label">Old Driver Name:</label>
                                        <div class="col-xl-6 col-lg-6">
                                            <span id="nameSpan" class="m-form__control-static"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group m-form__group--sm row">
                                        <label class="col-xl-4 col-lg-4 col-form-label">Select New Driver</label>
                                        <div class="col-xl-8 col-lg-8">
                                            @Html.DropDownList("DriverName", (SelectList)ViewBag.AllDrivers, "Select New Driver", new
                                            {
                                                @class = "m-input-icon m-input-icon--right form-control select-terminal "
                                           })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="BatchAllocation">Update</a>
                                <button type="submit" id="BtnUpdateDriver" class="btn-block btn-danger">Update </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>*@

@section scripts
{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>



    <script id="details-modal-template" type="text/x-jsrender">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Driver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form">
                <fieldset id="SubmitFormM">
                    <div class="modal-body">
                        <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group m-form__group--sm row">
                                    <label class="col-xl-6 col-lg-6 col-form-label">Vehicle Model:</label>
                                    <div class="col-xl-6 col-lg-6">
                                        <span class="m-form__control-static" id="regSpan">{{:registrationNumber}}</span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group m-form__group--sm row">
                                    <label class="col-xl-6 col-lg-6 col-form-label">Vehicle Model:</label>
                                    <div class="col-xl-6 col-lg-6">
                                        <span class="m-form__control-static">{{:driverName}}</span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group m-form__group--sm row">
                                    <label class="col-xl-4 col-lg-4 col-form-label">Select New Driver</label>
                                    <div class="col-xl-8 col-lg-8">
                                        @Html.DropDownList("DriverName", (SelectList)ViewBag.AllDrivers, "Select New Driver", new
                                        {
                                            @class = "m-input-icon m-input-icon--right form-control select-terminal "
                                       })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<a href="#" class="btn btn-block btn-danger" id="BtnUpdateDriver">Update</a>*@
                            <button type="submit" id="BtnUpdateDriver" onclick="updateDriver()" class="btn btn-block btn-danger">Update </button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </script>


    <script type="text/javascript">
        var updateDriver = function () {
            var newDriver = $('#DriverName').find(":selected").val();
            var newDriverName = $('#DriverName').find(":selected").text();
            var registrationNo = $('#regSpan').text();

            var url = "vehicleallocationdetail/updatedriver/";
            $.ajax({
                type: "Post",
                url: url,
                data: {
                    driverId: newDriver,
                    registrationNumber: registrationNo,
                    driverName: newDriverName
                },
                success: function (data) {
                    //alert("Success!..");
                    window.location.href = "vehicleallocationdetail/index";
                    //$("#MyModal").modal("hide");

                }

            })
        }
        
        $("#BtnResetTerm").click(function () {
            var r = confirm("Are you sure you want to reset all allocated vehicles for this Terminal", "", "warning");
            if (r === true) {
                $("#sloader").show();
                var terminalId = $("#TerminalName").data("value");
                var Type = parseInt("4");
                $.ajax({
                    type: "Post",
                    url: "VehicleAllocation/AllocateBuses",
                    data: {
                        Type: Type,
                        TerminalId: terminalId
                    },
                    success: function (data) {
                        //alert("Success!..");
                        window.location.href = "VehicleAllocation/index";
                    }
                })
                $("#sloader").hide();
            }


        });

        $(document).ready(function () {
            //$('.dropdown-select2').select2()
            $(".dropdown-select2").select2({
            })
        });

        $(document).ready(function () {
            $("#btnClick").click(function () {
                $("#allocationModal").modal('show');
            });
        });

        $("#btnHideModal").click(function () {
            $("#allocationModal").modal('hide');
        });

        
        $("#BtnAllocatesingle").click(function () {
            //$("#sloader").show();
            var data = $("#SubmitFormb").serialize();
            $.ajax({
                type: "Post",
                url: "vehicleallocationdetail/AllocateBuses",
                data: data,
                success: function (data) {
                    //alert("Success!..");
                    window.location.href = "vehicleallocationdetail/index";
                    //$("#MyModal").modal("hide");

                }

            })
            //$("#sloader").hide();
        });

        $("#BtnSendAllocateSms").click(function () {
            var r = confirm("Are you sure you want to send allocated Vehicle SMS to Terminal Manager");
            if (r === true) {
                $("#sloader").show();

                var Type = parseInt("2");
                $.ajax({
                    type: "Post",
                    url: "vehicleallocationdetail/AllocateBuses",
                    data: {
                        Type: Type
                    },
                    success: function (data) {
                        //alert("Success!..");
                        window.location.href = "vehicleallocationdetail/index";
                    }
                })
                $("#sloader").hide();
            }


        });




        $("#BtnAllocateMultiple").click(function () {
            //$("#sloader").show();
            var data = $("#SubmitFormM").serialize();
            $.ajax({
                type: "Post",
                url: "vehicleallocationdetail/AllocateMultipleBuses",
                data: data,
                success: function (data) {
                    //alert("Success!..");
                    window.location.href = "vehicleallocationdetail/index";
                    //$("#MyModal").modal("hide");

                }

            })
            //$("#sloader").hide();
        });


    </script>

    <script>
        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/admin/VehicleAllocationdetail/getdata',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "registrationNumber"
                        },
                        {
                            bSortable: false,
                            data: "chasisNumber"
                        },
                        {
                            bSortable: false,
                            data: "engineNumber"
                        },
                        {
                            bSortable: false,
                            data: "status"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                
                                $('#regSpan').text(n.registrationNumber);
                                $('#nameSpan').text(n.driverName);
                                return `\n <span class="dropdown">\n
                                                                     <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                         <div class="dropdown-menu dropdown-menu-right">
                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                        \n </div>
                                    \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/admin/vehicle/delete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
                table.on('click', '#btnChangeDriver', function () {
                    $('#changeDriverModal').modal('show');
                })
                table.on('click', '#BtnUpdateDriver', function () {
                    var newDriver = $('#DriverName').find(":selected").val();
                    var newDriverName = $('#DriverName').find(":selected").text();
                    var registrationNo = $('#regSpan').text();

                    var url = "vehicleallocationdetail/updatedriver/";
                    $.ajax({
                        type: "Post",
                        url: url,
                        data: {
                            driverId: newDriver,
                            registrationNumber: registrationNo,
                            driverName: newDriverName
                        },
                        success: function (data) {
                            //alert("Success!..");
                            window.location.href = "vehicleallocationdetail/index";
                            //$("#MyModal").modal("hide");

                        }

                    })
                })
            }
        };
        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });

        $(document).ready(function () {

            $("#CmbSelect").on("select2:select select2:unselect", function (e) {
                 var items= $(this).val();       
                var vehicleId = e.params.data.id;               
                var url = "vehicleallocationdetail/Confirm/?VehicleId=" + vehicleId;
                $.ajax({
                    type: "Get",
                    url: url,
                    success: function (data) {
                        if (data) {
                            swal("This vehicle has already been allocated today", "Do you still want to Reallocate?", "warning");
                        }
                    }
                })
            })
        });
    </script>
}

