﻿@model Transport.WEB.Models.FeedbackModel

@{
    ViewData["Title"] = "View Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Feedback</h2>
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Feedback
                            </h3>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    @*<li class="m-portlet__nav-item">
                                        <a href="~/admin/report/GetReports" class="btn btn-success m-btn m-btn--pill m-btn--icon m-btn--air">
                                            <span>
                                                <i class="la la-search"></i>
                                                <span>Search Reports</span>
                                            </span>
                                        </a>
                                    </li>*@
                                    <li class="m-portlet__nav-item"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("GetFeedbackById", "Feedback", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
                {
                    <div class="m-form__section m-form__section--first">

                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="fullname">Full Name:</label>
                            <div class="col-lg-6">
                                <input class="form-control" style="font-family:'Segoe UI'; font-size:14px" readonly asp-for="FullName" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverId">Customer Email:</label>
                            <div class="col-lg-6">
                                <input class="form-control" style="font-family:'Segoe UI'; font-size:14px" readonly asp-for="Email" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverId">Complaint Type:</label>
                            <div class="col-lg-6">
                                <input class="form-control" style="font-family:'Segoe UI'; font-size:14px" readonly asp-for="Complaints" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverId">Priority Level:</label>
                            <div class="col-lg-6">
                                <input class="form-control" style="font-family:'Segoe UI'; font-size:14px" readonly asp-for="Priority" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverId">BRN :</label>
                            <div class="col-lg-6">
                                <input class="form-control" style="font-family:'Segoe UI'; font-size:14px" readonly asp-for="BookingReference" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverId">Complaint Message:</label>
                            <div class="col-lg-6">
                                @Html.TextAreaFor(m => m.Message, new { @class = "form-control m-input dropdown-select2", rows = "6", @readonly = "readonly", placeholder = "Reply Message", @style = "font-family:'Segoe UI'; font-size:14px" })
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label" for="DriverId">Reply To Complaint:</label>
                            @if (Model.RepliedMessage == null)
                            {
                                <div class="col-lg-6">
                                    @Html.TextAreaFor(m => m.RepliedMessage, new { @class = "form-control m-input dropdown-select2 msg", rows = "6", placeholder = "Reply Message", @style = "font-family:'Segoe UI'; font-size:14px" })
                                </div>
                            }
                            else
                            {
                        <div class="col-lg-6">
                            <label> This Message has already been replied</label>
                            @Html.TextAreaFor(m => m.RepliedMessage, new { @class = "form-control m-input dropdown-select2 msg", @readonly = "readonly", rows = "6", placeholder = "Reply Message", @style = "font-family:'Segoe UI'; font-size:14px" })
                        </div>
                            }
                        </div>
                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions--solid">
                                <div class="row">
                                    <div class="col-lg-6 m--align-right">
                                        @if (Model.RepliedMessage == null)
                                        {
                                            <button type="submit" id="reply" class="btn btn-primary m-btn m-btn--pill m-btn--icon m-btn--air" onclick="return post()"> <i class="la la-reply"></i> Reply Complaint</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function post() {
            var message = $('.msg').val();
            if (message == "") {
                swal("Reply message cannot be empty","", "warning")
                return false;
            }
            else {
                swal("Reply Sent Successfully", "You will be redirected shortly", "success");
                return true;
            }
        }
 </script>










































@*<div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Complaints)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Complaints)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PriorityLevel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PriorityLevel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Priority)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BookingReference)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BookingReference)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreationTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreationTime)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
